<template>
  <section class="landing-header py-xs-5">
    <div class="video-wrapper">
      <video
        poster="/data/paranormal-sg/img/landing/banner-poster.png"
        preload="none"
        autoplay
        loop
        muted
        class="hidden-sm-and-down"
      >

        <source src="/data/paranormal-sg/video/landing-banner.mp4" type="video/mp4">
        Your browser doesn't support HTML5 video.
      </video>

      <video
        poster="/data/paranormal-sg/img/landing/banner-poster-mobile.png"
        preload="none"
        playsinline
        autoplay
        loop
        muted
        class="hidden-md-and-up"
      >

        <source src="/data/paranormal-sg/video/landing-banner-mobile.mp4" type="video/mp4">
        Your browser doesn't support HTML5 video.
      </video>

      <div class="video-wrapper__overlay" />
    </div>

    <v-container inner fill-height>
      <v-layout wrap class="justify-center align-center text-xs-center">
        <v-flex xs12>
          <div class="landing-header__inner">
            <span class="font-secondary" v-html="postTags" />

            <h1 class="display-4 font-paranormal dark-primary--text text-uppercase my-4 my-xs-3">{{ post.title.raw }}</h1>
            <h3 class="title font-paranormal dark-primary--text mb-4">The Neighbourhood Ghost Watch</h3>

            <time class="caption font-secondary dark-primary--text">
              <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
            </time>

            <p class="font-italic my-5">
              <fa-icon :icon="['fas', 'headphones']"/>
              This story contains audio commentaries.
            </p>
          </div>
        </v-flex>

        <v-flex xs12 class="navbar-trigger">
          <div class="landing-header__credit mb-3 py-xs-5">
            <address>
              <strong>Story by </strong><a href="https://www.facebook.com/eugene.almighty" target="_blank">Eugene Tay</a> + Gwyneth Cheng <br>
              <strong>Data from</strong> Supernatural Confessions <br>
              <strong>Code by</strong> Dylan Ng <br>
              <strong>Design by</strong> Joceline Kuswanto & Griselda Gabriele
            </address>
          </div>
        </v-flex>

        <div class="mousey-scroller">
          <div class="mousey">
            <div class="mousey__wheel" />
          </div>
        </div>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
  computed: {
    videoProps() {
      return {
        poster: this.$vuetify.breakpoint.smAndDown
          ? '/data/paranormal-sg/img/landing/banner-poster-mobile.png'
          : '/data/paranormal-sg/img/landing/banner-poster.png',
        src: this.$vuetify.breakpoint.smAndDown
          ? '/data/paranormal-sg/video/landing-banner-mobile.mp4'
          : '/data/paranormal-sg/video/landing-banner.mp4',
      };
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.landing-header {
  position: relative;
  height: calc(100vh - 64px);

  @media $display-breakpoints.sm-and-down  {
    height: auto;
  }

  .video-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }

    .video-wrapper__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(38, 37, 33, 0), rgba(38, 37, 33, 0.2), rgba(38, 37, 33, 100));
      opacity: 1;
    }
  }

  .landing-header__inner {
    h1 {
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);

      @media $display-breakpoints.sm-and-down {
        font-size: 48px !important; // display-3
      }
    }
  }

  .landing-header__credit {
    a {
      color: #f2784b;
      text-decoration: underline;
    }
  }

  .layout {
    position: relative;
  }

  .mousey-scroller {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 34px;

    @media $display-breakpoints.sm-and-down {
      position: relative;
      left: unset;
      transform: none;
    }

    .mousey {
      box-sizing: content-box;
      opacity: 0.75;
      width: 3px;
      height: 23px;
      padding: 5px 8px;
      margin: auto;
      border: 2px solid #DAD4BB;
      border-radius: 25px;

      .mousey__wheel {
        width: 3px;
        height: 7px;
        border-radius: 25%;
        background-color: #DAD4BB;
        animation-name: mouseywheel;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes mouseywheel {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

@media $display-breakpoints.sm-and-down {
  .py-xs-5 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }

  .my-xs-3 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}
</style>
