<template>
  <section class="landing-prelude pb-4">
    <v-container inner>
      <v-layout>
        <v-flex xs12>
          <div class="landing-prelude__inner">
            <h4 class="title font-paranormal dark-primary--text my-5">
              Have you ever had an encounter which you could not explain? Have you ever had weird experiences that you simply brushed off? Join us as we hear from people who have encountered something strange and lived to tell the tale.
            </h4>

            <p class="body-2">
              The following stories were submitted to <a href="https://www.supernaturalconfessions.com" target="_blank">Supernatural Confessions</a>, a platform where people recount their ghostly encounters. Heading the team is Eugene Tay, author of <i>Supernatural Confessions - You Are Not Alone.</i> While he initially wrote the book to seek closure with his brush with the supernatural, he was surprised when his book received an overwhelming response from others who experienced their own fair share of hauntings. Today, the site has become a refuge for people to tell their stories and seek help for their supernatural encounters. Most of these confessions have never been disclosed to the public. Until now.
            </p>

            <p class="body-2 mb-5">
              Do you believe in the supernatural? Explore our map of confessions or delve deeper into the most prominent supernatural entities in Asia and decide for yourself...
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
</script>

<style lang="stylus" scoped>
.landing-prelude {
   background-color: #262521;

  .landing-prelude__inner {
    h4 {
      line-height: 1.4 !important;
    }

    p > a {
      color: #f2784b;
      text-decoration: underline;
    }
  }
}
</style>
