<template>
  <section class="landing-footer py-5">
    <v-container inner grid-list-xl>
      <v-layout wrap>
        <v-flex xs12>
          <div class="landing-footer__text text-md-left text-xs-center">
            <i>
              This story is written in partnership with Eugene Tay and Supernatural Confessions.
            </i>
          </div>
        </v-flex>

        <v-flex xs12 md2>
          <div class="landing-footer__logo">
            <img
              src="/data/paranormal-sg/img/landing/sc-logo-inverse.png"
              alt="Supernatural Confessions Logo"
              class="fluid" >
          </div>
        </v-flex>

        <v-flex xs12 md10>
          <div>
            <h3 class="body-2 font-paranormal text-md-left text-xs-center mb-3">About Supernatural Confessions</h3>

            <p class="caption dark-primary--text">
              Supernatural Confessions was founded by Eugene Tay in 2014, when he began working on his first book of the series. After the book was published, Eugene received emails and calls from strangers who had similar personal encounters but had no one to turn to. Supernatural Confessions became an unofficial platform - like a halfway house - for people who had experienced supernatural encounters to find support among each other.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

@media $display-breakpoints.sm-and-down {
  .landing-footer__logo {
    text-align: center;

    img {
      width: 50%;
    }
  }
}
</style>
