<template>
  <section class="landing-nav">
    <div class="landing-nav__overlay">
      <v-container inner grid-list-xl>
        <v-layout wrap>
          <v-flex xs12>
            <div class="landing-nav__text mb-5">
              <i>
                Select one of the chapters by clicking on the TV. You can always navigate to other chapters from the chapter that you select.
              </i>
            </div>
          </v-flex>

          <v-flex xs12 md6>
            <div class="landing-nav__box">
              <h3 class="title font-paranormal dark-primary--text text-xs-center text-uppercase mb-3">
                Chapter one: Map of Confessions
              </h3>

              <nuxt-link
                :to="{ path: 'map-of-confessions' }"
                append
              >
                <img
                  src="/data/paranormal-sg/img/landing/tv-map.gif"
                  alt="TV - Map Of Confessions"
                  class="fluid mb-3">
              </nuxt-link>

              <p>
                What’s going on in your neighbourhood?
              </p>

              <p class="mb-4">
                To Eugene, supernatural encounters are not just hearsay. They are not stories that are told for dramatics. These confessions are words he heard from real people, most of whom had first-hand experience with something supernatural. Hear about the things Eugene has heard over the years and a little about his own experiences:
              </p>
            </div>

            <AudioPlayer :audio-url="'/data/paranormal-sg/audio/chapter-landing.mp3'" class="mb-3" />
          </v-flex>

          <v-flex xs12 md6>
            <div class="landing-nav__box">
              <h3 class="title font-paranormal dark-primary--text text-xs-center text-uppercase mb-3">
                CHAPTER two: TYPES OF GHOSTS
              </h3>

              <nuxt-link
                :to="{ path: 'types-of-ghosts' }"
                append
              >
                <img
                  src="/data/paranormal-sg/img/landing/tv-ghosts.gif"
                  alt="TV - Type of Ghosts"
                  class="fluid mb-3">
              </nuxt-link>

              <p>
                We may be more familiar with certain supernatural entities in Asia. The ones which you have heard of are those that have been popular in mainstream media, and are often hot favourites during the spooky season. However, just as Asia is a diverse continent, so are the types of supernatural entities that populate it.
              </p>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </section>
</template>

<script>
import AudioPlayer from '@/components/posts/static/paranormal-sg/ui/AudioPlayer';

export default {
  components: {
    AudioPlayer,
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.landing-nav {
  position: relative;
  background-color: #353440;
  background-image: url('/data/paranormal-sg/img/ui/bg-texture-dark.svg');
  background-repeat: repeat;
  background-size: 25%;

  &:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 40px;
    width: 100%;
    background-image: url('/data/paranormal-sg/img/ui/bg-tornpaper-top.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 105%;

    @media $display-breakpoints.sm-and-down {
      height: 10px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 40px;
    width: 100%;
    background-image: url('/data/paranormal-sg/img/ui/bg-tornpaper-bottom.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 105%;

    @media $display-breakpoints.sm-and-down {
      height: 10px;
    }
  }

  .landing-nav__overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(53, 52, 64, 1) 0%, rgba(53, 52, 64, 0) 10%, rgba(53, 52, 64, 0) 90%, rgba(53, 52, 64, 1) 100%);
  }
}
</style>
