<template>
  <div
    v-if="careers.ID"
    id="page-careers"
    class="mt-5"
  >
    <section>
      <v-container>
        <v-layout wrap align-center>

          <v-flex xs12 md6>
            <h1 class="display-3 mb-4 animated">Join us</h1>

            <div class="dirt-box animated" v-html="careers.post_content" />
          </v-flex>

          <v-flex
            xs12
            md5
            offset-md1
          >
            <img
              src="~/assets/img/careers/careers-intro.svg"
              alt="careers-intro"
              class="fluid">
          </v-flex>

        </v-layout>
      </v-container>
    </section>

    <section class="careers__perks mt-4">
      <v-container grid-list-xl>
        <!-- perks -->
        <v-layout wrap text-xs-center>

          <v-flex xs12 mb-5>
            <h2 class="display-1 animated">Perks</h2>
          </v-flex>

          <v-flex
            v-for="perk in perks"
            :key="perk.id"
            xs6
            md3
            mb-4 >

            <img
              :src="require(`~/assets/img/careers/perks-${perk.id}.svg`)"
              :alt="perk.id"
              class="fluid mb-2">
            <span>{{ perk.title }}</span>

          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <section class="mt-4">
      <h2 class="headline text-xs-center mb-3">Open Positions</h2>

      <v-container v-if="jobsOpen" grid-list-xl>
        <v-layout wrap>
          <v-flex
            v-for="job in jobsOpen"
            :key="job.job_id"
            xs12
            md4
          >
            <v-card :to="{ name: 'careers-slug', params: {slug: job.job_slug} }">
              <v-card-text>
                <h3 class="body-2 font-weight-bold">{{ job.job_name }}, {{ job.job_country }}</h3>

                <p>Applications close in {{ job.job_end_date | moment("from", "now", true) }}</p>

                <span class="primary--text">
                  Learn more <fa-icon :icon="['far', 'long-arrow-right']" fixed-width />
                </span>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <section class="my-5">
      <h2 class="headline text-xs-center mb-3">Closed Positions</h2>

      <v-container v-if="jobsClosed" grid-list-xl>
        <v-layout wrap>
          <v-flex
            v-for="job in jobsClosed"
            :key="job.job_id"
            xs12
            md4
          >
            <v-card>
              <v-card-text>
                <h3 class="body-2 font-weight-bold">{{ job.job_name }}, {{ job.job_country }}</h3>

                <p>Applications closed</p>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

  </div>
</template>

<script>
import animateMixin from '@/mixins/animate';

export default {
  mixins: [animateMixin],
  data() {
    return {
      perks: [
        { id: 'leave-benefits', title: 'Attractive Leave Benefits' },
        { id: 'flexible-hours', title: 'Flexible Working Arrangements' },
        { id: 'healthy-lifestyle', title: 'Healthy Lifestyle' },
        { id: 'vibrant-work-culture', title: 'Vibrant Work Culture' },
        { id: 'collaborative-workspace', title: 'Collaborative Workspace' },
      ],
    };
  },
  computed: {
    jobsOpen() {
      return this.careers.jobs ? this.careers.jobs.filter(job => job.job_status) : '';
    },
    jobsClosed() {
      return this.careers.jobs ? this.careers.jobs.filter(job => !job.job_status) : '';
    },
  },
  async asyncData({ app }) {
    const careers = await app.$axios.$get('careers');

    return { careers };
  },
  head() {
    return {
      title: 'Careers',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'We are always on the look out for passionate individuals to join our team. If you believe that there is something unique you can bring to our cause, please drop us an e-mail with your resume and cover letter',
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content:
            'We are always on the look out for passionate individuals to join our team. If you believe that there is something unique you can bring to our cause, please drop us an e-mail with your resume and cover letter',
        },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: 'Careers' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/bri-booklet.jpg')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.dirt-box >>> {
  p {
    font-size: 18px;
    color: rgba(#000, 0.7);
  }
}

.careers__perks {
  img {
    max-height: 150px;
  }
}

.careers__jobdetails {
  .dirt-box >>> {
    h3 {
      margin-bottom: 6px;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 12px;
    }

    ul {
      list-style-type: initial;
      margin-bottom: 16px;
    }
  }
}

.v-btn.btn--disabled {
  float: right;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.26);
  // background-color: #fff !important;
}

@media $display-breakpoints.xs-only {
  h2 {
    font-size: 20px !important;
  }
}
</style>
