<template>
  <div id="page-stories">
    <!-- latest post -->
    <FeaturedPost />

    <!-- tabs n input filter -->
    <StoriesTabsInputFilter
      :categories="categories"
      :regions="regions"
      :loaded-posts="loadedPosts" />

    <!-- Infinite Loader -->
    <no-ssr>
      <InfiniteLoading
        ref="infiniteLoading"
        spinner="waveDots"
        class="font-italic mb-5"
        @infinite="infiniteHandler">
        <span slot="no-more">No more posts</span>
        <span slot="no-results">No posts found</span>
      </InfiniteLoading>
    </no-ssr>
  </div>
</template>

<script>
import FeaturedPost from '@/components/posts/PostFeatured';
import StoriesTabsInputFilter from '@/components/posts/StoriesTabsInputFilter';

export default {
  components: {
    FeaturedPost,
    StoriesTabsInputFilter,
  },
  data() {
    return {
      loadedPosts: [],
      viewPosts: this.$store.getters.previewPosts.slice(),
    };
  },
  computed: {
    storiesTab() {
      return this.$store.getters.storiesTab;
    },
    storiesDropdown() {
      return this.$store.getters.storiesDropdown;
    },
  },
  watch: {
    storiesDropdown(newVal) {
      // reset posts and loader
      this.loadedPosts = [];
      this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');

      // filter by dropdown
      this.handleStoriesDropdown(newVal);
    },
    storiesTab(newVal) {
      // reset posts and loader
      this.loadedPosts = [];
      this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');

      // filter by tab
      this.handleStoriesTab(newVal);
    },
  },
  methods: {
    infiniteHandler($state) {
      // simulate async call
      setTimeout(() => {
        if (this.viewPosts.length > 0) {
          // take 9 posts per load
          const postsPerLoad = this.viewPosts.splice(0, 9);
          this.loadedPosts = this.loadedPosts.concat(postsPerLoad);

          // load next
          $state.loaded();
        } else {
          $state.complete();
        }
      }, 1000);
    },
    handleStoriesTab(id) {
      if (id === -1) {
        this.viewPosts = this.$store.getters.previewPosts.slice();
      } else {
        const posts = this.$store.getters.previewPosts.slice();
        this.viewPosts = posts.filter(post => post.categories.some(cat => cat.id === id));
      }
    },
    handleStoriesDropdown(id) {
      const posts = this.$store.getters.previewPosts.slice();

      if (this.storiesTab === -1) {
        this.viewPosts = id === 0 ? posts : posts.filter(post => post.region.id === id);
      } else {
        this.viewPosts =
          id === 0
            ? posts.filter(post => post.categories.some(cat => cat.id === this.storiesTab))
            : posts
                .filter(post => post.categories.some(cat => cat.id === this.storiesTab))
                .filter(post => post.region.id === id);
      }
    },
  },
  async asyncData({ app }) {
    const categories = await app.$axios.$get('categories');
    const regions = await app.$axios.$get('regions');

    // set tab status
    // store.commit('setStoriesTab', 'all');

    return { categories, regions };
  },
  head() {
    return {
      title: 'Stories',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Our feature stories breaks down key issues, such as climate change, politics, and food security.',
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: 'Our feature stories breaks down key issues, such as climate change, politics, and food security.',
        },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: 'Stories' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/stories.png')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>
