.vertical-align-middle
  vertical-align: middle

.bleed-l
  margin-left: calc(100% - 50vw)

.bleed-r
  margin-right: calc(100% - 50vw)

.elevation--2
  kontiElevation(2)

.elevation--4
  kontiElevation(4)