<template>
  <section id="mapscrolly">
    <!-- sticky container -->
    <div class="scrolly__sticky">
      <VizMap
        :progress="progress"
        :step="step"
        :drive="drive"
        :animateCount="animateCount"/>
    </div>
    <v-container
      inner
      py-5
      pa-0
      class="scrolly__text">
      <v-layout wrap>
        <!-- step container -->
        <v-flex
          sm12
          class="scrolly__text">

          <!-- per step - entry step -->       
          <div class="step pa-4" drive-step="-1" data-step="1">
            <div class="text-block">
              <p class="body-1 pa-4 ">
                A flyway is a generalised area that covers a series of flight paths taken by a great number of birds when they migrate. There are currently nine flyways on Earth, and the <a href="https://www.eaaflyway.net/about-us/the-flyway/" target="_blank"><span style="color: #D3B673; font-weight: 700;">East Asian-Australasian Flyway</span></a> is the most remarkable of the lot. It supports approximately <a href="https://www.cambridge.org/core/journals/bird-conservation-international/article/migratory-songbirds-in-the-east-asianaustralasian-flyway-a-review-from-a-conservation-perspective/1E634FEE86BF1FC06994120EC50B4028" target="_blank">40 percent</a> of the world’s migratory  birds—more than 500 species in total—and encompasses the entirety of East Asia, Southeast Asia, Australia, and some West Pacific islands as well as parts of India and Alaska.
              </p>
            </div>
          </div>

          <div class="step pa-4"  drive-step="0" data-step="2">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  The <span style="color: #5A4088; font-weight: 700;">spoon-billed sandpiper</span> is merely one of the hundreds of species that migrate along this flyway. Upon leaving its breeding grounds in Russia, it soars across an estimated 3,600 km towards Southeast Russia and Japan, then another 1,700 km to the Jiangsu coast of the Yellow Sea in China. Throughout the journey, it takes short stops at various sites, but only when it reaches Jiangsu does it allow itself to take a longer break.                  
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="-1" data-step="3">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  This location is not random—the Yellow Sea and the adjacent Bohai Sea are distinct among their peers. Located between Mainland China and the Korean Peninsula, and occupying more than 40 million hectares, this area lies directly at the heart of the EAAF.
                </p>                          
              </div>
            </v-layout>
          </div>

          <!-- Step 4 for desktop -->
          <div class="step pa-4 hidden-xs-only" drive-step="-1" data-step="4">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 px-4 pt-4 pb-2 mb-0">
                  Its location makes it an important resting site for the migratory birds exhausted from the first half of their flight. But the main appeal of the Yellow and Bohai Seas is the mudflats that lie at their edges, formed by sediments deposited from the legendary Yangtze and Yellow Rivers. Mudflats are wetlands, which are distinct land habitats that are flooded with water either seasonally or permanently. Birds that are reliant on wetlands for survival are broadly known as ‘waterbirds’.
                </p>
                <v-btn
                  flat
                  hidden-sm-and-up
                  class="mt-3"
                  @click="animateRoutes()">
                  {{ animateRoute }}
                </v-btn>              
              </div>
            </v-layout>
          </div>

          <!-- Step 4-1 for mobile  -->
          <div class="step pa-4 hidden-sm-and-up" drive-step="-1" data-step="4">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  Its location makes it an important resting site for the migratory birds exhausted from the first half of their flight. But the main appeal of the Yellow and Bohai Seas is the mudflats that lie at their edges, formed by sediments deposited from the legendary Yangtze and Yellow Rivers.
                </p>              
              </div>
            </v-layout>
          </div>
          <!-- Step 4-2 for mobile  -->
          <div class="step pa-4 hidden-sm-and-up" drive-step="-1" data-step="4">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 px-4 pt-4 pb-2 mb-0">
                  Mudflats are wetlands, which are distinct land habitats that are flooded with water either seasonally or permanently. Birds that are reliant on wetlands for survival are broadly known as ‘waterbirds’.
                </p>
                <v-btn
                  flat
                  hidden-sm-and-up
                  class="mt-3"
                  @click="animateRoutes()">
                  {{ animateRoute }}
                </v-btn>              
              </div>
            </v-layout>
          </div>          

          <div class="step pa-4" drive-step="-1" data-step="5">
            <v-layout fill-height align-center>
              <div class="text-block ma-2">
                <v-layout
                  mx-2
                  mt-3
                  wrap
                  row
                  justify-start
                  hidden-xs-only>
                  <v-flex
                    v-for="(bird, i) in birdList"
                    :key="i"
                    xs6
                    md3>
                    <v-card
                      text-center
                      class="my-4"
                      flat>
                      <img
                        :src="`/data/birdlife/illustrations/birds/Birdlife_bird_${$_.kebabCase(bird)}.png`"
                        height="80%">
                      <v-card-text class="caption"><em>{{ bird }}</em></v-card-text>
                    </v-card>
                  </v-flex>
                </v-layout>                                  
                <p class="body-1 px-4 pt-4 pb-2">
                  Across the globe, wetlands are extremely important ecosystems for both wildlife and human beings. Like rainforests, they store vast amounts of carbon and play a role in regulating the Earth’s climate. Like coral reefs, they protect human beings from storms, regulate floods, and prevent overerosion of our shorelines. And like both ecosystems, they are great regulators of pollution, although wetlands can improve <em>both</em> air and water quality.
                </p>
                <v-btn
                  flat
                  class="hidden-sm-and-up"
                  @click="showDialog = true">
                  Show bird species
                </v-btn>                
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="-1" data-step="6">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  Among wetlands, mudflats are often overlooked, which translates to a general disregard for their preservation. This oversight is costly for the world’s biodiversity, as mudflats provide abundant food, unique shelters, and plentiful water to microbes, plants, insects, birds, and mammals, making them irreplaceable in millions of natural life cycles.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="-1" data-step="7">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  These mudflats are essential for the spoon-billed sandpiper too, being a location where it rests and refuels to prepare for another long flight. While it rests at the Jiangsu coast, winter begins. By now, the sandpiper’s plumage would have turned into an even grey, after having <a href="https://www.eaaflyway.net/documents/Final%20SBS%20records%20factsheet_online_english.pdf" target="_blank">moulted</a> and shed its feathers during the past few months. 
                </p>
                <img
                  src="/data/birdlife/illustrations/Birdlife_asset_4.png"
                  class="step7_image">                
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="1" data-step="8">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  The sandpiper then spends the rest of winter flying another 2,400 km to northern Vietnam. From here, it travels westwards to Sonadia Island, Bangladesh, where it hunkers down for the rest of winter before making its way back home in February, when spring seeps into Russia again.
                </p>                 
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="2" data-step="9">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  This trip is undoubtedly arduous, yet the sandpiper and its peers have done it without a problem for millennia. In recent decades, however, the continuous alteration of land along the EAAF has made this journey much more difficult.
                </p>                 
              </div>
            </v-layout>
          </div>                              
        </v-flex>
      </v-layout>     
    </v-container>
    <v-dialog
      mx-2
      v-model="showDialog"
      max-width="500">
      <v-layout
        wrap
        row
        justify-start>
        <v-flex
          v-for="(bird, i) in birdList"
          :key="i"
          xs6>
          <v-card
            text-center
            class="mb-4"
            flat>
            <img
              :src="`/data/birdlife/illustrations/birds/Birdlife_bird_${$_.kebabCase(bird)}.png`"
              height="65%">
            <v-card-text class="caption"><em>{{ bird }}</em></v-card-text>
          </v-card>
        </v-flex>
      </v-layout>    
      <v-btn
        flat
        mb-2
        @click="showDialog = false">
        Return to Story
      </v-btn>
    </v-dialog>      
  </section>
</template>

<script>
import * as d3 from 'd3';

import VizMap from '@/components/posts/static/birdlife/viz/VizMap';

export default {
  components: {
    VizMap,
  },
  data() {
    return {
      birdList: ['Bar-tailed Godwit', 'Black-faced Spoonbill', 'Far Eastern Curlew', 'Great Knot', 'Red-crowned Crane',  'Siberian Crane', 'Spoon-billed Sandpiper', 'Stejneger Stonechat'],
      step: '0',
      direction: 'down',
      progress: 0,
      drive: '0',
      data: '',
      animateCount: 0, 
      showDialog: false,
      animateRoute: 'Show other bird routes'
    };
  },
  mounted() {
    this.initScrollama();
  },
  methods: {
    activateDialog() {
      this.showDialog = !this.showDialog;
    },    
    animateRoutes() {
      this.animateCount = this.animateCount + 1;
      this.animateRoute = 'Replay animation';
    },
    initScrollama() {
      // instantiate scrollama
      const scrollerD3Charts = this.$Scrollama.load();

      // setup scrollama
      scrollerD3Charts
        .setup({
          container: '#mapscrolly',
          graphic: '#mapscrolly .scrolly__sticky',
          step: '#mapscrolly .scrolly__text .step', // required
          offset: this.$vuetify.breakpoint.smAndDown ? 0.8 : 0.7,
          progress: true,
        })
        .onStepProgress(this.handleStepProgress)
        .onStepEnter(this.handleStepEnter);
    },
    handleStepEnter({ element, direction }) {
      // get data-step
      this.step = d3.select(element).attr('data-step');
    },
    handleStepProgress({ element, direction, progress }) {
      d3.select(element).style('opacity', `${progress + 0.6}`);
      this.progress = progress;
      this.drive = d3.select(element).attr('drive-step');
    },
  },
}
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
.v-card {
  background-color: transparent;
  height: 150px !important;
  text-align: center;
}
// scrolly overlay
#mapscrolly {
  position: relative;
  background-color: #f5f0e8;

  .scrolly__sticky {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: top;

    .map__animate {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translate(0, -50%);
      background-color: #ecf0f1;
      border-radius: 8px;
      max-width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
    }
  }

  .scrolly__text {
    position: relative;
    z-index: 2;

    .step {
      height: calc(100vh - 64px);

      &.step--shorten {
        height: calc(50vh - 64px);
      }

      .text-block {
        background-color: rgba(248,246,238, 1);
        color: #000000;
        text-align: center;
        border-radius: 8px;

        p {
          text-align: left !important;
        }

        p > a {
          color: #f2784b;
          text-decoration: underline;
        }        

        p:last-child {
          margin-bottom: 0;
        }

        .v-btn {
          background-color: transparent;
          border: 1px solid #F38063;
          color: #F38063;
          width: 40%;
          margin: 0 auto; 
          margin-bottom: 24px;
          @media $display-breakpoints.sm-and-down {
            width: 70%;
            margin-top: 12px;
          }
        }
      }
    }
    .step:last-child {
      margin-bottom: 30px;
        @media $display-breakpoints.sm-and-down {
          margin-bottom: 50px;
        }
    }
  }
}

>>> .v-dialog {
  background-color: #F3F6EA;
  padding: 24px 20px; 
  text-align: center;
  .v-btn {
    background-color: transparent !important;
    border: 1px solid #F38063;
    color: #F38063;   
  }
}

.step7_image {
  width: 40%;
  margin-top: -90px;
  @media $display-breakpoints.sm-and-down {
    width: 50%;
    margin-top: -40px;
    margin-bottom: 20px;
  }

}
</style>
