<template>
  <section id="section3">
    <v-container inner>
      <v-flex xs12>
        <div class="content__chunk my-5">
          <p class="body-2">
            Here’s a quick statistic: 65 percent of the wetlands around the Yellow sea <a href="https://news.cgtn.com/news/2019-07-06/How-was-the-maze-at-Yellow-Sea-listed-as-a-UNESCO-World-Heritage--I5wHOqOXLy/index.html" target="_blank">have been degraded or removed</a> within the past 50 years due to reclamation, pollution, and sea-level rise.
          </p>
        </div>
        <!-- SLIDER -->
        <figure>
          <no-ssr placeholder="Loading...">          
          <juxtapose
            :before="'/data/birdlife/satellite_after.jpg'"
            :after="'/data/birdlife/satellite_before.jpg'" />
          </no-ssr>        
          <p class="caption mt-3">
            <em>Pictured: The Saemangeum estuary and wetlands in South Korea along the Yellow Sea, in 2001 and 2006. The construction of a 33-km-long seawall, the result of a land reclamation project, has drained and exposed the mudflats at the mouth of the rivers (shown in white patches above). This development will add significant land area to South Korea's coast, but it is a major habitat loss for wildlife that rely on these wetlands, including shorebirds such as the spoon-billed sandpiper. Images from <a href="https://earthobservatory.nasa.gov/images/7688/changes-to-the-saemangeum-estuary-south-korea" target="_blank">NASA Earth Observatory</a>.</em>
          </p>
        </figure>

        <div class="content__chunk my-5">
          <p class="body-2">
            This is a huge blow for our avian friends. The loss and clearance of wetlands at places where they used to be forces birds to overfly or make detours, spending more energy than usual. They eventually congregate at the remaining wetlands, where they find themselves in intense <a href="https://www.researchgate.net/publication/332799106_Literature_review_Importance_of_artificial_roosts_for_migratory_shorebirds" target="_blank">competition</a> for territory, resting space, and the remaining food resources.
          </p>
          <p class="body-2">
            Exhausted by the long flight and lack of rest, some of them cannot survive the competition. To make things worse, the quality of these shrinking spaces are declining due to increased human disturbance and worsening pollution. 
          </p>
          <p class="body-2">
            All of these factors severely threaten already endangered bird species—recent studies have shown that <a href="http://datazone.birdlife.org/sowb/casestudy/waterbirds-are-showing-widespread-declines-particularly-in-asia" target="_blank">61 percent of waterbird species</a> along this flyway are in decline.
          </p>          
        </div>

        <VizBirdPopulation />

        <div class="content__chunk my-5">
          <p class="body-2">
            The spoon-billed sandpiper is just one of many that have suffered a population decline. In 2008, it was declared as <a href="https://dx.doi.org/10.2305/IUCN.UK.2018-2.RLTS.T22693452A134202771.en" target="_blank">Critically Endangered</a>, and by 2014, there were an estimated <a href="https://www.cambridge.org/core/journals/bird-conservation-international/article/winter-distribution-of-the-spoonbilled-sandpiper-calidris-pygmaeus/7E3E5E01736868F9795F6E8C1C59CA6D" target="_blank">100–120</a> breeding pairs left in the wild. If this decrease continues, the spoon-billed sandpiper is predicted to go extinct within a decade.
          </p>       
          <p class="body-2 pb-4">
            Thankfully, some of us cannot bear to let that happen.
          </p>                            
          <h2 class="title my-4">Swooping in to help</h2>
          <p class="body-2">
            The conservation of migratory birds is no easy task. Tracking these birds is difficult and often requires dedicated international cooperation. Yet, if such efforts are successful, they can be extremely rewarding.
          </p>              
          <p class="body-2">
            Migratory birds contribute greatly to ecosystems all around the world due to their vast distribution. They also act as indicators of wetland health, as their population numbers often correlate to the quality of their habitats. By protecting migratory birds, we protect their role in the world’s ecosystems, and keeping them safe means investing more resources into preserving wetlands across the planet.
          </p>              
          <p class="body-2">
            It’s about killing two birds with one stone, as they say, although conservation groups such as <a href="https://www.birdlife.org/worldwide/programmes/migratory-birds" target="_blank">Birdlife International</a> and the <a href="https://www.eaaflyway.net/spoon-billed-sandpiper-task-force/" target="_blank">Spoon-billed Sandpiper Task Force</a> are <a href="https://www.eaaflyway.net/" target="_blank">working together</a> to do the opposite. These organisations have committed to a series of measures, from on-the-ground efforts to negotiating conservation policies at the governmental level.
          </p>
        </div>
      </v-flex>
    </v-container>        

    <v-flex xs12>
      <VizMapResponse/>
    </v-flex>

    <v-container inner> 
      <v-flex xs12>   
        <no-ssr>
          <carousel
            :mouse-drag="false"
            :per-page="this.$vuetify.breakpoint.smAndDown ? 1 : 2"
            :pagination-enabled="false"
            :navigation-enabled="true"
            :navigation-prev-label="navigationPrevLabel"
            :navigation-next-label="navigationNextLabel">            
            <slide
              v-for="(item, i) in conservation"
              :key="i"
              class="">
              <v-card style="width: 90%; height: 90%; margin: 20px auto;">
                <img
                  :src="`/data/birdlife/carousel/${i + 1}.jpg`"
                  class="fluid">
                <div class="text-left caption px-3 py-3">
                  <p class="mb-0">{{ item.name }}</p>
                  <p class="mb-0">{{ item.credit }}</p>
                </div>
              </v-card>
            </slide>
          </carousel>
        </no-ssr> 
        <div class="content__chunk my-5">        
          <p class="body-2">
            With economic growth and urban development, wetlands and migratory bird populations will continue to decline. Despite these threats, efforts undertaken by conservationists are showing signs of success: the decline of certain migratory bird species, including the Spoon-billed Sandpiper, seems to have <a href="https://dx.doi.org/10.2305/IUCN.UK.2018-2.RLTS.T22693452A134202771.en" target="_blank">slowed down</a>.
          </p>
          <p class="body-2">
            It is therefore critical to ensure that efforts in the preservation of wetlands and conservation of migratory birds are sustained. This way, natural lands that are essential to human and wildlife survival are still protected despite continued development.
          </p>
          <p class="body-2">
            For now, the migration route may not be what it had been, but life goes on for the sandpiper. Flying among its peers, it is currently <a href="https://www.saving-spoon-billed-sandpiper.com/satellite-tracking/" target="_blank">halfway across the world</a>. Come spring next year, it will return to its breeding grounds, where new life will be created, and the cycle will start again.
          </p>
        </div>      
      </v-flex>
    </v-container>    
  </section>
</template>

<script>
import VizBirdPopulation from '@/components/posts/static/birdlife/viz/VizBirdPopulation';
import VizMapResponse from '@/components/posts/static/birdlife/viz/VizMapResponse';

export default {
  components: {
    VizBirdPopulation,    
    VizMapResponse,
  },
  data() {
    return {    
      birds: [
        { name: 'bartailedgodwit' },
        { name: 'blackfacedspoonbill' },
        { name: 'fareasterncurlew' },
        { name: 'greatknot' },
        { name: 'redcrownedcrane' },
        { name: 'siberiancrane' },
        { name: 'spoonbilledsandpiper' },
        { name: 'stejnegerstonechat' },
      ],
      conservation: [
        { id: 1, name: 'Staff and volunteers of the Bird Conservation Society of Thailand carrying out shorebird surveys in Pak Thale/Laem Pak Bia, Thailand', credit: 'Photographed by: Ayuwat Jearwattanakanok' },
        { id: 2, name: 'Sharing the ecology of Black-faced Spoonbill with young children in Hong Kong', credit: 'Photographed by: Hong Kong Bird Watching Society' },
        { id: 3, name: 'Engaging local fishing communities in Malaysia', credit: 'Photographed by: Malaysian Nature Society (Penang Branch)' },
        { id: 4, name: 'Engaging local fishing communities in the Gulf of Mottama, Mon State, Myanmar', credit: 'Photographed by: Biodiversity and Nature Conservation Association (BANCA)' },
        { id: 5, name: 'Spoon-billed Sandpiper event in Bangladesh', credit: 'Photographed by: Sayam Chowdhury' },
        { id: 6, name: 'Opening ceremony of Pak Thale Nature Reserve', credit: 'Photographed by: Bird Conservation Society of Thailand' },
        { id: 7, name: 'Spoon-billed Sandpiper Survey at the Gulf of Mottama', credit: 'Photographed by: Biodiversity and Nature Conservation Association (BANCA)' },
      ],
    }
  },
  computed: {
    navigationPrevLabel() {
      return `<svg data-v-4effa82a="" aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-fw"><path data-v-4effa82a="" fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg>`;
    },
    navigationNextLabel() {
      return `<svg data-v-4effa82a="" aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-fw"><path data-v-4effa82a="" fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg>`;
    },
  },  
  
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

// second section
#section3 {
  background-color: #ffffff;

  a {
    color: #f2784b;
    text-decoration: underline;
  }

  .twentytwenty-container {
    margin: 0 auto;
  }

  .carousel-wrapper >>> {
    padding-top: 56.25%;
    width: 100%;
    position: relative;

    .carousel {
      height: 100% !important;
      position: absolute !important;
      top: 0;
      // box-shadow: none !important;

      .v-btn {
        color: black !important;
      }

      .carousel-item {
        .v-jumbotron__wrapper {
          .v-jumbotron__image {
            height: 85% !important;
            min-width: unset;
          }
        }
      }
    }
  }  
}

@media $display-breakpoints.sm-and-down  {
  .VueCarousel {
    width: 90vw !important;
    margin: 0 auto;
  }
  >>> .VueCarousel-navigation-next {
    transform: translate(20px, -50%);
  }
  >>> .VueCarousel-navigation-prev {
    transform: translate(-20px, -50%);
  }  
}
</style>
