<template>
  <section id="post-static__landing">
    <v-container id="landing" inner pb-5>
      <v-layout wrap align-center pb-5 mb-2>
        <v-flex xs12 text-xs-center>
          <div class="view-landing__heading navbar-trigger my-4">
            <span class="font-secondary" v-html="postTags"/>

            <h1 class="display-3 my-3">{{ post.title.raw }}</h1>

            <time class="font-secondary">
              <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
            </time>           
          </div>
        </v-flex>
        <!-- Mousey scroller -->
        <div class="mousey-scroller">
          <div class="mousey">
            <div class="mousey__wheel" />
          </div>
        </div>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#post-static__landing {
  background: url(/data/birdlife/landing-bg.jpg) rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;  
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;  
  
  h1 {
    color: #FFFFFF !important;
    text-shadow: 0px 3px 14px rgba(0, 0, 0, 0.07), 0px 5px 5.5px rgba(0, 0, 0, 0.07)
  }  

  .layout {
    position: relative;
  }
  .mousey-scroller {
    position: absolute;
    left: 50%;
    bottom: -38%;
    transform: translateX(-50%);
    width: 34px;

    .mousey {
      box-sizing: content-box;
      opacity: 0.75;
      width: 3px;
      height: 23px;
      padding: 5px 8px;
      margin: auto;
      border: 2px solid #FFFFFF;
      border-radius: 25px;

      .mousey__wheel {
        width: 3px;
        height: 7px;
        border-radius: 25%;
        background-color: #FFFFFF;
        animation-name: mouseywheel;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes mouseywheel {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
</style>
