<template>
  <div id="references">
    <v-container inner pb-5>
      <v-layout wrap>
        <v-flex xs12>
          <div class="content__chunk mt-5">
            <p>
              <strong>Datasets by</strong> Birdlife International and Spoon-billed Sandpiper Task Force<br>
              <strong>Story by</strong> Gwyneth Cheng<br> 
              <strong>Design by</strong> Joceline Kuswanto<br>
              <strong>Illustrations by</strong> Griselda Gabriele<br>
              <strong>Illustrations of Spoon-billed Sandpiper, Great Knot, Far Eastern Curlew, and Black-faced Spoonbill (paragraph 8) by</strong> del Hoyo, J., Elliott, A., Sargatal, J., Christie, D.A. & Kirwan, G. (eds.) (2018). Handbook of the Birds of the World Alive. Lynx Edicions, Barcelona.<br>
              <strong>Code by</strong > Siti Aishah <br>
              <strong>Cover image by</strong> Sayam Chowdhury               
            </p>               
          </div>
        </v-flex>
        <!-- methodology -->
        <v-flex xs12>
          <div class="content__chunk mt-3">
            <p class="caption"><em>
              This story was done in partnership with 
              <a href="https://www.birdlife.org/worldwide/programmes/migratory-birds" target="_blank">Birdlife International</a> and 
              <a href="https://www.eaaflyway.net/spoon-billed-sandpiper-task-force/" target="_blank">Spoon-billed Sandpiper Task Force</a>.
            </em></p>
            <img src="/data/birdlife/logo-birdlife.png" class="my-3 mr-3" height="120rem">
            <img src="/data/birdlife/logo-sbs.png" class="my-3 mr-3" height="120rem">
            <img src="/data/birdlife/logo-wbd.png" class="my-3" height="120rem">
            <p class="caption"><em>In 2004, several organisations active in the conservation of the Spoon-billed Sandpiper joined the Spoon-billed Sandpiper Recovery Team (SBS RT). In 2010, the SBS RT joined the East Asian-Australasian Flyway Partnership (EAAFP) and was officially established as a species Task Force (Spoon-billed Sandpiper Task Force). The task force works to coordinate the conservation activities identified under the Convention on Migratory Species (CMS) Single Species Action Plan for the species commissioned by BirdLife International and is regularly updated in consultation with leading experts worldwide.</em></p>
            <p class="caption"><em>BirdLife International is a global partnership of 115 conservation organisations (NGOs) that strives to conserve birds, their habitats and global biodiversity, working with people towards sustainability in the use of natural resources. BirdLife Partners, which are independent environmental or wildlife not-for-profit, non-governmental organisation (NGO), work together in a collaborative, coordinated fashion across national boundaries to build a global Partnership of national conservation organisations.</em></p>
            
          </div>
        </v-flex>
        <!-- references -->
        <v-flex xs12>
          <v-divider class="mt-3" />
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
              <div class="single-post__references mt-3">
                <ul class="list--none">
                  <li
                    v-for="(ref, i) in footerData.references"
                    :key="i"
                    class="mb-3"
                  >
                    <p class="mb-0">{{ ref.reference_citation }}</p>
                    <a
                      v-if="ref.reference_link"
                      :href="ref.reference_link"
                    >
                      {{ ref.reference_link }}
                    </a>
                  </li>
                </ul>            
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <!-- topics -->
        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li
                v-for="(topic, i) in footerData.topics"
                :key="topic.id"
                class="d-inline text-lowercase"
              >
                {{ topic.name }}{{ i === footerData.topics.length - 1 ? '' : ', ' }}
              </li>                
            </ul>
          </div>
          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" style="color: rgba(0, 0, 0, 0.8); text-decoration: underline;">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
//ui components
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
  },
  props: {
    footerData: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#references {
  color: rgba(0, 0, 0, 0.8);
  background-color: #F3F6EA;

  a {
    color: #f2784b;
    text-decoration: underline;
  }

  .v-expansion-panel__container {
    background-color: #F3F6EA !important;
  }

  .v-expansion-panel__container >>> .v-expansion-panel__header__icon .v-icon,
  .v-expansion-panel__header div,
  .v-expansion-panel__container li,
  .caption {
    color: rgba(0, 0, 0, 0.8) !important;
  }

  .v-expansion-panel {
    box-shadow: none !important;
  }

  hr {
    border: 1px solid #E0E0E0 !important
  }

  .single-post__references >>> a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
  }

  .single-post__topics ul li {
    color: #f2784b;    
  }  
}
</style>
