<template>
  <section id="section1" class="scrolly-overlay">
    <!-- sticky container in the background -->
    <div class="scrolly__sticky">
      <VizMovingPictures :step="step" :progress="progress"/>
    </div>
    <!-- step container -->
    <v-container
      inner
      py-5
      pa-0
      class="scrolly__text">
      <v-layout wrap>
        <v-flex sm12 class="scrolly__text">

          <div class="step pa-4" data-step="1">
            <div class="text-block">
              <p class="body-1 pa-4">
                Springtime arrives. In the far eastern tundra of northern Russia, a spoon-billed sandpiper hatches from its egg. Sporting orange brown and mottled plumage and a distinct spoon-shaped bill, it begins foraging for food at only <a href="https://www.youtube.com/watch?v=PUmogF45V7M" target="_blank">one day old</a>, venturing out of the nest for a few minutes every day to pick out insects, small crustaceans, seeds, and berries.
              </p>
            </div>
          </div>

          <div class="step pa-4" data-step="2">
            <v-layout fill-height column align-center>
              <div class="text-block">
                <p class="body-1 px-4 pt-4">
                  The young sandpiper’s hatching is a miracle in itself, but survival is something else entirely. The youngling grows quickly, developing features for a lifetime of avoiding predators and—perhaps more crucially—long distance flight.
                </p>
                <p class="body-1 px-4 pb-4">
                  The spoon-billed sandpiper is a migratory bird. Migratory birds travel thousands of kilometres each year to different landscapes across the world to avoid harsh winters and search for food, before flying back again to find mates and breed. Animal migration is widely considered to be one of the world’s greatest natural phenomena, and the sandpiper is ready for it at just a few weeks old.
                </p>                
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" data-step="3">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  It knows the way. Using a combination of the Earth’s magnetic field and the position of the sun and stars, the sandpiper will navigate and journey along the most diverse and species-rich flyway on Earth: the East Asian-Australasian Flyway (EAAF).
                </p>                            
              </div>
            </v-layout>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import * as d3 from 'd3';
import VizMovingPictures from '@/components/posts/static/birdlife/viz/VizMovingPictures';

export default {
  components: {
    VizMovingPictures,
  },
  data() {
    return {
      step: '1',
      progress: 0,
    };
  },
  mounted() {
    this.initScrollama();
  },
  methods: {
    initScrollama() {
      // instantiate scrollama
      const scrollerD3Charts = this.$Scrollama.load();

      // setup scrollama
      scrollerD3Charts
        .setup({
          container: '#section1.scrolly-overlay',
          graphic: '#section1.scrolly-overlay .scrolly__sticky',
          step: '#section1.scrolly-overlay .scrolly__text .step', // required
          offset: this.$vuetify.breakpoint.smAndDown ? 0.8 : 0.85,
          progress: true,
        })
        .onStepProgress(this.handleStepProgress)
        .onStepEnter(this.handleStepEnter);
    },
    handleStepEnter({ element }) {
      // get data-step
      this.step = d3.select(element).attr('data-step');
    },
    handleStepProgress({ element, progress }) {
      d3.select(element).style('opacity', `${progress + 0.6}`);
    },
  },
}
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

// scrolly overlay
.scrolly-overlay {
  position: relative;
  // background-color: #F3F6EA;

  .scrolly__sticky {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: top;
  }

  .scrolly__text {
    position: relative;
    z-index: 2;

    .step {
      height: calc(100vh - 64px);
      // border: solid black 1px;
      margin: 70px 0;

      &.step--shorten {
        height: calc(50vh - 64px);
      }

      .text-block {
        background-color: #ffffff;
        color: #000000;
        text-align: left;
        border-radius: 8px;

        p > a {
          color: #f2784b;
          text-decoration: underline;
        }        

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
    .step:last-child {
      margin-bottom: 30px;
      @media $display-breakpoints.sm-and-down {
        margin-bottom: 50px;
      }
    }    
  }
}

#section1 {
  background-color: #F3F6EA;
}

</style>
