<template>
  <div id="page-contact">
    <section class="typeform-widget" />
  </div>
</template>

<script>
export default {
  mounted() {
    const embedElement = document.querySelector('.typeform-widget'); // NOTE: `.target-dom-node` is the target DOM element from your website or web app

    this.$typeformEmbed.makeWidget(
      embedElement,
      'https://kontinentalist432214.typeform.com/to/OddHR8', // NOTE: Replace with your typeform URL
      {
        hideHeaders: true,
        hideFooter: true,
      }
    );
  },
};
</script>

<style lang="stylus" scoped>
#page-contact {
  height: 100%;

  .typeform-widget {
    height: 100%;
  }
}
</style>
