<template>
  <div v-scroll="onScroll" class="post-static">
    <div class="post-static__landing static-post">
      <SectionHeader :post="post" :post-tags="postTags" />

      <SectionPrelude />

      <SectionNav />

      <SectionFooter />
    </div>

    <PostListAside :post="{id: post.id, categoryId: post.categories[0]}" style="background-color: #fff" />
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

// components
import SectionHeader from '@/components/posts/static/paranormal-sg/views/landing/SectionHeader';
import SectionPrelude from '@/components/posts/static/paranormal-sg/views/landing/SectionPrelude';
import SectionNav from '@/components/posts/static/paranormal-sg/views/landing/SectionNav';
import SectionFooter from '@/components/posts/static/paranormal-sg/views/landing/SectionFooter';

import PostListAside from '@/components/posts/regular/PostListAside';

export default {
  layout: 'singlePost',
  components: {
    SectionHeader,
    SectionPrelude,
    SectionNav,
    SectionFooter,
    PostListAside,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      lastPos: 0,
    };
  },
  computed: {
    featuredImageUrls() {
      return (
        (this.post &&
          this.post._embedded &&
          this.post._embedded['wp:featuredmedia'] &&
          this.post._embedded['wp:featuredmedia'][0] &&
          this.post._embedded['wp:featuredmedia'][0].source_urls) || { src: '', webp: '', jpeg: '' }
      );
    },
    postTags() {
      return `${this.post._embedded['wp:term'][0][0].name} / ${this.post._embedded['wp:term'][2][0].name}`;
    },
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'static');
  },
  mounted() {
    this.$FB.init();
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(`posts?slug=singapore-where-got-ghost&_embed`);

    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    return { post };
  },
  head() {
    return {
      title: this.post.title.raw,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.post.title.raw },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}/data/paranormal-sg/img/seothumbnail.png`,
        },
      ],
      link: [
        { rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL },
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Averia+Serif+Libre:700&display=swap' },
      ],
    };
  },
};
</script>

<style lang="stylus" scoped>
.post-static {
  height: 100%;
  background-color: #2A2A2A;
  color: #DAD4BB;
}
</style>

<style lang="stylus">
.font-paranormal {
  font-family: 'Averia Serif Libre', cursive !important;
}
</style>
