<template>
  <div id="priceVizContainer">
    <svg id="priceViz"/>
    <div id="priceInfo">
      <p class="caption"><b>{{ country }} - {{ typeofproduct }}</b> <br> US$ {{ price }}</p>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  components: {},
  data() {
    return {
      priceData: null,
      country: '',
      typeofproduct: '',
      price: '',
    };
  },
  computed: {
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 30, right: 30, bottom: 70, left: 110, innerWidth: 400, innerHeight: 650 };
      }
      return { top: 20, right: 30, bottom: 70, left: 110, innerWidth: 700, innerHeight: 550 };
    },
    chartSettings() {
      return {
        width: this.chartMargin.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.chartMargin.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    this.priceData = await d3.csv('/data/instant-noodles/price_final.csv');
    this.createPriceLine();
  },
  methods: {
    createPriceLine() {
      // Drawing the SVG
      const priceLineSVG = d3
        .select('#priceViz')
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      this.priceLine = d3.select('#priceViz');

      // Making the linear X Axis
      this.priceAxisX = d3
        .scaleLinear()
        .domain([0, 7.5])
        .range([0, this.chartMargin.innerWidth]);

      // Making the Y Axis for Country
      this.countryYAxis = d3
        .scaleBand()
        .domain(this.priceData.map(d => d.country))
        .range([0, this.chartMargin.innerHeight])
        .paddingInner(0.3);

      // Appending the X-Axis linear price scale
      priceLineSVG
        .append('g')
        .attr('class', 'XAxis')
        .attr(
          'transform',
          `translate(${this.chartMargin.left},
          ${this.chartSettings.height - this.chartMargin.bottom})`
        )
        .call(
          d3
            .axisBottom(this.priceAxisX)
            .ticks(7)
            .tickSize(-this.chartMargin.innerHeight)
            .tickSizeOuter(0)
        );
      // Appending the Y-Axis scaleband country scale
      priceLineSVG
        .append('g')
        .attr('class', 'YAxisCountry')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .call(d3.axisLeft(this.countryYAxis).tickSize(0))
        .call(g => g.select('.domain', '').remove());

      // Appending Axis title
      priceLineSVG
        .append('text')
        .attr('y', this.chartSettings.height - this.chartMargin.top)
        .attr('x', this.chartSettings.width / 2)
        .style('text-anchor', 'middle')
        .text('Price (USD)');
      // X Axis
      this.priceLine
        .select('.XAxis')
        .selectAll('text')
        .attr('font-size', '13px');
      // Y Axis
      this.priceLine
        .select('.YAxisCountry')
        .selectAll('text')
        .attr('font-weight', 'bold')
        .attr('font-size', '15px');
      this.priceLine
        .selectAll('.XAxis')
        .selectAll('.tick > text')
        .attr('transform', 'translate(0, 5)');
      this.priceLine
        .select('.YAxisCountry')
        .selectAll('.tick > text')
        .attr('transform', 'translate(-5, 0)');

      // insert icons for milk, noodles and fast food
      this.insertImage();
    },
    insertImage() {
      // Add group per country
      this.countryGroup = this.priceLine
        .selectAll('.countryGroup')
        .data(this.priceData)
        .enter()
        .append('g')
        .attr('class', 'countryGroup')
        .attr('countryname', d => d.country)
        .attr('transform', () => `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      // Add milk price
      this.countryGroup
        .append('image')
        .attr('typeofproduct', 'milk')
        .attr('href', '/data/instant-noodles/affordability-viz/emoji-milk.png')
        .attr('id', d => `milk-${d.country.replace(' ', '')}`)
        .attr('x', d => this.priceAxisX(d.milk_price) - 13)
        .attr('y', d => this.countryYAxis(d.country) + 5)
        .attr('width', 26)
        .attr('height', 30)
        .on('mouseenter', d => {
          this.updateHoverBox(`milk-${d.country.replace(' ', '')}`, `${d.country}`, `${d.milk_price}`, 'Milk');
          this.drawLineandRect(d);
        })
        .on('mouseleave', d => {
          this.removeHoverBox(d);
          this.removeLineandRect(d);
        });
      // Add fast food price
      this.countryGroup
        .append('image')
        .attr('typeofproduct', 'ff')
        .attr('id', d => `ff-${d.country.replace(' ', '')}`)
        .attr('href', '/data/instant-noodles/affordability-viz/emoji-fries.png')
        .attr('x', d => this.priceAxisX(d.ff_price) - 15)
        .attr('y', d => this.countryYAxis(d.country) + 5)
        .attr('width', 30)
        .attr('height', 30)
        .on('mouseenter', d => {
          this.updateHoverBox(`ff-${d.country.replace(' ', '')}`, `${d.country}`, `${d.ff_price}`, 'Fast Food');
          this.drawLineandRect(d);
        })
        .on('mouseleave', d => {
          this.removeHoverBox(d);
          this.removeLineandRect(d);
        });
      // Add noodle price
      this.countryGroup
        .append('image')
        .attr('typeofproduct', 'noodle')
        .attr('href', '/data/instant-noodles/affordability-viz/emoji-noodle.png')
        .attr('id', d => `noodle-${d.country.replace(' ', '')}`)
        .attr('x', d => this.priceAxisX(d.noodle_price) - 15)
        .attr('y', d => this.countryYAxis(d.country) + 5)
        .attr('width', 30)
        .attr('height', 30)
        .on('mouseenter', d => {
          this.updateHoverBox(`noodle-${d.country.replace(' ', '')}`, `${d.noodle}`, `${d.noodle_price}`, ' ');
          this.drawLineandRect(d);
        })
        .on('mouseleave', d => {
          this.removeHoverBox(d);
          this.removeLineandRect(d);
        });
      // function to inser the activating rectagle
      this.insertRect();
      this.insertLine();
    },
    insertRect() {
      this.countryGroup
        .append('rect')
        .attr('class', d => d.country.replace(' ', ''))
        .attr('x', this.priceAxisX(0))
        .attr('y', d => this.countryYAxis(d.country) - 5)
        .attr('width', this.chartMargin.innerWidth)
        .attr('height', 50)
        .attr('fill', '#fdcb6e')
        .attr('opacity', 0)
        .lower()
        .on('mouseenter', d => this.drawLineandRect(d))
        .on('mouseleave', d => this.removeLineandRect(d));
    },
    insertLine() {
      // line for milk
      this.lineGroup = this.countryGroup
        .append('g')
        .attr('class', d => `${d.country.replace(' ', '')}-line`)
        .lower();
      this.lineGroup
        .append('line')
        .attr('typeofproduct', 'milk')
        .attr('stroke-width', 1)
        .attr('x1', d => this.priceAxisX(d.milk_price))
        .attr('y1', d => this.countryYAxis(d.country) + 5)
        .attr('x2', d => this.priceAxisX(d.milk_price))
        .attr('y2', d => this.countryYAxis(d.country) + 5)
        .attr('stroke-dasharray', '10,10')
        .attr('stroke', '#487EB0');
      // line for fastfood
      this.lineGroup
        .append('line')
        .attr('typeofproduct', 'ff')
        .attr('stroke-width', 1)
        .attr('x1', d => this.priceAxisX(d.ff_price))
        .attr('y1', d => this.countryYAxis(d.country) + 5)
        .attr('x2', d => this.priceAxisX(d.ff_price))
        .attr('y2', d => this.countryYAxis(d.country) + 5)
        .attr('stroke-dasharray', '10,10')
        .attr('stroke', '#E84118');
      // line for noodle
      this.lineGroup
        .append('line')
        .attr('typeofproduct', 'milk')
        .attr('stroke-width', 1)
        .attr('x1', d => this.priceAxisX(d.noodle_price))
        .attr('y1', d => this.countryYAxis(d.country) + 5)
        .attr('x2', d => this.priceAxisX(d.noodle_price))
        .attr('y2', d => this.countryYAxis(d.country) + 5)
        .attr('stroke-dasharray', '10,10')
        .attr('stroke', '#FBC531');
    },
    drawLineandRect(d) {
      d3.select(`rect.${d.country.replace(' ', '')}`).attr('opacity', 0.15);
      d3.selectAll(`g.${d.country.replace(' ', '')}-line line`)
        .transition()
        .duration(500)
        .attr('y1', this.chartMargin.innerHeight);
    },
    removeLineandRect(d) {
      d3.select(`rect.${d.country.replace(' ', '')}`).attr('opacity', 0);
      d3.selectAll(`g.${d.country.replace(' ', '')}-line line`)
        .transition()
        .duration(500)
        .attr('y1', this.countryYAxis(d.country) + 5);
    },
    updateHoverBox(elementId, country, price, type) {
      // On mouseover over the image, update position and update the information in the box
      this.country = country;
      this.price = price;
      this.typeofproduct = type;
      const el = d3
        .select(`#${elementId}`)
        .node()
        .getBoundingClientRect();
      if (this.$vuetify.breakpoint.smAndDown) {
        this.posX = `${el.left + window.document.documentElement.scrollLeft - 50}`;
        this.posY = `${el.top + window.document.documentElement.scrollTop - 40}`;
      } else {
        this.posX = `${el.left + window.document.documentElement.scrollLeft + 30}`;
        this.posY = `${el.top + window.document.documentElement.scrollTop - 65}`;
      }
      d3.select('#priceInfo')
        .style('display', 'block')
        .style('left', `${this.posX}px`)
        .style('top', `${this.posY}px`);
    },
    removeHoverBox() {
      d3.select('#priceInfo').style('display', 'none');
    },
    // to responsive-fy visualisation
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
#priceViz {
  display: block;
  margin: 0 auto;
}

#priceInfo {
  padding: 10px;
  padding-bottom: 0px;
  position: absolute;
  display: none;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  p {
    padding-bottom: 0px;
  }
}
</style>
