<template>
  <div id="consumptionVizContainer">
    <svg id="consumptionViz"/>
    <div id="noodleNumbers"/>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  components: {},
  data() {
    return {
      consumptionData: [
        { country: 'China/HK', count: 40.25 },
        { country: 'Indonesia', count: 12.54 },
        { country: 'India', count: 6.06 },
        { country: 'Japan', count: 5.78 },
        { country: 'Vietnam', count: 5.2 },
        { country: 'USA', count: 4.4 },
        { country: 'Philippines', count: 3.98 },
        { country: 'South Korea', count: 3.82 },
        { country: 'Thailand', count: 3.46 },
        { country: 'Brazil', count: 2.37 },
      ],
      innerHeight: 555,
      innerWidth: 700,
    };
  },
  computed: {
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 10, right: 10, bottom: 110, left: 50 };
      }
      return { top: 10, right: 10, bottom: 40, left: 50 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  mounted() {
    this.drawGraph();
  },
  methods: {
    drawGraph() {
      const consumptionViz = d3
        .select('#consumptionViz')
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      // defining the Y and X axes
      this.consumptionAxisY = d3
        .scaleLinear()
        .domain([0, d3.max(this.consumptionData, d => d.count)])
        .range([this.chartMargin.top + this.innerHeight, this.chartMargin.top]);
      this.countryAxisX = d3
        .scaleBand()
        .domain(this.consumptionData.map(d => d.country))
        .range([this.chartMargin.left, this.innerWidth])
        .paddingInner(0.9);
      // appending the axes to the chart
      consumptionViz
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(${this.chartMargin.left}, 0)`)
        .call(
          d3
            .axisLeft(this.consumptionAxisY)
            .tickSize(-this.innerWidth)
            .tickSizeOuter(0)
        )
        .call(g => g.select('.domain', '').remove());
      consumptionViz
        .append('g')
        .attr('class', 'XAxisCountry')
        .attr('transform', `translate(30, ${this.chartMargin.top + this.innerHeight})`)
        .call(d3.axisBottom(this.countryAxisX))
        .call(g => g.select('.domain', '').remove());
      // changing the fonts
      d3.select('#consumptionViz')
        .select('.XAxisCountry')
        .selectAll('text')
        .attr('font-size', '12px')
        .attr('font-weight', 'bold');
      d3.select('#consumptionViz')
        .select('.YAxis')
        .selectAll('text')
        .attr('font-size', '12px');
      // appending YAxis title
      consumptionViz
        .append('text')
        .attr('class', 'axisLabel')
        .attr('transform', 'rotate(-90)')
        .attr('x', -this.chartMargin.top - this.innerHeight / 2)
        .attr('y', this.chartMargin.left - 30)
        .attr('font-size', '13px')
        .style('text-anchor', 'middle')
        .text('No. of servings (billions)');
      // mobile
      if (this.$vuetify.breakpoint.smAndDown) {
        // rotate x-axis tick label
        d3.select('#consumptionViz')
          .select('.XAxisCountry')
          .selectAll('text')
          .attr('x', -5)
          .attr('y', -3)
          .attr('transform', 'rotate(-90)')
          .attr('text-anchor', 'end')
          .attr('font-size', '19px')
          .attr('font-weight', 'bold')
          .attr('font-family', 'LL Akkurat Pro, Helvetica, sans-serif');
        // font-size
        d3.select('#consumptionViz')
          .select('.YAxis')
          .selectAll('text')
          .attr('text-anchor', 'end')
          .attr('font-size', '17px')
          .attr('font-family', 'LL Akkurat Pro, Helvetica, sans-serif');
        d3.select('#consumptionViz')
          .select('.axisLabel')
          .attr('font-size', '17px');
      }
      // creating a defs pattern
      consumptionViz
        .append('defs')
        .append('pattern')
        .attr('id', 'noodlepattern')
        .attr('width', '27.9')
        .attr('height', '71.9')
        .attr('patternUnits', 'userSpaceOnUse')
        .append('image')
        .attr('href', '/data/instant-noodles/noodlepattern.svg')
        .attr('preserveAspectRatio', 'xMinYMin slice')
        .attr('width', '27.9')
        .attr('height', '72')
        .attr('x', 0)
        .attr('y', 0);
      // appending rectangles bar chart
      consumptionViz
        .append('g')
        .attr('class', 'bars')
        .attr('transform', `translate(10, 0)`)
        .selectAll('rect')
        .data(this.consumptionData)
        .enter()
        .append('rect')
        .style('fill', 'url(#noodlepattern)')
        .attr('rx', 8)
        .attr('x', d => this.countryAxisX(d.country))
        .attr('y', d => this.consumptionAxisY(d.count))
        .attr('width', 50)
        .attr('height', d => this.consumptionAxisY(0) - this.consumptionAxisY(d.count))
        .on('mouseenter', (d, i) => {
          this.handleTooltipShow(d, i);
          d3.select('#noodleNumbers').html(
            `<p class="caption"><b>${d.country}</b> <br> ${d.count} billion servings</p>`
          );
        })
        .on('mouseleave', d => {
          this.handleTooltipHide(d);
        });
    },
    handleTooltipShow(d, i) {
      const tooltip = d3.select('#noodleNumbers');
      const viz = d3
        .select('#consumptionViz')
        .node()
        .getBoundingClientRect();
      // for mobile
      if (this.$vuetify.breakpoint.smAndDown) {
        this.posX = `${viz.width / 3}`;
        this.posY = `${viz.height / 3}`;
      } else {
        // calculate tooltip position
        this.posX =
          i > 4
            ? this.countryAxisX(d.country) - this.countryAxisX.bandwidth() * 10
            : this.countryAxisX(d.country) + this.countryAxisX.bandwidth();
        this.posY = d.count > 20 ? viz.height / 3 : (viz.height * 4) / 6;
      }
      // move tooltip
      tooltip.style('top', `${this.posY}px`).style('left', `${this.posX}px`);
      // create transition
      const tooltipTransit = d3
        .transition()
        .duration(250)
        .ease(d3.easeLinear);

      // fade tooltip in
      tooltip
        .transition(tooltipTransit)
        .style('opacity', 1)
        .style('display', 'block');
    },
    handleTooltipHide() {
      // hide tooltip
      const tooltip = d3.select('#noodleNumbers');

      // create transition
      const tooltipTransit = d3
        .transition()
        .duration(500)
        .ease(d3.easeLinear);

      // fade tooltip out
      tooltip
        .transition(tooltipTransit)
        .style('opacity', 0)
        .style('display', 'none')
        .style('top', 0)
        .style('left', 0);
    },
    responsivefy(svg) {
      const container = d3.select(svg.node().parentNode);
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on(`resize.${container}.attr('id')`, this.resize(svg, aspect));
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
#consumptionVizContainer {
  position: relative;

  #noodleNumbers {
    padding: 15px;
    position: absolute;
    display: block;
    opacity: 0;
    text-align: center;
    width: 160px;
    height: 70px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
  }
}
</style>
