<template>
  <section>
    <v-layout row wrap>
      <v-flex
        xs12
        lg2
        mr-2
        class="control">
        <v-btn
          v-for="(item, i) in flavours"
          :key="i"
          :id="item.id"
          :style="{ color: item.color }"
          outline
          class="flavour-btn ml-0"
          @click="drawFlavourGraph(item, $event.currentTarget)"
        >
          <p>
            <span v-html="item.emoji"/> {{ item.flavour }}
          </p>
        </v-btn>
      </v-flex>
      <v-flex xs12 lg9>
        <div id="flavourVizContainer">
          <svg id="flavourViz"/>
        </div>
      </v-flex>
    </v-layout>
    <!-- card -->
    <v-layout>
      <v-flex xs12 lg11>
        <div
          id="flavourDescription"
          :style="{ backgroundColor: selectedFlavour.color }"
          class="mt-4 pt-2 pb-1 px-3 flavours">
          <p class="body-2 noodle-font mb-2">
            {{ selectedFlavour.flavour }} <span v-html="selectedFlavour.emoji" />
          </p>
          <p class="body-1">{{ selectedFlavour.desc }}</p>
        </div>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      flavours: [],
      innerWidth: 650,
      innerHeight: 600,
      selectedFlavour: '',
    };
  },
  computed: {
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 30, right: 20, bottom: 50, left: 155 };
      }
      return { top: 30, right: 20, bottom: 50, left: 110 };
    },
    chartSettings() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
          height: 700 + this.chartMargin.top + this.chartMargin.bottom,
        };
      }
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    this.flavourData = await d3.csv('/data/instant-noodles/flavour-data.csv');
    // data manipulation
    this.flavours = this.formatRawData(this.flavourData);
    // drawing SVG and Axes only
    this.drawBaseGraph();
    this.$nextTick(() => {
      // initialising graph with default
      const defaultFlavour = this.flavours[0];
      this.defaultButton = document.querySelector('#flavour-mi-goreng');
      this.drawFlavourGraph(defaultFlavour, this.defaultButton);
    });
  },
  methods: {
    formatRawData(data) {
      const flavourArray = [];
      // there are 17 different countries in the dataset
      // meaning that the flavours change every 16 jump
      for (let j = 0; j < data.length; j += 1 * 16) {
        const currentflavour = data.filter(d => d.id === data[j].id);
        currentflavour.forEach(d => {
          d.countries = [{ countryname: d.countryName, count: d.count }];
        });
        for (let i = 0; i < 16; i++) {
          currentflavour[0].countries.push(currentflavour[i].countries[0]);
        }
        delete currentflavour[0].countryName;
        delete currentflavour[0].count;
        flavourArray.push(currentflavour[0]);
      }
      return flavourArray;
    },
    drawBaseGraph() {
      // drawing the SVG
      this.svgFlavour = d3
        .select('#flavourViz')
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);

      // define the X and Y Axis
      this.YAxis = d3
        .scaleBand()
        .domain(this.flavours[0].countries.map(d => d.countryname))
        .range([0, this.chartSettings.height - this.chartMargin.top - this.chartMargin.bottom])
        .paddingInner(0.3);
      this.XAxis = d3
        .scaleLinear()
        .domain([0, d3.max(this.flavourData, d => parseFloat(d.count))])
        .range([0, this.innerWidth]);

      // appending the X and Y Axis
      this.svgFlavour
        .append('g')
        .attr('class', 'XAxis')
        .attr(
          'transform',
          `translate(${this.chartMargin.left}, ${this.chartSettings.height - this.chartMargin.bottom})`
        )
        .call(
          d3
            .axisBottom(this.XAxis)
            .ticks(6)
            .tickSize(-this.chartSettings.height - 10)
        )
        .call(g => g.select('.domain', '').remove());
      this.svgFlavour
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(${this.chartMargin.left - 10}, ${this.chartMargin.top - 10})`)
        .call(d3.axisLeft(this.YAxis).tickSize(0))
        .call(g => g.select('.domain', '').remove());
      // appending the label for the yAxis
      this.svgFlavour
        .append('text')
        .attr('class', 'label')
        .attr('x', `${this.chartSettings.width / 3}`)
        .attr('y', `${this.chartSettings.height - this.chartMargin.top + 20}`)
        .text('Instances of Instant Noodle Flavour')
        .attr('font-size', '16px');
      // changing fonts-sizes
      this.changingFontSizes();
    },
    drawFlavourGraph(flavour, clickedButton) {
      // to update the description box correspondingly with the graph
      this.selectedFlavour = flavour;
      // creating the defs
      this.svgFlavour
        .append('defs')
        .append('pattern')
        .attr('id', 'flavournoodlepattern')
        .attr('width', '2270.8')
        .attr('height', '28.1')
        .attr('patternUnits', 'userSpaceOnUse')
        .append('image')
        .attr('href', '/data/instant-noodles/noodle_pattern.svg')
        .attr('preserveAspectRatio', 'xMinYMin slice')
        .attr('width', '2270.8')
        .attr('height', '28.1')
        .attr('x', 0)
        .attr('y', 0);

      // reset graph
      d3.select('#flavourViz')
        .selectAll('.bars')
        .remove();

      // drawing the bars
      this.svgFlavour
        .append('g')
        .attr('transform', `translate(0, ${this.chartMargin.top - 10})`)
        .selectAll('.bars')
        .data(flavour.countries)
        .enter()
        .append('rect')
        .attr('class', 'bars')
        .style('fill', 'url(#flavournoodlepattern)')
        .attr('height', 30)
        .attr('rx', 7)
        .attr('y', d => this.YAxis(d.countryname))
        .attr('x', this.chartMargin.left)
        .attr('preserveAspectRatio', 'xMinYMin slice')
        .attr('width', 0)
        .transition()
        .duration(500)
        .attr('width', d => this.XAxis(d.count));
      // update the color for buttons
      this.updateButton(flavour, clickedButton);
    },
    updateButton(flavour, clickedButton) {
      // update button color
      const activeFlavourEl = d3.select('.flavour-btn.active');

      if (!activeFlavourEl.empty()) {
        const flavourId = activeFlavourEl.attr('id');
        const activeFlavour = this.flavours.find(d => d.id === flavourId);
        // update element
        activeFlavourEl
          .style('background-color', null)
          .style('color', activeFlavour.color)
          .classed('active', false);
      }
      d3.select(clickedButton)
        .style('background-color', flavour.color, 'important')
        .style('color', '#fff')
        .classed('active', true);
    },
    changingFontSizes() {
      // for mobile fonts
      if (this.$vuetify.breakpoint.smAndDown) {
        this.svgFlavour
          .select('.YAxis')
          .selectAll('text')
          .attr('font-size', '25px');
        this.svgFlavour
          .select('.XAxis')
          .selectAll('text')
          .attr('font-size', '20px');
        this.svgFlavour
          .select('.label')
          .attr('font-size', '22px')
          .attr('y', `${this.chartSettings.height - this.chartMargin.top + 30}`);
      } else {
        // changing the fonts for Y and X Axes
        this.svgFlavour
          .select('.YAxis')
          .selectAll('text')
          .attr('font-size', '16px')
          .attr('font-weight', 'bold');
        this.svgFlavour
          .select('.XAxis')
          .selectAll('text')
          .attr('font-size', '13px');
      }
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
#flavourViz {
  display: inline-block;
}

.control {
  flex-direction: column;
  display: inline-block;
  text-align: left;
}


#flavour-mi-goreng:hover:before {
  background-color: #2ea16e !important;
}

#flavour-tom-yum:hover:before {
  background-color: #ff6505 !important;
}

#flavour-masala:hover:before {
  background-color: #ac2c56 !important;
}

#flavour-tonkotsu:hover:before {
  background-color: #262e43 !important;
}

#flavour-curry:hover:before {
  background-color: #ce7c00 !important;
}

#flavour-kimchi:hover:before {
  background-color: #bb231a !important;
}

#flavour-spicy:hover:before {
  background-color: #ff5252 !important;
}

button.flavour-btn p {
  margin-bottom: 0;
}

#flavourDescription {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
  border-radius: 11px;
  color: #fbf4e9;
  margin-bottom: 50px;
}

.noodle-font {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  color: #fbf4e9;
  font-feature-settings: 'ss07' on, 'ss08' on;
}

@media only screen and (min-width: 600px) {
  .flavour-btn {
    width: 120px;
  }
}
</style>
