<template>
  <div id="noodleTypeContainer" class="my-5">
    <p class="caption hidden-sm-and-up">Click the icons for more information about the noodle type.</p>
    <div id="noodleTypeInfo"/>

    <div id="speech-bubble-container" class="hidden-xs-only">
      <div id="speech-bubble">
        Mouse over the icons for more information about the noodle type
      </div>
    </div>

    <v-dialog
      v-model="showDialog"
      max-width="290">
      <v-card>
        <v-card-text>
          <p
            class="title"
            style="color: #fbf4e9;"
            mb-2>
            {{ selectedNoodle }}</p>
        </v-card-text>
        <img
          :src="'/data/instant-noodles/noodle-type-viz/InstantNoodle_type_'+ selectedNoodle.replace(' ', '') +'.png'">
        <v-card-text>
          <p class="body-1 mb-2">{{ selectedNoodleDesc }}</p>
        </v-card-text>
        <v-btn
          block
          style="background-color: #f38063; color: #fbf4e9;"
          @click="showDialog = false">
          Back to Story
        </v-btn>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  components: {},
  data() {
    return {
      showDialog: false,
      selectedNoodle: 'Maggi',
      selectedNoodleDesc: '',
      innerHeight: 850,
      innerWidth: 300,
    };
  },
  computed: {
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 20, right: 0, bottom: 40, left: 60 };
      }
      return { top: 12, right: 30, bottom: 40, left: 100 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    // fetch noodle type csv data
    this.typesofnoodles = await d3.csv('/data/instant-noodles/typesofnoodles.csv');

    // draw the base graph
    this.drawGraph();

    // draw the axes
    this.drawAxes();

    // draw the curly axis and label
    this.drawLabels();

    // draw the speech bubble
    this.showSpeechBubble();
  },
  methods: {
    drawGraph() {
      if (this.$vuetify.breakpoint.smAndDown) {
        // mobile draw SVG
        this.gChart = d3
          .select(this.$el)
          .append('svg')
          .attr('width', this.chartSettings.width)
          .attr('height', this.chartSettings.height)
          .call(this.responsivefy)
          .attr('id', 'noodleTypeViz')
          .append('g')
          .attr('class', 'chart-container')
          .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);
      } else {
        // normally draw the SVG
        this.gChart = d3
          .select(this.$el)
          .append('svg')
          .attr('width', this.chartSettings.width)
          .attr('height', this.chartSettings.height)
          .attr('id', 'noodleTypeViz')
          .append('g')
          .attr('class', 'chart-container')
          .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);
      }
    },
    drawAxes() {
      // define YAxis
      this.YAxis = d3
        .scaleBand()
        .domain(this.typesofnoodles.map(d => d.noodle))
        .range([this.chartMargin.top, this.innerHeight])
        .paddingInner(0.1);

      // append YAxis
      this.gChart
        .append('g')
        .attr('class', 'YAxis')
        .call(
          d3
            .axisRight()
            .tickSize(0)
            .scale(this.YAxis)
        )
        .call(g => g.select('.domain', '').remove())
        .attr('transform', `translate(${this.innerWidth / 1.85 + this.chartMargin.right}, 0)`)
        .selectAll('text')
        .attr('font-size', '15')
        .attr('font-weight', '600')
        .attr('font-family', 'LL Akkurat Pro, Helvetica, sans-serif');

      // append photos of noodles
      this.noodleBox = this.gChart
        .append('g')
        .attr('class', 'noodles')
        .selectAll('image')
        .data(this.typesofnoodles)
        .enter()
        .append('image')
        .attr('id', d => `${d.noodle.replace(' ', '')}`)
        .attr('href', d => `/data/instant-noodles/noodle-type-viz/InstantNoodle_type_${d.noodle.replace(' ', '')}.png`)
        .attr('x', this.chartMargin.left)
        .attr('y', d => this.YAxis(d.noodle))
        .attr('width', 75)
        .attr('height', 76);
      this.noodleBox.on('mouseenter', d => this.drawHoverBox(d)).on('mouseout', () => this.removeHoverBox());
      // remove hover interactivity on mobile
      if (this.$vuetify.breakpoint.smAndDown) {
        this.noodleBox.on('mouseenter', null).on('mouseleave', null);
        this.noodleBox.on('click', d => this.activateDialog(d.noodle, d.desc));
      }
    },
    drawLabels() {
      // append the curly axis
      this.gChart
        .append('image')
        .attr('href', '/data/instant-noodles/noodle-type-viz/axis.svg')
        .attr('x', this.chartMargin.left - 50)
        .attr('y', this.chartMargin.top)
        .attr('width', 17)
        .attr('height', this.innerHeight);
      // append the most and least common labels
      this.gChart
        .append('text')
        .attr('y', this.chartMargin.top - 10)
        .attr('x', this.chartMargin.right - 20)
        .text('Most Common')
        .attr('class', 'legend');
      this.gChart
        .append('text')
        .attr('y', this.chartSettings.height - this.chartMargin.bottom + 20)
        .attr('x', this.chartMargin.right - 20)
        .text('Least Common')
        .attr('class', 'legend');
    },
    drawHoverBox(d) {
      d3.select('#speech-bubble-container')
        .transition()
        .duration(50)
        .style('opacity', 0);

      const noodleSVGPos = d3
        .select('#noodleTypeViz')
        .node()
        .getBoundingClientRect();

      d3.select('#noodleTypeInfo')
        .html(`<p class="title" style="color: #fbf4e9;">${d.noodle}</p><p class="body-1">${d.desc}</p>`)
        .transition()
        .duration(0)
        .ease(d3.easeLinear)
        .style('opacity', 1)
        .style('top', `${this.YAxis(d.noodle)}px`)
        .style('left', `${noodleSVGPos.width}px`);
    },
    removeHoverBox() {
      // show the speech bubble
      d3.select('#speech-bubble-container')
        .transition()
        .duration(500)
        .style('opacity', 1);
      // create transition
      const tooltipTransit = d3
        .transition()
        .duration(500)
        .ease(d3.easeLinear);

      d3.select('#noodleTypeInfo')
        .transition(tooltipTransit)
        .style('opacity', 0);
    },
    activateDialog(noodle, desc) {
      this.selectedNoodle = noodle;
      this.selectedNoodleDesc = desc;
      this.showDialog = true;
    },
    showSpeechBubble() {
      // get the first element
      const firstNoodle = d3
        .select('#noodleTypeViz')
        .node()
        .getBoundingClientRect();

      d3.select('#speech-bubble-container')
        .style('display', 'block')
        .style('top', '30px')
        .style('left', `${firstNoodle.width}px`);
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize();
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
#noodleTypeContainer {
  position: relative;

  .title p {
    font-family: 'aglet-sans', sans-serif !important;
    font-weight: 600;
  }

  #noodleTypeInfo {
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 100px;
    display: block;
    opacity: 0;
    width: 300px;
    text-align: center;
    background-color: #262e43;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    color: #fbf4e9;
  }

  #speech-bubble-container {
    position: absolute;
    width: calc(100% / 3);
    text-align: center;

    #speech-bubble {
      position: relative;
      background: #2ea16e;
      border-radius: 0.4em;
      padding: 10px;
      color: #fbf4e9;
      opacity: 1;
    }

    #speech-bubble:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-right-color: #2ea16e;
      border-left: 0;
      margin-top: -8px;
      margin-left: -8px;
    }
  }
}
// Dialog box style
.v-card {
  text-align: center;
  padding: 15px;
  color: #fbf4e9;
  background-color: #262e43;

    img {
      width: 60%;
    }
}
</style>
