<template>
  <section
    v-if="featuredPost && featuredPost.slug"
    id="post-featured"
    class="my-5 mt-xs-0">
    <v-card
      :to="{ name: $store.getters.staticPostSlugs.includes(featuredPost.slug) ? `stories-${featuredPost.slug}` : 'stories-slug', params: {slug: featuredPost.slug} }"
      nuxt
      flat
      class="post-card"
    >
      <v-container py-0 class="px-xs-0">
        <v-layout wrap>
          <v-flex xs12 md8>
            <AppImage
              :img-object="featuredPost.featured_img"
            />
          </v-flex>

          <v-flex xs12 md4>
            <v-container fill-height py-0>
              <v-layout wrap align-end>
                <v-flex xs12>
                  <!-- featured post content -->
                  <div class="mt-3">
                    <span class="primary--text">FEATURED</span>

                    <!-- title -->
                    <h1 class="display-2 mt-3 mb-2">{{ featuredPost.title }}</h1>

                    <!-- category / region -->
                    <span class="title font-weight-regular category--text">{{ featuredPost.categories[0].name }} / {{ featuredPost.region.name }}</span>

                    <!-- author -->
                    <address class="body-1 font-secondary mt-3 mb-4">by {{ featuredPost.author_name }}</address>

                    <!-- trimmed synopsis -->
                    <p class="body-1 mb-3" v-html="truncate(featuredPost.content, 20)" />

                    <!-- icon right -->
                    <div class="primary--text text-xs-right">
                      <fa-icon
                        v-show="isCSSLoaded"
                        :icon="['far', 'long-arrow-right']"
                        size="lg"
                        fixed-width />
                    </div>
                  </div>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </section>
</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  data() {
    return {
      isCSSLoaded: false,
    };
  },
  computed: {
    featuredPost() {
      return this.$store.getters.featuredPosts[0];
    },
  },
  mounted() {
    this.isCSSLoaded = true;
  },
  methods: {
    truncate(str, wordCount) {
      return str
        .split(' ')
        .splice(0, wordCount)
        .join(' ')
        .concat('...');
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
.post-card {
  h1 {
    transition: color 0.2s linear;
  }

  &:hover {
    h1 {
      color: #F38063 !important;
    }
  }
}

@media $display-breakpoints.xs-only {
  .mt-xs-0 {
    margin-top: 0 !important;
  }

  .px-xs-0 {
    padding-left: 0
    padding-right: 0
  }
}
</style>
