<template>
  <section class="stories-main">
    <div class="stories-filter">
      <div class="stories-filter__tabs mb-4">
        <v-container py-0>
          <!-- category tabs -->
          <v-tabs v-model="tab" slider-color="transparent">
            <v-tab class="stories-filter__first-tab" @click="onTabChange(-1)">Latest</v-tab>

            <v-tab
              v-for="category in categories"
              :key="category.id"
              :ripple="false"
              @click="onTabChange(category.id)"
            >
              <span>{{ category.unescaped_name }}</span>
            </v-tab>
          </v-tabs>
        </v-container>
      </div>

      <div class="stories-filter__dropdown">
        <v-container py-0>
          <v-layout wrap>
            <v-flex xs6 md2>
              <!-- region dropdown -->
              <v-select
                :items="customRegions"
                v-model="selectRegion"
                item-text="name"
                item-value="id"
                hide-details>

                <!-- icon -->
                <div slot="prepend">
                  <fa-icon
                    :icon="['far', 'globe-asia']"
                    size="lg"
                    fixed-width />
                </div>
              </v-select>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>

    <div class="stories-cards mt-5">
      <v-container py-0>
        <v-tabs-items v-model="tab">
          <!-- latest tab -->
          <v-tab-item>
            <v-container
              fluid
              grid-list-xl
              px-0
            >
              <v-layout wrap>
                <v-flex xs12 mb-4>
                  <h2 class="display-1">Latest Stories</h2>
                </v-flex>

                <v-flex
                  v-for="post in loadedPosts"
                  :key="post.id"
                  md4
                  class="divider--card pt-0 pb-5 mb-5"
                >
                  <!-- post cards -->
                  <v-card
                    :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
                    nuxt
                    flat
                    class="post-card"
                  >
                    <AppImage
                      :img-object="post.featured_img"
                    />

                    <v-card-title class="pa-0">
                      <div>
                        <!-- post title -->
                        <h3 class="title mt-2 mb-1">{{ post.title }}</h3>

                        <!-- category / region -->
                        <span class="title font-weight-regular category--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

                        <!-- author -->
                        <address class="body-1 font-secondary mt-4">by {{ post.author_name }}</address>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-tab-item>

          <!-- others -->
          <v-tab-item
            v-for="category in categories"
            :key="category.id"
          >
            <v-container
              fluid
              grid-list-xl
              px-0
            >
              <v-layout wrap>
                <v-flex xs12 mb-4>
                  <h2 class="display-1">{{ category.unescaped_name }}</h2>
                </v-flex>

                <v-flex
                  v-for="post in loadedPosts"
                  :key="post.id"
                  md4
                  class="divider--card pt-0 pb-5 mb-5"
                >
                  <!-- post cards -->
                  <v-card
                    :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
                    nuxt
                    flat
                    class="post-card"
                  >
                    <AppImage
                      :img-object="post.featured_img"
                    />

                    <v-card-title class="pa-0">
                      <div>
                        <!-- post title -->
                        <h3 class="title mt-2 mb-1">{{ post.title }}</h3>

                        <!-- category / region -->
                        <span class="title font-weight-regular category--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

                        <!-- author -->
                        <address class="body-1 font-secondary mt-4">by {{ post.author_name }}</address>
                      </div>
                    </v-card-title>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-tab-item>
        </v-tabs-items>
      </v-container>
    </div>

  </section>
</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  props: {
    categories: {
      type: Array,
      required: true,
    },
    regions: {
      type: Array,
      required: true,
    },
    loadedPosts: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      tab: 0,
      e1: 0,
    };
  },
  computed: {
    customRegions() {
      const defaultRegion = { id: 0, name: 'Select region' };

      const newRegions = this.regions.slice();
      newRegions.unshift(defaultRegion);

      return newRegions;
    },
    selectRegion: {
      get() {
        return this.$store.getters.storiesDropdown;
      },
      set(value) {
        this.$store.dispatch('setStoriesDropdown', value);
      },
    },
  },
  methods: {
    onTabChange(id) {
      this.$store.dispatch('setStoriesDropdown', 0);
      this.$store.dispatch('setStoriesTab', id);
    },
  },
};
</script>

<style lang="stylus" scoped>
.stories-filter {
  .stories-filter__tabs {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);

    .stories-filter__first-tab {
      >>> .v-tabs__item {
        padding-left: 0;
      }
    }
  }

  .stories-filter__dropdown {
    >>> .v-input.primary--text {
      color: inherit !important;
    }
    >>> .v-input__slot {
      &::before, &::after {
        border-style: none;
      }
      .primary--text {
        color: inherit !important;
      }
    }
  }
}

.stories-cards {
  .divider--card {
    position: relative;

    &:nth-child(3n), &:nth-child(3n+1) {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        background: rgba(0, 0, 0, 0.1);
      }
    }

    .post-card {
      position unset;

      address {
        position: absolute;
        bottom 0;
      }

      h3 {
        transition: color 0.2s linear;
      }

      &:hover {
        h3 {
          color: #F38063 !important;
        }
      }
    }
  }
}
</style>
