<template>
  <div class="the-post">
    <!-- hero image -->
    <div
      v-if="featuredImageUrls"
      :style="{'background-image': `url(${featuredImageUrls.src})`}"
      :class="[ postTemplate === 'regular' ? 'single-post__hero' : 'single-post__featured' ]"
      class="mb-3" />

    <!-- the post -->
    <article :class="[postTemplate !== 'exp' || (postTemplate === 'exp' && isLastSlide) ? 'mb-5' : null]" class="single-post">
      <!-- heading -->
      <header class="single-post__heading">
        <v-container :class="{'pb-0': postTemplate !== 'regular'}" inner>
          <v-layout :align-center="postTemplate === 'regular'" column>
            <!-- category / region -->
            <span
              v-if="postTemplate === 'regular'"
              class="font-secondary primary--text "
              v-html="postTags" />

            <!-- post title -->
            <h1
              :class="[
                postTemplate === 'regular' ? ($store.getters.isMobile ? 'display-2' : 'display-3') : ($parent.data.story_theme === 'style_1' ? 'heading-2' : null),
                postTemplate === 'regular' ? 'text-xs-center' : null,
                postTemplate === 'regular' ? 'my-3' : null,
            ]">{{ postTitle }}</h1>

            <!-- author -->
            <address v-if="postTemplate === 'regular'" class="font-secondary mb-4">by {{ post._embedded.author[0].name }}</address>

            <!-- published | edited | length -->
            <div v-if="postTemplate === 'regular'">
              <time :datetime="post.date">
                <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
              </time>
              <span class="ml-1">
                <strong class="mr-1">Length</strong> {{ post.reading_time }} min
              </span>
            </div>

          </v-layout>
        </v-container>
      </header>

      <section class="single-post__main">
        <!-- synopsis -->
        <header v-if="postTemplate === 'regular'" class="single-post__synopsis">
          <v-container inner>
            <div :class="[$store.getters.isMobile ? 'body-2' : 'title']" v-html="post.content.rendered" />
          </v-container>
        </header>

        <!-- content blocks -->
        <section
          v-for="(content, i) in theContents"
          :key="i"
          class="single-post__content-block">

          <v-container
            :class="[
              content.block_width ? `${content.block_width}` : 'inner',
              content.block_width === 'fluid' ? 'px-0' : '',
              content.acf_fc_layout === 'highlight_block' ? 'outer' : '',
              postTemplate === 'regular' || (postTemplate !== 'regular' && $parent.data.story_theme === 'style_1') ? 'force-heading-2' : '', // If regular or not regular but story theme light, then force h2 to use heading-2 class
          ]">
            <v-layout>
              <v-flex>
                <!-- text block -->
                <div
                  v-if="content.acf_fc_layout === 'text_block'"
                  :class="[$store.getters.isMobile ? 'body-2' : null]"
                  class="text-block"
                  v-html="content.text_content" />

                <!-- highlight block -->
                <div
                  v-else-if="content.acf_fc_layout === 'highlight_block'"
                  class="highlight-block">
                  <p class="highlight primary--text text-xs-center">{{ content.highlight_content }}</p>
                </div>

                <!-- image block -->
                <figure v-else-if="content.acf_fc_layout === 'image_block'" class="image-block">
                  <AppImage
                    :img-object="content.image_content"
                  />

                  <figcaption
                    v-if="content.image_caption"
                    :class="[ postTemplate !== 'regular' && $parent.data.story_theme === 'style_2' ? 'dark-theme__font' : null ]"
                    class="caption font-italic text-xs-center"
                    v-html="content.image_caption" />

                  <figcaption
                    v-else
                    v-show="content.image_content.caption"
                    :class="[ postTemplate !== 'regular' && $parent.data.story_theme === 'style_2' ? 'dark-theme__font' : null ]"
                    class="caption font-italic text-xs-center">
                    {{ content.image_content.caption }}
                  </figcaption>
                </figure>

                <!-- embed block -->
                <figure v-else-if="content.acf_fc_layout === 'embed_block'">
                  <div
                    :style="{
                      'height': `${content.embed_height}px`,
                      'padding-bottom': content.embed_height ? 0 : null }"
                    class="aspect-ratio-container">

                    <iframe :src="`https://${content.embed_content}`" frameborder="0"/>
                  </div>

                  <figcaption
                    v-show="content.embed_caption"
                    :class="[ postTemplate !== 'regular' && $parent.data.story_theme === 'style_2' ? 'dark-theme__font' : null ]"
                    class="caption font-italic text-xs-center"
                    v-html="content.embed_caption" />
                </figure>

                <!-- flourish -->
                <figure v-else-if="content.acf_fc_layout === 'flourish'">
                  <div :data-src="`${content.flourish_content}?4503`" class="flourish-embed" />

                  <figcaption
                    v-show="content.embed_caption"
                    :class="[ postTemplate !== 'regular' && $parent.data.story_theme === 'style_2' ? 'dark-theme__font' : null ]"
                    class="caption font-italic text-xs-center"
                    v-html="content.embed_caption" />
                </figure>

                <!-- juxtapose  -->
                <figure v-else-if="content.acf_fc_layout === 'juxtapose'">
                  <no-ssr placeholder="Loading...">
                    <juxtapose
                      :before="content.juxtapose_slider[0].url"
                      :after="content.juxtapose_slider[1].url" />
                  </no-ssr>

                  <figcaption
                    v-show="content.juxtapose_caption"
                    :class="[ postTemplate !== 'regular' && $parent.data.story_theme === 'style_2' ? 'dark-theme__font' : null ]"
                    class="caption font-italic text-xs-center"
                    v-html="content.juxtapose_caption" />
                </figure>

                <!-- carousel -->
                <figure v-else-if="content.acf_fc_layout === 'carousel'">
                  <div class="carousel-wrapper">
                    <v-carousel hide-delimiters class="carousel">
                      <v-carousel-item
                        v-for="(image,i) in content.carousel_images"
                        :key="i"
                        :src="image.url"
                        class="carousel-item" />
                    </v-carousel>
                  </div>

                  <figcaption
                    v-show="content.carousel_caption"
                    :class="[ postTemplate !== 'regular' && $parent.data.story_theme === 'style_2' ? 'dark-theme__font' : null ]"
                    class="caption font-italic text-xs-center mt-2"
                    v-html="content.carousel_caption" />
                </figure>
              </v-flex>
            </v-layout>
          </v-container>

        </section>

      </section>

      <!-- footer -->
      <footer v-if="postTemplate !== 'exp' || (postTemplate === 'exp' && isLastSlide)">
        <v-container inner>
          <v-layout wrap>

            <!-- references -->
            <v-flex v-show="theReferences !== false" xs12>
              <v-divider />

              <v-expansion-panel
                :class="{
                  'dark-theme': $store.getters.postTemplate !== 'regular' && $parent.data.story_theme === 'style_2',
                }"
              >
                <v-expansion-panel-content>
                  <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
                  <div class="single-post__references mt-3">
                    <ul class="list--none">
                      <li
                        v-for="(ref, i) in theReferences"
                        :key="i"
                        class="mb-3"
                      >
                        <p
                          :class="{'dark-theme': postTemplate !== 'regular' && $parent.data.story_theme === 'style_2'}"
                          class="subtitle-1 mb-0"
                        >{{ ref.reference_citation }}</p>
                        <a
                          v-if="ref.reference_link"
                          :href="ref.reference_link"
                          :style="{ 'text-decoration': postTemplate !== 'regular' && $parent.data.story_theme === 'style_2' ? 'underline' : null }"
                          :class="{'dark-theme': postTemplate !== 'regular' && $parent.data.story_theme === 'style_2'}"
                          class="subtitle-1 primary--text"
                        >
                          {{ ref.reference_link }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </v-expansion-panel-content>
              </v-expansion-panel>

              <v-divider class="my-4" />
            </v-flex>

            <!-- author -->
            <v-flex xs12>
              <v-card
                :class="{
                  'mini': $store.getters.postTemplate !== 'regular',
                  'dark-theme': $store.getters.postTemplate !== 'regular' && $parent.data.story_theme === 'style_2',
                }"
                class="single-post__author mb-4"
              >
                <v-container grid-list-xl>
                  <v-layout wrap align-center>
                    <v-flex
                      :class="$store.getters.postTemplate !== 'regular' ? 'xs12 md12 lg12 xl4' : 'xs12 sm3 md3'"
                    >
                      <v-avatar size="100%">
                        <AppImage
                          :img-object="author.profile_photo"
                          :custom-fallback-src="author.avatar_urls['96']"
                          :alt="author.name" />
                      </v-avatar>
                    </v-flex>

                    <v-flex
                      :class="$store.getters.postTemplate !== 'regular' ? 'xs12 md12 lg12 xl8' : 'xs12 sm9 md9'"
                    >
                      <div class="single-post__author-bio">
                        <h3 class="title mb-3">About {{ author.name }}</h3>
                        <p class="my-0">{{ author.description }}</p>
                      </div>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
            </v-flex>

            <!-- topics -->
            <v-flex xs12>
              <div>
                <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
                <ul class="subtitle-2 primary--text list--none d-inline-block">
                  <li
                    v-for="(topic, i) in theTopics"
                    :key="topic.id"
                    class="d-inline text-lowercase"
                  >
                    {{ topic.name }}{{ i === theTopics.length - 1 ? '' : ', ' }}
                  </li>
                </ul>
              </div>

              <v-divider class="my-4" />
            </v-flex>

            <!-- disclaimer -->
            <v-flex xs12 class="mb-4">
              <div>
                <p class="font-italic">
                  Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
                  <a
                    :class="{ 'dark-theme': postTemplate === 'naomi' && $parent.data.story_theme === 'style_2' }"
                    href="mailto:hello@kontinentalist.com"
                    class="primary--text text-underline">hello@kontinentalist.com</a>
                </p>
              </div>
            </v-flex>

            <!-- social sharing (mobile ONLY) -->
            <v-flex
              v-if="postTemplate === 'regular'"
              xs12
              class="hidden-sm-and-up mb-4">
              <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

              <AppButtonSocialFacebook />

              <AppButtonSocialTwitter
                :post-title="encodeURIComponent(post.title.raw)"
                :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$route.fullPath}`)" />

              <AppButtonSocialWhatsapp
                :post-title="encodeURIComponent(post.title.raw)"
                :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$route.fullPath}`)" />

              <AppButtonSocialCopy />
            </v-flex>

            <!-- facebook comment and likes -->
            <v-flex v-if="postTemplate === 'regular'" xs12>
              <FacebookLike class="mb-3" />
            </v-flex>

          </v-layout>
        </v-container>
      </footer>
    </article>
  </div>
</template>

<script>
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

import FacebookLike from '@/components/vendors/FacebookLike';

import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
    FacebookLike,
    AppImage,
  },
  props: {
    postTemplate: {
      type: String,
      required: true,
    },
    post: {
      type: Object,
      required: true,
    },
    featuredImageUrls: {
      type: [Object, Boolean],
      required: true,
    },
    author: {
      type: Object,
      default: () => {},
      required: false,
    },
    postTags: {
      type: String,
      default: '',
      required: false,
    },
    isLastSlide: {
      type: Boolean,
      default: false,
      required: false,
    },
  },
  computed: {
    theContents() {
      if (this.postTemplate === 'naomi' || this.postTemplate === 'exp') {
        return this.post.story_content;
      }
      // Regular template
      return this.post.acf.story_content;
    },
    theReferences() {
      if (this.postTemplate === 'naomi') {
        return this.post.story_references;
      }
      if (this.postTemplate === 'exp') {
        return this.$parent.data.story_references;
      }
      // Regular template
      return this.post.acf.story_references;
    },
    theTopics() {
      if (this.postTemplate === 'naomi' || this.postTemplate === 'exp') {
        return this.$parent.post._embedded['wp:term'][1];
      }
      // Regular template
      return this.post._embedded['wp:term'][1];
    },
    postTitle() {
      if (this.postTemplate === 'naomi') {
        return this.post.popup_text;
      }
      if (this.postTemplate === 'exp') {
        return this.post.title;
      }
      // regular
      return this.post.title.raw;
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.injectNewTabToLinks();
    });
  },
  updated() {
    this.$nextTick(() => {
      if (this.postTemplate === 'naomi') {
        this.injectNewTabToLinks();
      }
    });
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.single-post__hero {
  background-size: cover;
  background-position: 50%;
  height: 60vh;

  @media $display-breakpoints.xs-only {
    height: 30vh;
  }
}

.single-post__featured {
  background-size: cover;
  background-position: 50%;
  padding-bottom: 56.25%;

  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.single-post__heading {
  time {
    &::after {
      content: '\00B7';
      padding: 0 0.25rem;
      font-weight: 700;
    }
  }

  @media $display-breakpoints.xs-only {
    address {
      font-size: 14px !important;
      margin-bottom: 12px !important;
    }

    time {
      font-size: 12px !important;
    }
  }
}

.single-post__synopsis {
  .title {
    line-height: 1.6 !important;

    >>> a {
      color: #F2784B;
      text-decoration: underline;
    }
  }
}

.single-post__content-block {
  .text-block >>> {
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 24px;
    }

    p {
      font-size: 18px;
      line-height: 1.6;
    }

    a {
      color: #F2784B;
      text-decoration: underline;
    }
  }

  figure > figcaption {
    word-wrap: break-word;

    >>> p {
      margin-bottom: 0;
    }
  }

  .force-heading-2 >>> h2 {
    color: #000;
  }
}

.v-expansion-panel {
  box-shadow: none !important;
}

.single-post__references {
  word-wrap: break-word;
}

.single-post__author.mini {
  >>> img {
    width: 90%;
  }

  @media only screen and (max-width: 1903px) {
    >>> img {
      width: 35%;
    }

    .single-post__author-bio {
      text-align: center;
    }
  }
}

@media $display-breakpoints.xs-only {
  .single-post__synopsis p {
    font-size: 16px !important;
  }

  .single-post__references {
    font-size: 12px;
  }

  .single-post__author {
    >>> img {
      width: 55% !important;
    }

    .single-post__author-bio {
      text-align: center;

      h3 {
        font-size: 16px !important;
      }

      p {
        font-size: 14px !important;
      }
    }
  }
}

.carousel-wrapper >>> {
  padding-top: 56.25%;
  width: 100%;
  position: relative;

  .carousel {
    height: 100% !important;
    position: absolute !important;
    top: 0;
    box-shadow: none !important;

    .v-btn {
      color: #efefef !important;
    }

    .carousel-item {
      .v-jumbotron__wrapper {
        .v-jumbotron__image {
          height: 100% !important;
          min-width: unset;
        }
      }
    }
  }
}

.dark-theme__link {
  color: #F2784B;
  text-decoration: underline;
}

.dark-theme__font {
  color: #DAD4BB !important;
}
</style>
