<template>
  <div v-scroll="onScroll" class="main-post">
    <div class="static-post">
      <Landing :post="post" :post-tags="postTags"/>
      <Section1ScrollyPictures/>
      <Section2ScrollyMapDesktop/>
      <Section3Content/>      
      <References :footer-data="footerData"/>
    </div>

    <!-- <PostListAside :post="{id: footerData.post.id, categoryId: footerData.post.categoryId}" /> -->
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

import Landing from '@/components/posts/static/birdlife/views/SectionLanding';
import Section1ScrollyPictures from '@/components/posts/static/birdlife/views/Section1ScrollyPictures';
import Section2ScrollyMapDesktop from '@/components/posts/static/birdlife/views/Section2ScrollyMap';
import Section3Content from '@/components/posts/static/birdlife/views/Section3Content';
import References from '@/components/posts/static/birdlife/views/SectionReferences';

// import PostListAside from '@/components/posts/regular/PostListAside';

export default {
  layout: 'singlePost',
  components: {
    Landing,
    Section1ScrollyPictures,
    Section2ScrollyMapDesktop,
    Section3Content,
    References,
    // PostListAside,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      isMobile: false,
      lastPos: 0,
    };
  },
  computed: {
    featuredImageUrls() {
      return (
        (this.post &&
          this.post._embedded &&
          this.post._embedded['wp:featuredmedia'] &&
          this.post._embedded['wp:featuredmedia'][0] &&
          this.post._embedded['wp:featuredmedia'][0].source_urls) || { src: '', webp: '', jpeg: '' }
      );
    },
    footerData() {
      return {
        post: {
          id: this.post.id,
          categoryId: this.post.categories[0],
          title: this.post.title.raw,
        },
        author: this.post._embedded.author[0],
        references: this.post.acf.story_references,
        topics: this.post._embedded['wp:term'][1],
      };
    },
    postTags() {
      return `${this.post._embedded['wp:term'][0][0].name} / ${this.post._embedded['wp:term'][2][0].name}`;
    },
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'static');
  },
  // mounted() {
  //   this.$FB.init();
  // },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(
      `posts?slug=spoon-billed-sandpiper-migratory-bird-conservation-yellow-sea-map&_embed`
    );
    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }
    return { post, author: post._embedded.author[0] };
  },
  head() {
    return {
      title: this.post.title.raw,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.post.title.raw },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: this.featuredImageUrls.src,
        },
      ],
      link: [
        { rel: 'stylesheet', href: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' },
      ],      
    };
  },
}
</script>

<style lang="stylus" scoped>
</style>
