<template>
  <div v-scroll="onScroll" class ="post-static">
    <div class="static-post">
      <Landing :post="post" :post-tags="postTags"/>
      <Section2HeartsandBars/>
      <Section3Graphs/>
      <Section4Conclusion/>
      <References :footer-data="footerData"/>
    </div>

    <PostListAside :post="{id: footerData.post.id, categoryId: footerData.post.categoryId}" />
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

import Landing from '@/components/posts/static/the-things-we-queued-for/Landing';
import Section2HeartsandBars from '@/components/posts/static/the-things-we-queued-for/Section2Hearts';
import Section3Graphs from '@/components/posts/static/the-things-we-queued-for/Section3Graphs';
import Section4Conclusion from '@/components/posts/static/the-things-we-queued-for/Section4Conclusion';
import References from '@/components/posts/static/the-things-we-queued-for/References';

import PostListAside from '@/components/posts/regular/PostListAside';

export default {
  layout: 'singlePost',
  components: {
    Landing,
    Section2HeartsandBars,
    Section3Graphs,
    Section4Conclusion,
    References,
    PostListAside,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      lastPos: 0,
    };
  },
  computed: {
    featuredImageUrls() {
      return (
        (this.post &&
          this.post._embedded &&
          this.post._embedded['wp:featuredmedia'] &&
          this.post._embedded['wp:featuredmedia'][0] &&
          this.post._embedded['wp:featuredmedia'][0].source_urls) || { src: '', webp: '', jpeg: '' }
      );
    },
    postTags() {
      return `${this.post._embedded['wp:term'][0][0].name} / ${this.post._embedded['wp:term'][2][0].name}`;
    },
    footerData() {
      return {
        post: {
          id: this.post.id,
          categoryId: this.post.categories[0],
          title: this.post.title.raw,
        },
        references: this.post.acf.story_references,
        topics: this.post._embedded['wp:term'][1],
      };
    },
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'static');
  },
  mounted() {
    this.$FB.init();
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  methods: {},
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(`posts?slug=the-things-we-queued-for&_embed`);

    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    return { post };
  },
  head() {
    return {
      title: this.post.title.raw,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.post.title.raw },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${
            this.$nuxt.$store.getters.meta.canonicalURL
          }/data/the-things-we-queued-for/queue-featured-img.png`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>

<style lang="stylus" scoped>
</style>
