<template>
  <div id="conclusion">
    <v-container inner>
      <v-layout wrap pb-5>
        <v-flex xs12>
          <div class="view-landing__synopsis mx-2 mt-5">
            <p class="display-2 noodle-font my-4 pb-3">
              We explored the potential reasons why instant noodles are so popular in Asia, but sometimes it is difficult to quantify the love of something.
            </p>
            <p class="body-2">
              When Momofuku Ando invented instant noodles in 1958, he wanted to design a form of sustenance which would tide people through tough times. From the start, instant noodles was about celebrating humanity.
            </p>
            <p class="body-2">
              61 years later, instant noodles is still fulfilling this purpose. In 2010, South Korea shipped three million cups of instant noodles to <a href="https://www.nytimes.com/2010/10/26/world/asia/26korea.html" target="_blank">North Korea as a food aid</a>, a first for the two divided countries.
            </p>
            <p class="body-2">
              Instant noodles also reveal the idiosyncratic sides of people. <em>“Ramyeon meokgo galrae?”</em>, translated as, “You wanna eat ramen before you go?” became a way for shy millennials in South Korea to <a href="http://koreabizwire.com/koreas-answer-to-netflix-chill-wanna-eat-ramen-before-you-go/94377" target="_blank">gauge romantic interest in 2017</a>. <a href="https://www.reddit.com/r/AskReddit/comments/7bf0pw/dear_reddit_what_do_you_put_in_your_instant_ramen/" target="_blank">Reddit</a> is filled with posts about instant noodles, from tips on how to elevate it, to discussions over what people add to the noodles. Kylie Jenner <a href="https://www.dailymail.co.uk/femail/article-3729902/She-inspired-noodle-game-Kylie-Jenner-sends-social-media-spin-revealing-special-recipe-super-cheap-RAMEN.html" target="_blank">set off a frenzy</a> when she shared her ‘secret’ instant noodles recipe on Snapchat. It may seem silly that we care so much about a convenient food item. But instant noodles has always been the food of the people. As the Momofuku Ando’s saying goes:
            </p>
            <div class="mrando mt-5">
              <img
                src="/data/instant-noodles/graphics/InstantNoodle_MomofukuAndo.png"
                alt="mr ando quote"
                class="fluid">
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style lang="stylus" scoped>
#conclusion {
  background-color: #f5b817;

  p {
    a {
      color: rgba(0, 0, 0, 0.7);
      text-decoration: underline;
    }
  }

  .noodle-font {
    font-family: 'aglet-sans', sans-serif !important;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-feature-settings: 'ss07' on, 'ss08' on;
  }  
}

@media only screen and (min-width: 600px) {
  .mrando {
    width: 80%;
    margin: 0 auto;
  }
}
</style>
