<template>
  <div id="landing">
    <v-container inner>
      <v-layout
        wrap
        mb-5
        pb-5
      >
        <v-flex xs12 text-xs-center>
          <div class="view-landing__heading my-4">
            <span class="font-secondary" v-html="postTags" />

            <h1 class="display-3 noodle-font my-3 hidden-xs-only">{{ post.title.raw }}</h1>
            <h1 class="display-2 noodle-font my-3 hidden-sm-and-up">{{ post.title.raw }}</h1>

            <time class="font-secondary mb-5">
              <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
            </time>

            <p class="font-secondary body-2 my-5">
              <strong>We use data to find out why.</strong>
            </p>
          </div>
        </v-flex>

        <v-flex xs12 class="text-xs-center navbar-trigger">
          <div class="view-landing__image mb-5">
            <img
              src="/data/instant-noodles/graphics/InstantNoodle_Banner.gif"
              alt="instant noodles in asia"
              width= "90%">
          </div>

          <address class="noodle-font-light mx-3 mb-2"><strong class="mr-1">
            Written by</strong> Isabella Chua <strong class="mr-1"><br> Code by</strong> Siti Aishah<br><strong class="mr-1">Design by</strong> Joceline Kuswanto &amp; Griselda Gabriele
          </address>
        </v-flex>

        <div class="mousey-scroller">
          <div class="mousey">
            <div class="mousey__wheel" />
          </div>
        </div>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#landing {
  background-color: #ff5252;
  color: #fbf4e9;

    .noodle-font {
      font-family: 'aglet-sans', sans-serif !important;
      font-weight: 600;
      color: #fbf4e9;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
      font-feature-settings: 'ss07' on, 'ss08' on;
    }

    .noodle-font-light {
      font-family: 'aglet-sans', sans-serif !important;
      font-weight: 400;
      color: #fbf4e9;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
      font-feature-settings: 'ss07' on, 'ss08' on;
    }

    .view-landing__image {
      width: 70%;
      margin: 0 auto;
    }
}

.layout {
    position: relative;
  }
  .mousey-scroller {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 34px;

    .mousey {
      box-sizing: content-box;
      opacity: 0.75;
      width: 3px;
      height: 23px;
      padding: 5px 8px;
      margin: auto;
      border: 2px solid #FBF4E9;
      border-radius: 25px;

      .mousey__wheel {
        width: 3px;
        height: 7px;
        border-radius: 25%;
        background-color: #FBF4E9;
        animation-name: mouseywheel;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        animation-iteration-count: infinite;
      }
    }
  }

@keyframes mouseywheel {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
</style>
