<template>
  <div id="synopsis">
    <v-container inner>
      <v-layout wrap pb-5>
        <v-flex xs12>
          <div class="view-landing__synopsis mt-5">
            <div class="display-2 noodle-font mb-4" v-html="post.content.rendered" />

            <p class="body-2 mb-3">
              What is it about instant noodles that continues to capture our imagination after all these years?
            </p>

            <div class="chopstick-divider mt-5">
              <img
                src="/data/instant-noodles/graphics/InstantNoodle_Chopstick.gif"
                alt="moving chopstick divider"
                class="fluid">
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#synopsis {
  background-color: #fbf4e9;

    .noodle-font {
      font-family: 'aglet-sans', sans-serif !important;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.8);
      font-feature-settings: 'ss07' on, 'ss08' on;
    }
}

.noodle-font >>> p > a {
  color: #f2784b;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  .chopstick-divider {
    width: 80%;
    margin: 0 auto;
  }
}
</style>
