<template>
  <section id="references">
    <v-container inner>
      <v-layout wrap>
        <!-- methodology -->
        <v-flex xs12>
          <div class="mx-2 mt-5">
            <h5 class="body-2 mb-3 font-weight-bold">Methodology</h5>

            <p class="caption">
              Data collected from the Ramen Rater’s Big List. For the portion size and affordability section, we chose the countries based on the Asian countries with the highest count. The cost of each country’s milk and fast food combo was collected from Expatistan.
            </p>

            <p class="caption">
              Note on how we categorised flavours: using R, we use string detect on the “Variety” column to determine the flavor of instant noodles. After that, we group and summarise by “Country” to obtain the count of flavors for each country. For example, to count the number of instant ramen tagged with “Spicy”, we detected different descriptions of spiciness such as “Spicy”, “Hot”, “Pedas” (spicy in Malay and Indonesian). This is to account for all the variations of spicy that manifest in another language.
            </p>

            <p class="caption">
              Yet translations must also be used sparingly. For instance, while “Mi Goreng” can be literally translated to “Fried Noodles”, it is inaccurate to equate the two. For this dataset, “Mi Goreng” refers to the Southeast Asian style. Some instant noodles have more than one categorisation of flavours. For example, an instant noodle can be both tagged as “Curry” and “Spicy”. In that case, they will appear for both graphs depending on the selected flavor button.
            </p>
          </div>
        </v-flex>

        <!-- references -->
        <v-flex xs12>
          <v-divider class="mt-3" />
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
              <div class="single-post__references mt-3">
                <ul class="list--none">
                  <li
                    v-for="(ref, i) in footerData.references"
                    :key="i"
                    class="mb-3"
                  >
                    <p class="mb-0">{{ ref.reference_citation }}</p>
                    <a
                      v-if="ref.reference_link"
                      :href="ref.reference_link"
                    >
                      {{ ref.reference_link }}
                    </a>
                  </li>
                </ul>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <!-- topics -->
          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li
                v-for="(topic, i) in footerData.topics"
                :key="topic.id"
                class="d-inline text-lowercase"
              >
                {{ topic.name }}{{ i === footerData.topics.length - 1 ? '' : ', ' }}
              </li>
            </ul>
          </div>
          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" style="color: #fbf4e9; text-decoration: underline;">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
// ui components
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
  },
  props: {
    footerData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      references: [
        {
          citation:
            'Hsu, Jenny.  “Taiwan’s Latest Sweet Craze: Pudding Plus Instant Noodles” The Wall Street Journal, June 27, 2014. Accessed 12 September 2019.',
          link:
            'https://blogs.wsj.com/chinarealtime/2014/06/27/taiwans-latest-sweet-craze-pudding-plus-instant-noodles/',
        },
        {
          citation:
            'McDonald, Mark. “South Korea Ships Rice and Noodles to the North” The New York Times, October 25, 2010. Accessed 13 September 2019.',
          link: 'https://www.nytimes.com/2010/10/26/world/asia/26korea.html',
        },
        {
          citation:
            'Hatton, Celia. “The Eternal Life of the Instant Noodle” BBC, September 28, 2018. Accessed 12 September 2019.',
          link: 'https://www.bbc.co.uk/news/resources/idt-sh/the_instant_noodle',
        },
        {
          citation:
            'Edwards, Phil. “How Momofuku Ando invented instant ramen—and transformed Japanese cuisine” Vox, 29 September, 2016. Accessed 10 September 2019.',
          link: 'https://www.vox.com/2015/3/5/8150929/momofuku-ando-ramen-instant-noodles',
        },
        {
          citation:
            'Yim, Hyunsu. “Korea’s Answer to Netflix & Chill ‘Wanna Eat Ramen Before You Go?’ The Korea Bizwire, 6 September, 2017. Accessed 12 September 2019.',
          link: 'http://koreabizwire.com/koreas-answer-to-netflix-chill-wanna-eat-ramen-before-you-go/94377',
        },
      ],
    };
  },
};
</script>

<style lang="stylus" scoped>
#references {
  background-color: #ff5252;
  color: #fbf4e9;

  .v-expansion-panel__container {
    background-color: #ff5252 !important;
  }

  .v-expansion-panel__container >>> .v-expansion-panel__header__icon .v-icon,
  .v-expansion-panel__header div,
  .v-expansion-panel__container li,
  .caption {
    color: #fbf4e9 !important;
  }

  .v-expansion-panel {
    box-shadow: none !important;
  }

  hr {
    border-color: #fbf4e9 !important;
  }

  .single-post__references >>> a {
    color: #fbf4e9;
    text-decoration: underline;
  }

  .single-post__topics ul li {
    color: #fbf4e9;
  }  
}


</style>
