<template>
  <div id="section3">
    <v-container inner pb-5>
      <v-layout wrap pb-4>
        <v-flex xs12>
          <div class="mt-5">
            <h2 class="display-2 noodle-font mb-3">Instant noodles are cheap &#X1F4B5;</h2>
            <p class="body-2">
              Instant noodles has helped alleviate the hunger of millions, from cash-strapped college students, to low-wage workers on a budget.
            </p>
            <p class="body-2">
              To see how affordable instant noodles truly are, we compared the most common instant noodles in each country against the price of other common food items, like one litre of milk and a fast food combo meal. Turns out, instant noodles are very affordable, with Indomie being the most cost-effective at US$0.18. Taiwan and Japan are slight outliers, crossing the US$1.00 mark. A possible explanation for Taiwan is that the chosen instant noodles, “TLL Taiwan Huadiao Chicken Noodle” is a premium instant noodle with actual chicken slices inside.
            </p> 

            <p class="body-2 noodle-font mt-5">Price of &#X1F35C;instant noodle compared to &#X1F95B;milk and &#X1F35F;fast food</p>
            <!-- Insert Affordability Chart -->
          </div>
        </v-flex>
        <v-flex xs12>
          <div id="affordabilityviz">
            <VizAffordability />            
          </div>
        </v-flex>
      </v-layout>
    </v-container> 
  </div>
</template>

<script>
import VizAffordability from '@/components/posts/static/instant-noodles/ui/VizAffordability';

export default {
  components: {
    VizAffordability,
  },
};
</script>

<style lang="stylus" scoped>
#section3 {
  background-color: #fbf4e9;

  .noodle-font {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  }
}
</style>
