<template>
  <div id="section4">
    <v-container inner pb-2>
      <v-layout wrap pb-1>
        <v-flex xs12>
          <div class="mt-5">
            <h2 class="display-2 noodle-font mb-5">Ramen Rater's 2019 Top 10 List &#X1F3C6;</h2>
            <p class="body-2"> 
              It would be sacrilegious to use Ramen Rater’s data without showing his famous top ten instant noodles list, so here are his picks for 2019.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container
      id="top10Viz"
      outer
      mb-5>
      <div class="speech-bubble">Click to learn more about each noodle.</div>
      <v-layout
        wrap
        row
        justify-space-around>
        <v-flex
          v-for="(name, index) in nameofnoodles"
          :key="index"
          xs5
          class="lg5-custom">
          <v-card
            class="mx-2 mb-4"
            flat>
            <img
              :src="'/data/instant-noodles/top-10-viz/InstantNoodles_Top10_' + index + '.png'"
              class="fluid"
              @click.stop="activateDialog(index)">
            <v-card-text class="noodle-font">{{ name.name }}</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
      <v-dialog
        v-model="showDialog"
        max-width="400">
        <v-card class="dialogCard py-4">
          <img
            :src="annotatedimg"
            class="fluid annotatedimg my-3">
          <v-btn
            block
            style="background-color: #f38063; color: #fbf4e9;"
            @click="showDialog = false">
            Back to Story
          </v-btn>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nameofnoodles: [
        { name: '#1: Prima Taste Singapore Laksa Wholegrain La Mian - Singapore' },
        { name: '#2: Red Chef Spicy Sakura Prawn Soup Noodles - Malaysia' },
        { name: '#3: Liangchengmei Food Biang Biang Mian - China' },
        { name: '#4: A-Sha Gourmet Braised Beef Noodle Soup - Taiwan' },
        { name: '#5: CarJEN Nyonya Curry Laksa - Malaysia' },
        { name: '#6: Prima Taste Singapore Curry Wholegrain La Mian - Singapore' },
        { name: '#7: Red Chef Green Tom Yum Soup Noodles - Malaysia' },
        { name: '#8: Mom’s Dry Noodle Dan Dan Noodle - Taiwan' },
        { name: '#9: Sau Tao Tom Yum Kung Flavour Ramen - Hong Kong' },
        { name: '#10: Indomie Real Meat Mi Instan Goreng Rendang - Indonesia' },
      ],
      showDialog: false,
      annotatedimg: '',
    };
  },
  mounted() {},
  methods: {
    // on click, it activates the dialog box by changing the showDialog switch
    // annotated img takes in the index of the item and matches the same index
    // of the annotated image
    activateDialog(n) {
      this.annotatedimg = `/data/instant-noodles/top-10-viz/InstantNoodles_Top10_${n}A.png`;
      this.showDialog = !this.showDialog;
    },
  },
};
</script>

<style lang="stylus" scoped>
.noodle-font {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  font-feature-settings: 'ss07' on, 'ss08' on;
}

.v-card__text {
  text-align: center;
  padding: 0;
  color: #ff5252;
}

.dialogCard {
  text-align: center;
  padding: 15px;
  color: #fbf4e9;
  background-color: #fbf4e9;
  width: 100%;
}

.speech-bubble {
  position: relative;
  background: #2ea16e;
  border-radius: 0.4em;
  padding: 10px;
  width: calc(100% / 2);
  top: -20px;
  text-align: center;
  color: #fbf4e9;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #2ea16e;
  border-bottom: 0;
  margin-left: -8px;
  margin-bottom: -8px;
}

@media (min-width: 1264px) {
  .flex.lg5-custom {
    width: 20%;
    max-width: 20%;
    flex-basis: 20%;
  }
  .speech-bubble {
    width: calc(100% / 5);
  }
}
</style>
