<template>
  <div id="section1">
    <v-container inner pb-5>
      <v-layout
        wrap
        pb-1>
        <v-flex xs12>
          <div class="mt-5">
            <h2 class="display-2 noodle-font mb-5">Instant noodle brands are mostly from <span class="rounded-yellow">Asia</span></h2>
            <!-- infographic 2  -->
            <h4 class="body-2 noodle-font mt-4 mb-2">Distribution of instant noodle brands according to their country of origin</h4>
            <p class="caption pb-3"><span id="dot-asian"/>Asian Country <span id="dot-nonasian"/>Non-Asian Country</p>
            <p class="caption mt-3 mb-3">Each dot represents an instant noodle brand. Click the dot to see the brand.</p>
          </div>
        </v-flex>
      </v-layout>
      <v-layout
        wrap
        row
        pb-4
        justify-wrap-around>
        <v-flex
          v-for="(country, index) in data"
          :key="index"
          xs6
          md3
          mb-4>
          <div>
            <p class="body-1 country">{{ country.key }}</p>
            <div class="container-dots">
              <span
                v-for="(dots, i) in country.values"
                :nameofbrand="dots.Brand"
                :key="i"
                :class="'dot-' + dots.Type"
                @mouseenter="showBrand(dots.Brand, $event.currentTarget, i)"
                @mouseleave="hideBrand()"/><br>
              <span class="brandTooltip">{{ selectedBrand }}</span>
            </div>
          </div>
        </v-flex>
      </v-layout>
      <v-layout
        wrap
        pb-1>
        <v-flex xs12>
          <div>
            <p class="body-2">
              According to the Ramen Rater, he gets his instant noodles from different sources. He buys them, or they are gifts from fans, retailers, big instant noodle distributors, and corporations. While we do not claim that his list is representative of all the available instant noodle brands out there, Asian brands <em>do</em> dominate. The Nissin brand from Japan is virtually synonymous with instant noodles worldwide. And even when brands originate from Western countries—like Maggi which is Swiss—Asian countries hold the biggest market share.
            </p>
            <p class="body-2">
              Since Asia is both a big exporter and consumer of instant noodles, we wanted to follow up by seeing if localisation was a big factor in explaining Asia’s instant noodle craze.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      data: [],
      hover: false,
      selectedBrand: '',
    };
  },
  async mounted() {
    this.brandData = await d3.csv('/data/instant-noodles/brands.csv');
    this.data = d3
      .nest()
      .key(d => d.Origin)
      .entries(this.brandData);
  },
  methods: {
    showBrand(brand, targetDot, i) {
      // inserting the correct brand name
      this.selectedBrand = brand;
      // positioning the tooltip
      const rect = d3
        .select('.container-dots')
        .node()
        .getBoundingClientRect();
      const params = targetDot.getBoundingClientRect();
      const xPos = i % 10 < 4 ? params.right : params.right - 80;
      const yPos = document.documentElement.scrollTop - rect.height * 2 + params.top;
      d3.select('.brandTooltip')
        .style('visibility', 'visible')
        .style('left', `${xPos}px`)
        .style('top', `${yPos}px`);
      // giving the selected a class
      d3.select(targetDot).classed('dot-selected', true);
    },
    hideBrand() {
      d3.selectAll('span').classed('dot-selected', false);
      this.selectedBrand = '';
      d3.select('.brandTooltip').style('visibility', 'hidden');
    },
  },
};
</script>

<style lang="stylus" scoped>
#section1 {
  background-color: #fbf4e9;

  .noodle-font {
    font-family: 'aglet-sans', sans-serif !important;
    font-weight: 600;
  }

  #dot-asian {
    height: 12px;
    width: 12px;
    margin-right: 15px;
    background-color: #f5b817;
    border-radius: 50%;
    display: inline-block;
  }

  #dot-nonasian {
    height: 12px;
    width: 12px;
    margin-right: 15px;
    margin-left: 40px;
    background-color: #dedede;
    border-radius: 50%;
    display: inline-block;
  }

  .rounded-yellow {
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    border: solid 1px #f5b817;
    background-color: #f5b817;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.8);
  }

  .country {
    margin-bottom: 0px;
    font-weight: bold;
  }

  .container-dots {
    padding-top: 5px;
    margin-right: 15px;

    .dot-asian {
      height: 10px;
      width: 10px;
      margin-right: 7px;
      background-color: #f5b817;
      border-radius: 50%;
      display: inline-block;
      position: relative;
    }

    .dot-nonasian {
      height: 10px;
      width: 10px;
      margin-right: 7px;
      background-color: #dedede;
      border-radius: 50%;
      display: inline-block;
      position: relative;
    }

    .dot-selected {
      border: 1px grey solid;
    }
  }
}

.brandTooltip {
  visibility: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .brandTooltip {
    width: 100px;
  }
}
</style>
