<template>
  <div id="section1Consumption">
    <v-container inner pb-5>
      <v-layout wrap pb-1>
        <v-flex xs12>
          <div class="view-landing__introduction mt-5">
            <h2 class="display-2 noodle-font mb-4">Asia ❤️ instant noodles</h2>
            <p class="body-2 mb-5">
              In a <a href="http://news.bbc.co.uk/2/hi/asia-pacific/1067506.stm" target="_blank">2000 poll</a>, Japan voted instant noodles as the country’s best invention in the 20th century. It looks like the rest of Asia agree. According to the World Instant Noodles Association (yes it's legit), Asians are the biggest consumers of instant noodles. <a href="https://instantnoodles.org/en/noodles/market.html" target="_blank">Eight out of the top ten countries</a> for global consumption are situated in Asia.
            </p>
            <!-- infographic 1  -->
            <p class="body-2 noodle-font mt-5">Top 10 countries with the highest demand for instant noodles</p>
            <VizConsumption />
            <p class="body-2 mt-3 mb-4">
              Why is Asia so obsessed with instant noodles? To find out, we looked at data from the Ramen Rater, the reigning authority on instant noodles.
            </p>    
          </div>
        </v-flex>
      </v-layout>
    </v-container> 
  </div>
</template>

<script>
import VizConsumption from '@/components/posts/static/instant-noodles/ui/VizConsumption';

export default {
  components: {
    VizConsumption,
  },
};
</script>

<style scoped>
.noodle-font {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  font-feature-settings: 'ss07' on, 'ss08' on;
}

p > a {
  color: #f2784b;
  text-decoration: underline;
}
</style>
