<template>
  <div id="section2">
    <v-container inner pb-5>
      <v-layout wrap pb-1>
        <v-flex xs12>
          <div class="view-landing__section2 mt-5">
            <h2 class="display-2 noodle-font mb-4">Local noodles, local flavours</h2>

            <p class="body-2 pt-2 mb-5">
              Gone were the days where instant noodles were simply dried noodle blocks. To stay ahead of the competition, instant noodle companies have come up with noodle types and flavours that are familiar to Asian palettes. Anyone feeling homesick can instantly get a taste of home by grabbing a curry flavoured maggi mee, or by slurping a bowl of <em>jjajangmyeon</em> (black bean sauce noodles) while watching <a href="https://www.youtube.com/watch?v=hAXTioLygHE" target="_blank"><em>mukbang</em> videos (eating broadcasts)</a> for the full experience.
            </p>


            <h3 class="mb-4 title">Types of Noodles</h3>
            <p class="body-2">
              Enterprising companies have found a way to convert various asian noodles into instant ones. Noodle types are plotted based on how many times they occur in the dataset.
            </p>
            <p class="body-2 pb-3">
              Noodle types that are common also tend to be quite versatile. Take udon for example. It may have originated from Japan, but countries like South Korea have given it their own spin with the <em>pojangmacha</em> (street food) udon.
            </p>

            <!-- Insert Noodle Chart Here -->
            <VizNoodleType />
            <h3 class="mb-4 mt-5 pt-3 title">Instant noodles flavours</h3>
            <p class="body-2">
              Perhaps you have eaten <em>tom yum</em>-flavoured instant noodles before even trying the real <em>tom yum</em> soup. The diversity of instant noodles flavours has enabled people to sample different cuisines at an affordable price.
            </p>

            <h4 class="body-2 noodle-font-sub mt-5 mb-2">Distribution of flavours across countries</h4>
            <p class="caption my-3">Click to select a flavour and see its distribution across countries.</p>

            <!-- Insert Flavour Chart Here -->
            <VizFlavour/>
            <p class="body-2">
              Curry and spicy flavours are most well-loved across Asia, which makes sense as a lot of its cuisines use spice.
            </p>

            <h3 class="mt-5 mb-4 title">Portion Sizes</h3>
            <p class="body-2 mb-5">
              We have a theory: instant noodles sizes are proportionate to the size of the people. To test it out, we compared the average weight of the population (male and female) with the weight of each country’s most common instant noodles.
            </p>
            <h4 class="body-2 noodle-font-sub mt-4 mb-2">
              <span class="rounded-black">Average mass of person</span> against the <span class="rounded-yellow">average mass of 1 serving size</span> of the most common instant noodle per country
            </h4>

            <!-- Insert Portion Sizes Chart Here -->
            <img
              src="/data/instant-noodles/portion-viz/portion_lg.svg"
              alt="chart comparing mass of person and serving size "
              class="fluid mt-4 mb-5 hidden-xs-only">
            <img
              src="/data/instant-noodles/portion-viz/portion_sm.svg"
              alt="chart comparing mass of person and serving size "
              class="fluid mt-4 mb-5 hidden-sm-and-up">

            <p class="body-2">
              Surprisingly, the lightest (India) and heaviest (Taiwan) people do have the lightest (70g) and heaviest (200g) instant noodle packets. But everything else in between does not support our theory. If we consider the sheer variety of instant noodles that exists, it makes sense that companies would not be able to tailor the portion size of instant noodles to each country.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import VizFlavour from '@/components/posts/static/instant-noodles/ui/VizFlavour';
import VizNoodleType from '@/components/posts/static/instant-noodles/ui/VizNoodleType';

export default {
  components: {
    VizFlavour,
    VizNoodleType,
  },
};
</script>

<style lang="stylus" scoped>
.noodle-font {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  font-feature-settings: 'ss07' on, 'ss08' on;

  .rounded-black {
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: solid 1px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5%;
    color: white;
  }

  .rounded-yellow {
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: solid 1px #f5b817;
    background-color: #f5b817;
    padding: 0.5%;
    color: rgba(0, 0, 0, 0.7);
  }
}

.title {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-family: 'aglet-sans', sans-serif !important;
}

.body-2 {
  color: rgba(0, 0, 0, 0.7);
}

.noodle-font-sub {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
}

.caption {
  font-family: 'aglet-sans', sans-serif !important;
  color: rgba(0, 0, 0, 0.7);
}

p > a {
  color: #f2784b;
  text-decoration: underline;
}
</style>
