<template>
  <div id="naomi-post">
    <transition name="fade">
      <NaomiIntro
        v-if="isIntro"
        :post="post"
        :author="author"
        :featured-image-urls="featuredImageUrls"
        :post-tags="postTags"
      />
      <div
        v-if="!isIntro"
        class="naomi-post-container">
        <div
          :class="[
            isMarkerClicked ? 'panel-active':isMobile ? 'panel-hidden__mb':'panel-hidden__lg',
            isMobile ? 'panel-wrapper__mb' : 'panel-wrapper__lg',
            data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme',
          ]"
          class="panel-wrapper">
          <div
            v-show="!isMobile"
            :class="[data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme']"
            class="close-panel"
            @click="onClosePanel">
            <fa-icon :icon="['far', 'chevron-left']" class="left-arrow" />
          </div>
          <ThePost
            v-scroll:#story-panel="onScroll"
            id="story-panel"
            ref="storyPanel"
            :post="markerContent"
            :author="author"
            :featured-image-urls="markerFeaturedImageUrls"
            :class="[
              isMobile ? 'story-panel__mb' : 'story-panel__lg',
              data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme',
            ]"
            :post-template="'naomi'"/>
        </div>
        <div class="mapboxgl-ctrl-top-right">
          <div
            v-show="data.audio !== false"
            :class="[data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme']"
            class="mapboxgl-ctrl mapboxgl-ctrl-group">
            <button class="sound-btn" @click="onAudio"><fa-icon :icon="['far', isAudioPlay ? 'volume-up' : 'volume-mute']"/></button>
          </div>
          <div :class="[data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme']" class="mapboxgl-ctrl mapboxgl-ctrl-group">
            <button class="zoom-in-btn" @click="onZoomIn"><fa-icon :icon="['far', 'plus']"/></button>
            <button class="zoom-out-btn" @click="onZoomOut"><fa-icon :icon="['far', 'minus']"/></button>
          </div>
          <div :class="[data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme']" class="mapboxgl-ctrl mapboxgl-ctrl-group">
            <button class="recenter-btn" @click="onRecenter"><fa-icon :icon="['far', 'location']"/></button>
          </div>
        </div>
        <div class="map-container">
          <div id="map"/>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import VueScript2 from 'vue-script2';

import NaomiIntro from '@/components/posts/naomi/NaomiIntro';
import ThePost from '@/components/posts/ThePost';
import scrollanimateMixin from '@/mixins/scrollanimate';

export default {
  components: {
    NaomiIntro,
    ThePost,
  },
  mixins: [scrollanimateMixin],
  props: {
    post: {
      type: Object,
      required: true,
    },
    author: {
      type: Object,
      required: true,
    },
    featuredImageUrls: {
      type: Object,
      required: true,
    },
    postTags: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      isIntro: true,
      isMobile: false,
      markerContent: {},
      map: null,
      isAudioPlay: true,
      isMarkerClicked: false,
      clickedMarker: { object: null, position: [0, 0], index: null, data: null },
      markers: [],
      popups: [],
      audio: null,
    };
  },
  computed: {
    mapbox() {
      return this.$Mapbox.load();
    },
    markerFeaturedImageUrls() {
      if (
        'featured_image' in this.markerContent &&
        this.markerContent.featured_image !== false &&
        'url' in this.markerContent.featured_image
      ) {
        return this.markerContent.featured_image.source_urls;
      }
      return false;
    },
    data() {
      return this.post.acf;
    },
    slides() {
      if ('naomi_slides' in this.data) {
        return this.data.naomi_slides;
      }
      return [];
    },
    style() {
      if (this.data.map_style === 'style_1') {
        return 'mapbox://styles/kontinentalist/cjjo6ios1hw8c2snjyjnjxful'; // Light
      }
      if (this.data.map_style === 'style_2') {
        return 'mapbox://styles/kontinentalist/cjjo6wemg0v0m2snqn53eomo1'; // Dark
      }
      if (this.data.map_style === 'style_3') {
        return 'mapbox://styles/kontinentalist/cjjqz3qkc115r2rmxt4ltyzoi'; // Terrain
      }
      // custom
      return this.data.cus_map_style;
    },
    theme() {
      if (this.data.story_theme === 'style_1') {
        // Light
        return {
          primaryClr: '#FFFFFF',
          secondaryClr: 'rgba(0, 0, 0, 0.6)',
        };
      }
      // Dark
      return {
        primaryClr: '#262E43',
        secondaryClr: '#DAD4BB',
      };
    },
  },
  head() {
    return {
      link: [{ rel: 'stylesheet', href: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' }],
    };
  },
  watch: {
    isIntro(val) {
      if (val) {
        return;
      }
      this.mapbox.then(() => {
        this.init();
      });
    },
  },
  mounted() {
    this.updateIsMobile();
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.updateIsMobile();
      });
    });
  },
  beforeDestroy() {
    if (this.data.audio !== false) {
      this.stopAudio();
    }
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
    if (!this.isIntro && this.map !== null && this.map.loaded()) {
      this.map.remove();
    }
  },
  methods: {
    init() {
      this.map = this.$Mapbox.constructMap({
        container: 'map',
        center: [this.data.main_lng, this.data.main_lat], // Lng, lat
        style: this.style,
        attributionControl: false,
        minZoom: parseFloat(this.data.min_zoom),
        maxZoom: parseFloat(this.data.max_zoom),
      });

      let xOffset = 0;
      if (this.isMobile) {
        xOffset = window.innerWidth - (window.innerWidth - (((window.innerWidth * 80) / 100) * 50) / 100);
      } else {
        xOffset = window.innerWidth - (window.innerWidth - (((window.innerWidth * 35) / 100) * 50) / 100);
      }
      let offset = [xOffset, 0];
      this.$nextTick(() => {
        // Recalculate the x offset to get right marker center position!
        window.addEventListener('resize', () => {
          if (this.isMobile) {
            xOffset = window.innerWidth - (window.innerWidth - (((window.innerWidth * 80) / 100) * 50) / 100);
            // Revert 'You are reading' navbar state if it's opened
            this.$store.dispatch('setPostNavState', false);
          } else {
            xOffset = window.innerWidth - (window.innerWidth - (((window.innerWidth * 35) / 100) * 50) / 100);
          }
          offset = [xOffset, 0];
          if (this.isMarkerClicked) {
            // Do the map fly on marker clicked
            this.map.flyTo({
              center: this.clickedMarker.position,
              zoom: parseFloat(this.data.min_zoom),
              offset,
              speed: 0.6,
              curve: 1,
              easing(t) {
                return t;
              },
            });
            if (this.popups.length > 0 && typeof this.popups[this.clickedMarker.index] !== 'undefined') {
              if (this.isMobile) {
                this.popups[this.clickedMarker.index].remove();
              } else {
                this.popups[this.clickedMarker.index].addTo(this.map);

                const $popup = document.querySelector('.mapboxgl-popup');
                const $popupContent = document.querySelector('.mapboxgl-popup-content');
                const $popupTip = document.querySelector('.mapboxgl-popup-tip');

                if ($popup) {
                  $popup.style.color = this.theme.secondaryClr;
                }
                if ($popupContent) {
                  $popupContent.style.backgroundColor = this.theme.primaryClr;
                }
                if ($popupTip) {
                  $popupTip.style.borderTopColor = this.theme.primaryClr;
                }
              }
            }
          }
        });
      });

      this.map.on('style.load', () => {
        this.slides.forEach((v, i) => {
          let objIdx = i;
          const position = this.slides[objIdx].position.split(',');
          let marker;
          let popupOpt = { offset: 40, closeButton: false };
          let popupTxt = '';
          let isCustomMarker = false;
          const el = document.createElement('div');
          if (!this.slides[objIdx].relationship) {
            if (this.slides[objIdx].custom_marker_icon !== false) {
              isCustomMarker = true;
            }
          } else {
            // If this is a relationship marker
            objIdx = this.slides[objIdx].relationship_slide_number - 1;
            if (this.slides[objIdx].custom_marker_icon !== false) {
              isCustomMarker = true;
            }
          }
          if (!isCustomMarker) {
            marker = this.$Mapbox.marker({ color: this.slides[objIdx].marker_color });
          } else {
            el.style.content = `url(${this.slides[objIdx].custom_marker_icon.url})`;
            popupOpt = { offset: 25, closeButton: false };
            marker = this.$Mapbox.marker(el);
          }
          popupTxt = this.slides[objIdx].popup_text;
          const popup = this.$Mapbox.popup(popupOpt).setText(popupTxt);
          marker
            .setLngLat(position)
            .setPopup(popup)
            .addTo(this.map);
          this.markers.push({
            object: marker,
            data: v,
          });
          this.popups.push(popup);
          marker.getElement().addEventListener(
            'click',
            ec => {
              // remove flourish-embed html
              const flourishEls = document.querySelectorAll('.flourish-embed');

              if (flourishEls.length > 0) {
                flourishEls.forEach(e => {
                  const child = e.querySelector('iframe');

                  child.parentNode.removeChild(child);
                });
              }

              // reload flourish
              if (window.FlourishLoaded) window.FlourishLoaded = !window.FlourishLoaded;

              const s = document.querySelector('script[src="https://public.flourish.studio/resources/embed.js"]');
              s.parentNode.removeChild(s);

              VueScript2.loaded = {};
              VueScript2.load('https://public.flourish.studio/resources/embed.js');

              // Clear all popups except the one that is being clicked
              this.popups.forEach((vp, j) => {
                if (this.popups[j] !== popup) {
                  this.popups[j].remove();
                }
              });

              if (this.isMarkerClicked && this.clickedMarker.index === i) {
                popup.remove();
                this.onClosePanel();
                // console.log('popup closed');
              } else {
                // Set marker content
                this.markerContent = this.slides[objIdx];
                this.markerContent.id = i;

                if (!this.isMobile) {
                  popup.addTo(this.map);
                  const $popup = document.querySelector('.mapboxgl-popup');
                  const $popupContent = document.querySelector('.mapboxgl-popup-content');
                  const $popupTip = document.querySelector('.mapboxgl-popup-tip');

                  if ($popup) {
                    $popup.style.color = this.theme.secondaryClr;
                  }
                  if ($popupContent) {
                    $popupContent.style.backgroundColor = this.theme.primaryClr;
                  }
                  if ($popupTip) {
                    $popupTip.style.borderTopColor = this.theme.primaryClr;
                  }
                }
                this.isMarkerClicked = true;
                this.clickedMarker.object = marker;
                this.clickedMarker.position = position;
                this.clickedMarker.index = i;
                this.clickedMarker.data = v;

                // Do the map fly on marker clicked
                this.map.flyTo({
                  center: this.clickedMarker.position,
                  zoom: parseFloat(this.data.min_zoom),
                  offset,
                  speed: 0.6,
                  curve: 1,
                  easing(t) {
                    return t;
                  },
                });
                // console.log('popup opened');
              }
              // Set navbar state and reading progress bar to default
              this.resetState();
              // This is important to stop including the whole map click event
              ec.stopPropagation();
            },
            false
          );
        });
        this.map.on('click', () => {
          this.onClosePanel();
          // console.log('all popups are closed');
        });

        // Audio btn listener
        if (this.data.audio !== false) {
          this.audio = new Audio(this.data.audio.url);
          const playPromise = this.playAudio();
          if (playPromise !== undefined) {
            playPromise.catch(err => {
              this.stopAudio();
              // console.log(err);
            });
          }
        }

        // trigger mouse click on first marker
        this.markers[0].object.getElement().click();
      });
    },
    onClosePanel() {
      // Clear all popups except the one that is being clicked
      this.popups.forEach((v, i) => {
        this.popups[i].remove();
      });
      // Recenter the map
      if (this.isMobile && this.isMarkerClicked) {
        this.map.flyTo({
          center: this.clickedMarker.position, // Lng, lat
          zoom: parseFloat(this.data.min_zoom),
          speed: 0.6,
          curve: 1,
          easing(t) {
            return t;
          },
        });
      }
      this.isMarkerClicked = false;
      this.clickedMarker.object = null;
      this.clickedMarker.position = [0, 0];
      this.clickedMarker.index = null;
      this.clickedMarker.data = null;

      // Set navbar state and reading progress bar to default
      this.resetState();
      // console.log('all popups are closed');
    },
    updateIsMobile() {
      this.isMobile =
        (window.innerWidth <= 1024 && window.innerHeight > window.innerWidth) ||
        (window.innerHeight <= 425 && window.innerHeight < window.innerWidth);
      this.$store.dispatch('setIsMobile', this.isMobile);
    },
    stopAudio() {
      if (this.audio === null || (this.audio !== null && !('src' in this.audio))) {
        return false;
      }
      this.isAudioPlay = false;
      const pausePromise = this.audio.pause();
      return pausePromise;
    },
    playAudio() {
      if (this.audio === null || (this.audio !== null && !('src' in this.audio))) {
        return false;
      }
      this.isAudioPlay = true;
      const playPromise = this.audio.play();
      // Seamless loop hack; Previously it was using -> this.audio.loop = true;
      this.audio.addEventListener('timeupdate', this.onAudioTimeUpdate, false);
      return playPromise;
    },
    onAudioTimeUpdate() {
      const buffer = 1;
      if (this.audio.currentTime > this.audio.duration - buffer) {
        this.audio.currentTime = buffer;
      }
    },
    onAudio() {
      return this.isAudioPlay ? this.stopAudio() : this.playAudio();
    },
    onZoomIn() {
      return this.map.zoomIn();
    },
    onZoomOut() {
      return this.map.zoomOut();
    },
    onRecenter() {
      this.map.flyTo({
        center: [this.data.main_lng, this.data.main_lat],
        zoom: parseFloat(this.data.min_zoom),
        speed: 0.6,
        curve: 1,
        easing(t) {
          return t;
        },
      });
    },
    resetState() {
      this.$refs.storyPanel.$el.scrollTo(0, 0);
      this.$store.dispatch('setLastPos', 0);
      this.$store.dispatch('setPostNavState', false);
    },
  },
};
</script>

<style lang="stylus">
.main-post, #naomi-post {
  width: 100%;
  height: 100%;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

<style lang="stylus" scoped>
@import '~assets/styles/settings/_variables';

.naomi-post-container {
  width: 100%;
  height: 100%;
  transition: all 1s ease 1s;
}

>>> .dark-theme {
  background-color: #262E43 !important;
  color: #DAD4BB !important;
}

>>> .light-theme {
  background-color: #FFFFFF !important;
}

.map-container {
  width: 100vw;
  height: calc(100vh - 64px);
}

#map {
  width: inherit;
  height: inherit;
}

>>> .mapboxgl-popup {
  max-width: 400px;
  font-size: 13px;
  line-height: 18px;
  font-family: $fontPrimary;
  color: rgba(0, 0, 0, 0.6);
}

>>> .mapboxgl-ctrl-top-right {
  position: fixed !important;
  left: auto;
  padding-top: 64px;
  margin-top: 20px;
}

>>> .mapboxgl-marker {
  cursor: pointer;
}

.panel-active {
  left: 0;
}
.panel-hidden__mb {
  left: calc(-80% - 30px);
}
.panel-hidden__lg {
  left: calc(-35% - 30px);
}

.panel-wrapper {
  position: fixed;
  z-index: 3;
  height: 100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.panel-wrapper__mb {
  width: 80%;
}

.panel-wrapper__lg {
  width: 35%;
}

#story-panel {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  scroll-behavior: smooth;
}

.close-panel {
  position: absolute;
  left: calc(100% + 10px);
  top: 14px;
  width: 20px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.14), 0px 5px 5.5px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
}

.left-arrow {
  margin-top: calc(50% - 3.5px);
  margin-left: calc(50% - 3.5px);
}
</style>
