<template>
  <div
    :style="{'background-image': `linear-gradient(
      rgba(41, 41, 41, 0.4),
      rgba(41, 41, 41, 0.4)
    ),
    url(${featuredImageUrls.src})`}"
    class="naomi-intro single-post single-post__hero">
    <div :class="$store.getters.isMobile ? 'content-wrapper-mobile' : 'content-wrapper-desktop'">
      <!-- heading -->
      <header class="single-post__heading animated fadeInUp slow delay-1s">
        <v-container inner>
          <v-layout column align-center>
            <!-- category / region -->
            <span class="subtitle-2 text-xs-center primary--text" v-html="postTags" />

            <!-- post title -->
            <h1 :class="[$store.getters.isMobile ? 'display-2' : 'display-4']" class="text-xs-center naomi-title my-3">{{ post.title.raw }}</h1>

            <!-- author -->
            <address class="subtitle-2 mb-4">by {{ post._embedded.author[0].name }}</address>

            <!-- published | edited -->
            <div class="subtitle-2">
              <time :datetime="post.date">
                <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
              </time>
            </div>
          </v-layout>
        </v-container>
      </header>

      <section class="single-post__main text-xs-center animated fadeInUp slow delay-1s">
        <!-- synopsis -->
        <header class="single-post__synopsis">
          <v-container inner>
            <div :class="[$store.getters.isMobile ? 'body-2' : 'subheading']" v-html="post.content.rendered" />
            <!-- topics -->
            <!-- <v-flex xs12 pt-4>
              <p v-if="post.acf.audio !== false" class="font-italic"><fa-icon :icon="['fas', 'headphones']" class="mr-3"/>This story features audio. Headphones recommended.</p>
              <div class="pt-4">
                <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
                <ul class="subtitle-2 primary--text list--none d-inline-block">
                  <li
                    v-for="(topic, i) in post._embedded['wp:term'][1]"
                    :key="topic.id"
                    class="d-inline text-lowercase"
                  >
                    {{ topic.name }}{{ i === post._embedded['wp:term'][1].length - 1 ? '' : ', ' }}
                  </li>
                </ul>
              </div>
            </v-flex> -->
          </v-container>
        </header>
        <!-- <v-container
          inner
          pt-0
          pb-0>
          <v-divider dark style="border-color: rgba(255, 255, 255, 1) !important;"/>
        </v-container> -->
        <!-- disclaimer -->
        <!-- <v-container
          class="inner"
          xs12>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a
                href="mailto:hello@kontinentalist.com"
                class="primary--text text-underline">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-container> -->
        <div class="text-xs-center">
          <v-btn
            nuxt
            medium
            depressed
            color="primary"
            class="animated fadeInUp slow delay-1s"
            @click="$parent.isIntro = false; $store.dispatch('setPostSheetBottomShow', true);">
            Continue <fa-icon :icon="['far', 'long-arrow-right']" style="margin-left: 6px;" />
          </v-btn>
        </div>
      </section>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    post: {
      type: Object,
      required: true,
    },
    author: {
      type: Object,
      required: true,
    },
    featuredImageUrls: {
      type: Object,
      required: true,
    },
    postTags: {
      type: String,
      required: true,
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.injectNewTabToLinks();
    });
  },
};
</script>

<style lang="stylus" scoped>
@import '~assets/styles/settings/_variables';

.naomi-intro {
  color: white !important;
}

.content-wrapper-desktop {
  padding: 5% 0 5% 0;
}

.content-wrapper-mobile {
  padding: 25% 0 20% 0;
}

.single-post__hero {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.single-post__synopsis {
  .subheading {
    line-height: 1.6 !important;
    color: #fff;
  }

  >>> a {
    color: #F2784B;
    text-decoration: underline;
  }
}

.naomi-title {
  font-family: $fontSecondary !important;
}

// Overriding
.primary--text, .naomi-title, .subtitle-2, .title {
  color: #fff !important;
}
</style>
