<template>
  <div class="post-aside__list-poplat">
    <!-- popular list -->
    <div class="post-list__popular">
      <h4 class="display-1 text-xs-center mb-4">Popular Stories</h4>

      <v-container grid-list-xl>
        <v-layout wrap>
          <v-flex
            v-for="post in popularPosts"
            :key="post.id"
            xs12
            class="mb-3"
          >
            <v-card
              :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
              nuxt
              flat
            >
              <v-layout wrap>
                <v-flex class="xs12 md5 pa-0 pt-xs-0">
                  <AppImage
                    :img-object="post.featured_img"
                  />
                </v-flex>

                <v-flex class="xs12 md7 py-0 px-xs-0 pt-xs-0">
                  <div>
                    <!-- category / region -->
                    <span class="font-secondary primary--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

                    <!-- post title -->
                    <h3 class="body-2 font-weight-bold mt-2 mb-3">{{ post.title }}</h3>

                    <!-- author -->
                    <address class="body-1 font-secondary">by {{ post.author_name }}</address>
                  </div>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>

        </v-layout>
      </v-container>
    </div>

    <!-- latest list -->
    <div class="post-list__latest">
      <h4 class="display-1 text-xs-center mb-4">Latest Stories</h4>

      <v-container grid-list-xl>
        <v-layout wrap>
          <v-flex
            v-for="post in latestPosts"
            :key="post.id"
            xs12
            class="mb-3"
          >
            <v-card
              :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
              nuxt
              flat
            >
              <v-layout wrap>
                <v-flex class="xs12 md5 pa-0">
                  <AppImage
                    :img-object="post.featured_img"
                  />
                </v-flex>

                <v-flex class="xs12 md7 py-0 px-xs-0 pt-xs-0">
                  <div>
                    <!-- category / region -->
                    <span class="font-secondary primary--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

                    <!-- post title -->
                    <h3 class="body-2 font-weight-bold mt-2 mb-3">{{ post.title }}</h3>

                    <!-- author -->
                    <address class="body-1 font-secondary">by {{ post.author_name }}</address>
                  </div>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>

        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  data() {
    return {
      popularPosts: null,
      latestPosts: null,
    };
  },
  created() {
    // Moved popularPosts and latestPosts from computed to created because the vars run everytime they are called somewhere which slows down the performance.
    // Also because the popularPosts obj doesn't perform any update once it's initialized which seems to be fine to call it in created lifecyclehook
    this.popularPosts = this.getPopularPosts();
    this.latestPosts = this.getLatestPosts();
  },
  methods: {
    getPopularPosts() {
      return this.$store.getters.popularPosts;
    },
    getLatestPosts() {
      return this.$_.take(this.$store.getters.previewPosts, 4);
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.v-card {
  h3 {
    transition: color 0.2s linear;
  }

  &:hover {
    h3 {
      color: #F38063 !important;
    }
  }
}

@media $display-breakpoints.xs-only {
  .pt-xs-0 {
    padding-top: 0 !important;
  }

  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
