<template>
  <section class="post-aside mt-5">
    <!-- related post -->
    <PostListRelated :post="post" />

    <!-- popular / latest posts -->
    <PostListPopLat />

    <!-- stories mailing list -->
    <PostListMailing />
  </section>
</template>

<script>
import PostListRelated from '@/components/posts/naomi/PostListRelated';
import PostListPopLat from '@/components/posts/naomi/PostListPopLat';
import PostListMailing from '@/components/posts/regular/PostListMailing';

export default {
  components: {
    PostListRelated,
    PostListPopLat,
    PostListMailing,
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
};
</script>


<style lang="stylus" scoped>
.post-aside {
  border-top: 1px solid #e0e0e0;
}
</style>
