<template>
  <div
    v-if="relatedPostList.length > 0"
    id="relatedPostsList"
    class="my-5">

    <h4 class="display-1 text-xs-center mb-4">More like this</h4>

    <v-container grid-list-xl>
      <v-layout wrap>
        <v-flex
          v-for="relatedPost in relatedPosts"
          :key="relatedPost.id"
          xs12
          class="mb-3"
        >
          <v-card
            :to="{ name: $store.getters.staticPostSlugs.includes(relatedPost.slug) ? `stories-${relatedPost.slug}` : 'stories-slug', params: {slug: relatedPost.slug} }"
            nuxt
            flat
          >
            <v-layout wrap>
              <v-flex class="xs12 md5 pa-0">
                <AppImage
                  :img-object="relatedPost.featured_img"
                />
              </v-flex>

              <v-flex class="xs12 md7 py-0 px-xs-0 pt-xs-0">
                <div>
                  <!-- category / region -->
                  <span class="font-secondary primary--text">{{ relatedPost.categories[0].name }} / {{ relatedPost.region.name }}</span>

                  <!-- post title -->
                  <h3 class="body-2 font-weight-bold mt-2 mb-3">{{ relatedPost.title }}</h3>

                  <!-- author -->
                  <address class="body-1 font-secondary">by {{ relatedPost.author_name }}</address>
                </div>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      relatedPosts: [],
    };
  },
  computed: {
    relatedPostList() {
      const relatedPosts = this.$store.getters
        .relatedPosts(this.post.categoryId)
        .filter(post => post.id !== this.post.id);

      // Randomize and get 3 posts
      return relatedPosts;
    },
  },
  mounted() {
    this.relatedPosts = this.$_.sampleSize(this.relatedPostList, 3);
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.v-card {
  h3 {
      transition: color 0.2s linear;
    }

  &:hover {
    h3 {
      color: #F38063 !important;
    }
  }
}

@media $display-breakpoints.xs-only {
  .pt-xs-0 {
    padding-top: 0 !important;
  }

  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
