<template>
  <!-- First Population Container -->
  <div id="svgContainer" class="mx-2 my-4">
    <p v-if="step === '0' || step === '1'"><strong>Population growth in Singapore</strong></p>
    <p v-if="step === '2' || step === '2'"><strong>Breakdown of Singapore population by gender</strong></p>
    <p v-if="step === '3' || step === '4'"><strong>Births and Deaths in Singapore</strong></p>
    <p v-if="step === '5'"><strong>Breakdown of deaths by gender</strong></p>
    <p v-if="step === '6'"><strong>Chinese immigrants coming in to Singapore</strong></p>
    <p v-if="step === '7'"><strong>Ethnic Distribution in Singapore in 1920</strong></p>
    <p v-if="step === '8'"><strong>Ethnic Distribution in Singapore in 1929</strong></p>
    <p v-if="step === '8' || step === '7'" class="hidden-sm-and-down caption">Each <span class="square"/> = 1000 people</p>
    <svg id="svgCanvas"/>
  </div>
</template>

<script>
import * as d3 from 'd3';
import * as d3Annotate from 'd3-svg-annotation'

export default {
  props: {
    step: {
      type: String,
      required: true,
    },
    direction: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      ethnic: false,
    };
  },
  computed: {
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 40, right: 10, bottom: 35, left: 40 };
      }
      return { top: 40, right: 10, bottom: 35, left: 50 };
    },
    chartSettings() {
      return {
        width: this.$el.clientWidth - this.chartMargin.left - this.chartMargin.right,
        height: this.$el.clientHeight - this.chartMargin.top - this.chartMargin.bottom,
      };
    },
    barWidth() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 20;
      }
      return 50;
    },
    circleRadius() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 5;
      }
      return 10;
    },
    squareSettings() {
      //landscape
      // if (this.chartSettings.height < this.chartSettings.width) {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          perSquare: 2000,
          rectWidth: 7,
          nextLine: 5,
          gap: 10,
        }
      } else { //desktop
        return {
          perSquare: 1000,
          rectWidth: 9,
          nextLine: 10,
          gap: 11,
        }
      }
    },
  },
  watch: {
    step(currentStep) {
      this.handleView(currentStep);
    },
  },
  async mounted() {
    this.data = await d3.csv('/data/bicentennial/part1/csv/data.csv');

    this.formatEthnicData(this.data);

    // loads to the top of the page
    window.onbeforeunload = function () {
        if(window.scrollTo) window.scrollTo(0,0);
    };

    // loading the functions
    switch (this.step) {
      case '0':
        this.drawBase();
        this.triggeringAxesDraw();
        break;
    }
  },
  methods: {
    triggeringAxesDraw() {
      // triggering
      const self = this;
      self.triggered = false;
      window.onscroll = () => {
        const containerTop = d3
          .select('#svgContainer')
          .node()
          .getBoundingClientRect().height;
        const scrollTop = window.scrollY;
        if (scrollTop > containerTop && self.triggered === false) {
          this.drawPopulationAxes();
          this.drawPopulationBars();
          this.drawPopulationAnnotation();
          self.triggered = true;
        }
      };
    },
    drawBase() {
      this.chartSVG = d3.select('#svgCanvas');
      // draw base
      this.chartSVG
        .attr('width', this.$el.clientWidth)
        .attr('height', this.$el.clientHeight)
        // .style('border', '1px solid yellow')
        .call(this.responsivefy);
    },
    drawPopulationAxes() {
      // define axes
      this.XAxis = d3
        .scaleLinear()
        .domain([1919.5, 1929.5])
        .range([0, this.chartSettings.width]);
      this.YAxis = d3
        .scaleLinear()
        .domain([550000, 0])
        .range([0, this.chartSettings.height]);
      // append axes
      this.chartSVG
        .append('g')
        .attr('class', 'XAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartSettings.height + this.chartMargin.top})`)
        .call(
          d3
            .axisBottom(this.XAxis)
            .ticks(10)
            .tickFormat(d3.format('d'))
            .tickSize(4)
            .tickSizeOuter(0)
        );
      d3.selectAll('.XAxis > .tick line').attr('transform', 'translate(0, -3)');
      this.chartSVG
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .call(d3
          .axisLeft(this.YAxis)
          .tickSize(0)
          .ticks(6)
          .tickSize(-this.chartSettings.width)
        )
        .call(g => g.select('.domain', '').remove());
    },
    drawPopulationBars() {
      // draw bars
      this.chartSVG
        .append('g').attr('class', 'populationBars')
        .attr('transform', `translate(${this.chartMargin.left - this.barWidth / 2}, ${this.chartMargin.top})`)
        .selectAll('rect.bars')
        .data(this.data)
        .enter()
        .append('rect')
        .attr('class', 'bars')
        .attr('x', d => this.XAxis(d.year))
        .attr('y', d => this.YAxis(d.total))
        .attr('width', this.barWidth)
        .attr('fill', '#f38063')
        .attr('fill-opacity', 0.5)
        .attr('stroke-wdith', 0.5)
        .attr('stroke', '#f38063')
        .attr('height', 0)
        .transition('drawup')
        .duration(1000)
        .attr('height', d => this.YAxis(0) - this.YAxis(d.total))
        .delay((d, i) => 100 * i);
    },
    drawPopulationAnnotation() {
      // draw annotations
      const populationAnnotation = this.chartSVG.append('g').attr('class', 'populationAnnotation').attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      const annotations = [
        {
          note: {
            label: "1921: Exceptional year for population growth",
            wrap: 170,
          },
          data: { year: 1921, immigrants: 420000},
          dy: -50,
          dx: 0,
          connector: { end: 'arrow' }
        },
      ].map(d => { d.color = "#000000"; return d})

      const makeAnnotations = d3Annotate
        .annotation()
        .type(d3Annotate.annotationLabel)
        .accessors({
          x: d => this.XAxis(d.year),
          y: d => this.YAxis(d.immigrants)
        })
        .annotations(annotations);

      populationAnnotation.call(makeAnnotations);
      d3.selectAll('rect.annotation-note-bg').attr('fill', '#F5F0E8').attr('fill-opacity', 1);
      d3.selectAll('text.annotation-note-label').attr('fill', '#343434 ');
    },
    drawGenderLines() {
      this.chartSVG.append('g').attr('class', 'genderLines').attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);;
      // create a group for line F
      const lineMale = this.chartSVG
        .select('g.genderLines')
        .append('g')
        .attr('class', 'lineMale')
        .append('path')
        .datum(this.data)
        .attr('fill', 'none')
        .attr('stroke', '#4C4B94')
        .attr('stroke-width', 4)
        .attr('d', d3.line()
          .x(d => this.XAxis(d.year))
          .y(d => this.YAxis(d.genderMale))
        );

      const totalLengthM = lineMale.node().getTotalLength();
      lineMale
        .attr('stroke-dasharray', totalLengthM + ' ' + totalLengthM)
        .attr('stroke-dashoffset', totalLengthM)
        .transition('drawline').duration(500).ease(d3.easeLinear)
        .attr('stroke-dashoffset', 0);

      this.chartSVG
        .select('g.lineMale')
        .append('text')
        .text('Male')
        .attr('fill', '#4C4B94')
        .attr('stroke', '#4C4B94')
        .attr('stroke-width', 0.5)
        .attr('y', d => this.YAxis(320000))
        .attr('x', d => this.XAxis(1928));

      // create a group for line F
      const lineFemale = this.chartSVG
        .select('g.genderLines')
        .append('g')
        .attr('class', 'lineFemale')
        .append('path')
        .datum(this.data)
        .attr('fill', 'none')
        .attr('stroke', '#DA5454')
        .attr('stroke-width', 4)
        .attr('d', d3.line()
          .x(d => this.XAxis(d.year))
          .y(d => this.YAxis(d.genderFemale))
        );
      const totalLengthF = lineFemale.node().getTotalLength();
      lineFemale
        .attr('stroke-dasharray', totalLengthF + ' ' + totalLengthF)
        .attr('stroke-dashoffset', totalLengthF)
        .transition('drawline').duration(500).ease(d3.easeLinear)
        .attr('stroke-dashoffset', 0);

      this.chartSVG
        .select('g.lineFemale')
        .append('text')
        .text('Female')
        .attr('fill', '#DA5454')
        .attr('stroke', '#DA5454')
        .attr('stroke-width', 0.5)
        .attr('y', d => this.YAxis(170000))
        .attr('x', d => this.XAxis(1928));
    },
    drawBirthDeathLines() {
      const birthdeathLines = this.chartSVG.append('g').attr('class', 'birthdeathLines').attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      // Birth Line
      birthdeathLines
        .append('g')
        .attr('class', 'lineBirth')
        .append('path')
        .datum(this.data)
        .attr('fill', 'none')
        .attr('stroke', '#4B876E')
        .attr('stroke-width', 4)
        .transition()
        .duration(0)
        .attr('d', d3.line()
          .x(d => this.XAxis(d.year))
          .y(d => this.YAxis(+d.totalBirth))
        );

      // Death Line
      birthdeathLines
        .append('g')
        .attr('class', 'lineDeath')
        .append('path')
        .datum(this.data)
        .attr('fill', 'none')
        .attr('stroke', '#8C437C')
        .attr('stroke-width', 4)
        .transition()
        .duration(0)
        .attr('d', d3.line()
          .x(d => this.XAxis(d.year))
          .y(d => this.YAxis(+d.totalDeath))
        );
    },
    drawBirthDeathAnnotation() {
      // Annotation Group
      this.chartSVG.append('g').attr('class', 'birthdeathAnnotation').attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      const annotations = [
        {
          note: {
            label: "The birth and death numbers relative to the total population per year",
            wrap: 200,
            bgPadding: 5,
          },
          data: { x: 1923, y: 25000},
          dy: -80,
          dx: 0,
          connector: { end: 'arrow' }
        },
      ].map(d => { d.color = "#000000"; return d})

      const makeAnnotations = d3Annotate
        .annotation()
        .type(d3Annotate.annotationLabel)
        .accessors({
          x: d => this.XAxis(d.x),
          y: d => this.YAxis(d.y)
        })
        .annotations(annotations);

      this.chartSVG.select('g.birthdeathAnnotation').call(makeAnnotations);
      d3.selectAll('rect.annotation-note-bg').attr('fill', '#F5F0E8').attr('fill-opacity', 1);
      d3.selectAll('text.annotation-note-label').attr('fill', '#343434');
    },
    rescaleBirthDeathYAxis() {
      // resetting the YAxis
      this.YAxis
        .domain([21000, 0])
        .range([0, this.chartSettings.height]);
      this.chartSVG
        .select('g.YAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .transition('moveAxis').duration(1500)
        .call(d3.axisLeft(this.YAxis).tickSize(0).ticks(6).tickSize(-this.chartSettings.width))
    },
    drawBirthDeathLinesRescale() {
      // draw data lines Birth
      this.chartSVG
        .selectAll('g.lineBirth > path')
        .transition('drawin').duration(1500)
        .attr('d', d3.line()
          .x(d => this.XAxis(d.year))
          .y(d => this.YAxis(+d.totalDeath))
        );

      this.chartSVG
        .select('g.lineBirth')
        .append('text')
        .text('Births')
        .attr('fill', '#4B876E')
        .attr('stroke', '#4B876E')
        .attr('stroke-width', 0.5)
        .attr('y', d => this.YAxis(14000))
        .attr('x', d => this.XAxis(1928))
        .attr('opacity', 0)
        .transition('wordsappear').duration(1000)
        .attr('opacity', 1);

      // draw data lines Death
      this.chartSVG
        .selectAll('g.lineDeath > path')
        .transition('drawin').duration(1500)
        .attr('d', d3.line()
          .x(d => this.XAxis(d.year))
          .y(d => this.YAxis(+d.totalBirth))
        );

      this.chartSVG
        .select('g.lineDeath')
        .append('text')
        .text('Deaths')
        .attr('fill', '#8C437C')
        .attr('stroke', '#8C437C')
        .attr('stroke-width', 0.5)
        .attr('y', d => this.YAxis(18000))
        .attr('x', d => this.XAxis(1928))
        .attr('opacity', 0)
        .transition('wordsappear').duration(1000)
        .attr('opacity', 1);
    },
    drawBirthDeathRescaleAnnotation() {
      this.chartSVG
        .append('g')
        .attr('class', 'birthdeathRescaleAnnotation')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      const annotations = [
        {
          note: {
            label: "Registered births grew by 30 percent from 1920 to 1929.",
            wrap: 240,
            bgPadding: 5,
          },
          data: { x: 1924, y: 12000},
          dy: 40,
          dx: 0,
          connector: { end: 'arrow' }
        },
        {
          note: {
            label: "Increase in the total number of deaths in the later part of the decade",
            wrap: 180,
            bgPadding: 5,
          },
          data: { x: 1926, y: 16900},
          dy: -30,
          dx: -45,
          connector: { end: 'arrow' }
        },
      ].map(d => { d.color = "#000000"; return d})

      const makeAnnotations = d3Annotate
        .annotation()
        .type(d3Annotate.annotationLabel)
        .accessors({
          x: d => this.XAxis(d.x),
          y: d => this.YAxis(d.y)
        })
        .annotations(annotations);

      this.chartSVG.select('g.birthdeathRescaleAnnotation').call(makeAnnotations);
      d3.selectAll('rect.annotation-note-bg').attr('fill', '#F5F0E8').attr('fill-opacity', 1);
      d3.selectAll('text.annotation-note-label').attr('fill', '#343434 ');
    },
    drawSplitGenderDeathCircles() {
      const deathCirclesGroup = this.chartSVG.append('g').attr('class', 'deathCirclesGroup').attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      // draw the gender Male Dots
      deathCirclesGroup
        .append('g')
        .attr('class', 'deathCirclesMale')
        .selectAll('circle.death')
        .data(this.data)
        .enter()
        .append('circle')
        .attr('class', 'death')
        .attr('cx', d => this.XAxis(d.year))
        .attr('cy', d => this.YAxis(d.deathMale))
        .attr('r', 0)
        .attr('fill', '#4C4B94')
        .transition('appear').duration(500).ease(d3.easeElastic)
        .attr('r', this.circleRadius)
        .delay((d, i) => 200 * i);

      d3.select('.deathCirclesMale')
        .append('text')
        .text('Male')
        .attr('x', d => this.XAxis(1928))
        .attr('y', d => this.YAxis(8000))
        .attr('fill', '#4C4B94');

      // draw the gender female dots
      deathCirclesGroup
        .append('g')
        .attr('class', 'deathCirclesFemale')
        .selectAll('circle.death')
        .data(this.data)
        .enter()
        .append('circle')
        .attr('class', 'death')
        .attr('cx', d => this.XAxis(d.year))
        .attr('cy', d => this.YAxis(d.deathFemale))
        .attr('r', 0)
        .attr('fill', '#DA5454')
        .transition('appear').duration(500).ease(d3.easeElastic)
        .attr('r', this.circleRadius)
        .delay((d, i) => 200 * i);

      d3.select('.deathCirclesFemale')
        .append('text')
        .text('Female')
        .attr('x', d => this.XAxis(1928))
        .attr('y', d => this.YAxis(4200))
        .attr('fill', '#DA5454');
    },
    drawImmigrationLines() {
      // define YAxis
      this.YAxis
        .domain([d3.max(this.data, d => d.immigrants), 0])
        .range([0, this.chartSettings.height]);
      this.chartSVG
        .select('g.YAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .transition('rescaleaxis').duration(1500)
        .call(d3.axisLeft(this.YAxis).tickSize(0).ticks(6).tickSize(-this.chartSettings.width));

      //create a group for line
      const immigrationGroup = this.chartSVG.append('g').attr('class', 'immigrationGroup');

      const immigrationLine = immigrationGroup
        .append('path')
        .attr('class', 'immigrationLine')
        .datum(this.data)
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .attr('fill', 'none')
        .attr('stroke', '#F38063')
        .attr('stroke-width', 4)
        .attr('d', d3.line()
          .x(d => this.XAxis(d.year))
          .y(d => this.YAxis(d.immigrants))
        );
      const immigrationLength = immigrationLine.node().getTotalLength();
      immigrationLine
        .attr('stroke-dasharray', immigrationLength + ' ' + immigrationLength)
        .attr('stroke-dashoffset', immigrationLength)
        .transition('drawline').duration(700).ease(d3.easeLinear)
        .attr('stroke-dashoffset', 0);
      // create a group for cicles
      immigrationGroup
        .append('g')
        .attr('class', 'immigrantCircles')
        .selectAll('circle.immigrantCircle')
        .data(this.data)
        .enter()
        .append('circle').attr('class', 'immigrantCircle')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .attr('cx', d => this.XAxis(d.year))
        .attr('cy', d => this.YAxis(d.immigrants))
        .attr('r', 6)
        .attr('fill', '#F38063');
    },
    drawImmigrantAnnotations() {
      // draw annotations
      const immigrantAnnotation = this.chartSVG.append('g').attr('class', 'immigrantAnnotation').attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      const annotations = [
        {
          note: {
            label: "This peaked in 1927, presumably due to increased instability in south China as Chiang Kai-shek stepped up his military operations.",
            wrap: 160,
            bgPadding: 5,
          },
          data: { year: 1922.5, immigrants: 350000},
          dy: 0,
          dx: 0,
          connector: { end: 'arrow' }
        },
      ].map(d => { d.color = "#000000"; return d})

      const makeAnnotations = d3Annotate
        .annotation()
        .type(d3Annotate.annotationLabel)
        .accessors({
          x: d => this.XAxis(d.year),
          y: d => this.YAxis(d.immigrants)
        })
        .annotations(annotations);

      immigrantAnnotation.call(makeAnnotations);
      d3.selectAll('rect.annotation-note-bg').attr('fill', '#F5F0E8').attr('fill-opacity', 1);
      d3.selectAll('text.annotation-note-label').attr('fill', '#343434 ');
    },
    revertToPopulationScale() {
      // resetting the YAxis
      this.YAxis
        .domain([550000, 0])
        .range([0, this.chartSettings.height]);

      this.chartSVG
        .select('g.YAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .transition('moveAxis').duration(1500)
        .call(d3.axisLeft(this.YAxis).tickSize(0).ticks(6).tickSize(-this.chartSettings.width))
    },
    formatEthnicData(data) {
      const initial = data.filter(d => +d.year === 1920);
      const final = data.filter(d => +d.year === 1929);
      this.ethnicData_initial = Object.keys(initial[0]).filter(d => d.includes('ethnic')).map(d => [d, initial[0][d]]);
      this.ethnicData_final = Object.keys(final[0]).filter(d => d.includes('ethnic')).map(d => [d, final[0][d]]);
      // annotations
      this.note_ethnicData_final = [
        {
          note: {
            title: "Year 1929",
            label: "Ethnic Chinese increased to 76% of total local population",
            wrap: 120,  // try something smaller to see text split in several lines
          },
          x: `${this.$el.clientWidth / 2}`,
          y: `${this.$el.clientHeight / 3  + 50}`,
          dy: 0,
          dx: 50,
        },
      ].map(d => { d.color = "#343434 "; return d})
      this.note_ethnicData_initial = [
        {
          note: {
            title: "Year 1920",
            label: "72% of the total local population are ethnic Chinese",
            wrap: 120,
          },
          x: `${this.$el.clientWidth / 2}`,
          y: `${this.$el.clientHeight / 3}`,
          dy: 0,
          dx: 50,
        },
      ].map(d => { d.color = "#343434 "; return d})
    },
    drawEthnicBase() {
      this.ethnicXAxis = d3
        .scaleBand()
        .domain(['ethnic-european', 'ethnic-eurasian', 'ethnic-chinese', 'ethnic-malay', 'ethnic-indian', 'ethnic-others'])
        .range([0, this.$el.clientWidth])
        .padding(0);
      // append axes
      const tickLabels = ['European','Eurasian','Chinese','Malay', 'Indian', 'Others'];
      this.chartSVG
        .append('g')
        .attr('class', 'XAxisEthnic')
        .attr('transform', `translate(0, ${this.chartMargin.top / 2})`)
        .call(
          d3
            .axisTop(this.ethnicXAxis)
            .ticks(6)
            .tickSize(0)
            .tickSizeOuter(0)
            .tickFormat((d, i) => tickLabels[i])
        )
        .call(g => g.select('.domain').remove());
      // append legend
      if (this.$vuetify.breakpoint.smAndDown) {
        const legend = this.chartSVG.append('g').attr('class', 'legend');
        legend
          .append('rect')
          .attr('class', 'legend')
          .attr('x', this.chartMargin.left)
          .attr('y', this.chartSettings.height + this.chartMargin.bottom - 52)
          .attr('height', 15)
          .attr('width', 15)
          .attr('fill', 'grey')
          .style('border', '1px solid black');
        legend
          .append('text')
          .attr('class', 'legend')
          .attr('x', this.chartMargin.left + 20)
          .attr('y', this.chartSettings.height + this.chartMargin.bottom - 40)
          .text('= 2000 people')
          .style('border', '1px solid black');
      }
    },
    drawEthnicSquares(data, annotations, year) {
      // create a group for line
      const colors = {
        'ethnic-european': '#E3AD2B',
        'ethnic-eurasian': '#a03e3b',
        'ethnic-chinese': '#DA5454',
        'ethnic-malay': '#4B876E',
        'ethnic-indian': '#8C437C',
        'ethnic-others': '#bfa7a3',
      };
      data.forEach(d => {
        const ethnicgroup = this.chartSVG
          .append('g')
          .attr('class', `${year}`)
          .attr('transform', `translate(10, ${this.chartMargin.top / 2 + 5})`)
          .selectAll('rect')
          .data(d3.range(+d[1] / this.squareSettings.perSquare))
          .enter()
          .append('rect')
          .attr('width', this.squareSettings.rectWidth)
          .attr('height', this.squareSettings.rectWidth)
          .attr('x', i => this.ethnicXAxis(d[0]) +  i % this.squareSettings.nextLine * this.squareSettings.gap)
          .attr('y', i => Math.floor(i / this.squareSettings.nextLine) * this.squareSettings.gap)
          .attr('fill', colors[d[0]]);
      });

      this.chartSVG
        .append("g")
        .attr("class", `annotation-group ${year}`)
        .call(d3Annotate
          .annotation()
          .type(d3Annotate.annotationCallout)
          .annotations(annotations)
        );
    },
    handleView(currentStep) {
      switch (currentStep) {
        case '1':
          if (this.direction === 'down') {
            console.log('start');
          } else {
            this.chartSVG.select('g.genderLines').remove();
            this.drawPopulationAnnotation();
          }
          break;

        case '2':
          if (this.direction === 'down') {
            this.chartSVG.select('g.populationAnnotation').remove();
            this.drawGenderLines();
          } else {
            this.chartSVG.selectAll('g.birthdeathAnnotation, g.birthdeathLines').remove();
            this.drawGenderLines();
          }
          break;

        case '3':
          if (this.direction === 'down') {
            // remove the gender lines
            this.chartSVG.select('g.genderLines').remove();
            // draw the birth and death
            this.drawBirthDeathLines();
            this.drawBirthDeathAnnotation();
          } else {
            // remove
            this.chartSVG.selectAll('g.birthdeathLines, g.birthdeathRescaleAnnotation').remove();

            // draw
            this.revertToPopulationScale();
            this.drawPopulationBars();
            this.drawBirthDeathLines();
            this.drawBirthDeathAnnotation();
          }
          break;

        case '4':
          if (this.direction === 'down') {
            // remove
            this.chartSVG
              .selectAll('.bars')
              .transition('fadeout').duration(1500)
              .attr('height', 0);
            this.chartSVG.selectAll('g.birthdeathAnnotation').remove();

            // draw
            this.rescaleBirthDeathYAxis();
            this.drawBirthDeathLinesRescale();
            this.drawBirthDeathRescaleAnnotation();

          } else {
            // remove
            this.chartSVG
              .selectAll('g.deathCirclesGroup').remove();

            // draw
            this.drawBirthDeathRescaleAnnotation();
            this.chartSVG.selectAll('g.lineDeath > path, g.lineBirth').attr('opacity', 1);
          }
          break;

        case '5':
          if (this.direction === 'down') {
            // remove
            this.chartSVG
              .selectAll('g.birthdeathRescaleAnnotation').remove();

            // opacity change
            this.chartSVG
              .select('g.lineDeath > path')
              .attr('opacity', 1)
              .transition('fadeout').duration(500)
              .attr('opacity', 0.1);
            this.chartSVG.select('g.lineBirth').attr('opacity', 0);

            // draw
            this.drawSplitGenderDeathCircles();
          } else {
            // remove
            this.chartSVG.selectAll('g.immigrationGroup, g.birthdeathLines, g.immigrantAnnotation').remove();

            // draw
            this.drawBirthDeathLines();
            this.rescaleBirthDeathYAxis();
            this.drawSplitGenderDeathCircles();
            this.drawBirthDeathLinesRescale();

            this.chartSVG
              .select('g.lineDeath > path')
              .attr('opacity', 0.1);
            this.chartSVG.select('g.lineBirth').attr('opacity', 0);
          }
          break;

        case '6':
          if (this.direction === 'down') {
            // remove
            this.chartSVG.selectAll('g.deathCirclesGroup').remove();

            // opacity
            this.chartSVG.select('g.lineDeath').attr('opacity', 0);

            // draw
            this.drawImmigrationLines();
            this.drawImmigrantAnnotations();
          } else if (this.direction === 'up') {
            // remove
            this.chartSVG.selectAll('g.initial, g.XAxisEthnic, g.legend').remove();
            // draw
            this.drawImmigrationLines();
            this.drawImmigrantAnnotations();
            this.chartSVG.selectAll('.hideObjects').classed('hideObjects', false);
          }
          break;

        case '7':
          if (this.direction === 'down') {
            // remove
            this.chartSVG.selectAll('g.immigrationGroup').remove();
            this.chartSVG.selectAll('*').classed('hideObjects', true);

            // draw
            this.drawEthnicBase();
            this.drawEthnicSquares(this.ethnicData_initial, this.note_ethnicData_initial, 'initial');
          } else if (this.direction === 'up') {
            // remove
            this.chartSVG.selectAll('g.final').remove();

            // draw
            this.drawEthnicSquares(this.ethnicData_initial, this.note_ethnicData_initial, 'initial');
          }
          break;
        case '8':
          if (this.direction === 'down') {
            // remove
            this.chartSVG.selectAll('g.initial').remove();

            // draw
            this.drawEthnicSquares(this.ethnicData_final, this.note_ethnicData_final, 'final');
          }
          break;
      }
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus">
// CSS for all text in SVGs
@import '~vuetify/src/stylus/settings/_variables';

#svgContainer {
  height: 85%;
  width: 100%;
}

.YAxis > .domain {
  opacity: 0;
}

.XAxis text, .YAxis > .tick text, .XAxisEthnic text, .legend text{
  font-family: 'kurat Pro', Helvetica, sans-serif;
  color: rgba(0, 0, 0, .5);
  font-size: 12px;
  @media $display-breakpoints.sm-and-down {
    font-size: 10px;
  }
}

text.label, text.annotation-note-label{
  fill: rgba(0, 0, 0, .7) !important;
  @media $display-breakpoints.sm-and-down {
    font-size: 13px;
  }
}

.XAxis path, .XAxis > .tick line, .YAxis > .tick line {
  stroke: grey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

 .XAxis > .tick line.dashedlineAxis {
  stroke: #a03e3c;
  stroke-opacity: 0.55;
  shape-rendering: crispEdges;
}

a {
  color: #f2784b;
  text-decoration: underline;
}

.square {
  @media $display-breakpoints.sm-and-down {
    height: 15px;
    width: 15px;
  }
  height: 12px;
  width: 25px;
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  // background-color: #d8a76c;
  border: 2px solid grey;
}

.hideObjects {
  display: none;
}
</style>
