<template>
  <div v-scroll="onScroll" id="page-partners">
    <!-- banner -->
    <section class="bgTopo text-xs-center py-5">
      <v-container inner fill-height>
        <v-layout
          column
          fill-height
          justify-center>
          <h1 class="display-2 black--text mb-4 animated">We'd love to hear your story.</h1>

          <p class="headline font-weight-regular black--text animated">Partner with us to transform your data or cause into an engaging story.</p>
        </v-layout>
      </v-container>
    </section>

    <!-- the why -->
    <section class="services-why my-5 py-5">
      <v-container>
        <v-layout wrap align-center>
          <v-flex xs12>
            <h2 class="display-1 mb-5 text-xs-center animated">Why Kontinentalist?</h2>
          </v-flex>

          <v-flex md6>
            <div
              class="services-why__explainer"
              @mouseenter="showExplainerText = true"
              @mouseleave="showExplainerText = false">
              <!-- poster -->
              <img
                src="~/assets/img/services/explainer-video.png"
                alt="explainer-video"
                class="fluid">

              <!-- play button -->
              <div class="btn-play">
                <v-btn
                  icon
                  large
                  @click.stop="showExplainerVideo = true">
                  <img
                    src="~/assets/img/services/play-circle.svg"
                    alt="play-icon"
                    class="fluid">
                </v-btn>

                <v-dialog v-model="showExplainerVideo" max-width="800">
                  <v-card class="pa-5">
                    <!-- close button -->
                    <v-btn
                      icon
                      small
                      class="btn-close"
                      @click="showExplainerVideo = false">
                      <fa-icon :icon="['far', 'times']" fixed-width />
                    </v-btn>

                    <!-- iframe utube -->
                    <div class="responsive-video">
                      <div id="ytplayer" />
                      <!-- <iframe
                        id="ytplayer"
                        src="https://www.youtube.com/embed/6a_YLLzkyBw?enablejsapi=1&origin=http://localhost:3000"
                        frameborder="0" /> -->
                    </div>
                  </v-card>
                </v-dialog>
              </div>

              <!-- poster text -->
              <span v-show="showExplainerText" class="font-secondary font-weight-bold white--text">Learn more about our services</span>
            </div>
          </v-flex>

          <v-flex md6>
            <div class="services-why__text text-md-left text-xs-center pl-5 pl-xs-0">
              <h3 class="title mb-3 my-xs-4 animated">
                We help organisations or individuals bridge the gap between their data and narrative, making their outreach efforts more effective.
              </h3>

              <p class="body-2 mb-3 animated">
                Humans are visual creatures, and often times complex information can be hard to digest. Data and map visualisations provide quick and concise context for readers, engaging and capturing their attention.
              </p>

              <nuxt-link
                to="/about"
                target="_blank"
                class="link--underline font-weight-bold animated"
              >
                Learn more about us
              </nuxt-link>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <!-- personas -->
    <section class="services-personas my-5 py-5">
      <v-container>
        <v-layout wrap text-xs-center>
          <v-flex xs12>
            <h2 class="display-1 mb-5 animated">Storytelling for everyone</h2>
          </v-flex>

          <!-- loop personas -->
          <v-flex
            v-for="persona in personas"
            :key="persona.icon"
            xs6
            md3
          >
            <div class="persona-wrapper px-xs-3 pb-xs-5">
              <img
                :src="require(`~/assets/img/services/icons/services-${persona.icon}.svg`)"
                :alt="persona.icon">

              <h4 class="subheading mt-2">{{ persona.title }}</h4>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <!-- our services -->
    <section class="services-list mt-5">
      <h2 class="display-1 text-xs-center my-5 py-5 py-xs-0 animated">What we can do for you</h2>

      <!-- expedition / explorer -->
      <v-container class="px-0 py-5 my-5">
        <v-layout wrap align-center>
          <v-flex
            md5
            order-md1
            order-xs2
          >
            <div class="services-list__desc">
              <v-layout wrap align-center>
                <v-flex xs3 class="my-3">
                  <img src="~/assets/img/services/icons/services-explorer.svg" alt="explorer-expedition">
                </v-flex>

                <v-flex xs9 class="pl-3">
                  <h3 class="headline mb-3 ml-xs-3">Expedition or Explorer</h3>

                  <p class="body-2 mb-0 hidden-xs-only">
                    An interactive map that will take your narrative on a location-based journey. Perfectly suited for <strong>expedition or travel stories.</strong>
                  </p>
                </v-flex>

                <v-flex xs12 class="hidden-md-and-up">
                  <p class="body-2 mb-0">
                    An interactive map that will take your narrative on a location-based journey. Perfectly suited for <strong>expedition or travel stories.</strong>
                  </p>
                </v-flex>

                <v-flex md12 order-md1>
                  <v-card class="pa-2 mt-5">
                    <v-card-text>
                      <img
                        src="~/assets/img/services/traffic-logo.png"
                        alt="traffic-logo"
                        style="max-width: 80px">

                      <img
                        src="~/assets/img/services/monitor-logo.png"
                        alt="monitor-logo"
                        class="ml-3"
                        style="max-width: 80px">

                      <p class="mt-2 mb-0">
                        A location-based story using conservation research data on the illegal wildlife trade of songbirds  in Southeast Asia. <nuxt-link to="/stories/a-siren-song-disappearing-songbirds-of-asia" class="primary--text font-weight-bold">Read story</nuxt-link>
                      </p>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>

          <v-flex
            md6
            offset-md1
            order-md1
            order-xs1
          >
            <div class="services-list__card bleed-r">
              <!-- video background -->
              <div class="video-wrapper">
                <video
                  :poster="require('@/assets/img/services/videos/explorer-poster.png')"
                  preload="none"
                  playsinline
                  autoplay
                  loop
                  muted
                  class="elevation--4">

                  <source src="@/assets/img/services/videos/explorer-songbird.mp4" type="video/mp4">
                  Your browser doesn't support HTML5 video.
                </video>
              </div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>

      <!-- chronicle -->
      <v-container class="px-0 py-5 my-5">
        <v-layout wrap align-center>
          <v-flex md6>
            <div class="services-list__card bleed-l">
              <!-- video background -->
              <div class="video-wrapper">
                <video
                  :poster="require('@/assets/img/services/videos/chronicle-poster.png')"
                  preload="none"
                  playsinline
                  autoplay
                  loop
                  muted
                  class="elevation--4">

                  <source src="@/assets/img/services/videos/chronicle-stableseas.mp4" type="video/mp4">
                  Your browser doesn't support HTML5 video.
                </video>
              </div>
            </div>
          </v-flex>

          <v-flex md5 offset-md1>
            <div class="services-list__desc">
              <v-layout wrap align-center>
                <v-flex xs3 class="my-3">
                  <img src="~/assets/img/services/icons/services-chronicle.svg" alt="chronicle">
                </v-flex>

                <v-flex xs9 class="pl-3">
                  <h3 class="headline mb-3 ml-xs-3">Chronicle</h3>

                  <p class="body-2 mb-0 hidden-xs-only">
                    A full editorial story accompanied with designed visuals and data visualisations across a spectrum.
                  </p>
                </v-flex>

                <v-flex xs12 class="hidden-md-and-up">
                  <p class="body-2 mb-0">
                    A full editorial story accompanied with designed visuals and data visualisations across a spectrum.
                  </p>
                </v-flex>

                <v-flex md12>
                  <v-card class="pa-2 mt-5">
                    <v-card-text>
                      <img
                        src="~/assets/img/services/stableseas-logo.jpg"
                        alt="stableseas-logo"
                        style="max-width: 80px">

                      <p class="mt-2 mb-0">
                        A story coupled with data visualisations and maps about piracy and maritime security, which takes a closer look at the relationship between global oil transportation, poverty and piracy zones. <nuxt-link
                          to="/stories/troubled-waters-piracy-in-asia"
                          target="_blank"
                          class="primary--text">Read story</nuxt-link>
                      </p>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
      </v-container>

      <!-- custom -->
      <v-container class="px-0 py-5 my-5">
        <v-layout wrap align-center>
          <v-flex
            md5
            order-md1
            order-xs2
          >
            <div class="services-list__desc">
              <v-layout wrap align-center>
                <v-flex xs3 class="my-3">
                  <img src="~/assets/img/services/icons/services-custom.svg" alt="custom">
                </v-flex>

                <v-flex xs9 class="pl-3">
                  <h3 class="headline mb-3 ml-xs-3">Custom</h3>

                  <p class="body-2 mb-0 hidden-xs-only">
                    A custom story and visualisation tailored to your unique dataset and storytelling requirements.
                  </p>
                </v-flex>

                <v-flex xs12 class="hidden-md-and-up">
                  <p class="body-2 mb-0">
                    A custom story and visualisation tailored to your unique dataset and storytelling requirements.
                  </p>
                </v-flex>
              </v-layout>
            </div>
          </v-flex>

          <v-flex
            md6
            offset-md1
            order-md1
            order-xs1
          >
            <div class="services-list__card bleed-r">
              <!-- video background -->
              <div class="video-wrapper">
                <video
                  :poster="require('@/assets/img/services/videos/custom-poster.png')"
                  preload="none"
                  playsinline
                  autoplay
                  loop
                  muted
                  class="elevation--4">

                  <source src="@/assets/img/services/videos/custom-asian-representation.mp4" type="video/mp4">
                  Your browser doesn't support HTML5 video.
                </video>
              </div>
            </div>
          </v-flex>
        </v-layout>
      </v-container>

      <!-- more list -->
      <v-container my-5 py-5>
        <v-layout wrap class="text-xs-center">
          <v-flex xs12>
            <h3 class="headline mb-5">
              Nothing here fits what you’re looking for? <br>
              We provide customised solutions for all needs.
            </h3>
          </v-flex>

          <!-- loop extra services -->
          <v-flex
            v-for="service in servicesCustom"
            :key="service.icon"
            xs12
            md4
          >
            <div class="servicescustom-wrapper mb-5">
              <img
                :src="require(`~/assets/img/services/icons/services-${service.icon}.svg`)"
                :alt="service.icon">

              <h4 class="subheading mt-2 mb-3">{{ service.name }}</h4>

              <p class="px-3">{{ service.desc }}</p>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <!-- testimonials -->
    <section class="page-partners__testimonials my-5 py-5">
      <v-container px-0>
        <h2 class="display-1 text-xs-center mb-4 animated">What our partners say</h2>

        <no-ssr>
          <carousel
            :mouse-drag="false"
            :per-page="this.$vuetify.breakpoint.xsOnly ? 1 : 3"
            :pagination-enabled="false"
            :navigation-enabled="true"
            :navigation-prev-label="navigationPrevLabel"
            :navigation-next-label="navigationNextLabel">
            <slide
              v-for="item in testimonials"
              :key="item.name"
              class="px-4 py-5 px-xs-0">

              <v-card class="pa-2 text-md-left text-xs-center" style="height: 100%">
                <v-card-text class="px-xs-4">
                  <!-- avatar -->
                  <v-avatar size="100" class="mb-4">
                    <img
                      :src="item.image_url.url"
                      :alt="item.name"
                      class="fluid">
                  </v-avatar>

                  <!-- name -->
                  <h3 class="body-2 font-weight-bold mb-2">{{ item.name }}</h3>

                  <!-- title -->
                  <p class="caption font-secondary primary--text mb-3">{{ item.job_title }}</p>

                  <!-- comment -->
                  <div v-html="item.testimonial" />
                </v-card-text>
              </v-card>
            </slide>
          </carousel>
        </no-ssr>
      </v-container>
    </section>

    <!-- contact typeform -->
    <section class="services-contact mt-3">
      <div class="typeform-widget" style="height: 450px;" />
    </section>

    <!-- partners -->
    <section class="page-partners__companies text-xs-center">
      <v-container>
        <v-layout
          wrap
          justify-center
          align-center>
          <v-flex
            v-for="logo in partnerLogos"
            :key="logo.ID"
            xs4
            md2
            class="my-3">

            <img :src="logo.url" :alt="logo.name">
          </v-flex>
        </v-layout>
      </v-container>
    </section>

  </div>
</template>

<script>
import animateMixin from '@/mixins/animate';

export default {
  mixins: [animateMixin],
  data() {
    return {
      showExplainerVideo: false,
      showExplainerText: false,
      YTPlayer: {},
      personas: [
        { icon: 'publishers', title: 'Journalists / Publishers' },
        { icon: 'researchers', title: 'Researchers / Educators' },
        { icon: 'ngo', title: 'Non-profit Organisations' },
        { icon: 'anyone', title: 'Anyone with data' },
      ],
      servicesCustom: [
        {
          icon: 'geospatialconsultancy',
          name: 'Geospatial Consultancy',
          desc: 'Consultancy and geospatial analysis to further your work and cause.',
        },
        {
          icon: 'dataviz',
          name: 'Data Visualisation',
          desc: 'We transform data into visual insights and stories.',
        },
        {
          icon: 'editorialconsultancy',
          name: 'Editorial Consultancy',
          desc: 'We provide fully customizable editorial consultancy for all your storytelling needs.',
        },
      ],
    };
  },
  computed: {
    navigationPrevLabel() {
      return `<svg data-v-4effa82a="" aria-hidden="true" data-prefix="far" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-left fa-w-8 fa-fw"><path data-v-4effa82a="" fill="currentColor" d="M231.293 473.899l19.799-19.799c4.686-4.686 4.686-12.284 0-16.971L70.393 256 251.092 74.87c4.686-4.686 4.686-12.284 0-16.971L231.293 38.1c-4.686-4.686-12.284-4.686-16.971 0L4.908 247.515c-4.686 4.686-4.686 12.284 0 16.971L214.322 473.9c4.687 4.686 12.285 4.686 16.971-.001z" class=""></path></svg>`;
    },
    navigationNextLabel() {
      return `<svg data-v-4effa82a="" aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-chevron-right fa-w-8 fa-fw"><path data-v-4effa82a="" fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z" class=""></path></svg>`;
    },
  },
  watch: {
    showExplainerVideo(currentVal) {
      if (currentVal) {
        this.YTPlayer.playVideo();
      } else {
        this.YTPlayer.stopVideo();
      }
    },
  },
  mounted() {
    // load youtube player instance
    this.YTPlayer = this.onYouTubeIframeAPIReady();

    // load typeform
    const embedElement = document.querySelector('.typeform-widget'); // NOTE: `.target-dom-node` is the target DOM element from your website or web app

    this.$typeformEmbed.makeWidget(
      embedElement,
      'https://kontinentalist432214.typeform.com/to/zXVKQL', // NOTE: Replace with your typeform URL
      {
        hideHeaders: true,
        hideFooter: true,
      }
    );
  },
  methods: {
    onScroll() {
      this.isInViewport();
    },
    onYouTubeIframeAPIReady() {
      /* global YT */
      const player = new YT.Player('ytplayer', {
        width: '100%',
        height: '100%',
        videoId: '6a_YLLzkyBw',
        events: {
          onReady: e => {
            e.target.stopVideo();
          },
        },
      });

      return player;
    },
  },
  async asyncData({ app }) {
    const [services] = await app.$axios.$get('pages?slug=services');

    return { testimonials: services.acf.partner_testimonials, partnerLogos: services.acf.partner_logos };
  },
  head() {
    return {
      title: 'Our Services',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We welcome collaborations. Partner with us to transform your data or cause into an engaging story.',
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: 'We welcome collaborations. Partner with us to transform your data or cause into an engaging story.',
        },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: 'Our Services' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/bri-booklet.jpg')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.bgTopo {
  background-position: center;
}

.link--underline {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #F38063;

  &:hover {
    color: #f2784b;
  }
}

.v-dialog {
  .v-card {
    position: relative;

    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
    }

    .responsive-video {
      position: relative;

      &:before {
        content: '';
        display: block;
        padding-top: 56.25%;
      }

      >>> iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.services-why {
  .services-why__explainer {
    position: relative;

    &:hover {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
      }
    }

    .btn-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .v-btn {
        width: 80px;
      }
    }

    span {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -65%);
    }
  }

  .services-why__text {
    height: 100%;

    h3 {
      line-height: 1.5 !important;
    }
  }
}

.services-personas {
  background-color: #FAFAFA;

  .persona-wrapper {
    img {
      max-width: 120px;
    }

    h4 {
      word-wrap: break-word;
    }
  }
}

.services-list {
  position: relative;

  .services-list__card {
    position: relative;
    height: 100%;

    video {
      width: 100%;
    }
  }

  .services-list__desc {
    img {
      max-width: 110px;
    }
  }

  .servicescustom-wrapper {
    img {
      max-height: 120px;
    }
  }

  @media $display-breakpoints.xs-only {
    .bleed-l {
      margin-left: unset;
    }

    .bleed-r {
      margin-right: unset;
    }

    .ml-xs-3 {
      margin-left: 16px;
    }

    .services-list__desc {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }
}

.services-contact {
  background-color: #F1ECE2;
}

.page-partners__companies {
  background-color: #F5F5F5;

  img {
    max-width: 90px;
  }
}

.page-partners__testimonials {
  @media $display-breakpoints.xs-only {
    >>> .VueCarousel-navigation-button {
      transform: translate(0, -50%);
    }
  }
}

@media $display-breakpoints.xs-only {
  .pl-xs-0 {
    padding-left: 0 !important;
  }

  .pb-xs-5 {
    padding-bottom: 48px !important;
  }

  .px-xs-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .px-xs-3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .px-xs-4 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .py-xs-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .my-xs-4 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
}
</style>
