<template>
  <section class="post-static__end">
    <v-container inner>
      <v-layout wrap>
        <!-- references -->
        <v-flex xs12>
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
              <div class="single-post__references mt-3">
                <ul class="list--none">
                  <li
                    v-for="(ref, i) in footerData.references"
                    :key="i"
                    class="mb-3"
                  >
                    <p class="mb-0">{{ ref.reference_citation }}</p>
                    <a
                      v-if="ref.reference_link"
                      :href="ref.reference_link"
                      class="primary--text"
                    >
                      {{ ref.reference_link }}
                    </a>

                    <p v-if="ref.license">License at: <a :href="ref.license" class="primary--text">{{ ref.license }}</a></p>
                  </li>
                </ul>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <!-- author -->
          <v-card class="single-post__author py-3 mb-4">
            <v-container grid-list-xl>
              <v-layout
                wrap
                align-center>

                <v-flex
                  xs12
                  sm3
                  md3>
                  <v-avatar
                    size="100%">
                    <AppImage
                      :img-object="footerData.author.profile_photo"
                      :custom-fallback-src="footerData.author.avatar_urls['96']"
                      :alt="footerData.author.name"
                    />
                  </v-avatar>
                </v-flex>

                <v-flex
                  xs12
                  sm9
                  md9>
                  <div class="single-post__author-bio">
                    <h3 class="title mb-3">About {{ footerData.author.name }}</h3>
                    <p>{{ footerData.author.description }}</p>
                  </div>
                </v-flex>

              </v-layout>
            </v-container>
          </v-card>

          <!-- topics -->
          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li
                v-for="(topic, i) in footerData.topics"
                :key="topic.id"
                class="d-inline text-lowercase"
              >
                {{ topic.name }}{{ i === footerData.topics.length - 1 ? '' : ', ' }}
              </li>
            </ul>
          </div>

          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" class="primary--text text-underline">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>

        <!-- facebook likes -->
        <v-flex xs12>
          <FacebookLike class="mb-3" />
        </v-flex>
      </v-layout>
    </v-container>

    <PostListAside :post="{id: footerData.post.id, categoryId: footerData.post.categoryId}" />
  </section>
</template>

<script>
// components
import PostListAside from '@/components/posts/regular/PostListAside';

// ui components
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

import FacebookLike from '@/components/vendors/FacebookLike';

import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    PostListAside,
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
    FacebookLike,
    AppImage,
  },
  props: {
    footerData: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.post-static__end {
  position: relative;

  .v-expansion-panel {
    box-shadow: none !important;
  }

  .single-post__references {
    word-wrap: break-word;
  }

  @media $display-breakpoints.md-and-down {
    .single-post__references {
      font-size: 12px;
    }

    .single-post__author {
      >>> img {
        width: 55% !important;
      }

      .single-post__author-bio {
        text-align: center;

        h3 {
          font-size: 16px !important;
        }

        p {
          font-size: 14px !important;
        }
      }
    }
  }
}
</style>
