<template>
  <section class="post-static__map static-post navbar-trigger">
    <Map
      :step="step"
      :final-step="finalStep"
      :is-tour-ended="isTourEnded" />

    <transition name="component-fade">
      <CardIntro
        v-if="isIntro"
        :post="post"
        :post-tags="postTags"
        :author="author"
        @load-tour="loadTour" />
      <Tour
        v-else
        :step="step"
        :final-step="finalStep"
        :is-tour-ended="isTourEnded"
        @trigger-tour="handleStep" />
    </transition>

    <Legend v-show="!isIntro" class="hidden-sm-and-down" />

    <div
      v-show="!isIntro"
      ref="legendMobile"
      class="legend-mobile-container hidden-md-and-up">
      <v-layout align-center>
        <v-flex xs8>
          <transition name="component-fade" mode="out-in">
            <Legend v-if="showLegendMobile" @close-legend="showLegendMobile = false" />
            <LegendToggle v-else @toggle-legend="showLegendMobile = !showLegendMobile" />
          </transition>
        </v-flex>

        <v-flex xs4>
          <TourNavMobile
            :step="step"
            :final-step="finalStep"
            @trigger-tour="handleStep" />
        </v-flex>
      </v-layout>
    </div>
  </section>
</template>

<script>
// components
import Map from '@/components/posts/static/sea-level-rise-asian-cities/controllers/Map';
import Tour from '@/components/posts/static/sea-level-rise-asian-cities/controllers/Tour';
import Legend from '@/components/posts/static/sea-level-rise-asian-cities/controllers/Legend';

import CardIntro from '@/components/posts/static/sea-level-rise-asian-cities/ui/CardIntro';
import LegendToggle from '@/components/posts/static/sea-level-rise-asian-cities/ui/LegendToggle';
import TourNavMobile from '@/components/posts/static/sea-level-rise-asian-cities/ui/TourNavMobile';

export default {
  components: {
    Map,
    Tour,
    Legend,
    CardIntro,
    LegendToggle,
    TourNavMobile,
  },
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    author: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
    isTourEnded: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data() {
    return {
      isIntro: true,
      showLegendMobile: true,
      step: 1,
    };
  },
  computed: {
    finalStep() {
      // desktop - 15, mobile - 20
      return this.$vuetify.breakpoint.mdAndUp ? 15 : 20;
    },
  },
  mounted() {
    // fix mobile viewport height issue - minHeight 100vh
    document.querySelector('.application--wrap').style.minHeight = 'unset';

    document.querySelector('.post-static__map').style.height = `${window.innerHeight - 64}px`;
  },
  methods: {
    loadTour() {
      this.isIntro = false;

      // quick fix
      document.querySelector('.post-static__map').style.height = `${window.innerHeight - 64}px`;
    },
    handleStep(event) {
      if (event === 'back' && this.step > 1) {
        this.step--;
      } else if (event === 'next') {
        this.step++;

        if (this.step === 2) {
          this.showLegendMobile = false;
        }

        // end tour
        if (this.step >= this.finalStep) {
          this.$emit('end-tour');
        }
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.post-static__map {
  position: relative;
  width: 100%;
  // height: calc(100vh - 64px);
  // height: 100%;

  .legend-mobile-container {
    position: absolute;
    left: 5%;
    bottom: 2.5%;
    width: 90%;
  }
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .1s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
