<template>
  <v-container grid-list-xl class="mb-5">
    <h2 class="headline text-xs-center mb-3">Other Open Positions</h2>

    <v-layout wrap>
      <v-flex
        v-for="job in otherJobs"
        :key="job.job_id"
        xs12
        md4
      >
        <v-card :to="{ name: 'careers-slug', params: {slug: job.job_slug} }">
          <v-card-text>
            <h3 class="body-2 font-weight-bold">{{ job.job_name }}, {{ job.job_country }}</h3>

            <p>Applications close in {{ job.job_end_date | moment("from", "now", true) }}</p>

            <span class="primary--text">
              Learn more <fa-icon :icon="['far', 'long-arrow-right']" fixed-width />
            </span>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: {
    jobId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      otherJobs: null,
    };
  },
  mounted() {
    this.fetchAllJobs();
  },
  methods: {
    async fetchAllJobs() {
      const careers = await this.$axios.$get('careers');

      const otherJobs = careers.jobs.filter(job => job.job_id !== this.jobId).filter(job => job.job_status);

      // Randomize and get 6 jobs
      this.otherJobs = this.$_.sampleSize(otherJobs, 6);
    },
  },
};
</script>
