<template>
  <div v-scroll="onScroll" class="post-static">
    <div class="post-static__map static-post">
      <SectionMap />
    </div>
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

// components
import SectionMap from '@/components/posts/static/paranormal-sg/views/map/SectionMap';

export default {
  layout: 'singlePost',
  components: {
    SectionMap,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      lastPos: 0,
    };
  },
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(`posts?slug=singapore-where-got-ghost&_embed`);

    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    return { post };
  },
  head() {
    return {
      title: `${this.post.title.raw} - Chapter 1: Map of Confessions`,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        {
          hid: 'og:title',
          name: 'twitter:title',
          property: 'og:title',
          content: `${this.post.title.raw} - Chapter 1: Map of Confessions`,
        },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}/data/paranormal-sg/img/seothumbnail.png`,
        },
      ],
      link: [
        { rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL },
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Averia+Serif+Libre:700&display=swap' },
        { rel: 'stylesheet', href: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' },
      ],
    };
  },
};
</script>

<style lang="stylus" scoped>
.post-static {
  height: 100%;
  color: #DAD4BB;

  .post-static__map {
    height: 100%;
  }
}
</style>

<style lang="stylus">
.font-paranormal {
  font-family: 'Averia Serif Libre', cursive !important;
}
</style>
