<template>
  <div class="intro-container">
    <div class="intro-container__card text-xs-center elevation--2">
      <div class="pa-5 pa-xs-4">
        <span class="font-secondary primary--text" v-html="postTags"/>

        <h1 class="display-2 text-xs-center my-3">{{ post.title.raw }}</h1>

        <address class="caption font-secondary mb-2">by {{ author.name }}</address>

        <time class="caption font-secondary">
          <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
        </time>

        <div class="text-xs-left my-3" v-html="post.content.rendered"/>

        <v-btn
          nuxt
          medium
          depressed
          color="primary"
          @click="$emit('load-tour')"
        >
          Continue <fa-icon :icon="['far', 'long-arrow-right']" class="ml-1" />
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    author: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
};
</script>


<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.intro-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .intro-container__card {
    max-width: 450px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  @media $display-breakpoints.sm-and-down {
    left: 0;
    transform: translateY(-50%);

    .intro-container__card {
      max-width: 90%;
      margin: auto;

      .pa-xs-4 {
        padding: 24px !important;
      }

      h1 {
        font-size: 22px !important;
      }
    }
  }
}
</style>
