<template>
  <v-btn
    :ripple="false"
    color="white"
    @click="$emit('toggle-legend')">
    View Legend
  </v-btn>
</template>

<style lang="stylus" scoped>
.v-btn {
  height: 30px !important;
  color: #000;
}
</style>
