<template>
  <div class="map-control-container">
    <div class="mapboxgl-ctrl mapboxgl-ctrl-group">
      <button @click="$emit('zoom', 'in')">
        <fa-icon :icon="['far', 'plus']" fixed-width />
      </button>

      <button @click="$emit('zoom', 'out')">
        <fa-icon :icon="['far', 'minus']" fixed-width />
      </button>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.map-control-container {
  position: absolute;
  top: 20px;
  right: 20px;
}
</style>
