<template>
  <div class="tour-container__text pa-3">
    <transition name="fade" mode="out-in">
      <div
        v-if="step === 1"
        key="view-1"
        class="tour-text"
      >
        <p>
          Rising sea levels is a major threat of our current <a href="https://www.theguardian.com/environment/2019/may/17/why-the-guardian-is-changing-the-language-it-uses-about-the-environment" target="_blank">climate crisis.</a> Up to <a href="http://sealevel.climatecentral.org/uploads/research/Global-Mapping-Choices-Report.pdf" target="_blank">760 million people</a> risk losing their homes if climate emissions are left unchecked. Studies have projected sea levels to likely exceed <span class="highlight--sealevel-short"><a href="https://www.pnas.org/content/116/23/11195" target="_blank">two metres</a> by 2100.</span>
        </p>
      </div>

      <div
        v-else-if="step === 2"
        key="view-2"
        class="tour-text"
      >
        <p>
          It is estimated that with every degree increase of global warming, long-term sea levels will <a href="https://www.reuters.com/article/us-climate-ice-study/seas-may-rise-2-3-meters-per-degree-of-global-warming-report-idUSBRE96E0GQ20130715" target="_blank">increase by 2.3 metres.</a> This means most of the world’s coastal areas will be permanently underwater within the next few centuries.
        </p>
      </div>

      <div
        v-else-if="step === 3"
        key="view-3"
        class="tour-text"
      >
        <p>
          If lifestyles and consumption habits around the world do not change significantly, global temperatures will warm by 4 degrees celsius.
        </p>
      </div>

      <div
        v-else-if="step === 4"
        key="view-4"
        class="tour-text"
      >
        <p class="mb-3">
          This equates to a startling <span class="highlight--sealevel-long"><a href="http://sealevel.climatecentral.org/uploads/research/Global-Mapping-Choices-Report.pdf" target="_blank">8.9 metres</a> of eventual rise in global sea levels.</span> Even more unfortunately for the equatorial pacific region, <a href="https://www.climatecentral.org/news/ice-melt-means-uneven-sea-level-rise-around-the-world-15640" target="_blank">uneven sea level rise</a> means they will be hit the worst with an above average increase.
        </p>

        <p class="font-secondary font-weight-bold primary--text">
          Next: The major Asian cities impacted – Shanghai, China
        </p>
      </div>

      <div
        v-else-if="step === 5"
        key="view-5"
        class="tour-text"
      >
        <h2 class="title mb-3">The major Asian cities impacted</h2>

        <h3 class="body-2 font-weight-bold mb-2">Shanghai, China</h3>

        <p>
          Shanghai, the Chinese metropolis of more than 24 million people, is one of the major cities most vulnerable to sea level rise. It lies on the plains of the Yangtze River Delta, and has an average elevation of 4 metres above sea level.
        </p>
      </div>

      <div
        v-else-if="step === 6"
        key="view-6"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Shanghai, China</h3>

        <p>
          With 4 degree celsius of warming, most of Shanghai will eventually be inundated, and over <a href="http://sealevel.climatecentral.org/uploads/research/Global-Mapping-Choices-Report.pdf" target="_blank">20 million people</a> will be affected.
        </p>
      </div>

      <div
        v-else-if="step === 7"
        key="view-7"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Shanghai, China</h3>

        <p class="mb-3">
          Iconic places such as the famous Bund or the Pudong international airport will be submerged in due time. In the meantime, the city has taken steps to reduce this threat by constructing over <a href="https://gbtimes.com/shanghai-takes-measures-against-rising-sea-levels" target="_blank">500 kilometres of sea walls</a> along the city’s coastline.
        </p>

        <p class="font-secondary font-weight-bold primary--text">
          Next: Ho Chi Minh City, Vietnam
        </p>
      </div>

      <div
        v-else-if="step === 8"
        key="view-8"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Ho Chi Minh City, Vietnam</h3>

        <p>
          Situated near the low-lying Mekong Delta, Ho Chi Minh serves as Vietnam’s <a href="https://www.vietnam-briefing.com/news/ho-chi-minh-city-how-vietnams-emerging-megacity-will-develop.html/" target="_blank">economic focal point.</a> The city is already prone to annual flooding from rainfall and storm surges, and global warming is expected to make matters worse.
        </p>
      </div>

      <div
        v-else-if="step === 9"
        key="view-9"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Ho Chi Minh City, Vietnam</h3>

        <p>
          A quarter of the city will be <a href="https://www.nytimes.com/2009/09/24/world/asia/24delta.html" target="_blank">inundated</a> with a sea level rise of a meter, and a further rise of 8.9 meters will be even more disastrous for the city’s 8.6 million residents.
        </p>
      </div>

      <div
        v-else-if="step === 10"
        key="view-10"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Ho Chi Minh City, Vietnam</h3>

        <p>
          Scientists predict that two-fifths of the Mekong Delta will be <a href="https://www.bbc.com/news/science-environment-34407061" target="_blank">submerged</a> with just a meter rise in sea level. With 17 million people currently living there, there will be <a href="https://www.nytimes.com/2009/09/24/world/asia/24delta.html" target="_blank">mass migrations</a> of climate refugees by the end of the century.
        </p>
      </div>

      <div
        v-else-if="step === 11"
        key="view-11"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Ho Chi Minh City, Vietnam</h3>

        <p class="mb-3">
          Sea level rise is also threatening the region’s role as Asia’s rice bowl. As saltwater push further inland, the increased salinity ruins agricultural land. Already, local rice farmers are increasingly turning to <a href="https://www.bbc.com/news/science-environment-34407061" target="_blank">shrimp farming</a> instead.
        </p>

        <p class="font-secondary font-weight-bold primary--text">
          Next: Jakarta, Indonesia
        </p>
      </div>

      <div
        v-else-if="step === 12"
        key="view-12"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Jakarta, Indonesia</h3>

        <p>
          Jakarta, a city of over 10 million residents, is sinking fast. Over a quarter of the entire city is <a href="https://www.straitstimes.com/asia/se-asia/sinking-jakarta-could-face-major-flooding-by-2025-experts-say" target="_blank">projected</a> to be submerged by 2025, and North Jakarta faces near complete inundation by 2050. This environmental threat has contributed to President Joko Widodo’s decision to <a href="https://www.washingtonpost.com/opinions/2019/05/03/seas-rise-indonesia-is-moving-its-capital-city-other-cities-should-take-note/?noredirect=on&utm_term=.fc6c98122299" target="_blank">relocate the capital.</a>
        </p>
      </div>

      <div
        v-else-if="step === 13"
        key="view-13"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Jakarta, Indonesia</h3>

        <p>
          The peril that Jakarta faces is twofold — a combination of rising sea levels and land subsidence. Illegal groundwater extraction by residents at an excessive rate has resulted in a city that continues sinking year after year.
        </p>
      </div>

      <div
        v-else-if="step === 14"
        key="view-14"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Jakarta, Indonesia</h3>

        <p class="mb-3">
          The <a href="https://www.channelnewsasia.com/news/asia/indonesia-jakarta-flooding-great-sea-wall-11662564" target="_blank">Giant Sea Wall</a> project is part of the National Capital Integrated Coastal Development (NCICD) masterplan to save the city from going under, though there are questions about its effectiveness. Nonetheless, it is a timely attempt at a solution, particularly as current seawalls are <a href="https://www.thejakartapost.com/news/2018/12/11/leaks-in-north-jakarta-sea-wall-worry-residents.html" target="_blank">failing.</a>
        </p>

        <p class="font-secondary font-weight-bold primary--text">
          Next: Bangkok, Thailand
        </p>
      </div>

      <div
        v-else-if="step === 15"
        key="view-15"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Bangkok, Thailand</h3>

        <p>
          The Thai capital faces a similar problem of rising waters and land subsidence, with parts of Bangkok potentially underwater <a href="https://www.theguardian.com/environment/2011/sep/06/bangkok-thailand-risks-steadily-sinking" target="_blank">by 2032.</a> Situated in the low-lying Chao Phyara Delta, the city currently lies on average one to two metres above mean sea level, and every year the land <a href="https://urbanland.uli.org/sustainability/bangkok-the-sinking-city-faces-severe-climate-challenges/" target="_blank">sinks further</a> by up to 2 centimetres.
        </p>
      </div>

      <div
        v-else-if="step === 16"
        key="view-16"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Bangkok, Thailand</h3>

        <p class="mb-3">
          Bangkok city authorities have attempted to address the issue with <a href="https://www.channelnewsasia.com/news/asia/asia-s-future-cities-can-bangkok-turn-back-the-rising-tide-and-s-7612754" target="_blank">stricter laws</a> on groundwater pumping, and construction projects like the <a href="https://asiancorrespondent.com/2018/08/bangkok-sinking/" target="_blank">CU Centennial Park</a> that collects and redirects up to one million gallon of water. But it remains to be seen if these efforts will be enough to meet the city’s challenges.
        </p>

        <p class="font-secondary font-weight-bold primary--text">
          Next: Singapore
        </p>
      </div>

      <div
        v-else-if="step === 17"
        key="view-17"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Singapore</h3>

        <p>
          With limited land area and high population density, Singapore’s predicament is best <a href="https://www.todayonline.com/singapore/budget-2019-singapore-will-invest-more-combat-climate-change-and-rising-sea-levels" target="_blank">summed up</a> by Minister Heng Swee Keat: “As a low-lying nation, there is nowhere to hide when sea levels rise.” With retreat not an option, the country has turned to <a href="https://www.straitstimes.com/singapore/as-sea-levels-rise-singapore-prepares-to-stem-the-tide" target="_blank">reinforcing shorelines</a> and raising coastal infrastructure.
        </p>
      </div>

      <div
        v-else-if="step === 18"
        key="view-18"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Singapore</h3>

        <p>
          While the direct impact on Singapore may not appear as dire as the other cities, it’s connectedness to other countries makes it vulnerable. <a href="https://www.ecosperity.sg/content/dam/ecosperity/en/reports/Climate-Change-and-Rising-Sea-Levels_Jan2019.pdf" target="_blank">Food security</a> will be an issue as Singapore is very dependent on global food imports.
        </p>
      </div>

      <div
        v-else-if="step === 19"
        key="view-19"
        class="tour-text"
      >
        <h3 class="body-2 font-weight-bold mb-2">Singapore</h3>

        <p>
          Should rice-producing countries such as Vietnam and Thailand continue losing more agricultural land, global rice supply will be significantly impacted.
        </p>
      </div>

      <div
        v-else-if="step === 20"
        key="view-19"
        class="tour-text"
      >
        <i>Use two fingers to hold and drag the map to explore more areas. <br> Scroll past the map to see references.</i>
        <p class="caption mt-3">
          Disclaimer: The data processed for this story was created from GTOPO30 from <a href="https://www.arcgis.com/home/item.html?id=a45bfeaaa5424e3b979810140a11b90a" target="_blank">U.S. Geological Survey’s Center EROS</a>, and is limited only to the region of Asia.
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
.tour-container__text {
  .tour-text {
    p {
      margin-bottom: 0;

      a {
        color: #f2784b;
        text-decoration: underline;
      }
    }
  }

  .highlight--sealevel-short {
    color: #295674;
    font-weight: 700;

    a {
      color: #295674 !important;
    }
  }

  .highlight--sealevel-long {
    color: #4F90A6;
    font-weight: 700;

    a {
      color: #4F90A6 !important;
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .1s ease;
}
.fade-enter, .fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
