<template>
  <div class="tour-container__tooltip">
    <div class="speech-bubble pa-3">
      Click the arrow to navigate through the story.
    </div>
  </div>
</template>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.tour-container__tooltip {
  position: absolute;
  right: 0;
  transform: translate(110%, 0);
  max-width: 140px;
  border-radius: 4px;
  background-color: #262E43;
  color: #DAD4BB;
  font-size: 12px;
  text-align: left;

  .speech-bubble {
    position: relative;
    border-radius: 4px;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-right-color: #262E43;
      border-left: 0;
      margin-top: -12px;
      margin-left: -12px;
    }
  }

  @media $display-breakpoints.sm-and-down {
    left: 24px;
    bottom: 0;
    transform: translate(0, -75%);

    .speech-bubble {
      padding: 7px !important;

      &:after {
        content: '';
        position: absolute;
        top: unset;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-top-color: #262E43;
        border-bottom: 0;
        margin-left: -12px;
        margin-bottom: -12px;
      }
    }
  }
}
</style>
