<template>
  <div :class="step < finalStep ? 'text-xs-right' : 'text-xs-left'" class="tour-nav-container">
    <v-btn
      :ripple="false"
      fab
      small
      @click="$emit('trigger-tour', 'back')"
    >
      <fa-icon :icon="['far', 'chevron-left']" fixed-width />
    </v-btn>

    <v-btn
      v-show="step < finalStep"
      :ripple="false"
      fab
      small
      color="primary"
      class="mr-0"
      @click="$emit('trigger-tour', 'next')"
    >
      <fa-icon :icon="['far', 'chevron-right']" fixed-width />
    </v-btn>

    <TourTooltip v-show="step === 1" class="hidden-md-and-up" />
  </div>
</template>

<script>
import TourTooltip from '@/components/posts/static/sea-level-rise-asian-cities/ui/TourTooltip';

export default {
  components: {
    TourTooltip,
  },
  props: {
    step: {
      type: Number,
      required: true,
    },
    finalStep: {
      type: Number,
      required: true,
    },
  },
};
</script>


<style lang="stylus" scoped>
.tour-nav-container {
  position: relative;

  .v-btn--small {
    height: 40px !important;
  }
}
</style>
