<template>
  <div v-scroll="onScroll" class="post-static">
    <!-- Map -->
    <SectionMap
      :post="post"
      :post-tags="postTags"
      :author="author"
      :is-tour-ended="isTourEnded"
      @end-tour="handleTourEnd" />

    <!-- Footer -->
    <SectionEnd v-show="isTourEnded" :footer-data="footerData" />
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

// components
import SectionMap from '@/components/posts/static/sea-level-rise-asian-cities/views/SectionMap';
import SectionEnd from '@/components/posts/static/sea-level-rise-asian-cities/views/SectionEnd';

export default {
  layout: 'singlePost',
  components: {
    SectionMap,
    SectionEnd,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      lastPos: 0,
      isTourEnded: false,
    };
  },
  computed: {
    featuredImageUrls() {
      return (
        (this.post &&
          this.post._embedded &&
          this.post._embedded['wp:featuredmedia'] &&
          this.post._embedded['wp:featuredmedia'][0] &&
          this.post._embedded['wp:featuredmedia'][0].source_urls) || { src: '', webp: '', jpeg: '' }
      );
    },
    footerData() {
      return {
        post: {
          id: this.post.id,
          categoryId: this.post.categories[0],
          title: this.post.title.raw,
        },
        author: this.post._embedded.author[0],
        references: this.post.acf.story_references,
        topics: this.post._embedded['wp:term'][1],
      };
    },
    postTags() {
      return `${this.post._embedded['wp:term'][0][0].name} / ${this.post._embedded['wp:term'][2][0].name}`;
    },
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'fixed');
  },
  mounted() {
    this.$FB.init();
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  methods: {
    handleTourEnd() {
      this.isTourEnded = true;

      this.$store.dispatch('setPostTemplate', 'static');
    },
  },
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(
      `posts?slug=going-under-how-sea-level-rise-is-threatening-to-sink-major-asian-cities&_embed`
    );

    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    return { post, author: post._embedded.author[0] };
  },
  head() {
    return {
      title: this.post.title.raw,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.post.title.raw },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: this.featuredImageUrls.src,
        },
      ],
      link: [
        { rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL },
        { rel: 'stylesheet', href: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' },
      ],
    };
  },
};
</script>

<style lang="stylus" scoped>
.post-static {
  height: 100%;
}
</style>
