<template>
  <section id="post-static__contact" class="text-xs-center my-5">
    <h2 class="headline mb-3">
      Enjoyed this story? <br> Engage us to create your own.
    </h2>

    <v-btn
      to="/services"
      nuxt
      color="primary"
      depressed >
      Learn more
    </v-btn>
  </section>
</template>
