<template>
  <section id="post-static__scrolly">
    <v-container
      fluid
      pa-0
      px-4
    >
      <v-layout wrap class="scrolly-side">
        <!-- step container -->
        <v-flex
          sm12
          md3
          order-xs2
          order-md1
          class="scrolly__text"
        >
          <!-- per step - entry step -->
          <div class="step step--shorten" data-step="1-0" />

          <div class="step" data-step="1-1">
            <v-layout fill-height align-center>
              <div class="text-block">
                <h2 class="title mb-3">Methodology</h2>

                <p>
                  To find out, we combed through IMDb’s list of blockbuster movies from 1997 to 2018. We limited our sample to blockbuster movies because profits and mainstream appeal are often cited as reasons for casting a certain Hollywood actor, or the basis for not having a diverse cast.
                </p>

                <p class="hidden-sm-and-up font-weight-bold text-underline">
                  Each rectangle represents a blockbuster movie. The thicker the rectangle, the higher the profit.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-1">
            <div class="text-block">
              <p>
                Subsequently, we categorised the starring cast into four categories — <span style="color: #FE6060" class="font-weight-bold">Asian</span>, <span style="color: #2E2938" class="font-weight-bold">black</span>, <span style="color: #D9DBE6" class="font-weight-bold">white</span>, and <span style="color: #629BA4" class="font-weight-bold">others</span>. The classification is not perfect; whenever the actor has mixed ethnicity that includes either black or Asian ancestry, we classified them as Asian or black. “Others” mainly consisted of actors with Latino or Native American ancestries. By virtue of blockbuster movies being mostly Hollywood produced, the “Asian representation” explored here is primarily of Asian-Americans. Nevertheless, because of Hollywood’s cultural impact, these onscreen stereotypes could eventually be taken for a fact as being the real-life depiction of the entire racial group.
              </p>
            </div>
          </div>

          <div class="step" data-step="1-2">
            <v-layout fill-height align-center>
              <div class="text-block">
                <h2 class="title my-3">Has diversity increased across the years?</h2>

                <p class="hidden-sm-and-up font-weight-bold text-underline">
                  We color each movie by the percentage of white and non-white starring cast in the movie. The darker the shade, the more non-white persons there are in the starring cast of the movie.
                </p>

                <p>
                  To no one’s surprise, the silver screen has historically been dominated by white actors, with only more diversity in recent years.
                </p>

                <p>
                  This development could be read as a collective shift in media towards inclusivity necessitated by criticism against Hollywood’s systemic “Straight White Men” club, or the success of minority-led productions in subscription-based media like Netflix, Amazon Prime, and Hulu.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-3">
            <v-layout class="wrap fill-height align-center align-content-center">
              <div class="text-block">
                <p>
                  In Hollywood movies, Asians are mostly represented by martial arts stars <span class="font-weight-bold text--highlight" style="background-color: #C10707">Jackie Chan</span> and <span class="font-weight-bold text--highlight" style="background-color: #FF3C77">Jet Li</span>, and <span class="font-weight-bold text--highlight" style="background-color: #FF3D00">Chow Yun Fat.</span> Asian women are represented either as the mysterious and sexy Oriental, embodied by <span class="font-weight-bold text--highlight" style="background-color: #FFABA6">Maggie Q</span>, or the capable no-nonsense sidekick played by <span class="font-weight-bold text--highlight" style="background-color: #FFAA8F">Michelle Yeoh.</span>
                </p>
              </div>

              <v-layout column class="list-block">
                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Jackie Chan')"
                        @mouseenter="handleActorsEvent($event, 'Jackie Chan')"
                        @mouseleave="handleActorsEvent($event, 'Jackie Chan')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #C10707;">
                          <img src="/data/asian-representation-in-movies/img/actors/asian/jackiechan.png" alt="Jackie Chan">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Jackie Chan</p>
                      <p>13 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Michelle Yeoh')"
                        @mouseenter="handleActorsEvent($event, 'Michelle Yeoh')"
                        @mouseleave="handleActorsEvent($event, 'Michelle Yeoh')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #FFAA8F;">
                          <img src="/data/asian-representation-in-movies/img/actors/asian/michelleyeoh.png" alt="Michelle Yeoh">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Michelle Yeoh</p>
                      <p>7 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Jet Li')"
                        @mouseenter="handleActorsEvent($event, 'Jet Li')"
                        @mouseleave="handleActorsEvent($event, 'Jet Li')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #FF3C77;">
                          <img src="/data/asian-representation-in-movies/img/actors/asian/jetli.png" alt="Jet Li">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Jet Li</p>
                      <p>6 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Chow Yun-fat')"
                        @mouseenter="handleActorsEvent($event, 'Chow Yun-fat')"
                        @mouseleave="handleActorsEvent($event, 'Chow Yun-fat')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #FF3D00;">
                          <img src="/data/asian-representation-in-movies/img/actors/asian/chowyunfat.png" alt="Chow Yun-fat">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Chow Yun-fat</p>
                      <p>5 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Maggie Q')"
                        @mouseenter="handleActorsEvent($event, 'Maggie Q')"
                        @mouseleave="handleActorsEvent($event, 'Maggie Q')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #FFABA6;">
                          <img src="/data/asian-representation-in-movies/img/actors/asian/maggieq.png" alt="Maggie Q">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Maggie Q</p>
                      <p>5 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-layout>
          </div>

          <div class="step" data-step="1-4">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                There is a small consolation; Asians can still find representation in non-Hollywood movies, i.e. movies produced outside of US studios. Chinese, Indian, and Japanese movies usually feature a large ensemble cast of <span class="font-weight-bold text--highlight" style="background-color: #FE6060">all Asian actors</span>. Whether this is its own form of exclusion is up for debate.
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-5">
            <v-layout class="wrap fill-height align-center align-content-center">
              <div class="text-block">
                <p>
                  Representation of black people is better, but lacks variation. Just seven male black actors account for approximately 25% of all blockbuster movies starring black characters from 1997 to 2018.
                </p>
              </div>

              <v-layout column class="list-block">
                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Samuel L. Jackson')"
                        @mouseenter="handleActorsEvent($event, 'Samuel L. Jackson')"
                        @mouseleave="handleActorsEvent($event, 'Samuel L. Jackson')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #2E2938;">
                          <img src="/data/asian-representation-in-movies/img/actors/black/samuelljackson.png" alt="Samuel L. Jackson">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Samuel L. Jackson</p>
                      <p>26 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Morgan Freeman')"
                        @mouseenter="handleActorsEvent($event, 'Morgan Freeman')"
                        @mouseleave="handleActorsEvent($event, 'Morgan Freeman')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #282DA7;">
                          <img src="/data/asian-representation-in-movies/img/actors/black/morganfreeman.png" alt="Morgan Freeman">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Morgan Freeman</p>
                      <p>25 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Dwayne Johnson')"
                        @mouseenter="handleActorsEvent($event, 'Dwayne Johnson')"
                        @mouseleave="handleActorsEvent($event, 'Dwayne Johnson')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #7D62D8;">
                          <img src="/data/asian-representation-in-movies/img/actors/black/dwaynejohnson.png" alt="Dwayne Johnson">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Dwayne Johnson</p>
                      <p>22 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Jamie Foxx')"
                        @mouseenter="handleActorsEvent($event, 'Jamie Foxx')"
                        @mouseleave="handleActorsEvent($event, 'Jamie Foxx')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #8594DB;">
                          <img src="/data/asian-representation-in-movies/img/actors/black/jamiefoxx.png" alt="Jamie Foxx">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Jamie Foxx</p>
                      <p>17 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Laurence Fishburne')"
                        @mouseenter="handleActorsEvent($event, 'Laurence Fishburne')"
                        @mouseleave="handleActorsEvent($event, 'Laurence Fishburne')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #3C6392;">
                          <img src="/data/asian-representation-in-movies/img/actors/black/laurencefishburne.png" alt="Laurence Fishburne">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Laurence Fishburne</p>
                      <p>16 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Will Smith')"
                        @mouseenter="handleActorsEvent($event, 'Will Smith')"
                        @mouseleave="handleActorsEvent($event, 'Will Smith')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #663C69;">
                          <img src="/data/asian-representation-in-movies/img/actors/black/willsmith.png" alt="Will Smith">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Will Smith</p>
                      <p>16 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex class="mb-3">
                  <v-layout
                    wrap
                    align-center
                    class="list-block__actor"
                  >
                    <v-flex xs2 text-xs-center>
                      <div
                        class="avatar-wrapper"
                        @click="handleActorsEvent($event, 'Eddie Murphy')"
                        @mouseenter="handleActorsEvent($event, 'Eddie Murphy')"
                        @mouseleave="handleActorsEvent($event, 'Eddie Murphy')"
                      >
                        <v-avatar size="100%" style="border: 5px solid #9E1CCC;">
                          <img src="/data/asian-representation-in-movies/img/actors/black/eddiemurphy.png" alt="Eddie Murphy">
                        </v-avatar>
                      </div>
                    </v-flex>

                    <v-flex xs9 class="pl-3">
                      <p class="font-weight-bold">Eddie Murphy</p>
                      <p>13 movies</p>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-layout>
          </div>

          <div class="step" data-step="1-6">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title my-3">Diversity Sells</h2>

                <img
                  src="/data/asian-representation-in-movies/img/quotes/quote-azizansari.png"
                  alt="azizansari"
                  class="fluid mb-3">

                <p>
                  Another issue with minority representation is the whitewashing of characters. Blackface is still a problem but relegated mostly to fraternity and Halloween parties for now. Unfortunately for Asians, there has been tepid progress since the blatantly racist portrayal of I.Y. Yunioshi by Mickey Rooney in Breakfast at Tiffany’s, where the buffoon character conformed to Asian stereotypes of being buck-toothed and “speekee engrish”.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-7">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <p>
                  On the surface, Hollywood is telling “asian” stories, with asian actors via their adaptations of Japanese anime into real life action movies. But the protagonist, usually the hero of the story, is still mainly played by white actors.
                </p>

                <!-- mobile only -->
                <div class="hidden-sm-and-up">
                  <v-layout wrap justify-center>
                    <v-flex xs2>
                      <div class="whitewashing-box" />
                    </v-flex>

                    <v-flex xs10>
                      <h5 class="body-1 font-weight-bold mb-3">Movies that have been accused of white-washing Asian characters</h5>
                    </v-flex>

                    <v-flex xs10 offset-xs2>
                      <p>
                        <strong>Power Rangers (2017)</strong> <br>
                        Elizabeth Banks plays the villain Rita Repulsa, originally an Asian character in Mighty Morphin Power Rangers.
                      </p>
                    </v-flex>

                    <v-flex xs10 offset-xs2>
                      <p>
                        <strong>Ghost in the Shell (2017)</strong> <br>
                        Scarlett Johansson received much flak for her portrayal of cyborg Motoko Kusanagi in “Ghost in the Shell”, where she was digitally altered to look more Asian.
                      </p>
                    </v-flex>
                    <v-flex xs10 offset-xs2>
                      <p>
                        <strong>Doctor Strange (2016)</strong> <br>
                        Tilda Swinton as the Ancient One, originally a Tibetan male mystic in the comic series.
                      </p>
                    </v-flex>
                    <v-flex xs10 offset-xs2>
                      <p>
                        <strong>The Last Airbender (2010)</strong> <br>
                        Noah Ringer and Nicola Peltz play Aang and Katara respectively.
                      </p>
                    </v-flex>
                  </v-layout>
                </div>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-8">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <p class="mt-3">
                  Despite it being a clear example of racial erasure and whitewashing, the systematic underrepresentation of minorities have been rationalised away as a matter of film budget.
                </p>

                <img
                  src="/data/asian-representation-in-movies/img/quotes/quote-ridleyscott.png"
                  alt="ridleyscott"
                  class="fluid mb-3">

                <p>
                  He echoes the conventional wisdom of Hollywood: we are not racist, we are just driven by profits.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-9">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <p>
                  This is true for movies from 1997 to 2007, where an all-white cast performed better in the box office. However from 2008 onwards, specifically from 2015 to 2017, movies with minority actors have fared better, and this trend coincides with increased minority representation in movies.
                </p>

                <p>
                  The simple truth is thus this: movies with minority casts cannot sell if there are not enough of such movies being made.
                </p>

                <p>
                  So what kinds of movies can Asians be found in?
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-10">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title mb-3">Everybody Was Kung-fu Fighting</h2>

                <img
                  src="/data/asian-representation-in-movies/img/kungfu-fighting.png"
                  alt="kungfu-fighting"
                  class="fluid mb-3">

                <p>Asians find themselves mostly represented in the genre of war, fantasy, and action.</p>

                <p>When we look deeper into the movies associated with <strong>fantasy</strong>, it is no wonder why.</p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-11">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title mb-3">Fantasy genre: Asian representation</h2>

                <p>
                  Movies that only have Asians as the minorities in the fantasy genre can be classified in three ways: they are adaptations of <span class="font-weight-bold text--highlight" style="background-color: #C10707">Asian mythologies</span>, <span class="font-weight-bold text--highlight" style="background-color: #FF3C77">wuxia movies (Chinese martial arts)</span>, and are <span class="font-weight-bold text--highlight" style="background-color: #FFABA6">set in Asia.</span>
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-12">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <p>
                  Movies based on <span class="font-weight-bold text--highlight" style="background-color: #C10707">Asian mythologies</span> are often produced by Asian film studios, which tend to retell classical tales in modern ways using new cinematic technologies.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-13">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <p>
                  Hollywood produced movies tell a different type of story. In <span class="font-weight-bold text--highlight" style="background-color: #FF3C77">movies about wuxia</span>, the plot usually revolves around a stoic warrior with a hidden agenda. For <span class="font-weight-bold text--highlight" style="background-color: #FFABA6">movies set in Asia</span>, Asia is portrayed as an exotic or mystical land where the (oftentimes) white protagonist stumbles into in order to uncover some ancient treasures (The Mummy), or have to face off the Asian villain (Pirates of the Caribbean). The <a href="https://tvtropes.org/pmwiki/pmwiki.php/Main/AllAsiansKnowMartialArts" target="_blank">“all Asians know martial arts”</a> trope is consistent throughout all categories, where the reserved character chooses to express himself—be it pain, love, hate, longing—through a sword fighting sequence rather than through speech.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-14">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title mb-3">Fantasy genre: mixed representation</h2>

                <p>
                  Movies with <span class="font-weight-bold text--highlight" style="background-color: #A694AE">mixed representation</span> featuring both <span class="font-weight-bold text--highlight" style="background-color: #FE6060">asian</span> and <span class="font-weight-bold text--highlight" style="background-color: #000">black</span> actors are often featured as part of an ensemble cast. While Asian-Americans generally play less stereotypical characters, characters played by east Asian actors still feel somewhat tokenistic.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-14">
            <v-layout class="fill-height">
              <div class="text-block">
                <p>
                  Case in point: Kris Wu, a Chinese-Canadian, plays a monotonous Sergeant Neza in Valerian and the City of a Thousand Planets, where a review has said he sounded like <a href="https://consequenceofsound.net/2017/07/film-review-valerian-and-the-city-of-a-thousand-planets" target="_blank">he was reading cue cards at a gunpoint.</a> Or Jing Tian, a Chinese actress who plays a biologist in Kong: Skull Island. <a href="https://www.straitstimes.com/lifestyle/entertainment/modest-role-for-chinese-actress-due-to-cuts" target="_blank">Chinese critics have derided her as simply being a flower vase (花瓶)</a>, for she does not propel or contribute to the story in a meaningful way. Both actors represent a different form of tokenism—including famous east Asians to appease Asian investors and cashing in on the lucrative China box office.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-15">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title mb-3">Directors as Auteurs</h2>

                <p>
                  So far we have looked into what is seen on screen—but most of the executive choices that make a movie happen offscreen.
                </p>

                <p>
                  Just as minorities are underrepresented in starring roles, there remains an inertia towards providing opportunities for <span class="font-weight-bold text--highlight" style="background-color: #FE6060">Asian</span>, <span class="font-weight-bold text--highlight" style="background-color: #000">black</span>, and <span class="font-weight-bold text--highlight" style="background-color: #629BA4">other miniority</span> directors.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-15">
            <v-layout class="fill-height">
              <div class="text-block">
                <p>
                  This is significant because directors are in the position to amplify representation by having a major say in the cast, and providing the overall vision to the movie.
                </p>

                <p>
                  While diverse representation is not the sole responsibility of minority directors, nor should the storytelling be driven purely by racial factors, there is a tendency for minority directors to tell stories that challenge racial stereotypes or reflect experiences of persons of colour onscreen.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-16">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title mb-3">Asian Directors</h2>

                <img
                  src="/data/asian-representation-in-movies/img/quotes/quote-jameswan.png"
                  alt="jameswan"
                  class="fluid mb-3">

                <p>
                  For Asian directors, even being a director in Hollywood is a form of tall order in itself, regardless of the type of movies they direct. As such, there is a tendency for them to build up a portfolio to gain credibility as a “Hollywood director” before delving into more Asian centric stories.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-17">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title mb-3">Black Directors</h2>

                <img
                  src="/data/asian-representation-in-movies/img/quotes/quote-barryjenkins.png"
                  alt="barryjenkins"
                  class="fluid mb-3">

                <p>
                  A foolproof method in having a more diverse cast? Get a black director to direct the movie. Out of the 33 blockbuster movies helmed by a black director, only 2 movies, Rise of the Guardians, and King Arthur, lacked minority representation. This is no coincidence; Jordan Peele, a director and owner of Monkeypaw Productions, has directed social thrillers such as Get Out, Blackkklansman, Us, and Candyman—all of which feature an all-black cast and highlighting the experience of being black in the United States.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-18">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <h2 class="title mb-3">Conclusion</h2>

                <p>
                  When we first decided to investigate Asian representation in blockbuster movies, we were only thinking about the numbers. As we delved further we realised that the criteria for claiming representation are low: a one-dimensional minority character acting as a foil to the white protagonist can still be considered representation.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-18">
            <v-layout class="fill-height">
              <div class="text-block">
                <p>
                  A movie adapted from Asian sources by Asian characters but with a whitewashed lead can likewise claim representation. So can a movie that has a majority Asian cast but reduces them to tropes. This archetype rang true for Chinese viewers of Crazy Rich Asians, who felt that although it was a movie ostensibly about Asians, it was Asians seen through the eyes of Westerners, like General Tso’s Chicken, a “Chinese” cuisine invented in consideration of Western palates.
                </p>

                <p>
                  <a href="https://movie.douban.com/subject/26786642/reviews" target="_blank">Reading the comments,</a> there is an air of exasperation that Asian characters and storylines have to contort and reduce themselves into recognisable stereotypes so as to be easily processed and accepted by Western audiences. No wonder the movie <a href="https://www.bbc.com/news/entertainment-arts-46438686" target="_blank">flopped</a> in China.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-19">
            <v-layout class="fill-height align-center">
              <div class="text-block">
                <p>
                  Movies are ultimately made to be consumed by a mass audience. But how can Hollywood break out of its tendency to be blatantly one-dimensional in its portrayal of Asians and other minorities and to create characters that are more nuanced, if their perception continues to be that ticket-goers are predominantly white, and that their audiences are incapable of expanding their visual diet, despite <a href="https://socialsciences.ucla.edu/wp-content/uploads/2018/02/UCLA-Hollywood-Diversity-Report-2018-2-27-18.pdf" target="_blank">evidence to the contrary?</a>
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step" data-step="1-19">
            <v-layout class="fill-height">
              <div class="text-block">
                <p>
                  Our analysis of 21 years of IMDb blockbuster data have taught us that even though Asians are poorly represented in mainstream movies, there is a steadily growing appetite for more diversity in storytelling, in terms of plot, characters, and setting. Hollywood—or gatekeepers who decide on film distribution and production budgets— can no longer rely on tired tropes about minorities if they wish to appeal to both domestic and international audiences. At any rate, in the digital age of streaming media, those distinctions are increasingly irrelevant.
                </p>

                <p class="font-weight-bold">
                  But don’t just take our word for it, you can explore our visualisation and draw your own conclusions.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step step--shorten" data-step="1-20">
            <div class="hidden-md-and-up">
              <LegendCast :step="step" />

              <FilterMovies
                :step="step"
                :genres="genres"
                :selected-sort="mobileSelection.sortBy"
                :selected-genre="mobileSelection.genre"
                :selected-race="mobileSelection.directorRace"
                @select-sort="handleSelectionDropdown('sort', $event)"
                @select-genre="handleSelectionDropdown('filter-genre', $event)"
                @select-director-race="handleSelectionDropdown('filter-d-race', $event)" />
            </div>
          </div>
        </v-flex>

        <!-- sticky container -->
        <v-flex
          sm12
          md9
          order-xs1
          order-md2
          class="scrolly__sticky"
        >
          <D3Charts
            :step="step"
            :direction="direction"
            :active-actor="activeActor"
            :selected-sort="mobileSelection.sortBy"
            :selected-genre="mobileSelection.genre"
            :selected-race="mobileSelection.directorRace"
            @genres="genres = $event" />
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import { select as d3Select } from 'd3';

// components
import D3Charts from '@/components/posts/static/asian-representation-in-movies/controllers/D3Charts';

import LegendCast from '@/components/posts/static/asian-representation-in-movies/ui/LegendCast';
import FilterMovies from '@/components/posts/static/asian-representation-in-movies/ui/FilterMovies';

export default {
  components: {
    D3Charts,
    LegendCast,
    FilterMovies,
  },
  data() {
    return {
      step: '0',
      direction: 'down',
      activeActor: '',
      clickedActor: '',
      genres: [],
      mobileSelection: {
        sortBy: 'gross',
        genre: 'all',
        directorRace: 'all',
      },
    };
  },
  mounted() {
    this.initScrollama();
  },
  methods: {
    initScrollama() {
      // instantiate scrollama
      const scrollerD3Charts = this.$Scrollama.load();

      // setup scrollama
      scrollerD3Charts
        .setup({
          container: '.scrolly-side',
          graphic: '.scrolly-side .scrolly__sticky',
          step: '.scrolly-side .scrolly__text .step', // required
          offset: this.$vuetify.breakpoint.smAndDown ? 0.7 : 0.5,
        })
        .onStepEnter(this.handleStepEnter)
        .onStepExit(this.handleStepExit)
        .onContainerEnter(this.handleContainerEnter)
        .onContainerExit(this.handleContainerExit);
    },
    handleStepEnter({ element, direction }) {
      // get data-step
      this.step = d3Select(element).attr('data-step');
      this.direction = direction;

      if (this.step === '1-19') {
        // reset selection dropdown
        this.mobileSelection.sortBy = 'gross';
        this.mobileSelection.genre = 'all';
        this.mobileSelection.directorRace = 'all';
      }

      // toggle active class
      d3Select(element).classed('active', true);
    },
    handleStepExit({ element }) {
      // toggle active class
      d3Select(element).classed('active', false);
    },
    handleContainerEnter() {},
    handleContainerExit({ direction }) {
      if (direction === 'up') {
        this.step = '0';
      } else {
        this.step = '2';
      }
    },
    handleActorsEvent(e, actor) {
      // check what event type
      if (e.type === 'click') {
        // remove any active class actor
        const allActiveAvatars = document.querySelectorAll('.avatar-wrapper.active');
        allActiveAvatars.forEach(activeAvatar => {
          if (activeAvatar && activeAvatar !== e.currentTarget) {
            activeAvatar.classList.remove('active');
          }
        });

        // update clicked actor name
        this.clickedActor = this.clickedActor === actor ? '' : actor;
      } else if (e.type === 'mouseenter') {
        // adjust image brightness
        e.currentTarget.classList.add('active');

        // set actor prop
        this.activeActor = actor;
      } else {
        if (this.clickedActor === '' || this.clickedActor !== actor) {
          // adjust image brightness
          e.currentTarget.classList.remove('active');
        }

        // set actor prop
        this.activeActor = this.clickedActor ? this.clickedActor : '';
      }
    },
    handleSelectionDropdown(name, value) {
      switch (name) {
        case 'sort':
          this.mobileSelection.sortBy = value;
          break;

        case 'filter-genre':
          this.mobileSelection.genre = value;
          break;

        case 'filter-d-race':
          this.mobileSelection.directorRace = value;
          break;

        default:
          break;
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

#post-static__scrolly {
  position: relative;

  @media $display-breakpoints.sm-and-down {
    .container {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }

    .text-block {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }

  .text-block {
    .text--highlight {
      color: #fff;
    }

    p > a {
      color: #f2784b;
      text-decoration: underline;
    }

    .whitewashing-box {
      background-color: #F4AF69;
      width: 50%;
      height: 8px;
      margin: auto;
      margin-top: 6px;
    }
  }

  .list-block {
    .list-block__actor {
      .avatar-wrapper {
        cursor: pointer;

        &.active {
          img {
            filter: brightness(83%);
          }
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
</style>
