<template>
  <section id="post-static__landing">
    <v-container inner>
      <v-layout wrap pb-5>
        <v-flex xs12 text-xs-center>
          <div class="view-landing__heading my-4">
            <span class="font-secondary primary--text">People & Society / Asia-wide</span>

            <h1 class="display-2 my-3">Asian representation in movies: have things changed since 1997?</h1>

            <address class="font-secondary mb-2">by Isabella Chua</address>

            <time class="font-secondary">
              <strong class="mr-1">Published</strong> February 22, 2019
            </time>

            <p class="primary--text hidden-sm-and-up my-4">
              <i>The visualisation in this story is optimised for desktop viewing. For full interactions, please switch to desktop.</i>
            </p>
          </div>
        </v-flex>

        <v-flex xs12 class="navbar-trigger">
          <div class="view-landing__image my-4">
            <img
              src="/data/asian-representation-in-movies/img/intro.gif"
              alt="asian-representation-in-blockbusters"
              class="fluid">
          </div>

          <div class="view-landing__synopsis">
            <p class="body-2 font-weight-bold my-3">
              Like its name, Crazy Rich Asians has spawned a series of superlatives: it was heralded as a movement in terms of Asian representation in Hollywood; a cultural milestone; and dubbed as an Asian Black Panther for telling Asian centric stories with an all Asian cast—the first in 25 years since the Joy Luck Club. The numbers reflect the hype. It topped the US box office for three weeks and was the sixth top-grossing romantic comedy in Hollywood.
            </p>

            <p class="body-2 font-weight-bold">
              This begs the question—how starved are Asians of on-screen representation in blockbuster movies?
            </p>
          </div>
        </v-flex>

        <!-- <v-flex
          xs12
          text-xs-center
        >
          <div class="font-secondary mt-5">
            SCROLL <br>
            <fa-icon :icon="['far', 'long-arrow-down']" fixed-width />
          </div>
        </v-flex> -->
        <div class="mousey-scroller">
          <div class="mousey">
            <div class="mousey__wheel" />
          </div>
        </div>
      </v-layout>
    </v-container>
  </section>
</template>

<style lang="stylus" scoped>
#post-static__landing {
  .layout {
    position: relative;
  }
  .mousey-scroller {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 34px;

    .mousey {
      box-sizing: content-box;
      opacity: 0.75;
      width: 3px;
      height: 23px;
      padding: 5px 8px;
      margin: auto;
      border: 2px solid #121A1C;
      border-radius: 25px;

      .mousey__wheel {
        width: 3px;
        height: 7px;
        border-radius: 25%;
        background-color: #121A1C;
        animation-name: mouseywheel;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes mouseywheel {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
</style>
