<template>
  <section id="post-static__end" class="mt-5">
    <v-container inner>
      <v-layout wrap>
        <!-- references -->
        <v-flex xs12>
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
              <div class="single-post__references mt-3">
                <ul class="list--none">
                  <li
                    v-for="(ref, i) in references"
                    :key="i"
                    class="mb-3"
                  >
                    <p class="mb-0">{{ ref.citation }}</p>
                    <a
                      v-if="ref.link"
                      :href="ref.link"
                      class="primary--text"
                    >
                      {{ ref.link }}
                    </a>

                    <p v-if="ref.license">License at: <a :href="ref.license" class="primary--text">{{ ref.license }}</a></p>
                  </li>
                </ul>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <!-- author -->
          <v-card class="single-post__author py-3 mb-4">
            <v-container grid-list-xl>
              <v-layout
                wrap
                align-center>

                <v-flex
                  xs12
                  sm3
                  md3>
                  <v-avatar
                    size="100%">
                    <AppImage
                      :img-object="author.profile_photo"
                      :custom-fallback-src="author.avatar_urls['96']"
                      :alt="author.name"
                    />
                  </v-avatar>
                </v-flex>

                <v-flex
                  xs12
                  sm9
                  md9>
                  <div class="single-post__author-bio">
                    <h3 class="title mb-3">About {{ author.name }}</h3>
                    <p>{{ author.description }}</p>
                  </div>
                </v-flex>

              </v-layout>
            </v-container>
          </v-card>

          <!-- topics -->
          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li class="d-inline text-lowercase">minority representation, </li>
              <li class="d-inline text-lowercase">asian representation, </li>
              <li class="d-inline text-lowercase">blockbusters, </li>
              <li class="d-inline text-lowercase">hollywood</li>
            </ul>
          </div>

          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" class="primary--text text-underline">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(meta.postTitle)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${meta.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(meta.postTitle)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${meta.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>

        <!-- facebook likes -->
        <v-flex xs12>
          <FacebookLike class="mb-3" />
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

import FacebookLike from '@/components/vendors/FacebookLike';

import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
    FacebookLike,
    AppImage,
  },
  props: {
    author: {
      type: Object,
      default: () => {},
      required: false,
    },
  },
  data() {
    return {
      references: [
        {
          citation:
            'Aziz Ansari discusses youth news stories and playing soccer Wednesday at the Meltdown. Source: Tyler Ross, “He’s Not Going To Get To Fork, Aziz.” 2011, digital image. (accessed February 15, 2019). Available from: Flickr',
          link: 'https://www.flickr.com/photos/46921777@N05/6479441051',
          license: 'https://creativecommons.org/licenses/by/2.0/deed.en',
        },
        {
          citation: 'Chow, Keith. “Why Won’t Hollywood Cast Asian Actors?” Nytimes.com. (accessed January 4, 2019).',
          link: 'https://www.nytimes.com/2016/04/23/opinion/why-wont-hollywood-cast-asian-actors.html',
          license: null,
        },
        {
          citation:
            'Cohn, Gabe. “Crazy Rich Asians Tops Box Office for Third Week.” Nytimes.com. (accessed January 3, 2019).',
          link: 'https://www.nytimes.com/2018/09/02/movies/crazy-rich-asians-tops-box-office-third-week.html',
          license: null,
        },
        {
          citation:
            'Colburn, Randall. “Film Review: Valerian and the City of a Thousand Planets.” Consequenceofsound.net.',
          link: 'https://consequenceofsound.net/2017/07/film-review-valerian-and-the-city-of-a-thousand-planets',
          license: null,
        },
        {
          citation:
            'Evans, Alan. “Doctor Strange ‘whitewashing’ row resurfaces with new criticism of Swinton casting.” Theguardian.com. (accessed January 4, 2019).',
          link: 'https://www.theguardian.com/film/2016/nov/04/doctor-strange-tilda-swinton-whitewashing-row',
          license: null,
        },
        {
          citation:
            'Frank, Allegre. “Hollywood’s whitewashed version of anime never sells.” Polygon.com. (accessed January 4, 2019).',
          link: 'https://www.polygon.com/2017/4/3/15142608/hollywood-anime-live-action-adaptations-ghost-in-the-shell',
          license: null,
        },
        {
          citation:
            'Framke, Caroline. “Master of None, Netflix’s brilliant new comedy, is immediately one of TV’s best shows.” Vox.com. (accessed 15 February, 2019).',
          link: 'https://www.vox.com/culture/2015/11/8/9690904/master-of-none-netflix-review',
          license: null,
        },
        {
          citation:
            'James Wan speaking at the 2016 San Diego Comic Con International, for “Warner Bros. Pictures”, at the San Diego Convention Center in San Diego, California. Source: Gaga Skidmore, 2016, digital image. (accessed February 15, 2019). Available from: Flickr',
          link:
            'https://www.flickr.com/photos/gageskidmore/27976781713/in/photolist-KrGNaH-KrHxZr-JCdR4Z-KrGLbH-KrGMin-JC6pbw-JC6Rq5-JCdjvp-KyCf24-JC6d1f-KrGZzM-KyC9j2-JCdHQv-KrGWor-JCdsYB-K8vum5-K8veY7-K8vcRS-KrHojz-KyCgXD-JCdEtF-K8vh5b-KpctcU-JC6gu9-Kpc3u7-JCdWqR-K8vWhU-JCdwsv-KpcopN',
          license: 'https://creativecommons.org/licenses/by-sa/2.0/deed.en',
        },
        {
          citation:
            'Jamie Foxx visits the Resident Center Briefing room after traveling to New Orleans and Dallas to talk to people hit with Hurricane Katrina. Source: Ed Edahl/FEMA, 2005, digital image. (accessed February 15, 2019). Available from: Federal Emergency Management Agency (FEMA)',
          link: 'https://www.fema.gov/media-library/assets/images/45510',
          license: 'https://creativecommons.org/licenses/by-sa/3.0/deed.en',
        },
        {
          citation:
            'Kong: Skull Island Japan Premiere Red Carpet: GACKT, Sasaki Nozomi, Tom Hiddleston & Samuel L. Jackson. Source: dink Thomas Johnson, 2017, digital image. (accessed February 15, 2019). Available from: Flickr',
          link: 'https://www.flickr.com/photos/31029865@N06/37422720855',
          license: 'https://creativecommons.org/licenses/by-sa/2.0/deed.en',
        },
        {
          citation:
            'Loh, Genevieve. “James Wan: The Malaysian-Chinese director giving Hollywood its first brown superhero.” Channelnewsasia.com. (accessed February 1, 2019).',
          link:
            'https://cnalifestyle.channelnewsasia.com/trending/malaysian-chinese-aquaman-director-james-wan-breaks-stereotypes-11024166',
          license: null,
        },
        {
          citation:
            'Ridley Scott speaking at the 2012 WonderCon in Anaheim, California. Source: Gaga Skidmore, 2012, digital image. (accessed February 15, 2019). Available from: Flickr',
          link:
            'https://www.flickr.com/photos/gageskidmore/6852647452/in/photolist-brxBm1-bEsvUk-bEsvZn-brxAKS-bEswiH-brxAph-bEsxbk-bEswoc',
          license: 'https://creativecommons.org/licenses/by-sa/2.0/deed.en',
        },
        {
          citation:
            'Rodriguez, Ashley. “Crazy Rich Asians is the top-grossing romantic comedy in 10 years.” Quartz.com. (accessed January 3, 2019).',
          link: 'https://qz.com/1408252/crazy-rich-asians-is-now-the-top-grossing-rom-com-in-10-years',
          license: null,
        },
        {
          citation:
            'Rose, Steve. “Ghost in the Shell’s whitewashing: does Hollywood have an Asian problem?” Theguardian.com. (accessed January 4, 2019)',
          link:
            'https://www.theguardian.com/film/2017/mar/31/ghost-in-the-shells-whitewashing-does-hollywood-have-an-asian-problem',
          license: null,
        },
        {
          citation:
            'Rosenburg, Eli. “One out of 3 Americans say wearing blackface on Halloween is acceptable, Pew survey finds.” The Washington Post. (accessed February 11, 2019).',
          link:
            'https://www.washingtonpost.com/politics/2019/02/12/one-out-three-americans-say-wearing-blackface-halloween-is-acceptable-pew-survey-finds',
          license: null,
        },
        {
          citation: 'TV Tropes, s.v. “Asian Speekee Engrish,” last modified December 23, 2018',
          link: 'https://tvtropes.org/pmwiki/pmwiki.php/Main/AsianSpeekeeEngrish',
          license: null,
        },
        {
          citation: 'TV Tropes, s.v. “All Asians Know Martial Arts,” last modified October 22, 2018',
          link: 'https://tvtropes.org/pmwiki/pmwiki.php/Main/AllAsiansKnowMartialArts',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “BlacKkKlansman,” last modified January 2, 2019',
          link: 'https://www.wikiwand.com/en/BlacKkKlansman',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “Candyman (film),” last modified December 28, 2018',
          link: 'https://www.wikiwand.com/en/Candyman_(film)',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “Get Out,” last modified January 2, 2019',
          link: 'https://www.wikiwand.com/en/Get_Out',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “Kong: Skull Island,” last modified January 1, 2019',
          link: 'https://www.wikiwand.com/en/Kong:_Skull_Island',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “King Arthur (2004 film),” last modified December 31, 2018',
          link: 'https://www.wikiwand.com/en/King_Arthur_(2004_film)',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “The Mummy: Tomb of the Dragon Emperor,” last modified January 3, 2019',
          link: 'https://www.wikiwand.com/en/The_Mummy:_Tomb_of_the_Dragon_Emperor',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “Pirates of the Caribbean: At World’s End,” last modified January 1, 2019',
          link: 'https://www.wikiwand.com/en/Pirates_of_the_Caribbean:_At_World%27s_End',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “Us (2019 film),” last modified January 4, 2019',
          link: 'https://www.wikiwand.com/en/Us_(2019_film)',
          license: null,
        },
        {
          citation: 'Wikipedia, s.v. “Valerian and the City of a Thousand Planets,” last modified December 20, 2018',
          link: 'https://www.wikiwand.com/en/Valerian_and_the_City_of_a_Thousand_Planets',
          license: null,
        },
      ],
      meta: {
        postTitle: 'Asian representation in movies: have things changed since 1997?',
        routePath: '/stories/asian-representation-in-movies-have-things-changed-since-1997',
      },
    };
  },
};
</script>


<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

#post-static__end {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;

  .v-expansion-panel {
    box-shadow: none !important;
  }

  .single-post__references {
    word-wrap: break-word;
  }

  @media $display-breakpoints.xs-only {
    .single-post__references {
      font-size: 12px;
    }

    .single-post__author {
      >>> img {
        width: 55% !important;
      }

      .single-post__author-bio {
        text-align: center;

        h3 {
          font-size: 16px !important;
        }

        p {
          font-size: 14px !important;
        }
      }
    }
  }
}
</style>
