<template>
  <div v-scroll="onScroll" class="post-static">
    <div class="post-static__ghosts static-post">
      <SectionHeader />

      <SectionGhostsList />

      <ListMenu :current-page="currentPage" @show-menu-card="selectedMenu = $event" />

      <CardMenu
        v-if="selectedMenu !== ''"
        :current-page="currentPage"
        :selected-menu.sync="selectedMenu" />
    </div>
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

// components
import SectionHeader from '@/components/posts/static/paranormal-sg/views/ghosts/SectionHeader';
import SectionGhostsList from '@/components/posts/static/paranormal-sg/views/ghosts/SectionGhostsList';

import ListMenu from '@/components/posts/static/paranormal-sg/ui/ListMenu';
import CardMenu from '@/components/posts/static/paranormal-sg/ui/CardMenu';

export default {
  layout: 'singlePost',
  components: {
    SectionHeader,
    SectionGhostsList,
    ListMenu,
    CardMenu,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      lastPos: 0,
      currentPage: 'ghosts',
      selectedMenu: '',
    };
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'static');
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(`posts?slug=singapore-where-got-ghost&_embed`);

    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    return { post };
  },
  head() {
    return {
      title: `${this.post.title.raw} - Chapter 2: Types of Ghosts`,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        {
          hid: 'og:title',
          name: 'twitter:title',
          property: 'og:title',
          content: `${this.post.title.raw} - Chapter 2: Types of Ghosts`,
        },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}/data/paranormal-sg/img/seothumbnail.png`,
        },
      ],
      link: [
        { rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL },
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Averia+Serif+Libre:700&display=swap' },
      ],
    };
  },
};
</script>

<style lang="stylus" scoped>
.post-static {
  height: 100%;
  background-image: url('/data/paranormal-sg/img/ui/bg-texture-dark.svg');
  background-repeat: repeat;
  background-size: 25%;
  background-color: #353440;
  color: #DAD4BB;
}
</style>

<style lang="stylus">
.font-paranormal {
  font-family: 'Averia Serif Libre', cursive !important;
}
</style>
