<template>
  <section id="landing" class="scrolly-overlay">
    <!-- sticky container -->
    <div class="scrolly__sticky">
      <!-- video background -->
      <div class="video-wrapper hidden-sm-and-up">
        <video
          preload="none"
          poster="@/static/data/hajj/landing-bg.jpg"
          ref="briVideo"
          autoplay
          loop
          muted>

          <source src="/data/hajj/video/portrait.mp4" type="video/mp4">
          Your browser doesn't support HTML5 video.
        </video>
      </div>

      <div class="video-wrapper hidden-xs-only">
        <video
          preload="none"
          poster="@/static/data/hajj/landing-bg.jpg"
          ref="briVideo"
          autoplay
          loop
          muted>

          <source src="/data/hajj/video/landscape.mp4" type="video/mp4">
          Your browser doesn't support HTML5 video.
        </video>
      </div>
    </div>

    <!-- steps container -->
    <v-container class="scrolly__text py-0" inner>
      <!-- frontmatter -->
      <div class="step" data-step="1">
        <v-layout class="wrap fill-height justify-center align-content-center" style="position: relative;">
          <div class="text-block navbar-trigger my-4">
            <span class="font-secondary" v-html="postTags"/>

            <h1 class="display-3 my-3">{{ post.title.raw }}</h1>

            <time class="font-secondary">
              <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
            </time>           
          </div>

          <!-- Mousey scroller -->
          <div class="mousey-scroller">
            <div class="mousey">
              <div class="mousey__wheel" />
            </div>
          </div>
        </v-layout>
      </div>

      <!-- Content starts here -->
      <div class="step" data-step="1">
        <v-layout class="wrap fill-height align-center">
          <div class="text-block text-xs-center">
            <p class="title placeholder"/>
          </div>
        </v-layout>
      </div>

      <div class="step" data-step="1">
        <v-layout class="wrap fill-height align-center">
          <div class="text-block text-xs-center">
            <p class="title placeholder"/>
          </div>
        </v-layout>
      </div>

      <div class="step" data-step="1">
        <v-layout class="wrap fill-height align-center">
          <div class="text-block text-xs-center">
            <p class="title placeholder"/>
          </div>
        </v-layout>
      </div>
    </v-container>
  </section>
</template>

<script>
export default {
  name: 'SectionLanding',
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
  mounted() {
    this.initScrollama();
  },
  methods: {
    initScrollama() {
      // instantiate scrollama
      const scrollerLanding = this.$Scrollama.load();

      // setup scrollama
      scrollerLanding
        .setup({
          container: '#landing',
          graphic: '#landing .scrolly__sticky',
          step: '#landing .scrolly__text .step', 
          offset: this.$vuetify.breakpoint.smAndDown ? 0.8 : 0.7,
        })
    },
  },
}
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
.scrolly-overlay{
  position: relative;

  p.title {
    text-shadow: 0px 3px 14px rgba(0, 0, 0, 0.07), 0px 5px 5.5px rgba(0, 0, 0, 0.07);
    color: #ffffff;
  }

  h1 {
    color: #FFFFFF !important;
    text-shadow: 0px 3px 14px rgba(0, 0, 0, 0.07), 0px 5px 5.5px rgba(0, 0, 0, 0.07)
  }

  .scrolly__sticky {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    transform: translate3d(0, 0, 0);
    height: 0; // this is zero because we wanna make the first step stick to the top

    .video-wrapper {
      position: relative;

      &:before {
        content: '';
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
  .scrolly__text {
    position: relative;
    z-index: 2;

    .step {
      // border: 2px solid white;
      height: calc(100vh - 64px);

      .text-block {
        text-align: center;
        color: #ffffff !important

        h1 {
          font-family: 'IM Fell English', serif !important;
        }

        p > a {
          text-decoration: underline;
        }        

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .placeholder::after {
    content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis blandit feugiat. Nullam molestie ac leo at tempus. Mauris vitae lacus pretium, egestas turpis quis, convallis tortor. Aliquam neque ante, faucibus sodales sodales id, congue at urna. Maecenas quis lacus arcu. Morbi auctor sed arcu id maximus. '
  }
}

video {
  width: 100vw;
}

.mousey-scroller {
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  width: 34px;


    left: 50%;
    transform: translateX(-50%);
    width: 34px;
  .mousey {
    box-sizing: content-box;
    opacity: 0.75;
    width: 3px;
    height: 23px;
    padding: 5px 8px;
    margin: auto;
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    .mousey__wheel {
      width: 3px;
      height: 7px;
      border-radius: 25%;
      background-color: #FFFFFF;
      animation-name: mouseywheel;
      animation-duration: 2.2s;
      animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
      animation-iteration-count: infinite;
    }
  }
}

@keyframes mouseywheel {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
</style>
