<template>
  <section id="section4">
    <VizMapMekah 
      :step="step"
      class="scrolly__sticky"/>
    <Tour 
      :step="step"
      :finalStep="finalStep"
      @trigger-tour="handleStep"/>
  </section>
</template>

<script>
import * as d3 from 'd3'
import VizMapMekah from '@/components/posts/static/hajj/viz/VizMapMekah';
import Tour from '@/components/posts/static/hajj/viz/Tour';


export default {
  components: {
    VizMapMekah,
    Tour,
  },
  data() {
    return {
      step: 1,
    };
  },
  computed: {
    finalStep() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 17
      }
      return 11
    },    
  },   
  mounted() {
  },
  methods: {
    handleStep(event) {
      if (event === 'back' && this.step > 1) {
        this.step--;
      } else if (event === 'next') {
        this.step++;
      } else if (event === 'next' && this.step === this.finalStep) {
        this.step = 11; // just in case
      } else if (event === 'reset' && this.step === this.finalStep) {
        this.step = 1; // just in case
      }  
    },
  },
}
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
.placeholder::after {
  content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis blandit feugiat. Nullam molestie ac leo at tempus. Mauris vitae lacus pretium, egestas turpis quis, convallis tortor. Aliquam neque ante, faucibus sodales sodales id, congue at urna. Maecenas quis lacus arcu. Morbi auctor sed arcu id maximus.'
}

.v-card {
  background-color: transparent;
  height: 150px !important;
  text-align: center;
}
#section4 {
  position: relative;
  background-color: #f5f0e8;

  .scrolly__sticky {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: top;
  }
}
</style>
