<template>
  <section id="section3">
    <v-container inner>
      <v-flex xs12>
        <div class="content__chunk my-5">
          <p class="title my-4">Today's Hajj in Numbers</p>
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/>
        </div>

        <div class="viz__chunk my-5">
          <h3 class="my-4">Total pilgrims over last 10 years (1431H - 1440H)</h3>
          <p class="caption">
            <span class="dot legend"/>Each circle represents 100,000 pilgrims <br>
            <span class="dot domestic"/>Domestic pilgrims
            <span class="dot foreign"/>Foreign pilgrims
          </p>
          <img
            src="/data/hajj/charts/semicircle-desktop.svg"
            alt="semi-circle chart"
            class="fluid">
          <p class="caption mt-0 pt-0 mb-3">Source: <a href="https://www.stats.gov.sa/sites/default/files/haj_40_en.pdf" target="_blank">Stats.gov.sa</a></p>                 
        </div>

        <div class="content__chunk my-5">
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/>
        </div>
        
        <div class="viz__chunk my-5">
          <h3 class="my-4">Pilgrims by country grouping (1440H)</h3>
          <img
            src="/data/hajj/charts/bubble.svg"
            alt="bubble chart"
            class="fluid">
          <p class="caption mt-0 pt-0 mb-3">Source: <a href="https://www.aljazeera.com/news/2016/08/hajj-2016-long-160814152909463.html" target="_blank">Al Jazeera</a></p>                 
        </div>
        <div class="content__chunk my-5">
          <p class="body-2 placeholder"/>          
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/> 
        </div>

        <div class="content__chunk my-5">
          <p class="title my-4">The Kaaba</p>
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/>
        </div>

        <VizKaabah3D />

        <div class="content__chunk my-5">
          <p class="title my-4">In the Footsteps of the Prophet: A step-by-step guide to the Hajj</p>
          <p class="body-2 placeholder"/>
          <p class="body-2">The following map traces the Hajj journey from start to end.</p>
        </div>
      </v-flex>
    </v-container> 
  </section>
</template>

<script>
import VizKaabah3D from '@/components/posts/static/hajj/viz/VizKaabah3D';

export default {
  components: {
    VizKaabah3D,
  },   
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

// second section
#section3 {
  background-color: #f2f9f2;
  color: #774821 !important;
  position: relative;
  z-index: 5;

  p.title {
    color: #71441F !important;
  }

  .viz__chunk {
    p {
      color: #71441F !important;
    }
  }

  a {
    color: #017360;
    text-decoration: underline;
  }
  .placeholder::after {
    content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis blandit feugiat. Nullam molestie ac leo at tempus. Mauris vitae lacus pretium, egestas turpis quis, convallis tortor. Aliquam neque ante, faucibus sodales sodales id, congue at urna. Maecenas quis lacus arcu. Morbi auctor sed arcu id maximus.'
  }
  .dot {
    height: 13px;
    width: 13px;
    margin-right: 8px;
    margin-left: 20px;  
    border-radius: 50%;
    display: inline-block;
  }

  .legend {
    background-color: none;
    margin-left: 0px;  
    border: 1px solid #B19F88
  }

  .domestic {
    margin-left: 0px;  
    background-color: #2f9078;
  }

  .foreign {
    background-color: #d8b073;
  }  
}
</style>
