<template>
  <section id="section1">
    <v-container inner>
      <v-flex xs12>
        <div class="content__chunk my-5">
          <h2 class="title my-4">Section Title</h2>
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/>          
        </div>
      </v-flex>
    </v-container> 
  </section>
</template>

<style lang="stylus" scoped>
#section1 {
  background-color: #fbedc5;
  a {
    color: #f2784b;
    text-decoration: underline;
  }
  .placeholder::after {
    content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis blandit feugiat. Nullam molestie ac leo at tempus. Mauris vitae lacus pretium, egestas turpis quis, convallis tortor. Aliquam neque ante, faucibus sodales sodales id, congue at urna. Maecenas quis lacus arcu. Morbi auctor sed arcu id maximus. Cras eu lorem risus. Proin lorem odio, vestibulum ut urna ac, finibus porta augue. Praesent eleifend sagittis commodo. Quisque consectetur tempor quam. Donec fringilla mauris ac lorem gravida, at tincidunt ipsum rutrum. Quisque id malesuada dui. Nulla facilisi. Etiam imperdiet orci eget nisi hendrerit, non pulvinar nibh dictum.'
  }
}
</style>
