<template>
  <section id="section5">
    <v-container inner>
      <v-flex xs12>
        <div class="content__chunk my-5">
          <p class="title my-4">Conclusion</p>
          <p class="body-2 placeholder"/>
          <p class="body-2 placeholder"/>
   
        </div>
      </v-flex>
    </v-container> 
  </section>
</template>

<style lang="stylus" scoped>
#section5 {
  background-color: #017360;
  position: relative;
  z-index: 5;
  p.title {
    color: #FAE9B9 !important;
  }
  p {
    color: #FDF8E7 !important;
  }
  a {
    color: #FAE9B9;
    text-decoration: underline;
  }
  .placeholder::after {
    content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis blandit feugiat. Nullam molestie ac leo at tempus. Mauris vitae lacus pretium, egestas turpis quis, convallis tortor. Aliquam neque ante, faucibus sodales sodales id, congue at urna. Maecenas quis lacus arcu. Morbi auctor sed arcu id maximus.'
  }
}
</style>
