<template>
  <section id="mapscrolly">
    <!-- sticky container -->
    <div class="scrolly__sticky">
      <VizMapSEA
        :progress="progress"
        :step="step"
        :drive="drive" />
    </div>
    <v-container
      inner
      py-5
      pa-0
      class="scrolly__text">
      <v-layout wrap>
        <!-- step container -->
        <v-flex
          sm12
          class="scrolly__text">

          <!-- per step - entry step -->       
          <div class="step pa-4" drive-step="-1" data-step="1">
            <div class="text-block">
              <p class="body-1 pa-4">
                Before airplanes emerged as a popular mode of transport, undertaking the Hajj was characterised by levels of difficulty and  sacrifice that are unknown today. Pilgrims from Southeast Asia would often leave their families for long periods of time to spend arduous months at sea, where sickness and hunger would plague overcrowded ships bound for Mecca. 
              </p>
            </div>
          </div>

          <!-- Step 2 for Desktop -->
          <div class="step pa-4 hidden-xs-only"  drive-step="-1" data-step="2">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  These ships, called kapal haji, were typically freight ships carrying loads of cargo and were not suited to carry passengers. Weary passengers would fill the ship from deck to deck, with each given about a metre of space for sleeping. Pilgrims often brought a trunk of food and other essentials with them, although this would often spoil, or run out. The journeys were long and arduous, and many of the elderly either did not make it to Mecca or passed away during the return trip.              
                </p>
              </div>
            </v-layout>
          </div>

          <!-- Step 2-1 for Mobile -->
          <div class="step pa-4 hidden-sm-and-up"  drive-step="-1" data-step="1">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  These ships, called kapal haji, were typically freight ships carrying loads of cargo and were not suited to carry passengers. Weary passengers would fill the ship from deck to deck, with each given about a metre of space for sleeping. Pilgrims often brought a trunk of food and other essentials with them, although this would often spoil, or run out. 
                </p>
              </div>
            </v-layout>
          </div>          

          <!-- Step 2-2 for Mobile -->
          <div class="step pa-4 hidden-sm-and-up"  drive-step="-1" data-step="2">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  The journeys were long and arduous, and many of the elderly either did not make it to Mecca or passed away during the return trip.              
                </p>
              </div>
            </v-layout>
          </div>          

          <div class="step pa-4" drive-step="-1" data-step="3">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                From the first half of the 19th century all the way to the 1970s, Singapore, with its free port and openness to migration, served as a departure point for many of the kapal haji. Muslims from across the region flocked to Singapore, and the country quickly became the pilgrimage hub of Southeast Asia.   
                </p>                      
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="-1" data-step="4">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  In Singapore, hopeful pilgrims sought work and often slept on the streets of Kampong Glam in hopes of earning enough to get on a ship bound for Jeddah. The area became the centre where pilgrim brokers, boarding houses and stores selling Hajj-related goods converged to prepare pilgrims for the onward journey. The Javanese even used to call Bussorah Street in Kampong Glam Kampong Kaji (from Kampong Haji, or Hajj Village). 
                </p>       
              </div>
            </v-layout>
          </div> 

          <div class="step pa-4" drive-step="-1" data-step="5">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  Pilgrims in the Dutch East Indies were beset by additional challenges posed by the colonial power. Wary that the cultural and intellectual exchanges in Mecca might stir anti-colonial sentiment, the Dutch worked to control the Hajj through restrictive policies. For this reason, many Muslim pilgrims under their rule traveled first to Singapore to avoid the authorities’ detection.
                </p>
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="-1" data-step="6">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  Pilgrims from Malaysia, Brunei, Cambodia and even as far as the Philippines and China made up the diverse sea-borne communities that would either set sail from Singapore, or smaller ports along the way.                   
                </p>        
              </div>
            </v-layout>
          </div>

          <div class="step pa-4" drive-step="0" data-step="7">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-4">
                  From Singapore, the kapal haji would typically head up to the Straits of Malacca, stopping at Port Klang in Malaysia to collect more pilgrims and continue the onward journey to Jeddah. 
                </p>   
              </div>
            </v-layout>
          </div>                                       
        </v-flex>
      </v-layout>     
    </v-container>      
  </section>
</template>

<script>
import * as d3 from 'd3';

import VizMapSEA from '@/components/posts/static/hajj/viz/VizMapSEA';

export default {
  components: {
    VizMapSEA,
  },
  data() {
    return {
      step: '0',
      progress: 0,
      drive: '0',
    };
  },
  mounted() {
    this.initScrollama();
  },
  methods: {
    activateDialog() {
      this.showDialog = !this.showDialog;
    },    
    animateRoutes() {
      this.animateCount = this.animateCount + 1;
    },
    initScrollama() {
      // instantiate scrollama
      const scrollerD3Charts = this.$Scrollama.load();

      // setup scrollama
      scrollerD3Charts
        .setup({
          container: '#mapscrolly',
          graphic: '#mapscrolly .scrolly__sticky',
          step: '#mapscrolly .scrolly__text .step', // required
          offset: this.$vuetify.breakpoint.smAndDown ? 0.8 : 0.7,
          progress: true,
        })
        .onStepProgress(this.handleStepProgress)
        .onStepEnter(this.handleStepEnter);
    },
    handleStepEnter({ element, direction }) {
      // get data-step
      this.step = d3.select(element).attr('data-step');
    },
    handleStepProgress({ element, direction, progress }) {
      d3.select(element).style('opacity', `${progress + 0.6}`);
      this.progress = progress;
      this.drive = d3.select(element).attr('drive-step');
    },
  },
}
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
.placeholder::after {
  content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis blandit feugiat. Nullam molestie ac leo at tempus. Mauris vitae lacus pretium, egestas turpis quis, convallis tortor. Aliquam neque ante, faucibus sodales sodales id, congue at urna. Maecenas quis lacus arcu. Morbi auctor sed arcu id maximus. '
}

.v-card {
  background-color: transparent;
  height: 150px !important;
  text-align: center;
}
// scrolly overlay
#mapscrolly {
  position: relative;
  background-color: #f5f0e8;

  .scrolly__sticky {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: top;

    .map__animate {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translate(0, -50%);
      background-color: #ecf0f1;
      border-radius: 8px;
      max-width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
    }
  }

  .scrolly__text {
    position: relative;
    z-index: 2;

    .step {
      height: calc(100vh - 64px);

      &.step--shorten {
        height: calc(50vh - 64px);
      }

      .text-block {
        background-color: rgba(248,246,238, 1);
        color: #000000;
        text-align: center;
        border-radius: 8px;

        p {
          text-align: left !important;
        }

        p > a {
          color: #f2784b;
          text-decoration: underline;
        }        

        p:last-child {
          margin-bottom: 0;
        }

        .v-btn {
          background-color: transparent;
          border: 1px solid #F38063;
          color: #F38063;
          width: 40%;
          margin: 0 auto; 
          margin-bottom: 24px;
          @media $display-breakpoints.sm-and-down {
            width: 70%;
            margin-top: 12px;
          }
        }
      }
    }
    .step:last-child {
      margin-bottom: 40px;
        @media $display-breakpoints.sm-and-down {
          margin-bottom: 60px;
        }
    }
  }
}

>>> .v-dialog {
  background-color: #F3F6EA;
  padding: 24px 20px; 
  text-align: center;
  .v-btn {
    background-color: transparent !important;
    border: 1px solid #F38063;
    color: #F38063;   
  }
}

.step7_image {
  width: 40%;
  margin-top: -90px;
  @media $display-breakpoints.sm-and-down {
    width: 50%;
    margin-top: -40px;
    margin-bottom: 20px;
  }

}
</style>
