<template>
  <div id="barVizContainer">
    <svg id="barViz"/>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  components: {},
  data() {
    return {
      innerHeight: 50,
      innerWidth: 900,
      classList: '',
      data_items: [],
    };
  },
  computed: {
    chartMargin() {
      return { top: 10, right: 10, bottom: 120, left: 10 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    this.headlines = await d3.csv('/data/the-things-we-queued-for/data-updated1.csv');
    this.formatData();
    this.drawGraph();
  },
  methods: {
    formatData() {
      this.headlinesByItems = d3
        .nest()
        .key(d => d.joce)
        .entries(this.headlines);
      let totalCount = 0;
      for (let j = 0; j < this.headlinesByItems.length; j++) {
        totalCount += this.headlinesByItems[j].values.length;
      }
      this.data_items = [];
      let startY = 0;
      this.headlinesByItems.forEach(d => {
        const obj = { item: d.key, count: d.values.length, perc: (d.values.length / totalCount) * 100 };
        this.data_items.push(obj);
      });
      this.data_items.sort((a, b) => b.perc - a.perc);
      this.data_items = this.data_items.filter(d => d.count > 9);
      this.data_items.forEach(d => {
        d.startY = startY;
        startY += d.perc;

        d.rank = d.item;
        // if (d.count > 16) {
        //   d.rank = d.item;
        // } else {
        //   d.rank = 'greyed';
        // }
      });
    },
    drawGraph() {
      this.barViz = d3
        .select('#barViz')
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      // Defining and drawing the scale
      this.xScale = d3
        .scaleLinear()
        .domain([0, 100])
        .range([this.chartMargin.right, this.chartSettings.width - this.chartMargin.left]);
      this.barViz
        .append('g')
        .attr('transform', `translate(0, ${this.innerHeight})`)
        .call(d3.axisBottom(this.xScale).ticks(0))
        .call(g => g.select('.domain', '').remove());
      // Defining the colour scale
      const color = d3
        .scaleOrdinal()
        .domain(this.data_items.map(d => d.rank))
        .range([
          '#BA003F',
          '#BD0740',
          '#C10F41',
          '#C51742',
          '#C91F44',
          '#CD2746',
          '#D13049',
          '#D53A4D',
          '#D94351',
          '#DD4D55',
          '#E1575B',
          '#E56261',
          '#E9716C',
          '#ED7F77',
          '#F08D82',
        ]);
      this.barViz
        .selectAll('rect')
        .data(this.data_items)
        .enter()
        .append('g')
        .attr('class', 'rectgroup')
        .append('rect')
        .attr('count', d => d.count)
        .attr('y', this.chartMargin.top + this.innerHeight / 2)
        .attr('x', (d, i) => this.xScale(d.startY) + i * 12)
        .attr('width', d => this.xScale(d.perc))
        .attr('height', 50)
        .attr('fill', d => color(d.rank));

      // perc label
      this.barViz
        .selectAll('.rectgroup')
        // .filter(d => d.rank !== 'greyed')
        .append('text')
        .attr('class', 'perc')
        .text(d => `${d.perc.toFixed(2)}%`)
        .attr('x', (d, i) => this.xScale(d.startY) + i * 12)
        .attr('y', this.chartMargin.top)
        .attr('transform', 'translate(0, 15)')
        .style('fill', d => color(d.rank))
        .style('font-size', 11);

      // item label
      this.barViz
        .selectAll('.rectgroup')
        .append('text')
        .attr('class', 'item')
        .text(d => d.item)
        .attr('x', 0)
        .attr('y', 0)
        .attr('text-anchor', 'end')
        .attr(
          'transform',
          (d, i) =>
            `translate(${this.xScale(d.startY) + i * 14 + this.xScale(d.perc) / 3},
            ${this.chartSettings.height - this.chartMargin.bottom / 1.5}),
            rotate(-45)`
        )
        .style('fill', d => color(d.rank));
    },
    selectingBar() {
      this.barViz.selectAll('rect').on('mouseover', function outlineBar() {
        d3.select(this)
          .attr('stroke', 'grey')
          .attr('stroke-width', 2);
      });
    },
    responsivefy(svg) {
      const container = d3.select(svg.node().parentNode);
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on(`resize.${container}.attr('id')`, this.resize(svg, aspect));
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus">
#barVizContainer {
  margin: 0 auto;
}

text .perc, .item{
  font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
  font-size: 13px;
}
</style>
