<template>
  <div id="barVizContainerMobile">
    <svg id="barVizMobile"/>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  components: {},
  data() {
    return {
      innerHeight: 350,
      innerWidth: 250,
      data_items: [],
    };
  },
  computed: {
    chartMargin() {
      return { top: 10, right: 0, bottom: 40, left: 110 };
    },
    chartSettings() {
      return {
        width: this.$el.clientWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    this.headlines = await d3.csv('/data/the-things-we-queued-for/data-updated1.csv');
    this.formatData();
    this.drawGraph();
  },
  methods: {
    formatData() {
      this.headlinesByItems = d3
        .nest()
        .key(d => d.joce)
        .entries(this.headlines);
      let totalCount = 0;
      for (let j = 0; j < this.headlinesByItems.length; j++) {
        totalCount += this.headlinesByItems[j].values.length;
      }
      this.data_items = [];
      this.headlinesByItems.forEach(d => {
        const obj = { item: d.key, count: d.values.length, perc: (d.values.length / totalCount) * 100 };
        this.data_items.push(obj);
      });
      this.data_items.sort((a, b) => b.perc - a.perc);
      this.data_items = this.data_items.filter(d => d.count > 9);
      this.data_items.forEach(d => {
        d.rank = d.item;
      });
    },
    drawGraph() {
      this.barVizMobile = d3
        .select('#barVizMobile')
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);

      // Defining X, Y, color scale
      this.yScale = d3
        .scaleBand()
        .domain(this.data_items.map(d => d.item))
        .range([0, this.chartSettings.height - this.chartMargin.top - this.chartMargin.bottom])
        .paddingInner(0.3);

      this.xScale = d3
        .scaleLinear()
        .domain([0, 100])
        .range([0, this.chartSettings.width - this.chartMargin.left]);
      const color = d3
        .scaleOrdinal()
        .domain(this.data_items.map(d => d.rank))
        .range([
          '#BA003F',
          '#BD0740',
          '#C10F41',
          '#C51742',
          '#C91F44',
          '#CD2746',
          '#D13049',
          '#D53A4D',
          '#D94351',
          '#DD4D55',
          '#E1575B',
          '#E56261',
          '#E9716C',
          '#ED7F77',
          '#F08D82',
        ]);
      this.barVizMobile
        .append('g')
        .attr('class', 'yAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .call(d3.axisLeft(this.yScale).tickSize(5))
        .call(g => g.select('.domain', '').remove())
        .call(g => g.selectAll('line').style('opacity', 0));

      // draw grey bar
      const rectgroup = this.barVizMobile
        .append('g')
        .attr('class', 'allbars')
        .selectAll('.rectgroup')
        .data(this.data_items)
        .enter()
        .append('g')
        .attr('class', 'rectgroup')
        .attr('transform', 'translate(0, 8)');
      rectgroup
        .append('rect')
        .attr('x', this.chartMargin.left)
        .attr('y', d => this.yScale(d.item))
        .attr('width', this.innerWidth)
        .attr('height', 20)
        .attr('fill', 'rgba(0, 0, 0, 0.05)');
      rectgroup
        .append('rect')
        .attr('x', this.chartMargin.left)
        .attr('y', d => this.yScale(d.item))
        .attr('height', 20)
        .attr('width', d => this.xScale(d.perc))
        .attr('fill', d => color(d.rank));
      rectgroup
        .append('text')
        .attr('transform', `translate(${this.chartMargin.left + 5}, 14)`)
        .text(d => `${d.perc.toFixed(2)}%`)
        .attr('x', d => this.xScale(d.perc))
        .attr('y', d => this.yScale(d.item))
        .style('fill', d => color(d.rank));

      this.barVizMobile
        .selectAll('text')
        .attr('font-size', '12px')
        .attr('font-family', 'LL Akkurat Pro');
      this.barVizMobile.selectAll('.yAxis text').attr('font-weight', 'semi-bold');
    },
    responsivefy(svg) {
      const container = d3.select(svg.node().parentNode);
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on(`resize.${container}.attr('id')`, this.resize(svg, aspect));
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus">
#barVizMobile {
  display: block;
  margin: 0 auto;
}
</style>
