<template>
  <section>
    <p class="mb-3 body-1 headline">Show headlines about people queueing for</p>
    <v-select
      :items="items"
      label="All items"
      solo
      offset-y
      @input="updateData"
    />
    <!-- this is where the viz starts -->
    <div id="heartVizContainer">
      <svg id="heartViz"/>
      <div id="headlines">
        <p class="caption date">{{ date }}</p>
        <p class="caption headline"><b>{{ headline }}</b></p>
        <p class="caption qitem">Queue item: {{ item }}</p>
      </div>
    </div>
  </section>
</template>

<script>
import * as d3 from 'd3';

export default {
  components: {},
  data() {
    return {
      headlines: '',
      innerHeight: 750,
      innerWidth: 500,
      date: '',
      headline: '',
      item: '',
      items: [],
    };
  },
  computed: {
    chartMargin() {
      return { top: 20, right: 10, bottom: 0, left: 35 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    this.headlines = await d3.csv('/data/the-things-we-queued-for/data-updated1.csv');
    this.formatHeartData();
    this.drawGraph();
    this.triggeringHeart();
  },
  methods: {
    slugify(string) {
      return this.$_.kebabCase(string);
    },
    formatHeartData() {
      this.headlines.forEach(d => {
        d.joceslug = this.slugify(d.joce);
      });
      this.headlinesByYear = d3
        .nest()
        .key(d => d.year)
        .entries(this.headlines);
      this.items = d3
        .map(this.headlines, d => d.joce)
        .keys()
        .sort();
      this.items.unshift('All items');
    },
    drawGraph() {
      this.heartViz = d3
        .select('#heartViz')
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);

      // define the axis
      this.yAxis = d3
        .scaleLinear()
        .domain([2019.5, 1989.5])
        .range([this.chartMargin.top, this.chartSettings.height - this.chartMargin.top / 2]);
      // draw the axis
      this.heartViz
        .append('g')
        .attr('class', 'yAxisYear')
        .attr('transform', `translate(${this.chartMargin.left}, 0)`)
        .call(
          d3
            .axisLeft(this.yAxis)
            .ticks(30)
            .tickSize(10)
            .tickSizeOuter(0)
            .tickFormat(d3.format('d'))
        )
        .call(g => g.selectAll('line').style('opacity', 0));
      d3.select('.yAxisYear > path').style('opacity', 0.3);

      this.heartViz
        .selectAll('text')
        .style('font-family', 'LL Akkurat Pro')
        .style('font-size', 10);
    },
    drawHearts() {
      this.yearGroup = this.heartViz
        .selectAll('yearHeadlines')
        .data(this.headlinesByYear)
        .enter()
        .append('g')
        .attr('class', 'yearHeadlines')
        .attr('transform', `translate(${this.chartMargin.left + 10}, -7)`);
      this.yearGroup
        .selectAll('image')
        .data(d => d.values)
        .enter()
        .append('image')
        .attr('href', '/data/the-things-we-queued-for/graphics/heart.svg')
        .attr('x', (d, i) => 15 * i + 20)
        .attr('y', d => this.yAxis(d.year))
        .attr('opacity', 0)
        .attr('width', 13)
        .attr('height', 15);
      // // Animation
      this.yearGroup
        .selectAll('image')
        .transition('move')
        .duration(250)
        .attr('x', (d, i) => 15 * i)
        .delay((d, i) => 200 * i);
      this.yearGroup
        .selectAll('image')
        .transition('fadein')
        .duration(250)
        .attr('opacity', 1)
        .delay((d, i) => 200 * i);
      const hearts = d3.selectAll('image');
      hearts.on('mouseenter', d => {
        this.date = d.date;
        this.headline = d.title;
        this.item = d.item;
      });
      // positioning the tooltip and changing the opacity of the hearts
      hearts
        .on('mouseenter.opacity', function showBox() {
          d3.select(this).attr('href', '/data/the-things-we-queued-for/graphics/hover-heart.svg');

          // calculate tooltip position
          this.selectedHeart = d3
            .select(this)
            .node()
            .getBoundingClientRect();
          this.tooltipWidth = d3
            .select('#headlines')
            .node()
            .getBoundingClientRect().width;
          this.tooltipHeight = d3
            .select('#headlines')
            .node()
            .getBoundingClientRect().height;
          this.posLeft =
            this.selectedHeart.left > document.body.clientWidth / 2
              ? this.selectedHeart.right - this.tooltipWidth
              : this.selectedHeart.right;
          this.posTop = this.selectedHeart.top + window.scrollY - 40;
          // move tooltip
          const tooltip = d3.select('#headlines');
          tooltip
            .style('top', `${this.posTop}px`)
            .style('left', `${this.posLeft}px`)
            .style('visibility', 'visible');
        })
        .on('mouseleave.opacity', function hideBox() {
          d3.select(this).attr('href', '/data/the-things-we-queued-for/graphics/heart.svg');

          d3.select('#headlines').style('visibility', 'hidden');
        });
    },
    triggeringHeart() {
      // triggering
      const self = this;
      self.triggered = false;
      window.onscroll = () => {
        const containerTop = d3
          .select('#heartVizContainer')
          .node()
          .getBoundingClientRect().height;
        const scrollTop = window.scrollY;
        if (scrollTop > containerTop && self.triggered === false) {
          this.drawHearts();
          self.triggered = true;
        }
      };
    },
    updateData(event) {
      if (event === 'All items') {
        d3.selectAll('image').attr('opacity', 1);
      } else {
        // d3.selectAll('image').attr('opacity', 1);
        const filteredItem = this.slugify(event);
        this.yearGroup
          .selectAll('image')
          .transition('move')
          .duration(0)
          .attr('x', (d, i) => 15 * i);
        d3.selectAll('image')
          .transition('fadein')
          .duration(0)
          .attr('opacity', d => (d.joceslug !== filteredItem ? 0.2 : 1));
      }
    },
    handleTooltipShow() {
      const tooltip = d3.select('#headlines');
      const tooltipTransit = d3
        .transition()
        .duration(250)
        .ease(d3.easeLinear);
      // fade tooltip in
      tooltip
        .transition(tooltipTransit)
        .style('opacity', 1)
        .style('display', 'block');
    },
    handleTooltipHide() {
      // hide tooltip
      const tooltip = d3.select('#headlines');

      // create transition
      const tooltipTransit = d3
        .transition()
        .duration(500)
        .ease(d3.easeLinear);

      // fade tooltip out
      tooltip.transition(tooltipTransit).style('display', 'none');
    },
    responsivefy(svg) {
      const container = d3.select(svg.node().parentNode);
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on(`resize.${container}.attr('id')`, this.resize(svg, aspect));
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
#headlines {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 1;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  width: 20%;
}

p {
  padding: 0;
  margin: 0;
}

.date {
  color: #cd5c2d;
}

.headline {
  font-weight: 700;
  padding: 3px 0px;
  display: inline;
}

div .v-input {
  width: 250px;
  display: inline-block;
  margin-left: 10px;
}

div .v-input >>> .v-input__slot{
  background-color: #ffd4c2;
  border-radius: 100px;
}

div .v-input >> .v-icon{
  color: black;
}

#heartVizContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-style: dashed none none;
}

>>> .v-input__slot {
  box-shadow: none !important;
  margin-bottom: 0;
}

>>> .v-label {
  font-size: 15px !important;
}

@media only screen and (max-width: 960px) {
  #headlines {
    width: 50%;
  }

  div .v-input {
  width: 100%;
  display: inline-block;
  margin: 10px 0px 0px 0px;
  }
}
</style>
