<template>
  <div id="landing">
    <v-container inner class="pb-0">
      <v-layout wrap>
        <v-flex xs12 text-xs-center>
          <div class="view-landing__heading my-4 pt-3">
            <span class="font-secondary" v-html="postTags"/>

            <h1 class="display-3 love-font my-3">{{ post.title.raw }}</h1>

            <time class="font-secondary love-font mb-5">
              <strong class="mr-1">Published </strong> {{ post.date | moment("MMMM D, YYYY") }}
            </time>

            <!-- <time class="font-secondary mb-5">
              <strong class="mr-1">Published </strong> October 31, 2019
            </time> -->

            <p class="body-2 love-font mt-5">
              <strong>Finding out what matters to Singaporeans by combing through The Straits Times headlines with the word ‘queue’ in it.
              </strong>
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container outer class="pt-0">
      <v-layout wrap>
        <v-flex xs12 class="text-xs-center navbar-trigger">
          <div class="view-landing__image mb-5">
            <img
              src="/data/the-things-we-queued-for/graphics/featured-img.png"
              alt="landing image"
              class= "fluid">
          </div>

          <address class="mx-3 mb-5"><strong>
            Story by</strong> Isabella Chua <strong><br> Code by</strong> Siti Aishah<br><strong>Design by</strong> Joceline Kuswanto
          </address>
        </v-flex>

        <div class="mousey-scroller">
          <div class="mousey">
            <div class="mousey__wheel" />
          </div>
        </div>
      </v-layout>
    </v-container>

    <v-container inner>
      <v-layout wrap class="mb-5 pb-4">
        <v-flex xs12>
          <div class="mt-5">
            <p class="body-2">
              <span class="first">S</span>
              ingapore is a nation of queuers. So much so that over the years, this ‘national pastime’ has made the headlines in The Straits Times, our national newspaper—322 headlines since 1990 to be exact. We have camped overnight, cut queues, jostled, and even paid others to get what we want. Skeptics may peg this as classic <i>kiasu</i> Singaporean behaviour, but don’t people say that love is worth fighting for?
            </p>

            <p class="body-2 mb-0">
              So, if you have ever taken the time and effort to queue for something, or someone, this is a tribute to you.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#landing {
  background-color: #ffd4c2;

  h1 {
    color: #cd5c2d;
  }

  .love-font {
    font-family: 'Buenos Aires', sans-serif !important;
    font-weight: 400;
  }

  .view-landing__image {
    width: 95%;
    margin: 0 auto;
  }
}

.layout {
    position: relative;
  }

  .mousey-scroller {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 34px;

    .mousey {
      box-sizing: content-box;
      opacity: 0.75;
      width: 3px;
      height: 23px;
      padding: 5px 8px;
      margin: auto;
      border: 2px solid #cd5c2d;
      border-radius: 25px;

      .mousey__wheel {
        width: 3px;
        height: 7px;
        border-radius: 25%;
        background-color: #cd5c2d;
        animation-name: mouseywheel;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        animation-iteration-count: infinite;
      }
    }
  }

@keyframes mouseywheel {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.first {
  float: left;
  width: 0.8em;
  font-size: 450%;
  line-height: 1;
  color: #cd5c2d;
}
</style>
