<template>
  <section id="references">
    <v-container inner>
      <v-layout wrap>
        <!-- methodology -->
        <v-flex xs12>
          <div class="mx-2 mt-5 caption">
            <h5 class="body-2 mb-3 font-weight-bold">Methodology</h5>

            <p>
              We collated a total of 322 Straits Times headlines which contain the word ‘queu’ (not spelling error) in order to capture the different variations of queue such as queue, queues, queued, queuing and queueing. We excluded articles which were about queuing but do not have queue in their headlines, and articles with queue only in their body text.
            </p>

            <p>The raw data was compiled from two sources:</p>
            <ol class="mb-3">
              <li>
                The Singapore Press Holding (SPH) API by running a general search for ‘queu’ within the Straits Times database. This includes all sections of The Straits Times, such as Lifestyle, Home, and Asia. Unfortunately, the API only included search results from 2014 to 2019.
              </li>

              <li>
                We then scraped the OneSearch engine for archived articles from The Straits Times with the word ‘queue’ from 1990 to 2014.
              </li>
            </ol>

            <p>Afterwards, we further filtered the headlines by the following conditions:</p>
            <ol class="mb-3">
              <li>Headlines must contain the word queue (or its variations).</li>
              <li>Headlines must tell the story of people queuing for something.</li>
              <li>Headlines are reporting about queuing within Singapore.</li>
            </ol>

            <p>
              This means that we excluded headlines regarding news from overseas, offences (i.e ‘Bank robber arrested after waiting in queue’), and implementations (‘Govt studying more ways to cut queue’). Having said that, we did include headlines of implementations if they were made in response to cope with intense queues (‘Who will get to jump HDB queue?’).
            </p>

            <p>
              Whenever we needed to read beyond the headlines for context, we accessed the NewspaperSG database from the National Library’s multimedia station to read the full articles.
            </p>
          </div>
        </v-flex>

        <!-- references -->
        <v-flex xs12>
          <v-divider class="mt-3" />
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
              <div class="single-post__references mt-3">
                <ul class="list--none">
                  <li
                    v-for="(ref, i) in footerData.references"
                    :key="i"
                    class="mb-3"
                  >
                    <p class="mb-0">{{ ref.reference_citation }}</p>
                    <a
                      v-if="ref.reference_link"
                      :href="ref.reference_link"
                    >
                      {{ ref.reference_link }}
                    </a>
                  </li>
                </ul>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <!-- topics -->
          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li
                v-for="(topic, i) in footerData.topics"
                :key="topic.id"
                class="d-inline text-lowercase"
              >
                {{ topic.name }}{{ i === footerData.topics.length - 1 ? '' : ', ' }}
              </li>
            </ul>
          </div>
          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" style="color: #fbf4e9; text-decoration: underline;">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
// ui components
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
  },
  props: {
    footerData: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#references {
  background-color: #fdfbf7;

  .v-expansion-panel__container {
    background-color: #fdfbf7 !important;
  }

  .v-expansion-panel {
    box-shadow: none !important;
  }

  .single-post__references >>> a {
    color: #f2784b;
    text-decoration: underline;
  }
}


</style>
