<template>
  <div id="section3graphs">
    <v-container inner>
      <v-layout wrap>
        <v-flex xs12>
          <div class="mt-5">
            <h2 class="headline mb-3 love-font">Timeless love</h2>

            <p class="body-2">
              Unlike the ever-changing landscape of Singapore, these are the items that we have consistently queued for over the years.
            </p>
            <p class="body-2 love-font my-4">Items which have consistently made the headlines since 1990</p>
          </div>
        </v-flex>
        <v-flex
          v-for="(item, index) in graphList"
          :key="index"
          lg4
          xs6
          mt-3>
          <div
            class="mr-3"
            flat>
            <img
              :src="'/data/the-things-we-queued-for/graphics/graph-' + item + '.svg'"
              class="fluid">
          </div>
        </v-flex>
        <v-flex xs12>
          <div class="my-5">
            <p>
              <strong>Celebrities:</strong> Some things never change. The next time the older generation makes a jab about Millennials or Gen Zs queuing overnight for K-pop band BTS concert tickets, you can gently remind them that they were once fanatic fans too, who queued for the Beatles record, and surprisingly—Mediacorp actress <a href="https://eresources.nlb.gov.sg/music/Media/PDFs/Album/04063388-9c63-4000-8002-c30a195c0bd1.pdf" target="_blank">Zoe Tay’s album</a>—in the 90s.
            </p>

            <p>
              <strong>Lottery:</strong> While queues for lottery tickets are a familiar sight in our heartlands, they become newsworthy whenever a record prize sum is announced, like the annual Toto Hongbao Draw. One notable exception was in 2006, when instead of congregating at Singapore Pools, people were queuing for red bean buns at a Taoist altar. Apparently, the winning 4D combination was chosen at the same altar a few weeks prior to that, and people believed that lightning would strike twice if they ate the buns blessed by the same deity.
            </p>

            <p>
              <strong>HDB flats:</strong> Queues for HDB flats were often a result of the policies being introduced. The spike in headlines in 1994 was caused by a new policy to have separate queues for first-time applicants and upgraders to cut down on waiting time. The second spike in 2002 was over the introduction of the Built-To-Order (BTO) scheme. It was a game-changer as flats were built only if demand exceeded 70 percent, and gave potential buyers the flexibility to choose the exact location and type of flats they wanted.
            </p>

            <p>
              <strong>Collectibles:</strong> Over time, we have queued for commemorative coins, stamps, and notes, but none could rival the mania caused by McDonald’s Hello Kitty promotions. In 2000, thousands waited in line for the Hello Kitty and Dear Daniel wedding set. The aftermath was unprecedented: Cisco guards and the police were called in to break up fights, people were hospitalised, traffic was jammed, and McDonalds had to shut down some of its outlets to contain the situation. 13 years later, thousands flocked to McDonalds again to snatch the limited edition ‘Singing Bone’ Hello Kitty. The key difference was that this time round, scalpers uploaded the figurines on eBay and Craigslist (Carousell was not mainstream yet) and sold them for upward of hundreds of dollars; a far cry from the original price of $4.60.
            </p>

            <p>
              <strong>Transport:</strong> Before Give-Way Glenda and Move-In Martin taught us how to be civil to our fellow commuters, SMRT had the ‘Stop the Stampede’ campaign in 1991, and experimented with Y-shape queue lines in 1992. The Mass Rapid Transport (MRT) only started operations in 1987, so SMRT had to deal with teething issues, such as people jumping queues or rushing to board the buses and trains. Typical of Singaporeans, most suggested fining as a solution when interviewed by The Straits Times. After the 90s, the focus shifted to shortening taxi queues. At the forefront was Changi Airport, which introduced information boards in 2009 to direct taxi drivers to crowded terminals, and a short-lived trial in 2014 which had a separate queue for premium and common taxis. But with the prevalent use of ride-hailing apps, queuing for taxis has become less of an issue today.
            </p>

            <p>
              <strong>National Day Parade tickets:</strong> Even though queue related headlines about the NDP tickets stopped by 2003, we included it as an example of Singaporeans’ love of the <i>process</i> of queuing. When people had to physically queue for NDP tickets at the National Stadium in the 90s, the mood was celebratory. People made friends with others in the line, had picnics, and relied on a placard held by a soldier to know how many tickets were left. A bit of that magic was lost when e-balloting rolled in in 2003. Almost half a million people entered the ballot, yet 4,000 of the tickets remained uncollected. The organisers attributed it to people ‘trying their luck’ and rejecting the tickets when they realised that they were allocated preview show tickets rather than the main parade. And then there were the scalpers, who had the gall to sell these free tickets for upwards of $500 a pair.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      graphList: ['celebrity', 'lottery', 'hdb', 'collectibles', 'transport', 'ndp'],
    };
  },
};
</script>

<style scoped>
#section3graphs {
  background-color: #ffede6;
}

.love-font {
  font-family: 'Buenos Aires', sans-serif !important;
  font-weight: 500;
}

p > a {
  color: #f2784b;
  text-decoration: underline;
}
</style>
