<template>
  <div id="section2Hearts">
    <v-container id="heart" inner>
      <v-layout wrap>
        <v-flex xs12>
          <div class="mt-5">
            <h2 class="headline love-font mb-3">Gen X queued for notice of marriage, Millennials queued for Gong Cha bubble tea</h2>

            <p class="body-2">
              On average, there have been 11 headlines about queueing every year since 1990. This may seem excessive—how can queuing be <i>that</i> newsworthy? Many of the queues were in response to Singapore’s development.
            </p>

            <p class="body-2">
              Take for example the 90s and 2000s. The majority of the headlines were of prospective homeowners queuing to register for Housing Development Board (HDB) flats. With <a href="https://eresources.nlb.gov.sg/infopedia/articles/SIP_2015-02-04_103701.html" target="_blank">over 80 percent</a> of the Singapore population living in HDB flats by the 1990s, owning one was considered the ‘Singapore Dream’. Exclusive to this period were also headlines of people queuing for primary school registration and the National Day Parade (NDP) tickets. While people still queue for these things, the introduction of e-balloting and online registration have reduced the need for physical queuing.
            </p>

            <!-- Viz -->
            <p class="body-2 love-font mt-4">
              Distribution of The Straits Times headlines with the word ‘queue’ over the years
            </p>

            <p class="caption my-3">
              Each heart represents one headline with the word ‘queue’. Mouse over the hearts to see more information.
            </p>

            <HeartViz/>

            <p class="caption mb-5 disclaimer--text">
              Disclaimer: ‘queue’ includes ‘queueing’, ‘queued’ etc.
            </p>

            <p class="body-2">
              Sometimes, the things that we coveted were related. In 1997, there was a mad scramble by couples to register for marriage. The reason? They were incentivised by HDB’s new Fiancé/Fiancée Scheme, which allowed newlyweds to offset the $5,000 registration deposit using their Central Provident Fund (CPF).
            </p>

            <p class="body-2">
              Social media has taken over this decade. News can be shared more easily with a quick tap on the smartphone, which has enabled us to queue for more things more frequently. The 2010s had the most ‘queuing’ headlines out of all decades, and it hasn’t even ended yet.
            </p>

            <p class="body-2">
              With social media, what we choose to queue for also became greatly influenced by hype and how #instagrammable it is.
            </p>

            <p class="body-2">
              When bubble tea brand Gong Cha toyed with our hearts by announcing that they were closing and re-opening within the same year, many shared photos and videos of the winding queues at the new SingPost Centre outlet. Instead of being deterred by the crowd, more people jumped onto the bandwagon, and the queues amounted to a <a href="https://www.channelnewsasia.com/news/singapore/gong-cha-singapore-singpost-centre-open-9458616" target="_blank">leg-numbing 14 hour wait.</a>
            </p>

            <h2 class="headline love-font mt-5 mb-3">
              Forget fried rice, it’s a chicken rice paradise out here
            </h2>

            <p class="body-2">
              True to our foodie reputation, food was the overall top item Singaporeans queued for, making up about ten percent of the headlines. But we don’t just queue for any food. We only queue for good food, choosing to devote our labour mostly for Michelin recognised food like Tsuta ramen, and hawkers stalls which were awarded the Bib Gourmand.
            </p>

            <p class="body-2 mb-5">
              Chicken rice was a close second, bolstered by the Ah Tai and Tian Tian Hainanese chicken rice rivalry after word got out that the Tian Tian chef was fired and working for the competitor.
            </p>

            <p class="body-2 love-font mt-4 mb-4">
              Popular items that people have queued for as a percentage of all headlines
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container outer class="py-0">
      <v-flex xs12>
        <BarViz class="hidden-xs-only"/>
        <BarVizMobile class="hidden-sm-and-up"/>
      </v-flex>
    </v-container>

    <v-container inner>
      <v-layout wrap>
        <v-flex xs12 mb-5>
          <p class="body-2">
            Impressively, Apple products made it to the top five, even though the first iPhone was only released in 2008. Once again, we queue selectively. After the initial buzz over the first iPhone, there was a lull in enthusiasm for the iPad, Apple Watch, and other iPhone models. The momentum only picked up again over the launch of the iPhone X models.
          </p>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import HeartViz from '@/components/posts/static/the-things-we-queued-for/HeartViz';
import BarViz from '@/components/posts/static/the-things-we-queued-for/Bar';
import BarVizMobile from '@/components/posts/static/the-things-we-queued-for/BarMobile';

export default {
  components: {
    HeartViz,
    BarViz,
    BarVizMobile,
  },
};
</script>

<style lang="stylus" scoped>
#section2Hearts {
  background-color: #fcfbf7;
}

#heart {
  padding-bottom: 0px;
}

.love-font {
  font-family: 'Buenos Aires', sans-serif !important;
  font-weight: 500;
}

.disclaimer--text {
  color: rgba(0, 0, 0, 0.5) !important;
}

p > a {
  color: #f2784b;
  text-decoration: underline;
}
</style>
