<template>
  <div id="section4conclusion">
    <v-container inner>
      <v-layout wrap>
        <v-flex xs12>
          <div class="mt-5 mb-5">
            <p class="body-2">
              <span class="first">O</span>ur habitual queuing may raise some eyebrows—do Singaporeans really have nothing better to do than to queue all day?
            </p>

            <p class="body-2">
              But by examining the things that we have queued for over the years, certain aspirations we share as a nation were revealed. The desire to build a home, to enroll our children in a good school, and to bid farewell to our founding Prime Minister Lee Kuan Yew.
            </p>

            <p class="body-2">
              And maybe this is the privilege of a sheltered, <a href="https://www.airconditionednation.com/" target="_blank">‘air-conditioned’ nation</a>, where queues make headline news. Still, it is reassuring to see a queue, and know that this is home, truly.
            </p>

            <p class="mt-5">
              <i>This story won the third prize at <a href="https://www.xds.humancentreddata.science/" target="_blank">XDS’s data storytelling competition</a> which challenged its participants to produce a data-driven story about love in Singapore</i>.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

#section4conclusion {
  background-color: #ffd4c2;

    .love-font {
      font-family: 'Buenos Aires', sans-serif !important;
      font-weight: 500;
    }

    .first {
      float: left;
      width: 0.8em;
      font-size: 360%;
      line-height: 1;
      color: #cd5c2d;

      @media $display-breakpoints.sm-and-down {
        font-size: 320%;
        line-height: 0.8;
      }
    }

    a {
      color: #f2784b;
      text-decoration: underline;
    }
}
</style>
