<template>
  <div id="page-shop-bri" class="mt-5">
    <section>
      <v-container grid-list-xl>
        <v-layout wrap>

          <v-flex xs12>
            <v-layout wrap>
              <v-flex xs12 md5>
                <img
                  src="~/assets/img/products/bri-cover.png"
                  alt="bri-booklet-cover"
                  class="booklet-cover fluid">
              </v-flex>

              <v-flex xs12 md7>
                <v-card flat height="100%">
                  <v-card-title class="pt-0 pl-0">
                    <div>
                      <h1 class="display-3 my-0">Belt & Road Initiative</h1>
                      <h4 class="title font-weight-regular my-2">$5.00 (excl. postage)</h4>
                      <address class="subtitle-2">by Kontinentalist</address>
                    </div>
                  </v-card-title>

                  <v-card-text class="pl-0">
                    <p class="body-2">
                      Backed by trillions of dollars and the determination of President Xi Jinping, China’s Belt & Road Initiative (BRI) is a juggernaut that rolls from Central and Southeast Asia to the entire Eurasian continent and the rest of the world. The BRI shifts the balance of power and affects every aspect of life, from business and investment, to culture and education. Here, in a nutshell, is the ambitious plan to make China a world leader.
                    </p>
                  </v-card-text>

                  <v-card-actions class="pl-0">
                    <div>
                      <!-- Paypal button -->
                      <form
                        action="https://www.paypal.com/cgi-bin/webscr"
                        method="post"
                        target="_top">

                        <input
                          type="hidden"
                          name="cmd"
                          value="_s-xclick">
                        <input
                          type="hidden"
                          name="hosted_button_id"
                          value="KXBU7EGMPKFPJ">
                        <input
                          type="image"
                          src="https://www.paypalobjects.com/en_GB/SG/i/btn/btn_buynowCC_LG.gif"
                          border="0"
                          name="submit"
                          alt="PayPal – The safer, easier way to pay online!">
                        <img
                          alt=""
                          border="0"
                          src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif"
                          width="1"
                          height="1">
                      </form>

                      <!-- Ebook link -->
                      <div class="body-2 mt-2">
                        E-book version available
                        <a
                          href="http://www.tusitalabooks.com/ebook/belt-and-road-initiative/"
                          target="_blank"
                          class="primary--text">here.</a>
                      </div>
                    </div>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex xs12 mt-3>
            <v-layout wrap>
              <v-flex xs12 py-0>
                <h2 class="title">Product Details</h2>
              </v-flex>

              <v-flex md6>
                <ul class="list--none">
                  <li class="mt-2">
                    <span>Format: Paperback | 32 pages</span>
                  </li>
                  <li class="mt-2">
                    <span>Dimensions: 148 x 210 x 5mm | g</span>
                  </li>
                  <li class="mt-2">
                    <span>Publication year: 2018</span>
                  </li>
                  <li class="mt-2">
                    <span>Publisher: Kontinentalist</span>
                  </li>
                </ul>
              </v-flex>

              <v-flex md6>
                <ul class="list--none">
                  <li class="mt-2">
                    <span>Publication City / Country: Singapore</span>
                  </li>
                  <li class="mt-2">
                    <span>Language: English</span>
                  </li>
                  <li class="mt-2">
                    <span>ISBN no: 978-981-11-6643-3</span>
                  </li>
                </ul>
              </v-flex>
            </v-layout>
          </v-flex>

        </v-layout>
      </v-container>
    </section>

    <section class="mt-4 pb-5" style="background-color: #f5efe4;">
      <v-container>
        <v-layout wrap>
          <v-flex xs12 mb-4>
            <h3 class="headline font-weight-regular">Preview</h3>
          </v-flex>

          <v-flex md5>
            <img
              src="~/assets/img/products/bri-preview-asean.png"
              alt="bri-booklet-preview-asean"
              class="fluid">
          </v-flex>

          <v-flex md5 offset-md1>
            <img
              src="~/assets/img/products/bri-preview-trade.png"
              alt="bri-booklet-preview-trade"
              class="fluid">
          </v-flex>

        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Belt & Road Initiative Booklet',
      meta: [
        {
          hid: 'description',
          name: 'description',
          property: 'og:description',
          content:
            'Backed by trillions of dollars and the determination of President Xi Jinping, China’s Belt & Road Initiative (BRI) is a juggernaut that rolls from Central and Southeast Asia to the entire Eurasian continent and the rest of the world. The BRI shifts the balance of power and affects every aspect of life, from business and investment, to culture and education. Here, in a nutshell, is the ambitious plan to make China a world leader.',
        },
        // open graph tags
        { hid: 'og:type', property: 'og:type', content: 'product' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', property: 'og:title', content: 'Belt & Road Initiative Booklet' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/products/bri-preview-asean.png')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>


<style lang="stylus" scoped>
</style>
