<template>
  <div class="tour-container__text px-3 py-4">
    <transition name="fade" mode="out-in">
    <div
      v-if="step === 1"
      key="view-1"
      class="tour-text">
        <p class="body-2 mb-2">Entering Ihram at the Miqat</p>
        <p class="body-1">While crossing the boundaries of Mecca, called Miqat, pilgrims must enter a sacred state of ritual purity called Ihram. This entails wearing plain white garments, making the intention to perform Hajj and following certain rules such as refraining from bad behavior and sexual activity.</p>
    </div>

    <div
      v-else-if="step === 2"
      key="view-2"
      class="tour-text">
        <p class="body-2 mb-2">Tawaf and Sa’e at Masjid al-Haram</p>
        <p class="body-1">Upon reaching the Grand Mosque, pilgrims perform the Tawaf, which involves walking around the Kaaba in an anti-clockwise direction seven times. Afterwards, they walk seven times between the hills of Safa and Marwah in a ritual called the Sa’e. This represents the journey Ibrahim’s wife Hagar took in search of water for her son Ismail, who is believed to have struck his foot on the ground, causing what is known as holy Zamzam water to spring forth. </p>
    </div>

    <div
      v-else-if="step === 3"
      key="view-3"
      class="tour-text">
      <p class="body-2 mb-2">Day of Tarawiyyah at Mina</p>
      <p class="body-1"> On the eighth day of Dhul-Hijjah, pilgrims head en masse to Mina, near Makkah, where they are housed in a sprawl of over 100 000 tents. Known as the Day of Tarawiyyah, time in Mina is spent in prayer and remembrance of God.</p>      
    </div>

    <div
      v-else-if="step === 4"
      key="view-4"
      class="tour-text">
      <p class="body-2 mb-2">Mount Arafat on the ninth of Dhul-Hijjah</p>
      <p class="body-1">The next day, pilgrims set out at dawn for the 14.4 kilometre journey to Mount Arafat, where the Prophet Muhammad gave his final sermon. The ninth of Dhul Hijjah is one of the most important days of the Islamic Calendar and pilgrims spend the day in supplication, asking God for forgiveness and guidance till the sun sets.</p>
    </div>

    <div
      v-else-if="step === 5"
      key="view-5"
      class="tour-text">
      <p class="body-2 mb-2">Collect pebbles at Muzdalifah</p>
      <p class="body-1">After sundown, pilgrims travel to Muzdalifah, where they pray the evening prayers, sleep under the stars and gather pebbles for the following day</p>
    </div>

    <div
      v-else-if="step === 6"
      key="view-6"
      class="tour-text">
      <p class="body-2 mb-2">Stoning the devil at Jamarat Bridge</p>
      <p class="body-1">The longest day of the pilgrimage takes place on the tenth of Dhul-Hijjah, which Muslims worldwide celebrate as Eid al-Adha. Before dawn, pilgrims head back to Mina, where they throw seven pebbles at the largest of three pillars called Jamarat al-Aqaba. This symbolic stoning of the devil re-enacts the story of prophet Ibraham, who was tempted by Satan to disobey God’s order to sacrifice his son. </p>
    </div>

    <div
      v-else-if="step === 7"
      key="view-7"
      class="tour-text">
      <p class="body-2 mb-2">Qurban on Eid ul-Adha</p>
      <p class="body-1">Pilgrims have to offer an animal sacrifice on either the tenth, 11th or 12th day of Dhul-Hijjah to commemorate the prophet Ibrahim’s readiness to sacrifice his son before Ismail was replaced by a lamb. During Eid all around the world, meat is shared and distributed to the needy. </p>
    </div>

    <div
      v-else-if="step === 8"
      key="view-8"
      class="tour-text">
      <p class="body-2 mb-2">Tahallul after Tawaf al-Ifadah</p>
      <p class="body-1">Pilgrims carry out another Tawaf and Sa’e. After that,they perform the Tahallul, which releases them from the state of Ihram. </p>      
    </div>

    <div
      v-else-if="step === 9"
      key="view-9"
      class="tour-text">
      <p class="body-2 mb-2">Final days in Mina</p>
      <p class="body-1">The last few days, which are specifically referred to as the days of Tashriq, are typically spent in Mina, where they again engage in the stoning ritual each day, this time throwing seven pebbles at each of the three pillars — Jamarat al-Ula, Jamarat al-Wusta and Jamarat al-Aqaba. </p>
    </div>

    <div
      v-else-if="step === 10"
      key="view-10"
      class="tour-text">
      <p class="body-2 mb-2">The Farewell Tawaf</p>
      <p class="body-1">Pilgrims return to Mecca to bid farewell to the Kaaba by performing their final tawaf, Tawaf al-Wada.</p>      
    </div>

    <div
      v-else-if="step === 11"
      key="view-11"
      class="tour-text">
      <p class="body-1">Click the icons to know more about the different sites of the pilgrimmage</p>
    </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
.tour-container__text {
  // background-color: grey;
  .tour-text {
    // background-color: orange;
    p {
      margin-bottom: 0;
      color: #71441F;

      a {
        color: #f2784b;
        text-decoration: underline;
      }
    }
    .body-2 {
      font-weight: 600;
    }
  }
  .fade-enter-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0;
  }
}

.legend {
  width: 60%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
</style>
