<template>
<section>
  <div class="tour-container elevation--2">
    <!-- Previous button -->
    <v-flex
      xs1
      v-show="step > 1">
      <v-btn
        class="ma-0 pa-0 chevron hidden-xs-only"
        :ripple="false"
        icon
        @click="$emit('trigger-tour', 'back')">
          <fa-icon :icon="['far', 'chevron-left']" fixed-width />
      </v-btn>
    </v-flex>

    <!-- Tour text -->
    <v-flex md10 xs12>
      <div class="tour-text hidden-xs-only">
        <TourText :step="step" />
      </div>

      <div class="tour-text hidden-sm-and-up">
        <TourTextMobile :step="step" />
      </div>
    </v-flex>

    <!-- Next button -->
    <v-flex
      xs1
      v-show="step !== finalStep">
      <v-btn
        class="ma-0 pa-0 chevron hidden-xs-only"
        :ripple="false"
        icon
        @click="$emit('trigger-tour', 'next')">
          <fa-icon :icon="['far', 'chevron-right']" fixed-width />
      </v-btn>
    </v-flex>

    <v-flex
      xs1
      v-show="step === finalStep">
      <v-btn
        class="ma-0 pa-0 chevron hidden-xs-only"
        :ripple="false"
        icon
        @click="$emit('trigger-tour', 'reset')"
      >
        <img src="https://img.icons8.com/metro/26/000000/refresh.png"/>
      </v-btn>
    </v-flex>   

    <!-- Desktop Instruction -->
    <TourTooltip v-show="step === 1" class="hidden-xs-only" />  

    <!-- Mobile Navigation Flex -->
    <v-flex class="hidden-sm-and-up mb-3" xs5>
      <v-btn
        :ripple="false"
        fab
        small
        @click="$emit('trigger-tour', 'back')"
      >
        <fa-icon :icon="['far', 'chevron-left']" fixed-width />
      </v-btn>

      <v-btn
        v-show="step < finalStep"
        :ripple="false"
        fab
        small
        color="primary"
        class="mr-0"
        @click="$emit('trigger-tour', 'next')"
      >
        <fa-icon :icon="['far', 'chevron-right']" fixed-width />
      </v-btn>
      <v-btn
        v-show="step === finalStep"
        :ripple="false"
        fab
        small
        color="primary"
        class="mr-0"
        @click="$emit('trigger-tour', 'reset')"
      >
        <fa-icon :icon="['far', 'times']" fixed-width />
      </v-btn>
      <v-btn
        v-show="step === finalStep"
        :ripple="false"
        fab
        small
        color="primary"
        class="mr-0"
        @click="$emit('trigger-tour', 'recenter')"
      >
        <fa-icon :icon="['far', 'location']" fixed-width />
      </v-btn>             
    </v-flex>  
  </div>


  
</section>
</template>

<script>
// components
import TourText from '@/components/posts/static/hajj/viz/TourText';
import TourTextMobile from '@/components/posts/static/hajj/viz/TourTextMobile';
import TourTooltip from '@/components/posts/static/hajj/viz/TourTooltip';

export default {
  components: {
    TourText,
    TourTextMobile,
    TourTooltip,
  },
  props: {
    step: {
      type: Number,
      required: true,
    },
    finalStep: {
      type: Number,
      required: true,
    },    
  },
};
</script>


<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.placeholder::after {
  content:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis blandit feugiat. Nullam molestie ac leo at tempus. Mauris vitae lacus pretium, egestas turpis quis, convallis tortor. Aliquam neque ante, faucibus sodales sodales id, congue at urna. Maecenas quis lacus arcu. Morbi auctor sed arcu id maximus.'
}

.chevron {
  color: #71441F;
}

.tour-container {
  position: absolute;
  top: 50%;
  left 30px;
  transform: translate(0, -50%);
  background-color: #fff;
  border-radius: 8px;
  width: 395px;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center; 

  .v-btn {
    &:hover:before {
      background-color: transparent;
    }
  }

  @media $display-breakpoints.sm-and-down {
    top: 16px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0, 0);
    max-width: 90%;
  }
}

.v-btn--small {
  height: 40px !important;
}
</style>
