<template>
  <div class="tour-container__text px-3 pt-3">
    <transition name="fade" mode="out-in">
    <div
      v-if="step === 1"
      key="view-1-1"
      class="tour-text">
        <p class="body-2 mb-2">Entering Ihram at the Miqat</p>
        <p class="body-1">While crossing the boundaries of Mecca, called Miqat, pilgrims must enter a sacred state of ritual purity called Ihram. </p>
    </div>

    <div
      v-if="step === 2"
      key="view-1-2"
      class="tour-text">
        <p class="body-1">This entails wearing plain white garments, making the intention to perform Hajj and following certain rules such as refraining from bad behavior and sexual activity.</p>
    </div>    

    <div
      v-else-if="step === 3"
      key="view-2-1"
      class="tour-text">
        <p class="body-2 mb-2">Tawaf and Sa’e at Masjid al-Haram</p>
        <p class="body-1">Upon reaching the Grand Mosque, pilgrims perform the Tawaf, which involves walking around the Kaaba in an anti-clockwise direction seven times. </p>
    </div>

    <div
      v-else-if="step === 4"
      key="view-2-2"
      class="tour-text">
        <p class="body-1">Then, they walk seven times between the hills of Safa and Marwah in a ritual called the Sa’e. This represents the journey Ibrahim’s wife, Hagar, took in search of water for her son Ismail, who discovered the spring of holy Zamzam water. </p>
    </div>

    <div
      v-else-if="step === 5"
      key="view-3-1"
      class="tour-text">
      <p class="body-2 mb-2">Day of Tarawiyyah at Mina</p>
      <p class="body-1"> On the eighth day of Dhul-Hijjah, pilgrims head en masse to Mina, near Makkah, where they are housed in a sprawl of over 100,000 tents.Known as the Day of Tarawiyyah, time in Mina is spent in prayer and remembrance of God.</p>      
    </div>

    <div
      v-else-if="step === 6"
      key="view-4-1"
      class="tour-text">
      <p class="body-2 mb-2">Mount Arafat on the ninth of Dhul-Hijjah</p>
      <p class="body-1">The next day, pilgrims set out at dawn towards Mount Arafat, where the Prophet Muhammad gave his final sermon. </p>
    </div>

    <div
      v-else-if="step === 7"
      key="view-4-2"
      class="tour-text">
      <p class="body-1">The ninth of Dhul Hijjah is one of the most important days of the Islamic calendar. Pilgrims spend the day in supplication, asking God for forgiveness and guidance till the sun sets.</p>
    </div>

    <div
      v-else-if="step === 8"
      key="view-5-1"
      class="tour-text">
      <p class="body-2 mb-2">Collect pebbles at Muzdalifah</p>
      <p class="body-1">After sundown, pilgrims travel to Muzdalifah, where they pray the evening prayers, sleep under the stars and gather pebbles for the following day</p>
    </div>

    <div
      v-else-if="step === 9"
      key="view-6-1"
      class="tour-text">
      <p class="body-2 mb-2">Stoning the devil at Jamarat Bridge</p>
      <p class="body-1">On the tenth of Dhul-Hijjah, Muslims celebrate Eid al-Adha. The pilgrims head back to Mina, where they throw seven pebbles at the largest of the three pillars.</p>
    </div>

    <div
      v-else-if="step === 10"
      key="view-6-2"
      class="tour-text">
      <p class="body-1">This symbolic stoning of the devil re-enacts the story of prophet Ibraham, who was tempted by Satan to disobey God’s order to sacrifice his son. </p>
    </div>    

    <div
      v-else-if="step === 11"
      key="view-7-1"
      class="tour-text">
      <p class="body-2 mb-2">Qurban on Eid ul-Adha</p>
      <p class="body-1">Pilgrims have to offer an animal sacrifice to commemorate Prophet Ibrahim’s readiness to sacrifice his son before Ismail was replaced by a lamb.</p>
    </div>

    <div
      v-else-if="step === 12"
      key="view-7-2"
      class="tour-text">
      <p class="body-1">During Eid all around the world, meat is shared and distributed to the needy.</p>
    </div>    

    <div
      v-else-if="step === 13"
      key="view-8-1"
      class="tour-text">
      <p class="body-2 mb-2">Tahallul after Tawaf al-Ifadah</p>
      <p class="body-1">Pilgrims carry out another Tawaf and Sa’e. After that,they perform the Tahallul, which releases them from the state of Ihram. </p>      
    </div>

    <div
      v-else-if="step === 14"
      key="view-9-1"
      class="tour-text">
      <p class="body-2 mb-2">Final days in Mina</p>
      <p class="body-1">The last few days, referred to as the days of Tashriq, are spent in Mina, where they again engage in the stoning ritual each day.</p>
    </div>

    <div
      v-else-if="step === 15"
      key="view-9-2"
      class="tour-text">
      <p class="body-1">This time, they throw seven pebbles at each of the three pillars — Jamarat al-Ula, Jamarat al-Wusta, and Jamarat al-Aqaba. </p>
    </div>    

    <div
      v-else-if="step === 16"
      key="view-10-1"
      class="tour-text">
      <p class="body-2 mb-2">The Farewell Tawaf</p>
      <p class="body-1">Pilgrims return to Mecca to bid farewell to the Kaaba by performing their final tawaf, Tawaf al-Wada.</p>      
    </div>

    <div
      v-else-if="step === 17"
      key="view-11-1"
      class="tour-text">
      <p class="body-1">Click the icons to know more about the different sites of the pilgrimmage</p>
    </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
.tour-container__text {
  // background-color: grey;
  .tour-text {
    // background-color: orange;
    p {
      margin-bottom: 0;
      color: #71441F;

      a {
        color: #f2784b;
        text-decoration: underline;
      }
    }
    .body-2 {
      font-weight: 600;
    }
  }
  .fade-enter-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0;
  }
}

.legend {
  width: 60%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
</style>
