<template>
  <div class="3DViz">       
    Viz Kaabah 3D here
  </div>
</template>

<script>
import * as THREE from 'three'
import { OBJLoader } from 'three/examples/js/loaders/OBJLoader.js'

export default {
  data() {
    return {
      hello: '',
    }
  },
  mounted() {
      this.init();
      this.render();
  },
  methods: {
    init () {
      this.scene = new THREE.Scene();
      const container = document.createElement('div');
      document.body.appendChild(container);

      // Camera
      this.camera = new THREE.PerspectiveCamera(40, window.innerWidth / window.innerHeight, 5, 500);
      this.camera.position.z = 23;
      this.camera.position.y = 0;
      this.camera.position.x = 25;
      this.scene.add( this.camera );

      // Light
      const ambientLight = new THREE.AmbientLight( 0xffffff, 1);
      this.scene.add( ambientLight );
      
      // Model
      // const mtlLoader = new THREE.MTLLoader();
      // mtlLoader.setPath('/data/hajj/model');
      // mtlLoader.load('/data/hajj/model/kaaba.mtl', function (materials) {
      //   materials.preload();

      //   const objLoader = new THREE.OBJLoader();
      //   objLoader.setMaterials(materials);
      //   objLoader.setPath('/data/hajj/model');
      //   objLoader.load('/data/hajj/model/kabaa.obj', function (object) {
      //     object.position.y = -8;
      //     object.position.x = -12;
      //     this.scene.add(object);
      //   });
      // });

      // Renderer
      this.renderer = new THREE.WebGLRenderer({antialias: true});
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.renderer.setSize(window.innerWidth, window.innerHeight);
      this.renderer.setClearColor(new THREE.Color("#e5e5e5"));
      container.appendChild(this.renderer.domElement);

      // Controls
      // this.controls = new THREE.OrbitControls(this.camera, this.renderer.domElement);
      // this.controls.enableDamping = true;
      // this.controls.dampingFactor = 0.25;
      // this.controls.enableZoom = true;

      // Events
      window.addEventListener('resize', this.onWindowResize, false);
    }, 
    onWindowResize() {
      this.camera.aspect = window.innerWidth / window.innerHeight;
      this.camera.updateProjectionMatrix();
      this.renderer.setSize(window.innerWidth, window.innerHeight);
    },
    animate() {
      requestAnimationFrame(this.animate);
      // this.controls.update();
      this.render();
    },
    render() {
      this.renderer.render(this.scene, this.camera);
    }
  },   
}
</script>

<style lang="stylus" scoped>
</style>
