<template>
  <div class="post__container">       
    <div id="mapsea" />  
  </div>
</template>

<script>
import * as d3 from 'd3';
import * as turf from '@turf/turf';

export default {
  props: {
    step: {
      type: String,
      required: true,
    },
    drive: {
      type: String,
      required: true,
    },
    progress: {
      type: Number,
      required: true,
    },    
  },
  data() {
    return {
      animationCounter: 0,
      mapSettings: [
        {
          id: 1,
          camera: {
            center: [120.164697, 5.470588],
            zoom: 3.85,
            bearing: 24.8,
            pitch: 59.5,
          },
        },
        {
          id: 2,
          camera: {
            center: [68.121321, 19.541954],
            zoom: 3.06,
            bearing: 8.76,
            pitch: 36,
          },
        },        
        {
          id: 3,
          camera: {
            center: [103.844481, 1.389602],
            zoom: 10.19,
            bearing: 0,
            pitch: 0,
          },       
        },
        {
          id: 4,
          camera: {
            center: [103.860218, 1.302514],
            zoom: 16.55,
            bearing: 0,
            pitch: 0.5,
          },
        },
        {
          id: 5,
          camera: {
            center: [111.775823, 1.857968],
            zoom: 4.53,
            bearing: 22.4,
            pitch: 29.34,
          },
        },
        {
          id: 6,
          camera: {
            center: [111.775823, 1.857968],
            zoom: 4.53,
            bearing: 22.4,
            pitch: 29.34,
          },
        }, 
        {
          id: 7,
          camera: {
            center: [79.194713, 16.8699],
            zoom: 3.38,
            bearing: 0,
            pitch: 0,
          },
        },                                               
      ],
      mapSettingsMobile: [
        {
          id: 1,
          camera: {
            center: [111.83733, 8.2726678],
            zoom: 3.25,
            bearing: 0,
            pitch: 45,
          },
        },
        {
          id: 2,
          camera: {
            center: [77.145149, 11.922279],
            zoom: 1.67,
            bearing: 0,
            pitch: 0,
          },
        },        
                {
          id: 3,
          camera: {
            center: [103.8144, 1.412743],
            zoom: 9.48,
            bearing: 0,
            pitch: 0,
          },       
        },
        {
          id: 4,
          camera: {
            center: [103.860218, 1.302514],
            zoom: 15.5,
            bearing: 0,
            pitch: 0.5,
          },
        },
        {
          id: 5,
          camera: {
            center: [108.136586, 8.098327],
            zoom: 3.2,
            bearing: 22.4,
            pitch: 29.34,
          },
        },
        {
          id: 6,
          camera: {
            center: [108.136586, 8.098327],
            zoom: 3.2,
            bearing: 22.4,
            pitch: 29.34,
          },
        }, 
        {
          id: 7,
          camera: {
            center: [77.145149, 11.922279],
            zoom: 1.67,
            bearing: 0,
            pitch: 0,
          },
        }                                            
      ],
      geojsonPoint: {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "LineString",
            "coordinates": []
          }
        }]
      },
    };
  },
  computed: {
    mapInit() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          center: [111.83733, 8.2726678],
          zoom: 3.25,
          bearing: 0,
          pitch: 45,
        };
      }
      return {
        center: [120.164697, 5.470588],
        zoom: 3.85,
        bearing: 24.8,
        pitch: 59.5,
      };
    },    
    driveandprogress() {
      return `${this.drive}, ${this.progress}`;
    },    
  },  
  watch: {  
    driveandprogress(newVal, oldVal) {
      const [newDrive, newProgress] = newVal.split(',');
      if (+newDrive !== -1) {
        this.handleStep(newDrive, newProgress);
      }
    },        
    step(stepNumber) {
      // change camera view per step
      this.changeCameraSettings(stepNumber);

      switch (+stepNumber) {
        // SG-Saudi dotted route
        case 1:
          this.resetSgSaudiRoute();
          this.map.setLayoutProperty('sgsaudi-points', 'visibility', 'none');
          break     
        case 2:
          this.animateSgSaudiRoute();
          this.map.setLayoutProperty('sgsaudi-points', 'visibility', 'visible');
          break;
        case 3:
          this.resetSgSaudiRoute();
          break
        // To-SG routes
        case 5:
          this.resetToSg();
          this.map.setLayoutProperty('animatedroute', 'visibility', 'none');
          this.map.setLayoutProperty('animatedroutelabels', 'visibility', 'none');
          this.changeCenter(0);   
          break
        case 6:
          this.animateToSg();
          this.map.setLayoutProperty('animatedroute', 'visibility', 'visible');
          this.map.setLayoutProperty('animatedroutelabels', 'visibility', 'visible');
          this.map.setLayoutProperty('animatedPoint', 'visibility', 'none');
          this.changeCenter(0);   
          break 
        case 7: 
          this.map.setLayoutProperty('animatedPoint', 'visibility', 'visible');                                    
      }
    },    
  },  
  async mounted() {
    // load data
    this.allRoutes = await d3.json('/data/hajj/geojson/routes.geojson');
    this.drivingRoute = this.allRoutes.features.filter(route => route.properties.route === "SG-Mecca");

    // initialise animation routes
    this.initSgSaudi();
    this.initToSgRoutes();
    
    // initialising map
    this.$Mapbox.load().then(() => {
      this.map = this.$Mapbox.constructMap({
        container: 'mapsea',
        style: 'mapbox://styles/kontinentalist/ckac9h99d3ebn1is42r4wjo4u',
        center: this.mapInit.center,
        zoom: this.mapInit.zoom,
        pitch: this.mapInit.pitch,
        bearing: this.mapInit.bearing,
        minZoom: 0.5,
        interactive: false,
      });   
      this.map.on('load', () => {
        this.loadRouteLayers();        
        this.createDriveRoute(this.drivingRoute, 1);         
      });           
    });
  },
  methods: {   
    loadRouteLayers() {
      // Init custom brush
      const self = this;
      this.map.loadImage('/data/hajj/calligraphy-line.png', function(error, image) {
        if (error) throw error;
        // Add the loaded image to the style's sprite with the ID 'calligraphy'.
        self.map.addImage('custom1', image);
      });
      this.map.loadImage('/data/hajj/icon-crescent.png', function(error, image) {
        if (error) throw error;
        // Add the loaded image to the style's sprite with the ID 'calligraphy'.
        self.map.addImage('custom2', image);
      });                  
      // Road Polygon
      this.map.addSource('road', {
        type: 'geojson',
        data: '/data/hajj/geojson/routes.geojson',
      });
      this.map.addLayer({
        id: 'bussorahstreet',
        type: 'line',
        source: 'road',        
        paint: {
          'line-width': 4,
          'line-pattern': 'custom1'
        },
        filter: ['==', 'route', 'bussorah-street']        
      });   

      // Towards SG
      this.map.addSource('animatedroute', {
        'type': 'geojson',
        'data': this.animatedroute
      }); 
      this.map.addLayer({
        'id': 'animatedroute',
        'source': 'animatedroute',
        'type': 'line',
        'paint': {
          'line-width': 3,
          'line-pattern': 'custom1'
        },
      });
      this.map.addLayer({
        'id': 'animatedroutelabels',
        'type': 'symbol',
        'source': 'animatedroute',
        'layout': {
          'symbol-placement': 'line',
          'text-font': ['Alegreya SC Medium'],
          'text-field': '{route}', // part 2 of this is how to do it
          'text-size': 14,
          // 'visibility': 'none'
        },
        'paint': {
          'text-color': '#a0cab9',
          'text-halo-color': '#16504d', 
          'text-halo-width': 1.5
        }        
      });

      // SG to Saudi
      this.map.addSource('sgsaudi-animated', {
        'type': 'geojson',
        'data': this.sgsaudi_animatedroute
      });
      this.map.addLayer({
        'id': 'sgsaudi-animated',
        'source': 'sgsaudi-animated',
        'type': 'line',
        layout: {
            "line-join": "round",
            "line-cap": "round"
        },               
        paint: {
          'line-width': {
            'base': 1.5, 
            'stops': [
              [14, 5], 
              [18, 20],
            ],
          },
          'line-dasharray': [0.1, 1.8],
          'line-color': 'black'
        },
      });
      this.map.addLayer({
        id: 'sgsaudi-points',
        type: 'symbol',
        source: 'road',
        layout: {
          'icon-image': 'custom2',
          'icon-size': 0.8
        },
        filter: ['==', '$type', 'Point']        
      });
      
      // Driving Route
      this.map.addSource('lineSource', {
        type: 'geojson',
        data: this.geojsonPoint
      });
      this.map.addSource('pointSource', {
        type: 'geojson',
        data: this.geojsonPoint
      });

      this.map.addLayer({
        id: "animatedLine",
        type: "line",
        source: "lineSource",
        paint: {
          'line-pattern': 'custom1',
          'line-width': 3.5
        },
        layout: {
          'visibility': 'none'
        }
      });
      this.map.addLayer({
        id: "animatedPoint",
        type: "circle",
        source: "pointSource",
       paint: {
          'circle-radius': 6,
          'circle-stroke-color': '#ffffff',
          'circle-stroke-width': 2,
          'circle-color': '#099211'
        },        
        layout: {
          'visibility': 'none'
        },
      });      
    },    
    // animation for sg-saudi
    initSgSaudi() {
      this.sgsaudi = []
      this.sgsaudi_animatedroute = {
        'type': 'FeatureCollection',
        'features': [
          {
            'type': 'Feature',
            'properties': {
              'route': '',
            },
            'geometry': {
              'type': 'LineString',
              'coordinates': []
            }
          }
        ]
      };
      // calculate route
      const line = turf.lineString(this.drivingRoute[0].geometry.coordinates);
      const lineDistance = turf.lineDistance(line);
      for (let i = 0; i < lineDistance; i += lineDistance / 100) {
        let segment = turf.along(line, i, {units: 'kilometers'});
        this.sgsaudi.push(segment.geometry.coordinates);
      }
    },
    animateSgSaudiRoute() {
      if (this.animationCounter < 100) {        
        this.sgsaudi_animatedroute.features[0].geometry.coordinates.push(this.sgsaudi[this.animationCounter]);
        this.map.getSource('sgsaudi-animated').setData(this.sgsaudi_animatedroute);
        this.requestID = requestAnimationFrame(this.animateSgSaudiRoute);
        this.animationCounter++;
      }
    },
    resetSgSaudiRoute() {
      window.cancelAnimationFrame(this.requestID);
      this.animationCounter = 0;
      this.sgsaudi_animatedroute.features[0].geometry.coordinates = [];
      this.map.getSource('sgsaudi-animated').setData(this.sgsaudi_animatedroute);
    },
    // animation for countries-singapore route        
    initToSgRoutes() {
      const nCountries = 6
      this.arc = []
      this.animatedroute = {
        'type': 'FeatureCollection',
        'features': []
      };

      for (let i=0; i < nCountries; i++) {
        this.arc.push([]);
        this.animatedroute.features.push(
          {
            'type': 'Feature',
            'properties': {
              'route': '',
            },
            'geometry': {
              'type': 'LineString',
              'coordinates': []
            }
          }
        );
      }

      // calculating 
      for (let country = 0; country < 6; country ++) {
        this.calculateRoutes(this.allRoutes, country);
      }      
    },
    calculateRoutes(data, item) {
      const line = turf.lineString(data.features[+item].geometry.coordinates);
      const lineDistance = turf.lineDistance(line);
      // Draw the line with the segments
      for (let i = 0; i < lineDistance; i += lineDistance / 100) {
        let segment = turf.along(line, i, {units: 'kilometers'});
        this.arc[+item].push(segment.geometry.coordinates);
      }
    },
    animateToSg() {
      if (this.animationCounter < 100) {        
        for (let country = 0; country < 6; country ++) {
          this.animatedroute.features[country].geometry.coordinates.push(this.arc[country][this.animationCounter]);
          this.animatedroute.features[country].properties.route = this.allRoutes.features[country].properties.route;
        }
        this.map.getSource('animatedroute').setData(this.animatedroute);
        this.requestID = requestAnimationFrame(this.animateToSg);
        this.animationCounter++;
      }
    },
    resetToSg () {
      window.cancelAnimationFrame(this.requestID);
      this.animationCounter = 0;
      for (let bird = 0; bird < 6; bird ++) {
        this.animatedroute.features[bird].geometry.coordinates = [];
      }
      this.map.getSource('animatedroute').setData(this.animatedroute);
    }, 
    // driving route
    createDriveRoute(data, slide) {
      const routeData = data;

      // get the coordinates of the line you want to highlight
      const extentArray = routeData[0].geometry.coordinates;

      // create a turf linestring based on the line coordinates
      const line = turf.lineString(extentArray);

      // calculate the total length of the line
      const lineDistance = turf.lineDistance(line);

      // how many points you want along the path (more = smoother animation) driveSlides * driveSmoothness
      const rects = slide * 1500; 

      // calculate the distance between each point on the path
      const segments = lineDistance / rects;

      // what units do you want to use?
      const units = 'kilometers';

      // based on the number of points...
      for (let i = 0; i <= rects; i++) {
        // calculate point location for each segment
        const pointonline = turf.along(line, (segments * i));

        // push new x,y
        let newX = pointonline.geometry.coordinates[0];
        let newY = pointonline.geometry.coordinates[1];

        this.geojsonPoint.features[0].geometry.coordinates.push([newX, newY]);

        // draw our initial point
        if (i === 0) {
          const initPoint = turf.point([newX, newY]);
          this.map.getSource('pointSource').setData(initPoint);
        }

        // once 'i' equals the number of points then we're done building our line 
        if (i == rects) {
          this.map.getSource('lineSource').setData(this.geojsonPoint);
        }
      }
      // console.log(this.geojsonPoint.features[0].geometry.coordinates)      
    },
    changeCenter(index) {
      const currentJson = this.geojsonPoint.features[0].geometry.coordinates.slice(0, index);
      const center = this.geojsonPoint.features[0].geometry.coordinates[index];
      const centerX = center[0];
      const centerY = center[1];
      const movingLine = {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "LineString",
            "coordinates": currentJson
          }
        }]
      };
      const movingPoint = turf.point([centerX, centerY]);
      this.map.getSource('lineSource').setData(movingLine);
      this.map.getSource('pointSource').setData(movingPoint);
    }, 
    handleStep(driveStep, progress) {
      let stepProgress;
      switch (+driveStep) {
        case 0:
          this.map.setLayoutProperty('animatedLine', 'visibility', 'visible');
          this.map.setLayoutProperty('animatedPoint', 'visibility', 'visible');
          stepProgress = Math.round(progress * 1500);
          break;       
      }
      this.changeCenter(stepProgress); 
    },
    // camera movement    
    changeCameraSettings(stepNumber) {
      if (this.$vuetify.breakpoint.smAndDown) {
        const cameraSetting = this.mapSettingsMobile.find(setting => +setting.id === +stepNumber);
        this.map.flyTo(cameraSetting.camera);      
      } else {
        const cameraSetting = this.mapSettings.find(setting => +setting.id === +stepNumber);
        this.map.flyTo(cameraSetting.camera);      
      }
    },  
  },
};
</script>

<style lang="stylus" scoped>
// CSS for all text in SVGs
@import '~vuetify/src/stylus/settings/_variables';
.post__container {
  position: relative;
  z-index: 1;
  
  #mapsea {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -10;
    height: 100% !important;
  }
}
</style>
