<template>
  <div class="mapresponse__container mb-5">
    <div id="mapresponse" />
    <!-- legend desktop -->
    <div class="mapresponse__legend">
      <v-flex xs12> 
        <div @click="reset()" class="legend button py-1 px-3 mb-2">
          <p class="mb-0 caption hidden-xs-only">&#8635; Reset map view</p>
          <p class="mb-0 caption hidden-sm-and-up">&#8635; Reset view</p>                                    
        </div>
        <!-- desktop legend  -->
        <div class="legend hidden-xs-only py-3 px-3">
          <p class="caption mb-2"><strong>Types of response</strong></p>
          <p class="caption">
            <span class="dot" style="background-color:#D1503A;"/>Building awareness <br>
            <span class="dot" style="background-color:#954CD1;"/>Changing livelihoods <br>
            <span class="dot" style="background-color:#5EAF97;"/>Conservation breeding programmes <br>
            <span class="dot" style="background-color:#C29549;"/>Conservation policies <br>            
            <span class="dot" style="background-color:#CA4A94;"/>On-the-ground efforts <br>
          </p>                     
        </div>
        <!-- mobile legend -->
        <div @click="toggleLegend(true)" class="legend hidden-sm-and-up py-1 px-3">
          <p class="caption mb-0" style="text-align: center;">Legend</p>                    
        </div>                        
      </v-flex>
    </div>
    <!-- legend mobile -->
    <div class="mapresponse__legend-mobile legend hidden-sm-and-up py-3 px-3">
      <div class="legend-container__btn" @click="toggleLegend(false)">
        <fa-icon :icon="['far', 'times']" fixed-width />
      </div>      
      <p class="caption mb-2"><strong>Types of response</strong></p>
      <p class="caption mb-0">
        <span class="dot" style="background-color:#D1503A;"/>Building awareness <br>
        <span class="dot" style="background-color:#954CD1;"/>Changing livelihoods <br>
        <span class="dot" style="background-color:#5EAF97;"/>Conservation breeding programmes <br>
        <span class="dot" style="background-color:#C29549;"/>Conservation policies <br>            
        <span class="dot" style="background-color:#CA4A94;"/>On-the-ground efforts <br>
      </p>                     
    </div>    
    <!-- instruction -->
    <div class="mapresponse__instruction pa-2">
      <p class="mb-0 caption"><strong>Click the dots to know more about conservation efforts.</strong></p>                  
    </div>    
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  computed: {
    mapInit() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          zoom: 1.35,
          center: [132, 32]
        };      
      }
      return {
          zoom: 1.87,
          center: [124.530848, 38]         
      };
    },
  },
  mounted() {
    this.$Mapbox.load().then(() => {
      // initialising map
      this.map = this.$Mapbox.constructMap({
        container: 'mapresponse',
        style: 'mapbox://styles/kontinentalist/ck8o3nh4307451imshfrnb48z',
        center: this.mapInit.center,
        zoom: this.mapInit.zoom,
        minZoom: 1,
        maxZoom: 5,
      });
      this.map.scrollZoom.disable();
      this.map.on('load', () => {
        this.loadPoints();
        //on click events
        this.map.on('click', 'points', e => {
          this.map.flyTo({ center: e.features[0].geometry.coordinates, zoom: 10 });
          this.map.getCanvas().style.cursor = 'pointer';
          const coordinates = e.features[0].geometry.coordinates.slice();
          const location = e.features[0].properties.location;
          const type = e.features[0].properties.type;
          const title = e.features[0].properties.title;
          const detail = e.features[0].properties.detail;
          this.popUp = this.$Mapbox
            .popup({closeButton: false, anchor: 'bottom'})
            .setLngLat(coordinates)
            .setHTML(`
              <p class="caption mb-1"><strong>${type}</strong></p>
              <p class="caption mb-1" style="color: #F38063;"><strong>${location}</strong></p>
              <p class="caption mb-1" style="text-decoration: underline;">${title}</p>             
              <p class="caption mb-0">${detail}</p>             
            `)
            .addTo(this.map);
          document.getElementsByClassName("mapresponse__instruction")[0].style.visibility = 'hidden';
        });
        this.map.on('mouseenter', 'points', () => {
          this.map.getCanvas().style.cursor = 'pointer';
        });        
        this.map.on('mouseleave', 'points', () => {
          this.map.getCanvas().style.cursor = '';
        });
      });      
    });
  },
  methods: {
    loadPoints() {
      this.map.addSource('points', {
        type: 'geojson',
        data: '/data/birdlife/geojson/mapresponse_coordinates.geojson',
      });
      this.map.addLayer({
        id: 'points',
        type: 'circle',
        source: 'points',
        paint: {
          'circle-radius': 6,
          'circle-stroke-color': '#ffffff',
          'circle-stroke-width': 2,
          'circle-color': [
            'match',
            ['get', 'type'], // get, [name of the property]
            'Building awareness',
            '#D1503A',       
            'Changing livelihoods',
            '#954CD1',                 
            'Conservation breeding programmes',
            '#C29549',
            'Conservation policies',
            '#CA4A94',
            'On-the-ground efforts',
            '#5EAF97',             
            'black'
          ]
        },
      });
    }, 
    toggleMapInteractive() {
      this.map.boxZoom.enable();
      this.map.scrollZoom.disable();
      this.map.dragPan.enable();
      this.map.dragRotate.disable();
      // this.map.keyboard.enable();
      this.map.doubleClickZoom.enable();
      this.map.touchZoomRotate.enable();

      // add support for 2-finger panning
      this.map.addControl(new MultiTouch());;

      // enable grab cursor
      const mapCanvas = document.querySelector('.mapboxgl-canvas-container');
      mapCanvas.classList.toggle('mapboxgl-interactive');
    },       
    reset() {
      document.getElementsByClassName("mapresponse__instruction")[0].style.visibility = 'visible';
      this.map.flyTo({ center: this.mapInit.center, zoom: this.mapInit.zoom });
    },
    toggleLegend(showMobileLegend) {
      if (showMobileLegend) {
        document.getElementsByClassName("mapresponse__legend-mobile")[0].style.visibility = 'visible';
      } else {
        document.getElementsByClassName("mapresponse__legend-mobile")[0].style.visibility = 'hidden';        
      }
    }
  },
}
</script>

<style lang="stylus" scoped>
// CSS for all text in SVGs
@import '~vuetify/src/stylus/settings/_variables';

#mapresponse, .mapboxgl-canvas { 
  height: 600px !important; 
  @media $display-breakpoints.sm-and-down {
    height: 500px !important; 
  }
}

.mapresponse__container {
  position: relative;
}

.mapresponse__legend {
  position: absolute;
  bottom: 32px;
  right: 32px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media $display-breakpoints.sm-and-down {
    bottom: 95px;
    max-width: 120px;
    right: 16px;
  }

  .legend {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
  }

  .button {
    cursor: pointer;
  }
}

.dot {
  height: 10px;
  width: 10px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
}

.mapresponse__instruction {
  position: absolute;
  bottom: 32px;
  left: calc(50vw - 16px - 200px);
  max-width: 400px;
  text-align: center;
  background-color: #F3F6EA;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
  border-radius: 8px;  
  @media $display-breakpoints.sm-and-down {
    max-width: calc(100vw - 32px);
    left: 16px;
  }
}

>>>.mapboxgl-popup {
  @media $display-breakpoints.sm-and-down {
    max-width: 320px !important;
  }
  max-width: 390px !important;

  .mapboxgl-popup-content {
      box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
      padding: 20px;
    }
}

.mapresponse__legend-mobile {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  right: calc(16px + 110px + 8px);
  bottom: 95px;
  width: 200px;
  position: absolute;
  visibility: hidden;

  .legend-container__btn {
    position: absolute;
    top: 16px;
    right: 14px;
  }
}
</style>
