<template>
  <div class="post__container">       
    <div id="map" />
    <!-- location reset button for mobile -->
    <v-btn
      :ripple="false"
      fab
      small
      class="location-reset hidden-sm-and-up"
      @click="resetCamera()"
    >
      <fa-icon :icon="['far', 'location']" fixed-width />      
  </v-btn>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      mapSettings: [
        {
          id: 1,
          location: 'Meeqat',
          camera: {
            center: [39.450461, 21.995921],
            zoom: 7.15,
            pitch: 41.60,
          },
        },
        {
          id: 2,
          location: 'Masjid al-Haram, Mecca',
          camera: {
            center: [39.822652, 21.423614],
            zoom: 16,
            bearing: 0,
            pitch: 40,
          },
        },
        {
          id: 3,
          location: 'Mina',
          camera: {
            center: [39.887, 21.412],
            zoom: 14.3,
            bearing: 0,
            pitch: 45,
          },       
        },
        {
          id: 4,
          location: 'Mount Arafat',
          camera: {
            center: [39.982821, 21.354942],
            zoom: 17.1,
            bearing: 1.2,
            pitch: 60,
          },
        },
        {
          id: 5,
          location: 'Muzdalifah',      
          camera: {
            center: [39.907, 21.395],
            zoom: 15,
            bearing: 10,
            pitch: 30,
          },
        },
        {
          id: 6,
          location: 'Jamarat Bridge',      
          camera: {
            center: [39.87, 21.421],
            zoom: 16.45,
            bearing: 0,
            pitch: 48,
          },
        }, 
        {
          id: 7,
          location: 'Jamarat Bridge',      
          camera: {
            center: [39.87, 21.421],
            zoom: 16.45,
            bearing: 0,
            pitch: 48,
          },
        }, 
        {
          id: 8,
          location: 'Masjid al-Haram, Mecca',
          camera: {
            center: [39.823, 21.424],
            zoom: 16.15,
            bearing: 0,
            pitch: 45,
          },
        },  
        {
          id: 9,
          location: 'Mina',
          camera: {
            center: [39.886, 21.415],
            zoom: 14.1,
            bearing: 0,
            pitch: 48,
          },  
        }, 
        {
          id: 10,
          location: 'Masjid al-Haram, Mecca',
          camera: {
            center: [39.823, 21.424],
            zoom: 16.15,
            bearing: 0,
            pitch: 45,
          },
        },
        {
          id: 11,
          location: 'end card',
          camera: {
            center: [39.867584, 21.373050],
            zoom: 11.88,
            bearing: -11.48,
            pitch: 10,
          },
        },                                                                   
      ],
      mapSettingsMobile: [
        {
          id: 1,
          location: 'Meeqat',
          camera: {
            center: [39.9, 23.5],
            zoom: 6,
            pitch: 0,
            bearing: 0,
          },
        },
        {
          id: 2,
          location: 'Meeqat',
          camera: {
            center: [39.9, 23.5],
            zoom: 6,
            bearing: 0,
            pitch: 0,
          },
        },        
        {
          id: 3,
          location: 'Masjid al-Haram, Mecca',
          camera: {
            center: [39.822797, 21.429147],
            zoom: 14.8,
            bearing: -25.22,
            pitch: 55.18,
          },
        },
        {
          id: 4,
          location: 'Masjid al-Haram, Mecca',
          camera: {
            center: [39.822797, 21.429147],
            zoom: 14.8,
            bearing: -25.22,
            pitch: 55.18,
          },
        },        
        {
          id: 5,
          location: 'Mina',
          camera: {
            center: [39.879869, 21.425579],
            zoom: 12.8,
            bearing: -50.44,
            pitch: 38.29,
          },       
        },
        {
          id: 6,
          location: 'Mount Arafat',
          camera: {
            center: [39.984, 21.357],
            zoom: 16.18,
            bearing: 1.2,
            pitch: 60,
          },
        },
        {
          id: 7,
          location: 'Mount Arafat',
          camera: {
            center: [39.984, 21.357],
            zoom: 16.18,
            bearing: 1.2,
            pitch: 60,
          },
        },        
        {
          id: 8,
          location: 'Muzdalifah',      
          camera: {
            center: [39.913, 21.393],
            zoom: 12.8,
            bearing: -58.14,
            pitch: 30,
          },
        },
        {
          id: 9,
          location: 'Jamarat Bridge',      
          camera: {
            center: [39.8713, 21.4224],
            zoom: 15.8,
            bearing: -43.14,
            pitch: 48,
          },
        }, 
        {
          id: 10,
          location: 'Jamarat Bridge',      
          camera: {
            center: [39.8713, 21.4224],
            zoom: 15.8,
            bearing: -43.14,
            pitch: 48,
          },
        },         
        {
          id: 11,
          location: 'Jamarat Bridge',      
          camera: {
            center: [39.8713, 21.4224],
            zoom: 15.8,
            bearing: -43.14,
            pitch: 48,
          },
        }, 
        {
          id: 12,
          location: 'Jamarat Bridge',      
          camera: {
            center: [39.8713, 21.4224],
            zoom: 15.8,
            bearing: -43.14,
            pitch: 48,
          },
        },         
        {
          id: 13,
          location: 'Masjid al-Haram, Mecca',
          camera: {
            center: [39.822797, 21.429147],
            zoom: 14.8,
            bearing: -25.22,
            pitch: 55.18,
          },
        },  
        {
          id: 14,
          location: 'Mina',
          camera: {
            center: [39.879869, 21.425579],
            zoom: 12.8,
            bearing: -50.44,
            pitch: 38.29,
          },  
        },
        {
          id: 15,
          location: 'Jamarat',
          camera: {
            center: [39.8713, 21.4224],
            zoom: 15.8,
            bearing: -43.14,
            pitch: 48,
          },  
        },          
        {
          id: 16,
          location: 'Masjid al-Haram, Mecca',
          camera: {
            center: [39.822797, 21.429147],
            zoom: 14.8,
            bearing: -25.22,
            pitch: 55.18,
          },
        },
        {
          id: 17,
          location: 'end card',
          camera: {
            center: [39.893, 21.4],
            zoom: 10.9,
            bearing: -43,
            pitch: 5,
          },
        },                                                                   
      ],
    };
  },
  computed: {
    mapInit() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          center: [39.9, 23.5],
          zoom: 6,
          pitch: 0,
        };
      }
      return {
        center: [39.450461, 21.995921],
        zoom: 7.15,
        pitch: 41.60,
      };
    },
    popUpSettings() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          popup: {closeButton: false, anchor: 'top'},
        }
      }
      return {
        popup: {closeButton: false}, 
      };      
    },   
  },  
  watch: {
    step(stepNumber) {
      // change camera view per step
      this.changeCameraSettings(stepNumber);
      // layer switch
      switch (+stepNumber) {
        // show the site points and bounary
        case 1:
          this.map.setLayoutProperty('site-points', 'visibility', 'none');
          this.map.setLayoutProperty('site-boundary', 'visibility', 'none');
          break     
        case 2:
          this.map.setLayoutProperty('site-points', 'visibility', 'visible');
          this.map.setLayoutProperty('site-boundary', 'visibility', 'visible');
          break;                                  
      }

    },
  },
  async mounted() {
    // import data
    this.data = await d3.json('/data/hajj/geojson/mecca.geojson');  

    // init map
    this.$Mapbox.load().then(() => {
      // initialising map
      this.map = this.$Mapbox.constructMap({
        container: 'map',
        style: 'mapbox://styles/kontinentalist/ckac9h99d3ebn1is42r4wjo4u',
        center: this.mapInit.center,
        zoom: this.mapInit.zoom,
        pitch: this.mapInit.pitch,
        interactive: false,
      });
      // loading layers
      this.map.on('load', () => {
        // on load instruction
        this.$Mapbox
          .popup({ offset: 20, anchor: 'left', className: 'tour-tooltip' })
          .setLngLat([40.425653, 21.930032])
          .setHTML('<p class="caption mb-0">Click the green icons to find out more about the pilgrimmage sites.</p>')
          .addTo(this.map); 

        // load markers
        this.loadPoints();
        
        // on click meeqat
        this.map.on('click', 'meeqat-points', e => {
          if (this.$vuetify.breakpoint.smAndDown) {
            this.map.flyTo({ center: e.features[0].geometry.coordinates, zoom: 7 });
          }
          const coordinates = e.features[0].geometry.coordinates;
          const name = e.features[0].properties.marker;
          const desc = e.features[0].properties.caption;
          this.popUp = this.$Mapbox
            .popup(this.popUpSettings.popup)
            .setLngLat(coordinates)
            .setHTML(`
              <p class="caption mb-1"><strong>${name}</strong></p>
              <p class="caption mb-0">${desc}</p>         
            `)
            .addTo(this.map);
        });

        // on click sites
        this.map.on('click', 'site-points', e => {
          if (this.$vuetify.breakpoint.smAndDown) {
            this.map.flyTo({ center: e.features[0].geometry.coordinates });
          }          
          const coordinates = e.features[0].geometry.coordinates;
          const img = e.features[0].properties.name;          
          const desc = e.features[0].properties.title;
          const caption = e.features[0].properties.caption;
          this.popUp = this.$Mapbox
            .popup(this.popUpSettings.popup)
            .setLngLat(coordinates)
            .setHTML(
              `<p class="caption mb-1"><strong>${desc}</strong></p>
              <img class="popup-image" src="/data/hajj/img/${img}-min.jpg">
              <p class="caption mb-0">${caption}</p>`         
            )
            .addTo(this.map);
        });  
      }); 
    });
  },
  methods: {
    loadPoints() {
      // Init custom markers
      const self = this;
      this.map.loadImage('/data/hajj/calligraphy-line.png', function(error, image) {
        if (error) throw error;
        self.map.addImage('custom1', image);
      });
      this.map.loadImage('/data/hajj/icon-crescent.png', function(error, image) {
        if (error) throw error;
        self.map.addImage('custom2', image);
      }); 
      this.map.loadImage('/data/hajj/icon-minaret.png', function(error, image) {
        if (error) throw error;
        self.map.addImage('custom3', image);
      });       
      this.map.addSource('data', {
        type: 'geojson',
        data: this.data,
      });

      // Meeqat points and boundaries
      this.map.addLayer({
        id: 'meeqat_boundary',
        type: 'line',
        source: 'data',        
        paint: {
          'line-width': 4,
          'line-pattern': 'custom1', 
          'line-opacity': 0.6,
        },
        filter: ['==', 'type', 'boundary']  
      });
      this.map.addLayer({
        id: 'meeqat-points',
        type: 'symbol',
        source: 'data',
        layout: {
          'icon-image': 'custom3',
          'icon-size': 0.8
        },
        filter: ['==', 'type', 'marker']        
      });
      
      // Sites and their boundaries
      this.map.addLayer({
        id: 'site-boundary',
        type: 'line',
        source: 'data',
        paint: {
          'line-width': 5,
          'line-pattern': 'custom1', 
        },
        layout: {
          'visibility': 'none'
        },
        filter: ['==', 'type', 'boundary-site']  
      });
      this.map.addLayer({
        id: 'site-points',
        type: 'symbol',
        source: 'data',
        layout: {
          'icon-image': 'custom2',
          'icon-size': 0.8,
          'visibility': 'none'
        },
        filter: ['==', 'type', 'site']        
      });      
    
    }, 
    resetCamera() {
      const stepNumber = this.step;
      const currentSetting = this.$vuetify.breakpoint.mdAndUp
        ? this.mapSettings.find(setting => setting.id === stepNumber)
        : this.mapSettingsMobile.find(setting => setting.id === stepNumber);
      this.map.flyTo(currentSetting.camera);      
    },    
    changeCameraSettings(stepNumber) {
      const currentSetting = this.$vuetify.breakpoint.mdAndUp
        ? this.mapSettings.find(setting => setting.id === stepNumber)
        : this.mapSettingsMobile.find(setting => setting.id === stepNumber);
      this.map.flyTo(currentSetting.camera);      
    },  
  },
};
</script>

<style lang="stylus" scoped>
// CSS for all text in SVGs
@import '~vuetify/src/stylus/settings/_variables';
.post__container {
  position: relative;
  
  #map {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -10;
    height: 100% !important;
  }
}

>>>.mapboxgl-popup {
  @media $display-breakpoints.sm-and-down {
    max-width: 320px !important;
  }
  max-width: 350px !important;

  .mapboxgl-popup-content {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
    padding: 20px;
    p {
      color: #71441F !important;
    }
    a {
      text-decoration: underline !important;
    }
    .popup-image {
      display: block;
      width: 90%;
      margin: 0 auto;
    }
  }
}

.location-reset {
  right: 8px;
  height: 40px !important;  
  bottom: 8px;
  position: absolute;
}

// instruction to click on points
>>>.tour-tooltip {
  @media $display-breakpoints.sm-and-down {
    max-width: 120px !important;
  }
  max-width: 150px !important;

  .mapboxgl-popup-content {
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
    padding: 16px;
    background-color: #71441F;
    p {
      color: #ffffff !important;
      font-size: 12px !important;
    }
  }

  .mapboxgl-popup-tip {
    border-right-color: #71441F;
  }

  .mapboxgl-popup-close-button {
    color: white;
    padding-right: 5px;
  }
}
</style>
