<template>
  <div id="careers-job">
    <v-container inner>
      <article class="job-article my-5">
        <header class="mb-5">
          <span class="font-secondary">Posted on {{ job.job_posted_date | moment("D MMMM YYYY") }}</span>

          <h1 class="display-2 mt-3 mb-2">{{ job.job_name }}, {{ job.job_country }}</h1>

          <span class="font-secondary primary--text">{{ job.job_position_type }}</span>
        </header>

        <div class="job-main">
          <div class="mb-4">
            <h3 class="subheading mb-3">About Position</h3>

            <p>{{ job.job_about_position }}</p>
          </div>

          <div class="mb-4">
            <h3 class="subheading mb-3">What the job entails</h3>

            <ul>
              <li
                v-for="(scope, i) in job.job_scope"
                :key="i"
              >
                {{ scope }}
              </li>
            </ul>
          </div>

          <div class="mb-4">
            <h3 class="subheading mb-3">What we are looking for</h3>

            <ul>
              <li
                v-for="(requirement, i) in job.job_requirements"
                :key="i"
              >
                {{ requirement }}
              </li>
            </ul>
          </div>

          <div
            v-for="(jobAddon, i) in job.job_additional_items"
            :key="i"
            class="mb-4"
          >
            <h3 class="subheading mb-3">{{ jobAddon.title }}</h3>

            <ul>
              <li
                v-for="(point, i) in jobAddon.points"
                :key="i"
              >
                {{ point }}
              </li>
            </ul>
          </div>
        </div>

        <footer>
          <p class="mb-5">
            If you are interested in this opening, kindly send your cover letter and resume to <a href="mailto:hello@kontinentalist.com" class="primary--text">hello@kontinentalist.com.</a> We regret that only selected applicants will be contacted for an interview.
          </p>

          <p class="font-weight-bold">Applications close on {{ job.job_end_date | moment("D MMMM YYYY") }}</p>

          <v-btn
            href="mailto:hello@kontinentalist.com"
            depressed
            color="primary"
            class="ml-0"
          >
            Apply now
          </v-btn>

          <div class="d-inline-block">
            <v-btn
              outline
              color="primary"
              @click="copyUrl"
            >
              <fa-icon
                :icon="['far', 'copy']"
                fixed-width
                size="sm"
                class="mr-1" /> Share this job
            </v-btn>

            <v-tooltip
              v-model="copied"
              z-index="99"
              bottom>
              <div slot="activator" />
              <span>link copied!</span>
            </v-tooltip>
          </div>

        </footer>
      </article>
    </v-container>

    <JobListRelated :job-id="job.job_id" />
  </div>
</template>

<script>
import JobListRelated from '@/components/careers/JobListRelated';

export default {
  components: {
    JobListRelated,
  },
  data() {
    return {
      copied: false,
    };
  },
  methods: {
    copyUrl() {
      // copy current url
      this.$copyText(window.location.href).then(() => {
        // show tooltip
        this.copied = true;

        // hide tooltip
        setTimeout(() => {
          this.copied = false;
        }, 800);
      });
    },
  },
  asyncData({ app, params, error }) {
    return app.$axios
      .$get(`careers/${params.slug}`)
      .then(job => ({ job }))
      .catch(() => {
        error({ statusCode: 404, message: 'Job not found' });
      });
  },
  head() {
    return {
      title: this.job.job_name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.job.job_about_position,
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.job.job_about_position,
        },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.job.job_name },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/bri-booklet.jpg')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>
