<template>
  <div
    v-if="privacy.id"
    id="page-privacy"
    class="mt-5"
  >
    <section class="mb-5">
      <v-container>
        <v-layout>
          <div>
            <h1 class="display-3 text-xs-center mb-4">Privacy Policy</h1>

            <div class="dirt-box" v-html="privacy.content.rendered" />
          </div>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData({ app }) {
    const [privacy] = await app.$axios.$get('pages?slug=privacy-policy');
    return { privacy };
  },
  head() {
    return {
      title: 'Privacy Policy',
      meta: [
        {
          hid: 'description',
          name: 'description',
          property: 'og:description',
          content:
            'At www.kontinentalist.com, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.kontinentalist.com and how it is used.',
        },
        // open graph tags
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', property: 'og:title', content: 'Privacy Policy' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/bri-booklet.jpg')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>

<style lang="stylus" scoped>
.dirt-box /deep/ {
  h2 {
    font-size: 24px;
    margin: 2rem 0;
  }

  p {
    font-size: 15px;
  }
}
</style>
