<template>
  <div id="page-map">
    <section class="page-wrapper">
      <v-container fill-height>
        <v-layout wrap align-center>

          <v-flex xs12 md7>
            <div>
              <h1 class="display-3 mb-4 animated">Coming Soon!</h1>

              <p class="body-2 animated">
                A one-stop geospatial database for all you need to know about Asia: history, governmental structures, economy, development and more.
              </p>

              <p class="body-2 animated">
                Just leave us your e-mail address, and get notified when it's ready!
              </p>

              <!-- MailChimp form -->
              <div id="mc_embed_signup">
                <form
                  id="mc-embedded-subscribe-form"
                  action="https://kontinentalist.us12.list-manage.com/subscribe/post?u=2280632ef90de9d24551a7997&amp;id=8498bf6338"
                  method="post"
                  name="mc-embedded-subscribe-form"
                  class="validate"
                  target="_blank"
                  novalidate >

                  <div id="mc_embed_signup_scroll">
                    <input
                      id="mce-EMAIL"
                      class="mc__input"
                      type="email"
                      name="EMAIL"
                      placeholder="Email address"
                      value=""
                      required>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input
                        type="text"
                        name="b_2280632ef90de9d24551a7997_8498bf6338"
                        tabindex="-1"
                        value="">
                    </div>
                    <input
                      id="mc-embedded-subscribe"
                      class="v-btn v-btn--depressed primary"
                      type="submit"
                      value="Notify Me"
                      name="subscribe"
                      @click="$FB.pixelTrack('Subscribe')"
                    >
                  </div>
                </form>
              </div> <!--end mailchimp-->
            </div>
          </v-flex>

          <v-flex
            xs12
            md4
            offset-md1>
            <div>
              <img
                src="~/assets/img/swallow.gif"
                alt="map-coming-soon"
                class="fluid">
            </div>
          </v-flex>

        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
import animateMixin from '@/mixins/animate';

export default {
  mixins: [animateMixin],
  head() {
    return {
      title: 'Map',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'A one-stop geospatial database for all you need to know about Asia: history, governmental structures, economy, development and more.',
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content:
            'A one-stop geospatial database for all you need to know about Asia: history, governmental structures, economy, development and more.',
        },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: 'Map' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/map.png')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

#page-map, .page-wrapper {
  height: 100%;

  @media $display-breakpoints.xs-only {
    margin-top: 48px;

    .flex {
      margin-bottom: 32px;
    }
  }
}

.mc__input {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 1;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 50%;
}
</style>
