<template>
  <section id="page-home__banner">
    <!-- mapbox -->
    <div id="map-container" />

    <!-- text content -->
    <div class="banner-text">
      <v-container grid-list-xl fill-height>
        <v-layout
          row
          wrap
          fill-height
          align-center>

          <v-flex xs12>
            <div class="text-xs-center" style="height: 100%">
              <h1 class="display-bri d-inline-block animated fadeInUp slow delay-1s">
                <span class="px-3 highlight--text">Understanding the</span> <br>
                <span class="px-3 highlight--text">Belt & Road</span>
              </h1>

              <p class="display-1 font-weight-regular my-4 animated fadeInUp slow delay-1s">
                <span class="px-3 highlight--text">All you need to know about China's most ambitious project of the century.</span>
              </p>

              <v-btn
                href="http://bri.kontinentalist.com"
                nuxt
                large
                depressed
                color="primary"
                class="animated fadeInUp slow delay-1s ma-0 font-secondary font-weight-bold"
                @mouseenter="fadeBanner = true"
                @mouseleave="fadeBanner = false">
                READ THE STORY
                <fa-icon
                  :icon="['far', 'chevron-circle-right']"
                  fixed-width
                  class="ml-2" />
              </v-btn>

              <p class="body-2 font-weight-bold my-4 animated fadeInUp slow delay-1s">
                <span class="px-3 highlight--text">Prefer a physical copy? We have a booklet explaining the BRI. <nuxt-link
                  to="/shop/belt-road-initiative"
                  class="text-underline"
                  style="color: inherit;">Purchase now.</nuxt-link></span>
              </p>
            </div>
          </v-flex>

        </v-layout>
      </v-container>
    </div>
  </section>
</template>

<script>
export default {
  name: 'BRIBanner',
  mounted() {
    this.$Mapbox.load().then(() => {
      // create map
      const map = this.$Mapbox.constructMap({
        container: 'map-container',
        style: 'mapbox://styles/kontinentalist/cjor1nucl2hwm2rqsul1xul2t',
        center: [121.49573, 31.238699],
        pitch: 60, // pitch in degrees
        bearing: -170.37, // bearing in degrees
        zoom: 8,
        interactive: false,
      });

      map.on('load', () => {
        // camera
        map.flyTo({
          center: [45.867, 30.626],
          zoom: 2.6,
          pitch: 0,
          bearing: 0,
          speed: 1,
          curve: 0.7,
        });

        // layers
        map.addLayer({
          id: 'bri-railway',
          type: 'line',
          source: {
            type: 'vector',
            url: 'mapbox://kontinentalist.3x732hm1',
          },
          'source-layer': 'brirail-8aaazr',
          paint: {
            'line-color': 'white',
            'line-opacity': 0.7,
          },
        });

        map.addLayer({
          id: 'bri-belt',
          type: 'line',
          source: {
            type: 'vector',
            url: 'mapbox://kontinentalist.03in4a3t',
          },
          'source-layer': 'belt-18ozcs',
          paint: {
            'line-color': '#2c5557',
            'line-width': 6,
            'line-opacity': 0.6,
          },
          layout: {
            'line-cap': 'round',
            'line-join': 'round',
          },
        });

        map.addLayer({
          id: 'bri-road',
          type: 'line',
          source: {
            type: 'vector',
            url: 'mapbox://kontinentalist.8ftvqxyt',
          },
          'source-layer': 'road-02v0qp',
          paint: {
            'line-color': '#2c5557',
            'line-width': 6,
            'line-opacity': 0.6,
          },
          layout: {
            'line-cap': 'round',
            'line-join': 'round',
          },
        });

        map.addLayer({
          id: 'bri-corridors-stops',
          type: 'circle',
          source: {
            type: 'vector',
            url: 'mapbox://kontinentalist.5147sfs4',
          },
          'source-layer': 'corridorsstops-71ioho',
          paint: {
            'circle-radius': 0,
            'circle-radius-transition': {
              duration: 3000,
            },
            'circle-opacity': 0,
            'circle-opacity-transition': {
              duration: 3000,
            },
            'circle-color': '#ff5606',
            'circle-stroke-color': '#EBE4DA',
            'circle-stroke-width': 1,
            'circle-stroke-opacity': 1,
          },
        });

        setTimeout(() => {
          map.setPaintProperty('bri-corridors-stops', 'circle-opacity', 1);
          map.setPaintProperty('bri-corridors-stops', 'circle-radius', 4);
        }, 1);
      });
    });
  },
  head() {
    return {
      link: [{ rel: 'stylesheet', href: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' }],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

#page-home__banner {
  position: relative;
  height: 800px;

  #map-container {
    position: relative;
    height: 100%;
  }

  .banner-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media $display-breakpoints.xs-only {
      text-align: center;
    }

    .display-bri {
      font-size: 72px;
      line-height: 1.4;

      @media $display-breakpoints.xs-only {
        font-size: 36px;
      }
    }

    .highlight--text {
      background-color: #f9f4ed;

      @media $display-breakpoints.xs-only {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}
</style>
