<template>
  <v-container grid-list-xl>
    <v-layout wrap justify-center>
      <!-- first 2 posts -->
      <v-flex
        v-for="post in latestPosts2"
        :key="post.id"
        md6
        class="divider--card pb-5 mb-5"
      >
        <v-card
          :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
          nuxt
          flat
        >
          <AppImage
            :img-object="post.featured_img"
          />

          <v-card-title class="pa-0">
            <div>
              <!-- post title -->
              <h3 class="title mt-2 mb-1">{{ post.title }}</h3>

              <!-- category / region -->
              <span class="title font-weight-regular category--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

              <!-- author -->
              <address class="body-1 font-secondary mt-4">by {{ post.author_name }}</address>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>

      <!-- next 3 posts -->
      <v-flex
        v-for="post in latestPosts3"
        :key="post.id"
        md4
        class="divider--card pt-0 pb-5 mb-5"
      >
        <v-card
          :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
          nuxt
          flat
        >
          <AppImage
            :img-object="post.featured_img"
          />

          <v-card-title class="pa-0">
            <div>
              <!-- post title -->
              <h3 class="title mt-2 mb-1">{{ post.title }}</h3>

              <!-- category / region -->
              <span class="title font-weight-regular category--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

              <!-- author -->
              <address class="body-1 font-secondary mt-4">by {{ post.author_name }}</address>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>

      <!-- more button -->
      <v-flex
        xs12
        py-5
        text-xs-center>
        <v-btn
          to="/stories"
          nuxt
          outline
          color="primary"
        >
          More Stories
        </v-btn>
      </v-flex>

    </v-layout>
  </v-container>

</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  computed: {
    latestPosts2() {
      return this.$_.take(this.$store.getters.previewPosts, 2);
    },
    latestPosts3() {
      return this.$_.take(this.$store.getters.previewPosts, 5).filter((post, i) => i > 1);
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.divider--card {
  position: relative;

  &:first-child {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &:nth-child(4) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .v-card {
    position unset;

    address {
      position: absolute;
      bottom 0;
    }

    h3 {
      transition: color 0.2s linear;
    }

    &:hover {
      h3 {
        color: #F38063 !important;
      }
    }
  }
}

@media $display-breakpoints.xs-only {
  h2 {
    font-size: 24px !important;
  }
}
</style>
