<template>
  <v-container v-if="featuredPost.slug" grid-list-xl>
    <v-card
      :to="{ name: $store.getters.staticPostSlugs.includes(featuredPost.slug) ? `stories-${featuredPost.slug}` : 'stories-slug', params: {slug: featuredPost.slug} }"
      nuxt
      flat
    >
      <v-layout wrap class="mb-xs-5">
        <v-flex xs12 md6>
          <AppImage
            :img-object="featuredPost.featured_img"
          />
        </v-flex>

        <v-flex xs12 md5>
          <div class="post-featured__content">
            <!-- Featured tag -->
            <p class="mb-4 primary--text hidden-md-and-up">FEATURED</p>

            <!-- title -->
            <h3 class="headline mb-2">{{ featuredPost.title }}</h3>

            <!-- category / region -->
            <span class="title font-weight-regular category--text">{{ featuredPost.categories[0].name }} / {{ featuredPost.region.name }}</span>

            <!-- trimmed synopsis -->
            <p class="body-1 mt-4 mb-3" v-html="truncate(featuredPost.content, 20)" />

            <!-- link to post -->
            <span class="primary--text font-weight-bold hidden-xs-only">Read more...</span>

            <!-- author -->
            <address class="body-1 font-secondary">by {{ featuredPost.author_name }}</address>
          </div>
        </v-flex>

        <v-flex md1 class="hidden-xs-only">
          <v-layout class="vertical-text column fill-height">
            <v-flex shrink class="pb-0 text-xs-right">
              <span class="subheading font-secondary">Featured Story</span>
            </v-flex>

            <v-flex pb-0>
              <div class="vertical-text__line" />
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
  </v-container>
</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  computed: {
    featuredPost() {
      return this.$store.getters.featuredPosts[0];
    },
  },
  methods: {
    truncate(str, wordCount) {
      return str
        .split(' ')
        .splice(0, wordCount)
        .join(' ')
        .concat('...');
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.post-featured__content {
  position: relative;
  height: 100%;

  @media $display-breakpoints.md-and-up {
    address {
      position: absolute;
      bottom: 0;
    }
  }
}

h3 {
  transition: color 0.2s linear;

  &:hover {
    color: #F38063 !important;
  }
}

.vertical-text {
  .subheading {
    color: #CB9976;
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }
  .vertical-text__line {
    height: 100%;
    border-right: 1px solid #CB9976;
    margin-right: 14px;
  }
}

@media $display-breakpoints.xs-only {
  .mb-xs-5 {
    margin-bottom: 48px !important;
  }
}
</style>
