<template>
  <v-dialog
    :value="showDialog"
    width="550"
    @input="$emit('update:showDialog', $event)"
  >
    <v-card v-if="selectedGhost" class="ghost-card pa-5 pa-xs-4">
      <div class="ghost-card__header text-xs-center">
        <h2 class="display-2 font-paranormal dark-primary--text text-uppercase mb-3">
          {{ selectedGhost.type }}
        </h2>

        <p class="text-xs-left mb-5">{{ selectedGhost.description }}</p>

        <img
          v-if="selectedGhost.type === 'Djinn' || selectedGhost.type === 'Toyol'"
          :src="`/data/paranormal-sg/img/ghosts/${$_.kebabCase(selectedGhost.type)}-popup.png`"
          :alt="selectedGhost.type" >

        <img
          v-else
          :src="`/data/paranormal-sg/img/ghosts/${$_.kebabCase(selectedGhost.type)}.png`"
          :alt="selectedGhost.type" >
      </div>

      <div class="ghost-card__traits my-5">
        <ul class="list--none">
          <li v-if="selectedGhost.location" class="mb-4">
            <div class="mb-2">
              <fa-icon icon="map-marked-alt" fixed-width/><h3 class="body-2 font-weight-bold d-inline-block ml-2">Most commonly sighted in</h3>
            </div>

            <p>{{ selectedGhost.location }}</p>
          </li>

          <li v-if="selectedGhost.origin" class="mb-4">
            <div class="mb-2">
              <fa-icon icon="monument" fixed-width/><h3 class="body-2 font-weight-bold d-inline-block ml-2">Origin</h3>
            </div>

            <p>{{ selectedGhost.origin }}</p>
          </li>

          <li v-if="selectedGhost.reason" class="mb-4">
            <div class="mb-2">
              <fa-icon icon="map-marker-question" fixed-width/><h3 class="body-2 font-weight-bold d-inline-block ml-2">Reason for haunting</h3>
            </div>

            <p>{{ selectedGhost.reason }}</p>
          </li>

          <li v-if="selectedGhost.method" class="mb-4">
            <div class="mb-2">
              <fa-icon icon="shoe-prints" fixed-width/><h3 class="body-2 font-weight-bold d-inline-block ml-2">Method of haunting</h3>
            </div>

            <p>{{ selectedGhost.method }}</p>
          </li>

          <li v-if="selectedGhost.victim" class="mb-4">
            <div class="mb-2">
              <fa-icon icon="skull" fixed-width/><h3 class="body-2 font-weight-bold d-inline-block ml-2">Victim types</h3>
            </div>

            <p>{{ selectedGhost.victim }}</p>
          </li>

          <li v-if="selectedGhost.legend" class="mb-4">
            <div class="mb-2">
              <fa-icon icon="book-dead" fixed-width/><h3 class="body-2 font-weight-bold d-inline-block ml-2">Legend</h3>
            </div>

            <p>{{ selectedGhost.legend }}</p>
          </li>
        </ul>
      </div>

      <v-btn
        outline
        fab
        color="dark-primary"
        class="ghost-card__btn-cross ma-0"
        @click="$emit('update:showDialog', false)"
      >
        <fa-icon :icon="['far', 'times']" />
      </v-btn>

      <v-btn
        depressed
        color="dark-primary"
        class="ghost-card__btn-back ma-0"
        @click="$emit('update:showDialog', false)"
      >
        <fa-icon icon="arrow-alt-left" fixed-width /> <span class="pl-1">Back to story</span>
      </v-btn>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    showDialog: {
      type: Boolean,
      required: true,
    },
    selectedGhostType: {
      type: String,
      required: true,
    },
    ghosts: {
      type: Array,
      required: true,
    },
  },
  computed: {
    selectedGhost() {
      return this.ghosts.find(ghost => ghost.type === this.selectedGhostType);
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.ghost-card {
  position: relative;
  background-color: #262521;
  height: 100%;
  color: #DAD4BB;

  .ghost-card__header {
    img {
      width: 35%;
    }

    @media $display-breakpoints.sm-and-down  {
      h2 {
        font-size: 28px !important;
      }
    }
  }

  .ghost-card__btn-cross {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px !important;

    &:hover:before {
      background-color: transparent !important;
    }
  }

  .ghost-card__btn-back {
    width: 100%;
  }
}

@media $display-breakpoints.sm-and-down {
  .pa-xs-4 {
    padding: 24px 24px !important;
  }
}
</style>
