<template>
  <div id="map" />
</template>

<script>
import * as d3 from 'd3';

export default {
  props: {
    showDrawer: {
      type: Boolean,
      default: false,
    },
    selectedConfession: {
      type: Object,
      default: () => {},
    },
    selectedRegion: {
      type: String,
      default: '',
    },
    selectedHauntings: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      map: null,
      confessions: [],
      regions: [
        { id: 'central', cameraSetting: { center: [103.836, 1.296], zoom: 12 } },
        { id: 'east', cameraSetting: { center: [103.963, 1.353], zoom: 12 } },
        { id: 'north', cameraSetting: { center: [103.819, 1.408], zoom: 12 } },
        { id: 'northeast', cameraSetting: { center: [103.977, 1.386], zoom: 12.1 } },
        { id: 'west', cameraSetting: { center: [103.736, 1.346], zoom: 11.8 } },
      ],
    };
  },
  watch: {
    selectedRegion(newVal, oldVal) {
      this.handleRegionSelection(newVal, oldVal);
    },
    selectedHauntings(newVal) {
      this.handleHauntingSelections(newVal);
    },
  },
  mounted() {
    this.$Mapbox.load().then(() => {
      this.map = this.$Mapbox.constructMap({
        container: 'map',
        style: 'mapbox://styles/kontinentalist/ck18okgdg0a411cs9pzpwt4u9',
        center: [103.843, 1.347],
        zoom: 11,
        minZoom: 10,
      });

      this.map.on('load', () => {
        this.loadConfessionLayers();
        this.loadRegionLayers();

        this.map.on('click', () => {
          this.$emit('update:showDrawer', false);
          this.$emit('show-menu-card', '');
          this.$emit('update:selectedRegion', '');
        });
      });
    });
  },
  methods: {
    loadConfessionLayersOld() {
      // add source
      this.map.addSource('confessions', {
        type: 'geojson',
        data: '/data/paranormal-sg/geojson/confessions.geojson',
      });

      // add ghost icon
      // this.map.loadImage(
      //   'https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Cat_silhouette.svg/400px-Cat_silhouette.svg.png',
      //   (err, img) => {
      //     console.log(err);
      //     console.log('if image');
      //     console.log(img);
      //   }
      // );

      // const testImg = new Image(20, 20);
      // testImg.src = '/data/paranormal-sg/img/ghost-marker.png';
      // this.map.addImage('icon-ghost', testImg);

      // add layer
      this.map.addLayer({
        id: 'confessions',
        type: 'symbol',
        source: 'confessions',
        layout: {
          'icon-image': 'cemetery-15',
          'icon-allow-overlap': true,
        },
      });
    },
    async loadConfessionLayers() {
      const data = await d3.json('/data/paranormal-sg/geojson/confessions.geojson');

      // add id to properties
      this.confessions = data.features.map((d, i) => {
        d.id = `confession-${i + 1}`;

        return d;
      });

      this.confessions.forEach(confession => {
        // create a DOM element for the marker
        const el = document.createElement('div');
        el.id = confession.id;
        el.className = 'ghost-markers active';
        el.style.content = 'url(/data/paranormal-sg/img/ui/icon-ghost.svg)';

        const marker = this.$Mapbox.marker(el);
        marker.setLngLat(confession.geometry.coordinates).addTo(this.map);

        el.addEventListener('click', this.handleMarkerClicked);
      });
    },
    loadRegionLayers() {
      this.regions.forEach(region => {
        // add sources
        this.map.addSource(region.id, {
          type: 'geojson',
          data: `/data/paranormal-sg/geojson/${region.id}.geojson`,
        });

        // add layers
        this.map.addLayer({
          id: region.id,
          type: 'line',
          source: region.id,
          layout: {
            'line-cap': 'round',
            'line-join': 'round',
            visibility: 'none',
          },
          paint: {
            'line-color': '#fff',
            'line-width': 3,
            'line-blur': 2,
          },
        });
      });
    },
    handleRegionSelection(selectedRegion, previousRegion) {
      if (previousRegion) {
        // toggle region layer off
        this.map.setLayoutProperty(previousRegion, 'visibility', 'none');
      }

      if (selectedRegion) {
        // toggle region layer on
        this.map.setLayoutProperty(selectedRegion, 'visibility', 'visible');

        // move to region camera setting
        const { cameraSetting } = this.regions.find(region => region.id === selectedRegion);
        this.map.flyTo(cameraSetting);
      }
    },
    handleHauntingSelectionsOld(selectedHauntings) {
      if (selectedHauntings.length > 0) {
        this.map.setFilter('confessions', [
          'case',
          ['==', ['length', ['get', 'typeOfHaunting']], 1],
          ['match', ['at', 0, ['get', 'typeOfHaunting']], selectedHauntings, true, false],
          ['>=', ['length', ['get', 'typeOfHaunting']], 2],
          [
            'any',
            ['match', ['at', 0, ['get', 'typeOfHaunting']], selectedHauntings, true, false],
            ['match', ['at', 1, ['get', 'typeOfHaunting']], selectedHauntings, true, false],
          ],
          false,
        ]);
      } else {
        this.map.setFilter('confessions', null);
      }
    },
    handleHauntingSelections(selectedHauntings) {
      const ghostMarkers = [...document.querySelectorAll('.ghost-markers')];

      // make all ghost markers .active
      ghostMarkers.forEach(markerEl => {
        markerEl.classList.add('active');
      });

      if (selectedHauntings.length > 0) {
        // get confession ids of selected hauntings
        const confessionIDs = this.confessions
          .filter(confession =>
            confession.properties.typeOfHaunting.some(haunting => selectedHauntings.includes(haunting))
          )
          .map(c => c.id);

        const hiddenMarkers = ghostMarkers.filter(marker => !confessionIDs.includes(marker.id));

        hiddenMarkers.forEach(el => {
          el.classList.remove('active');
        });
      }
    },
    handleMarkerClicked(e) {
      e.stopPropagation();

      // find the properties of id by index
      const confession = this.confessions.find(c => c.id === e.target.id);

      this.$emit('update:showDrawer', true);
      this.$emit('update:selectedConfession', confession.properties);
    },
  },
};
</script>

<style lang="stylus" scoped>
#map {
  width: 100%;
  height: 100%;

  >>> .ghost-markers {
    cursor: pointer;
    opacity: 0.8;
    display: none;

    &.active {
      display: block;
    }
  }
}
</style>
