<template>
  <v-navigation-drawer
    :value="showDrawer"
    :width="$vuetify.breakpoint.mdAndUp ? 450 : 300"
    absolute
    class="map-confessions__drawer"
    @input="$emit('update:showDrawer', $event)"
  >
    <div class="confession-wrapper pt-3">
      <div class="pa-5 pa-xs-4">
        <h4 class="body-2 font-paranormal primary--text pb-1">{{ typeOfHaunting }}</h4>

        <div class="confession-drawer__text mb-5">
          <h3 class="title font-paranormal text-uppercase mb-3">{{ selectedConfession.location }}</h3>

          <div class="text-container" v-html="selectedConfession.confession" />
        </div>

        <div v-if="selectedConfession.notes">
          <h3 class="title font-paranormal text-uppercase mb-3">Investigator's Notes</h3>

          <div class="text-container" v-html="selectedConfession.notes" />
        </div>
      </div>
    </div>

    <v-btn
      outline
      fab
      color="dark-primary"
      class="confession-drawer__btn ma-0"
      @click="$emit('update:showDrawer', false)"
    >
      <fa-icon :icon="['far', 'times']" />
    </v-btn>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    showDrawer: {
      type: Boolean,
      default: false,
    },
    selectedConfession: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      drawer: true,
    };
  },
  computed: {
    typeOfHaunting() {
      if (this.selectedConfession.typeOfHaunting) {
        return this.selectedConfession.typeOfHaunting.join(', ');
      }

      return '';
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.map-confessions__drawer {
  background-image: linear-gradient(to left, rgba(234, 228, 206, 1) 0%, rgba(234, 228, 206, 0) 10%, rgba(234, 228, 206, 0) 90%, rgba(234, 228, 206, 1) 100%), url('/data/paranormal-sg/img/ui/bg-texture-light.svg');
  // background-image: url('/data/paranormal-sg/img/ui/bg-texture-light.svg');
  background-repeat: repeat;
  overflow: unset;

  &.v-navigation-drawer--open {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 100px;
      background: url('/data/paranormal-sg/img/ui/bg-tornpaper-right.svg') center center;
      background-position: center center;
      background-size: cover;

      @media $display-breakpoints.sm-and-down {
        width: 75px;
      }
    }

    .confession-drawer__btn {
      right: -50px;
    }
  }

  >>> .v-navigation-drawer__border {
    background: none !important;
  }

  .confession-wrapper {
    height: 100%;
    overflow: auto;
  }

  .confession-drawer__btn {
    position: absolute;
    top: 30px;
    right: 0;
    width: 28px;
    height: 28px !important;
    z-index: 10;

    &:hover:before {
      background-color: transparent !important;
    }
  }

  .text-container {
    color: rgba(0, 0, 0, 0.7);
  }
}

@media $display-breakpoints.sm-and-down {
  .pa-xs-4 {
    padding: 24px 24px !important;
  }
}
</style>
