<template>
  <div class="text-xs-center">
    <h4 class="body-2 font-paranormal dark-primary--text mb-3">Go to Region</h4>

    <v-btn
      depressed
      block
      color="dark-primary"
      class="ma-0 mb-2"
      @click="$emit('selected-region', 'central')"
    >
      Central Singapore
    </v-btn>

    <v-btn
      depressed
      block
      color="dark-primary"
      class="ma-0 mb-2"
      @click="$emit('selected-region', 'east')"
    >
      East Singapore
    </v-btn>

    <v-btn
      depressed
      block
      color="dark-primary"
      class="ma-0 mb-2"
      @click="$emit('selected-region', 'north')"
    >
      North Singapore
    </v-btn>

    <v-btn
      depressed
      block
      color="dark-primary"
      class="ma-0 mb-2"
      @click="$emit('selected-region', 'northeast')"
    >
      North-East Singapore
    </v-btn>

    <v-btn
      depressed
      block
      color="dark-primary"
      class="ma-0 mb-3"
      @click="$emit('selected-region', 'west')"
    >
      West Singapore
    </v-btn>

    <v-btn
      outline
      block
      color="primary"
      class="ma-0 hidden-md-and-up"
      @click="$emit('selected-menu', '')"
    >
      Close menu
    </v-btn>
  </div>
</template>
