<template>
  <div class="text-xs-center">
    <h4 class="body-2 font-paranormal dark-primary--text mb-3">Filter by haunting types</h4>

    <ul class="haunting-list list--none mb-3">
      <li
        v-for="haunting in hauntingTypes"
        :key="haunting"
      >
        <v-checkbox
          :label="haunting"
          :value="haunting"
          :input-value="selectedHauntings"
          hide-details
          color="dark-primary"
          class="haunting-list__item"
          @change="$emit('selected-hauntings', $event)" />
      </li>
    </ul>

    <v-btn
      outline
      block
      color="primary"
      class="ma-0 hidden-md-and-up"
      @click="$emit('selected-menu', '')"
    >
      Apply filter
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    selectedHauntings: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      hauntingTypes: ['Familial', 'Magic', 'Poltergeist', 'Possession', 'Spirit Attachment', 'Others'],
    };
  },
};
</script>

<style lang="stylus" scoped>
.haunting-list__item {
  margin-top: 0;

  >>> .v-icon, >>> label {
    color: #DAD4BB;
  }
}
</style>
