<template>
  <div class="legend-container">
    <v-card>
      <div class="pa-3">
        <div class="legend-container__btn" @click="$emit('close-legend')">
          <fa-icon :icon="['far', 'times']" fixed-width />
        </div>

        <h4 class="caption font-weight-bold" style="color: #000">Sea level rise</h4>
        <p class="caption mb-2">Assuming 4°C of warming by 2100 </p>

        <v-layout wrap align-center>
          <v-flex xs1 class="mb-2">
            <div class="legend__circle" style="background-color: #295674" />
          </v-flex>

          <v-flex xs11 class="mb-2">
            <div class="caption">2m sea level rise (by 2100)</div>
          </v-flex>

          <v-flex xs1>
            <div class="legend__circle" style="background-color: #4F90A6" />
          </v-flex>

          <v-flex xs11>
            <div class="caption">8.9m sea level rise (beyond 2100)</div>
          </v-flex>
        </v-layout>
      </div>
    </v-card>
  </div>
</template>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.legend-container {
  position: absolute;
  right: 20px;
  bottom: 20px;
  max-width: 250px;

  .legend__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .legend-container__btn {
    position: absolute;
    top: 16px;
    right: 8px;

    @media $display-breakpoints.md-and-up {
      display: none;
    }
  }

  @media $display-breakpoints.sm-and-down {
    position: relative;
    right: unset;
    bottom: unset;
    max-width: unset;
  }
}
</style>
