<template>
  <div class="map-container">
    <div id="map" />

    <MapNavControl v-show="$vuetify.breakpoint.mdAndUp && step >= finalStep" @zoom="handleMapNav" />
  </div>
</template>

<script>
import MultiTouch from 'mapbox-gl-multitouch';

import MapNavControl from '@/components/posts/static/sea-level-rise-asian-cities/ui/MapNavControl';

export default {
  components: {
    MapNavControl,
  },
  props: {
    step: {
      type: Number,
      required: true,
    },
    finalStep: {
      type: Number,
      required: true,
    },
    isTourEnded: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
  data() {
    return {
      map: null,
      mapSettings: [
        {
          id: 1,
          camera: {
            center: [102.54, 28.19],
            zoom: 3,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 2,
          camera: {
            center: [116.68, 18.72],
            zoom: 3.58,
            bearing: -0.02,
            pitch: 31,
          },
        },
        {
          id: 3,
          camera: {
            center: [116.68, 18.72],
            zoom: 3.58,
            bearing: -0.02,
            pitch: 31,
          },
        },
        {
          id: 4,
          camera: {
            center: [117.388, 32.189],
            zoom: 6.07,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 5,
          camera: {
            center: [120.15, 30.625],
            zoom: 6.73,
            bearing: -71.22,
            pitch: 59,
          },
        },
        {
          id: 6,
          camera: {
            center: [106.61, 10.564],
            zoom: 9.45,
            bearing: -15.2,
            pitch: 60,
          },
        },
        {
          id: 7,
          camera: {
            center: [103.196, 11.833],
            zoom: 6.01,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 8,
          camera: {
            center: [106.668, -6.415],
            zoom: 8.55,
            bearing: 0,
            pitch: 41,
          },
        },
        {
          id: 9,
          camera: {
            center: [106.749, -6.261],
            zoom: 9.57,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 10,
          camera: {
            center: [106.749, -6.261],
            zoom: 9.57,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 11,
          camera: {
            center: [100.456, 13.767],
            zoom: 6.29,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 12,
          camera: {
            center: [100.09, 13.765],
            zoom: 7.88,
            bearing: -0.3,
            pitch: 51,
          },
        },
        {
          id: 13,
          camera: {
            center: [103.494, 1.335],
            zoom: 8.8,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 14,
          camera: {
            center: [103.642, 4.501],
            zoom: 5.39,
            bearing: 0,
            pitch: 60,
          },
        },
        {
          id: 15,
          camera: {
            center: [102.54, 28.19],
            zoom: 3,
            bearing: 0,
            pitch: 0,
          },
        },
      ],
      mapSettingsMobile: [
        {
          id: 1,
          camera: {
            center: [102.54, 28.19],
            zoom: 3,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 2,
          camera: {
            center: [116.68, 18.72],
            zoom: 3.58,
            bearing: -0.02,
            pitch: 31,
          },
        },
        {
          id: 3,
          camera: {
            center: [116.68, 18.72],
            zoom: 3.58,
            bearing: -0.02,
            pitch: 31,
          },
        },
        {
          id: 4,
          camera: {
            center: [116.68, 18.72],
            zoom: 3.58,
            bearing: -0.02,
            pitch: 31,
          },
        },
        {
          id: 5,
          camera: {
            center: [117.388, 32.189],
            zoom: 6.07,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 6,
          camera: {
            center: [117.388, 32.189],
            zoom: 6.07,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 7,
          camera: {
            center: [120.15, 30.625],
            zoom: 6.73,
            bearing: -71.22,
            pitch: 59,
          },
        },
        {
          id: 8,
          camera: {
            center: [106.61, 10.564],
            zoom: 9.45,
            bearing: -15.2,
            pitch: 60,
          },
        },
        {
          id: 9,
          camera: {
            center: [106.61, 10.564],
            zoom: 9.45,
            bearing: -15.2,
            pitch: 60,
          },
        },
        {
          id: 10,
          camera: {
            center: [103.196, 11.833],
            zoom: 6.01,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 11,
          camera: {
            center: [103.196, 11.833],
            zoom: 6.01,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 12,
          camera: {
            center: [106.668, -6.415],
            zoom: 8.55,
            bearing: 0,
            pitch: 41,
          },
        },
        {
          id: 13,
          camera: {
            center: [106.749, -6.261],
            zoom: 9.57,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 14,
          camera: {
            center: [106.749, -6.261],
            zoom: 9.57,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 15,
          camera: {
            center: [100.456, 13.767],
            zoom: 6.29,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 16,
          camera: {
            center: [100.09, 13.765],
            zoom: 7.88,
            bearing: -0.3,
            pitch: 51,
          },
        },
        {
          id: 17,
          camera: {
            center: [103.494, 1.335],
            zoom: 8.8,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 18,
          camera: {
            center: [103.642, 4.501],
            zoom: 5.39,
            bearing: 0,
            pitch: 60,
          },
        },
        {
          id: 19,
          camera: {
            center: [103.642, 4.501],
            zoom: 5.39,
            bearing: 0,
            pitch: 60,
          },
        },
        {
          id: 20,
          camera: {
            center: [102.54, 28.19],
            zoom: 3,
            bearing: 0,
            pitch: 0,
          },
        },
      ],
    };
  },
  watch: {
    step(newVal) {
      this.handleMapCamera(newVal);

      if (newVal === this.finalStep) {
        this.toggleMapInteractive();
      }
    },
  },
  mounted() {
    // Recompute the map settings for mobile
    // Minus 2 the zoom is the workaround for map doesn't show what it's supposed to on mobile
    this.mapSettingsMobile = this.mapSettingsMobile.map(setting => {
      const newSetting = setting;
      // zoom -= 2 || zoom = 0, if zoom -= 2 < 0
      newSetting.camera.zoom = Math.max(0, newSetting.camera.zoom - 2);

      return newSetting;
    });

    // Get map the first slide map properties, and set them to the first loaded map properties
    let firstSlide = null;
    // for desktop
    if (this.$vuetify.breakpoint.mdAndUp) {
      [firstSlide] = this.mapSettings;
    } else {
      // for mobile
      [firstSlide] = this.mapSettingsMobile;
    }

    this.$Mapbox.load().then(() => {
      this.map = this.$Mapbox.constructMap({
        container: 'map',
        style: 'mapbox://styles/kontinentalist/cjy84stwh0b8n1cobtxp4g70j',
        center: firstSlide.camera.center,
        zoom: firstSlide.camera.zoom,
        maxZoom: 9.7,
        interactive: false,
      });
    });
  },
  methods: {
    toggleMapInteractive(state = true) {
      if (state) {
        this.map.boxZoom.enable();
        // this.map.scrollZoom.enable();
        this.map.dragPan.enable();
        this.map.dragRotate.enable();
        // this.map.keyboard.enable();
        this.map.doubleClickZoom.enable();
        this.map.touchZoomRotate.enable();

        // add support for 2-finger panning
        this.map.addControl(new MultiTouch());

        // set map boundary
        // this.map.setMaxBounds([[58.527, -24.598], [162.276, 60.808]]);

        // enable grab cursor
        const mapCanvas = document.querySelector('.mapboxgl-canvas-container');
        mapCanvas.classList.toggle('mapboxgl-interactive');
      }
    },
    handleMapCamera(step) {
      const currentSetting = this.$vuetify.breakpoint.mdAndUp
        ? this.mapSettings.find(setting => setting.id === step)
        : this.mapSettingsMobile.find(setting => setting.id === step);

      this.map.flyTo(currentSetting.camera);
    },
    handleMapNav($event) {
      if ($event === 'in') {
        this.map.zoomIn();
      } else if ($event === 'out') {
        this.map.zoomOut();
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.map-container {
  width: 100%;
  height: 100%;
  // height: calc(100vh - 64px);

  #map {
    width: 100%;
    height: 100%;
  }
}
</style>
