<template>
  <div class="tour-container elevation--2">
    <v-flex
      xs2
      class="text-xs-center hidden-sm-and-down">
      <v-btn
        :ripple="false"
        icon
        @click="$emit('trigger-tour', 'back')"
      >
        <fa-icon :icon="['far', 'chevron-left']" fixed-width />
      </v-btn>
    </v-flex>

    <v-flex :class="step >= 15 ? 'xs12 md12' : 'xs12 md10'">
      <TourText v-if="$vuetify.breakpoint.mdAndUp" :step="step" />
      <TourTextMobile v-else :step="step" />
    </v-flex>

    <v-flex
      v-show="step < finalStep"
      xs2
      class="text-xs-center hidden-sm-and-down">
      <v-btn
        :ripple="false"
        icon
        @click="$emit('trigger-tour', 'next')"
      >
        <fa-icon :icon="['far', 'chevron-right']" fixed-width />
      </v-btn>
    </v-flex>

    <TourTooltip v-show="step === 1" class="hidden-sm-and-down" />
  </div>
</template>

<script>
// components
import TourText from '@/components/posts/static/sea-level-rise-asian-cities/ui/TourText';
import TourTextMobile from '@/components/posts/static/sea-level-rise-asian-cities/ui/TourTextMobile';
import TourTooltip from '@/components/posts/static/sea-level-rise-asian-cities/ui/TourTooltip';

export default {
  components: {
    TourText,
    TourTextMobile,
    TourTooltip,
  },
  props: {
    step: {
      type: Number,
      required: true,
    },
    finalStep: {
      type: Number,
      required: true,
    },
    isTourEnded: {
      type: Boolean,
      default: false,
      required: true,
    },
  },
};
</script>


<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.tour-container {
  position: absolute;
  top: 50%;
  left 30px;
  transform: translate(0, -50%);
  background-color: #fff;
  border-radius: 8px;
  max-width: 395px;
  display: flex;
  justify-content: center;
  align-items: center;

  .v-btn {
    &:hover:before {
      background-color: transparent;
    }
  }

  @media $display-breakpoints.sm-and-down {
    top: 16px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0, 0);
    max-width: 90%;
  }
}
</style>
