<template>
  <div
    v-scroll="onScroll"
    id="exp-post"
    class="exp-post-container">
    <div
      :class="[ data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme']"
      class="panel-wrapper">
      <ThePost
        v-for="(slide, i) in slides"
        :key="i"
        :is-last-slide="i === slides.length - 1"
        :post="slide"
        :author="author"
        :featured-image-urls="slide.featured_image ? slide.featured_image.source_urls : slide.featured_image"
        :class="[ activeSlideNum === i ? 'active' : 'inactive' ]"
        :post-template="'exp'"
        class="story-panel"/>

      <PostListAside :post="{id: post.id, categoryId: post.categories[0]}"/>
    </div>
    <div class="map-container">
      <div class="mapboxgl-ctrl-top-right">
        <div
          v-show="data.audio !== false"
          :class="[data.story_theme === 'style_1' ? 'light-theme' : 'dark-theme']"
          class="mapboxgl-ctrl mapboxgl-ctrl-group">
          <button class="sound-btn" @click="onAudio"><fa-icon :icon="['far', isAudioPlay ? 'volume-up' : 'volume-mute']"/></button>
        </div>
      </div>
      <div id="map"/>
    </div>
  </div>
</template>

<script>
import ThePost from '@/components/posts/ThePost';
import PostListAside from '@/components/posts/naomi/PostListAside';

import scrollanimateMixin from '@/mixins/scrollanimate';

export default {
  components: {
    ThePost,
    PostListAside,
  },
  mixins: [scrollanimateMixin],
  props: {
    mapbox: {
      type: Promise,
      required: true,
    },
    scrollama: {
      type: Object,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
    post: {
      type: Object,
      required: true,
    },
    author: {
      type: Object,
      required: true,
    },
    slides: {
      type: Array,
      required: true,
    },
    mapStyle: {
      type: String,
      required: true,
    },
    theme: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      isAudioPlay: true,
      map: null,
      audio: null,
      activeSlideNum: 0,
    };
  },
  mounted() {
    // reload flourish script
    window.FlourishLoaded = false;

    const s = document.querySelector('script[src="https://public.flourish.studio/resources/embed.js"]');
    s.parentNode.removeChild(s);

    // load mapbox
    this.$nextTick(() => {
      this.mapbox.then(() => {
        this.init();
      });
      window.addEventListener('resize', () => {
        this.scrollama.resize();
      });
    });
  },
  beforeDestroy() {
    if (this.data.audio !== false) {
      this.stopAudio();
    }
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
    this.scrollama.destroy();
    if (this.map !== null && this.map.loaded()) {
      this.map.remove();
    }
  },
  methods: {
    init() {
      this.map = this.$Mapbox.constructMap({
        container: 'map',
        style: this.mapStyle,
        attributionControl: false,
        minZoom: parseFloat(this.data.min_zoom),
        maxZoom: parseFloat(this.data.max_zoom),
      });

      this.activeSlideNum = 0;
      this.map.flyTo({
        center: this.slides[this.activeSlideNum].position.split(','),
        zoom: this.slides[this.activeSlideNum].zoom,
        pitch: this.slides[this.activeSlideNum].pitch,
        bearing: this.slides[this.activeSlideNum].bearing,
        speed: 0.9,
        curve: 1,
        easing(t) {
          return t;
        },
      });

      this.resetState();
      this.scrollama
        .setup({
          step: '.panel-wrapper .the-post',
          container: '.exp-post-container',
          graphic: '.map-container',
        })
        .onStepEnter(e => {
          const data = this.slides[e.index];
          this.activeSlideNum = e.index;
          this.map.flyTo({
            center: data.position.split(','),
            zoom: data.zoom,
            pitch: data.pitch,
            bearing: data.bearing,
            speed: 0.9,
            curve: 1,
            easing(t) {
              return t;
            },
          });
        });

      this.map.on('style.load', () => {
        this.slides.forEach((v, i) => {
          const objIdx = i;
          const position = this.slides[objIdx].position.split(',');
          let marker;
          let isCustomMarker = false;
          const el = document.createElement('div');
          if (this.slides[objIdx].custom_marker_icon !== false) {
            isCustomMarker = true;
          }
          if (!isCustomMarker) {
            marker = this.$Mapbox.marker({ color: this.slides[objIdx].marker_color });
          } else {
            el.style.content = `url(${this.slides[objIdx].custom_marker_icon.url})`;
            marker = this.$Mapbox.marker(el);
          }
          marker.setLngLat(position).addTo(this.map);
        });

        // Audio btn listener
        if (this.data.audio !== false) {
          this.audio = new Audio(this.data.audio.url);
          const playPromise = this.playAudio();
          if (playPromise !== undefined) {
            playPromise.catch(err => {
              this.stopAudio();
              // console.log(err);
            });
          }
        }
      });
    },
    stopAudio() {
      if (this.audio === null || (this.audio !== null && !('src' in this.audio))) {
        return false;
      }
      this.isAudioPlay = false;
      const pausePromise = this.audio.pause();
      return pausePromise;
    },
    playAudio() {
      if (this.audio === null || (this.audio !== null && !('src' in this.audio))) {
        return false;
      }
      this.isAudioPlay = true;
      const playPromise = this.audio.play();
      // Seamless loop hack; Previously it was using -> this.audio.loop = true;
      this.audio.addEventListener('timeupdate', this.onAudioTimeUpdate, false);
      return playPromise;
    },
    onAudioTimeUpdate() {
      const buffer = 1;
      if (this.audio.currentTime > this.audio.duration - buffer) {
        this.audio.currentTime = buffer;
      }
    },
    onAudio() {
      return this.isAudioPlay ? this.stopAudio() : this.playAudio();
    },
    onZoomIn() {
      return this.map.zoomIn();
    },
    onZoomOut() {
      return this.map.zoomOut();
    },
    resetState() {
      window.scrollTo(0, 0);
      this.$store.dispatch('setLastPos', 0);
      this.$store.dispatch('setPostNavState', false);
    },
  },
  head() {
    return {
      script: [{ src: 'https://public.flourish.studio/resources/embed.js' }],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~assets/styles/settings/_variables';

>>> .dark-theme * {
  background-color: #262E43 !important;
  color: #DAD4BB !important;
}

>>> .light-theme {
  background-color: #FFFFFF !important;
}

.story-panel {
  transition: opacity 0.25s ease-in-out;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.25;
}

.map-container {
  position: fixed;
  top: 64px;
  margin-left: 35%;
  width: 65%;
  height: calc(100vh - 64px);
}

#map {
  width: 100%;
  height: 100%;
}

>>> .mapboxgl-popup {
  max-width: 400px;
  font-size: 13px;
  line-height: 18px;
  font-family: $fontPrimary;
  color: rgba(0, 0, 0, 0.6);
}

>>> .mapboxgl-ctrl-top-right {
  position: fixed !important;
  left: auto;
  padding-top: 64px;
  margin-top: 20px;
}

.panel-active {
  left: 0;
}

.panel-wrapper {
  position: relative;
  width: 35%;
  height: 100%;
  z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
</style>
