<template>
  <div id="exp-post">
    <transition name="fade">
      <ExpIntro
        v-if="isIntro"
        :post="post"
        :author="author"
        :featured-image-urls="featuredImageUrls"
        :post-tags="postTags"
      />
      <div v-else>
        <ExpPostDesktop
          v-if="!isMobile"
          :mapbox="mapbox"
          :scrollama="scrollama"
          :data="data"
          :post="post"
          :author="author"
          :slides="slides"
          :map-style="style"
          :theme="theme"
        />
        <ExpPostMobile
          v-else
          :mapbox="mapbox"
          :scrollama="scrollama"
          :data="data"
          :post="post"
          :author="author"
          :slides="slides"
          :map-style="style"
          :theme="theme"
        />
      </div>
    </transition>
  </div>
</template>

<script>
import ExpIntro from '@/components/posts/exp/ExpIntro';
import ExpPostDesktop from '@/components/posts/exp/ExpPostDesktop';
import ExpPostMobile from '@/components/posts/exp/ExpPostMobile';

export default {
  components: {
    ExpIntro,
    ExpPostDesktop,
    ExpPostMobile,
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
    author: {
      type: Object,
      required: true,
    },
    featuredImageUrls: {
      type: Object,
      required: true,
    },
    postTags: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      isIntro: true,
      isMobile: false,
    };
  },
  computed: {
    mapbox() {
      return this.$Mapbox.load();
    },
    scrollama() {
      return this.$Scrollama.load();
    },
    data() {
      return this.post.acf;
    },
    slides() {
      if ('exp_slides' in this.data) {
        return this.data.exp_slides;
      }
      return [];
    },
    style() {
      if (this.data.map_style === 'style_1') {
        return 'mapbox://styles/kontinentalist/cjjo6ios1hw8c2snjyjnjxful'; // Light
      }
      if (this.data.map_style === 'style_2') {
        return 'mapbox://styles/kontinentalist/cjjo6wemg0v0m2snqn53eomo1'; // Dark
      }
      if (this.data.map_style === 'style_3') {
        return 'mapbox://styles/kontinentalist/cjjqz3qkc115r2rmxt4ltyzoi'; // Terrain
      }
      // custom
      return this.data.cus_map_style;
    },
    theme() {
      if (this.data.story_theme === 'style_1') {
        // Dark
        return {
          primaryClr: '#262E43',
          secondaryClr: '#DAD4BB',
        };
      }
      // Light
      return {
        primaryClr: '#FFFFFF',
        secondaryClr: 'rgba(0, 0, 0, 0.6)',
      };
    },
  },
  head() {
    return {
      link: [{ rel: 'stylesheet', href: 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' }],
    };
  },
  mounted() {
    this.updateisMobile();
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.updateisMobile();
      });
    });
  },
  methods: {
    updateisMobile() {
      this.isMobile =
        (window.innerWidth <= 1024 && window.innerHeight > window.innerWidth) ||
        (window.innerHeight <= 425 && window.innerHeight < window.innerWidth);
      this.$store.dispatch('setIsMobile', this.isMobile);
    },
  },
};
</script>

<style lang="stylus">
.main-post, #exp-post {
  width: 100%;
  height: 100%;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
