<template>
  <div
    v-if="tos.id"
    id="page-tos"
    class="mt-5"
  >
    <section>
      <v-container>
        <v-layout>
          <div class="pageTOS__box">
            <h1 class="display-3 text-xs-center mb-4">Terms of Use</h1>

            <div class="dirt-box" v-html="tos.content.rendered" />
          </div>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
export default {
  async asyncData({ app }) {
    const [tos] = await app.$axios.$get('pages?slug=terms-of-service');
    return { tos };
  },
  head() {
    return {
      title: 'Terms of Use',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Please read the following Website Terms of Use carefully (including our Privacy Policy) (collectively “Website Conditions”) before using this Site and/or the Services (both defined below), so that you are aware of your legal rights and obligations with respect to Kontinentalist Pte Ltd and/or its related entities and affiliates.',
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content:
            'Please read the following Website Terms of Use carefully (including our Privacy Policy) (collectively “Website Conditions”) before using this Site and/or the Services (both defined below), so that you are aware of your legal rights and obligations with respect to Kontinentalist Pte Ltd and/or its related entities and affiliates.',
        },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: 'Terms of Use' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/bri-booklet.jpg')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>

<style lang="stylus" scoped>
.dirt-box >>> {
  ul {
    margin: 1rem 0;
    padding-left: 40px;

    li {
      margin: 0.5rem auto;
    }

    ul {
      margin: 0.5rem auto;

      ul {
        list-style-type: lower-roman;
      }
    }
  }

  h2 {
    font-size: 24px;
    margin: 2rem 0;
  }

  p, ul {
    font-size: 15px;
  }
}
</style>
