<template>
  <section class="map-confessions">
    <Map
      :show-drawer.sync="showDrawer"
      :selected-confession.sync="selectedConfession"
      :selected-region.sync="selectedRegion"
      :selected-hauntings="selectedHauntings"
      @show-menu-card="showMenuCard($event)" />

    <MapDrawer :show-drawer.sync="showDrawer" :selected-confession="selectedConfession" />

    <transition name="component-fade">
      <CardIntro
        v-if="!showConfessions"
        @load-confessions="loadConfessions" />

      <div v-else class="map-confessions__help">
        <fa-icon icon="question-circle" fixed-width/>
        <a class="pl-1 dark-primary--text text-underline" @click="loadConfessions(false)">Help</a>
      </div>
    </transition>

    <ListMenu v-if="showConfessions" @show-menu-card="showMenuCard($event)" />

    <CardMenu
      v-if="selectedMenu !== ''"
      :current-page="currentPage"
      :selected-menu.sync="selectedMenu"
      :selected-hauntings.sync="selectedHauntings"
      :selected-region.sync="selectedRegion" />
  </section>
</template>

<script>
// components
import Map from '@/components/posts/static/paranormal-sg/controllers/Map';
import MapDrawer from '@/components/posts/static/paranormal-sg/controllers/MapDrawer';

import CardIntro from '@/components/posts/static/paranormal-sg/ui/CardIntro';
import ListMenu from '@/components/posts/static/paranormal-sg/ui/ListMenu';
import CardMenu from '@/components/posts/static/paranormal-sg/ui/CardMenu';

export default {
  components: {
    Map,
    MapDrawer,
    CardIntro,
    ListMenu,
    CardMenu,
  },
  data() {
    return {
      showConfessions: false,
      showDrawer: false,
      currentPage: 'confessions',
      selectedConfession: {},
      selectedMenu: '',
      selectedRegion: '',
      selectedHauntings: ['Familial', 'Magic', 'Poltergeist', 'Possession', 'Spirit Attachment', 'Others'],
    };
  },
  methods: {
    loadConfessions(show = true) {
      if (!show) {
        // reset
        this.selectedMenu = '';
      }
      this.showConfessions = show;
    },
    showMenuCard(menuName) {
      this.selectedMenu = menuName;
    },
    setMenuSelection(region) {
      this.selectedRegion = region;
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.map-confessions {
  position: relative;
  height: 100%;

  .map-container {
    width: 100%;
    height: 100%;
  }

  .map-confessions__help {
    position: absolute;
    bottom: 20px
    right: 24px;

    @media $display-breakpoints.sm-and-down {
      left: 16px;
      right: unset;
    }
  }
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .1s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
