<template>
  <v-navigation-drawer
    :value="value"
    app
    temporary
    @input="$emit('input', $event)">
    <v-list class="pt-5" style="color: #000">
      <v-list-tile
        v-for="item in menuItems"
        :key="item.name"
        :to="item.path"
        nuxt
      >
        <v-list-tile-content>
          <v-list-tile-title class="body-2 font-secondary font-weight-bold">{{ item.name }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        href="https://medium.com/kontinentalist"
        target="_blank"
        nuxt
      >
        <v-list-tile-content>
          <v-list-tile-title class="body-2 font-secondary font-weight-bold">Blog</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile to="/map" nuxt>
        <v-list-tile-content>
          <v-list-tile-title class="body-2 font-secondary font-weight-bold">Atlas Asia</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>

      <v-list-tile
        v-for="item in socialItems"
        :key="item.href"
        :href="item.href"
        nuxt
        class="social-links d-inline-block"
      >
        <fa-icon :icon="['fab', item.icon]" fixed-width />
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      menuItems: [
        { name: 'About', path: '/about' },
        { name: 'Our Services', path: '/services' },
        { name: 'Stories', path: '/stories' },
      ],
      socialItems: [
        { href: 'https://www.facebook.com/kontinentalistsg', icon: 'facebook-f' },
        { href: 'https://www.instagram.com/kontinentalist', icon: 'instagram' },
        { href: 'https://medium.com/kontinentalist', icon: 'medium' },
      ],
    };
  },
};
</script>

<style lang="stylus" scoped>
.v-navigation-drawer
  z-index 99

  .social-links >>> .v-list__tile
    padding-right 0px
</style>
