<template>
  <v-layout wrap>
    <v-flex 
      xs12 
      sm4 
      md4>
      <img
        src="~/assets/img/logo-potato.svg"
        alt="potato-productions-logo"
        class="footer__logo-potato">
    </v-flex>

    <v-flex
      xs12
      sm6
      md6
      offset-sm1
      offset-md1
    >

      <ul class="footer__legal list--none caption">
        <li>
          <nuxt-link to="/privacy-policy">Privacy Policy</nuxt-link>
        </li>

        <li class="mx-4">
          <nuxt-link to="/terms-of-service">Terms of Service</nuxt-link>
        </li>

        <li>
          &copy; Kontinentalist 2018
        </li>
      </ul>

    </v-flex>
  </v-layout>
</template>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.footer__legal {
  li {
    display: inline-block;
    font-weight: 700;
  }

  @media $display-breakpoints.xs-only {
    font-size: 12px;
    margin-top: 8px;

    li.mx-4 {
      margin: 0 12px !important;
    }
  }
}

@media $display-breakpoints.xs-only {
  .footer__logo-potato {
    width: 90%;
  }
}
</style>
