<template>
  <v-toolbar app height="64px">

    <!-- logo -->
    <nuxt-link
      to="/"
      class="navbar__logo transition--opacity">
      <img
        src="~/assets/img/logo-primary.svg"
        alt="kontinentalist-logo"
        width="180px">
    </nuxt-link>

    <v-spacer />

    <!-- menu items -->
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn
        :ripple="false"
        to="/about"
        nuxt
        flat
        class="btn--plain">
        About
      </v-btn>
      <v-btn
        :ripple="false"
        to="/services"
        nuxt
        flat
        class="btn--plain">
        Our Services
      </v-btn>
      <v-btn
        :ripple="false"
        to="/stories"
        nuxt
        flat
        class="btn--plain">
        Stories
      </v-btn>
      <v-btn
        :ripple="false"
        href="https://medium.com/kontinentalist"
        target="_blank"
        nuxt
        flat
        class="btn--plain">
        Blog
      </v-btn>
      <v-btn
        :ripple="false"
        href="https://kontinentalist.etsy.com"
        target="_blank"
        nuxt
        flat
        class="btn--plain">
        Shop
      </v-btn>
      <v-btn
        :ripple="false"
        href="https://eepurl.com/gwXFwb"
        target="_blank"
        flat
        class="btn--plain"
      >
        Subscribe
      </v-btn>
    </v-toolbar-items>

    <!-- hamburger icon -->
    <v-toolbar-side-icon class="hidden-md-and-up" @click="$emit('input', true)"/>

  </v-toolbar>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    toggleDrawer() {
      return this.value;
    },
  },
};
</script>


<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.v-toolbar__items {
  .v-btn {
    width: auto;
    min-width: unset;
  }
}

@media $display-breakpoints.xs-only {
  .v-btn {
    height: 36px !important;
  }
}

// transitions
.navbar__logo.transition--opacity {
  opacity: 1;
  transition: opacity 0.3s linear;

  &:hover {
    opacity: 0.7;
  }
}

.btn--plain {
  &.v-btn--active, &:hover, &:focus {
    color: #F2784B;

    &:before {
      background-color: transparent;
    }
  }
}
</style>
