<template>
  <v-toolbar app>
    <v-layout align-center>
      <!-- logo -->
      <v-btn
        :ripple="false"
        to="/"
        nuxt
        icon
        exact
        class="btn--plain">
        <img
          src="~/assets/img/logo.svg"
          alt="kontinentalist-logo"
          height="100%">
      </v-btn>

      <!-- post title -->
      <v-toolbar-title>
        <div>
          <span class="body-1 font-secondary font-weight-bold primary--text">You are reading: </span>
          <h2 class="body-2 font-secondary font-weight-bold d-inline ml-1">{{ postTitle }}</h2>
        </div>
      </v-toolbar-title>

      <v-spacer/>

      <!-- social sharing -->
      <v-toolbar-items>
        <AppButtonSocialFacebook />

        <AppButtonSocialTwitter
          :post-title="encodeURIComponent(postTitle)"
          :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$route.fullPath}`)" />

        <AppButtonSocialCopy />

      </v-toolbar-items>
    </v-layout>
  </v-toolbar>
</template>

<script>
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialCopy,
  },
  computed: {
    postTitle() {
      return this.$store.getters.previewPosts.find(post => post.slug === this.$route.path.split('/')[2]).title;
    },
  },
};
</script>

<style lang="stylus" scoped>
.btn--plain {
  &.v-btn--active, &:hover, &:focus {
    &:before {
      background-color: transparent;
    }
  }
}
</style>
