<template>
  <v-btn
    flat
    icon
    color="white"
    @click="share">
    <fa-icon
      :icon="['fab', 'twitter']"
      fixed-width
      size="lg"
      style="color: #55acee"/>
  </v-btn>
</template>

<script>
export default {
  props: {
    postTitle: {
      type: String,
      required: true,
    },
    shareUrl: {
      type: String,
      required: true,
    },
  },
  methods: {
    share() {
      // open twitter share window
      window.open(
        `https://twitter.com/intent/tweet?text=${this.postTitle}&url=${this.shareUrl}&via=konti_sg`,
        'ShareOnTwitter'
      );
    },
  },
};
</script>
