<template>
  <v-btn
    :href="`https://wa.me/?text=${postTitle}%0A${shareUrl}`"
    flat
    icon
    color="white">
    <fa-icon
      :icon="['fab', 'whatsapp']"
      fixed-width
      size="lg"
      style="color: #25D366"/>
  </v-btn>
</template>

<script>
export default {
  props: {
    postTitle: {
      type: String,
      required: true,
    },
    shareUrl: {
      type: String,
      required: true,
    },
  },
};
</script>
