<template>
  <picture v-if="isImgSrcAvailable() && isImgSharped()">
    <source :srcset="sourceUrls.webp" type="image/webp">
    <source :srcset="sourceUrls.jpeg" type="image/jpeg">
    <img
      :src="sourceUrls.src"
      :alt="imgAlt"
      class="fluid sharped-img">
  </picture>
  
  <img
    v-else
    :src="fallbackSrc"
    :alt="imgAlt"
    class="fluid unsharpable-img">
</template>

<script>
export default {
  props: {
    /**
     * The main image / attachment object from API
     * @type {Object}
     */
    imgObject: {
      type: [Object, Boolean],
      default: () => {},
      required: true,
    },
    /**
     * Optional.
     * Typically this is set when the image this.sourceUrls.src is possible not returning anything.
     * @type {String}
     */
    customFallbackSrc: {
      type: String,
      default: '',
      required: false,
    },
    /**
     * Optional.
     * Use this if you want to override this.imgObject.alt
     * @type {String}
     */
    alt: {
      type: String,
      default: '',
      required: false,
    },
  },
  computed: {
    /**
     * The main object of image source urls.
     * Its structure has to be: { src: [String], webp: [String], jpeg: [String] }
     * @returns {Object}
     */
    sourceUrls() {
      return (this.imgObject && this.imgObject.source_urls) || { src: '', webp: '', jpeg: '' };
    },
    /**
     * Returns the fallback src after !this.isImgSrcAvailable() and !this.isImgSharped() are triggered
     * @returns {String}
     */
    fallbackSrc() {
      return (this.sourceUrls && this.sourceUrls.src) || this.customFallbackSrc || '';
    },
    /**
     * The object for image alt text.
     * Gets the data from either this.alt or this.imgObject.alt
     * @returns {String}
     */
    imgAlt() {
      return this.alt || (this.imgObject && this.imgObject.alt) || '';
    },
  },
  methods: {
    /**
     * Checks whether the src urls are not empty
     * @returns {Boolean}
     */
    isImgSrcAvailable() {
      return !!(this.sourceUrls && this.sourceUrls.src && this.sourceUrls.webp && this.sourceUrls.jpeg);
    },
    /**
     * Checks whether the image has its sharped version
     * @returns {Boolean}
     */
    isImgSharped() {
      return !!(
        this.imgObject &&
        this.imgObject.mime_type !== 'image/gif' &&
        this.imgObject.mime_type !== 'image/svg+xml'
      );
    },
  },
};
</script>
