<template>
  <v-bottom-sheet
    v-model="showMailingList"
    hide-overlay
    persistent
  >
    <div class="bottom-sheet-mailinglist">
      <v-container inner>
        <v-layout wrap align-center>
          <v-flex xs12 md6>
            <p class="mb-0 mt-xs-2 pt-xs-3">
              Experiencing information fatigue? Subscribe to our monthly newsletter for a concise roundup of our stories.
            </p>
          </v-flex>

          <v-flex xs12 md6>
            <!-- MailChimp form -->
            <div id="mc_embed_signup">
              <form
                id="mc-embedded-subscribe-form"
                action="https://kontinentalist.us12.list-manage.com/subscribe/post?u=2280632ef90de9d24551a7997&amp;id=57892f324d"
                method="post"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate
              >
                <div id="mc_embed_signup_scroll">
                  <fa-icon
                    :icon="['far', 'envelope']"
                    fixed-width
                    class="mc__input-icon ml-3" />

                  <input
                    id="mce-EMAIL"
                    class="mc__input my-xs-2"
                    type="email"
                    name="EMAIL"
                    placeholder="Email address"
                    value
                    required
                  >

                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input
                      type="text"
                      name="b_2280632ef90de9d24551a7997_b18ab232a1"
                      tabindex="-1"
                      value
                    >
                  </div>
                  <input
                    id="mc-embedded-subscribe"
                    class="v-btn v-btn--depressed primary mx-xs-0"
                    type="submit"
                    value="Subscribe"
                    name="subscribe"
                    @click="$FB.pixelTrack('Subscribe')"
                  >
                </div>
              </form>
            </div>
            <!--end mailchimp-->
          </v-flex>
        </v-layout>
      </v-container>

      <v-btn
        icon
        class="btn-close ma-0"
        @click="$store.dispatch('setPostSheetBottomClick', true)">
        <fa-icon :icon="['far', 'times']" fixed-width />
      </v-btn>
    </div>
  </v-bottom-sheet>
</template>

<script>
export default {
  computed: {
    showMailingList: {
      get() {
        return this.$store.getters.postSheetBottomState.show;
      },
      set(value) {
        this.$store.dispatch('setPostSheetBottomShow', value);
      },
    },
  },
  mounted() {
    this.$store.dispatch('setPostSheetBottomClick', false);
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.bottom-sheet-mailinglist {
  position: relative;
  background-color: #262E43;

  .btn-close {
    position: absolute;
    top: 5px;
    right: 24px;
    color: #DAD4BB;
    height: 36px !important;

    @media $display-breakpoints.xs-only {
      right: 16px;
    }
  }

  p {
    color: #DAD4BB;
  }

  #mc_embed_signup_scroll {
    position: relative;

    .mc__input-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: rgba(0,0,0,0.55);

      @media $display-breakpoints.xs-only {
        top: 33px;
      }
    }

    .mc__input {
      background-color: #fff;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: 14px;
      height: 50px;
      line-height: 1;
      outline: none;
      padding: 0 40px;
      transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      width: 70%;

      @media $display-breakpoints.xs-only {
        width: 100%;
      }
    }

    .v-btn {
      height: 50px;

      @media $display-breakpoints.xs-only {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media $display-breakpoints.xs-only {
  .pt-xs-3 {
    padding-top: 16px;
  }

  .mt-xs-2 {
    margin-top: 8px;
  }

  .mx-xs-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .my-xs-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
</style>
