// Typography
$fontPrimary = 'LL Akkurat Pro', Helvetica, sans-serif
$fontSecondary = 'Averta', Helvetica, sans-serif
$fontSizeRoot = 15px
$lineHeightRoot = 1.4

// Colors
$colorPrimary = #F2784B
$colorSecondary = #FAF9F7
$colorTextRoot = rgba(#000, .7)

// ============================================================
// Vuetify variables
// ============================================================

$fontWeights := {
  light: 300,
  regular: 400,
  bold: 700,
}

// Headings
// ============================================================
$typeScale = {
  h1: { size: 72px, weight: $fontWeights.bold, line-height: 1.2, letter-spacing: normal, font-family: $fontPrimary, color: rgba(#000, .9) },
  h2: { size: 48px, weight: $fontWeights.bold, line-height: 1.2, letter-spacing: normal, font-family: $fontPrimary, color: rgba(#000) },
  h3: { size: 36px, weight: $fontWeights.bold, line-height: 1.2, letter-spacing: normal, font-family: $fontPrimary, color: rgba(#000, .9) },
  h4: { size: 28px, weight: $fontWeights.bold, line-height: 1.2, letter-spacing: normal, font-family: $fontPrimary, color: rgba(#000, .9) },
  h5: { size: 24px, weight: $fontWeights.bold, line-height: 1.4, letter-spacing: normal, font-family: $fontPrimary, color: rgba(#000, .9) },
  h6: { size: 22px, weight: $fontWeights.bold, line-height: 1.2, letter-spacing: normal, font-family: $fontPrimary, color: rgba(#000, .9) },
  highlight: { size: 36px, weight: $fontWeights.bold, line-height: 1.4, letter-spacing: normal, font-family: $fontSecondary, color: rgba(#000, .9) },
  subheading: { size: 20px, weight: $fontWeights.bold, color: rgba(#000, .9) },
  body-2: { size: 18px, weight: $fontWeights.regular, line-height: 1.6, font-family: $fontPrimary },
  body-1: { size: 15px, weight: $fontWeights.regular },
  caption: { size: 13px, weight: $fontWeights.regular, color: rgba(#000, .6) },
  button: { size: 14px, weight: 500 }
}