<template>
  <div class="mb-2">
    <v-flex xs12>
      <div class="graph__header py-1 mb-4">
        <p class="mb-0">Decreasing</p>
        </div>
    </v-flex>    
    <v-layout
      wrap
      row
      justify-start>
      <v-flex
        v-for="(bird, i) in decreasing"
        :key="i"
        xs6
        lg4>
        <v-card
          class="mx-2 mb-4"
          flat>
          <v-card-text class="body-1 px-0 mb-0" :id="`${$_.kebabCase(bird)}-name`"><strong>{{ bird }}</strong></v-card-text>
          <svg :id="$_.kebabCase(bird)"/>
        </v-card>
      </v-flex>
    </v-layout>    
    <v-flex xs12>
      <div class="graph__header py-1 mb-4">
        <p class="mb-0">Increasing</p>
        </div>
    </v-flex>          
    <v-layout
      wrap
      row
      justify-start>   
      <v-flex
        v-for="(bird, i) in increasing"
        :key="i"
        xs6
        lg4>
        <v-card
          class="mx-2 mb-4"
          flat>
          <v-card-text class="body-1 px-0 mb-0"><strong>{{ bird }}</strong></v-card-text>
          <svg :id="$_.kebabCase(bird)"/>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      increasing: ['Siberian Crane', 'Spotted Greenshank', 'Black-faced Spoonbill'],
      decreasing: ['Spoon-billed Sandpiper', 'Far Eastern Curlew', 'Bar-tailed Godwit', 'Great Knot', 'Chinese Egret', 'Red-crowned Crane'],
      innerWidth: 280,  
    };
  },
  computed: {
    innerHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 350;
      }
      return 380;
    },
    barWidth() {
      return 75;
    },
    chartMargin() {
      return { top: 30, right: 10, bottom: 30, left: 42 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    const data = await d3.csv('/data/birdlife/increasingdata.csv');
    this.birdGroup = d3.nest()
    .key(d => d.species)
    .entries(data);
    // draw the increasing/stable charts
    this.increasing.forEach(bird => {
      const id_input = this.$_.kebabCase(bird);
      this.drawGraph(id_input);
    });
    // draw the decreasing charts
    this.decreasing.forEach(bird => {
      const id_input = this.$_.kebabCase(bird);
      this.drawGraph(id_input);
    });    
  },
  methods: {
    drawGraph(id) {
      this.chartSVG = d3.select(`#${id}`);
      const eachBird = this.birdGroup.find(bird => this.$_.kebabCase(bird.key) === id);

      // set the margin based on the number of digits of Y Axis
      const YAxisMax = d3.max(eachBird.values, d => +d.max);
      if (YAxisMax > 200000) {
        this.chartMargin.left = this.$vuetify.breakpoint.smAndDown ? 65 : 60;
      } else {
        this.chartMargin.left = this.$vuetify.breakpoint.smAndDown ? 46 : 42;
      }

      // draw base
      this.chartSVG
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        // .style('border', '1px solid black')
        .call(this.responsivefy);

      // axes
      this.XAxis = d3
        .scaleBand()
        .domain(eachBird.values.map(d => d.year))
        .range([0, this.innerWidth]);

      this.chartSVG
        .append('g')
        .attr('class', 'XAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.innerHeight + this.chartMargin.top})`)
        .call(
          d3
            .axisBottom(this.XAxis)
            .ticks(2)
            .tickFormat(d3.format('d'))
            .tickSize(6)
            .tickSizeOuter(0)
        );
      d3.selectAll('.XAxis > .tick line').attr('transform', 'translate(0, -3)');

      this.YAxis = d3
        .scaleLinear()
        .domain([YAxisMax, 0])
        .range([0, this.innerHeight]);
      
      this.chartSVG
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`)
        .call(d3
          .axisLeft(this.YAxis)
          .ticks(5, d3.format('d'))
          .tickSize(-this.innerWidth)
        )
        .call(g => g.select('.domain', '').remove());        
        
      this.chartSVG
        .append('g').attr('class', 'populationBars')
        .attr('transform', `translate(${this.chartMargin.left + this.barWidth / 2}, ${this.chartMargin.top})`)
        .selectAll('rect.bars')
        .data(eachBird.values)
        .enter()
        .append('rect')
        .attr('class', 'bars')
        .attr('x', d => this.XAxis(d.year))
        .attr('y', d => this.YAxis(+d.population))
        .attr('width', this.barWidth)
        .attr('fill', d => d.diff === '' ? '#B2D2C6' : '#C1B5DE')
        .attr('stroke-wdith', 0.5)
        .attr('stroke', d => d.diff === '' ? '#73AD98' : '#8870BF')
        .attr('height', d => this.YAxis(0) - this.YAxis(d.population))

      this.chartSVG
        .append('g').attr('class', 'populationBars')
        .attr('transform', `translate(${this.chartMargin.left + this.barWidth / 2}, ${this.chartMargin.top})`)
        .selectAll('text.diff')
        .data(eachBird.values)
        .enter()
        .append('text')
        .attr('class', 'diff')
        .attr('x', d => this.XAxis(d.year) + this.barWidth / 2)
        .attr('y', d => this.YAxis(+d.population) - 10) // shift the text up by 10 pixels
        .attr('fill', d => d.type === 'decreasing' ? '#FF5858' : '#19BA7F')
        .attr('text-anchor', 'middle')
        .text(d => d.diff);
      
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus">
// CSS for all text in SVGs
@import '~vuetify/src/stylus/settings/_variables';

#spoon-billed-sandpiper-name {
  font-size: 14px !important;
}

.graph__header {
  background-color: #F3F6EA;
  text-align: center;
  font-weight:bold;  
}

.v-card__text {
  padding: 8px 0 !important;
}

.YAxis > .domain {
  opacity: 0;
}

.YAxis > .tick text {
  font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  @media $display-breakpoints.sm-and-down {
    font-size: 16px;
  }
}

.XAxis > .tick text, .populationBars > text.diff{
  font-weight: bold; 
  color: rgba(0, 0, 0, .7);
  font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
  font-size: 14px;  
  @media $display-breakpoints.sm-and-down {
    font-size: 18px;
  }
}

.XAxis path, .XAxis > .tick line, .YAxis > .tick line {
  stroke: grey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}
</style>
