<template>
  <v-container inner>
    <v-layout wrap>
      <v-flex xs12>
        <div class="image-container">
          <transition name="fade">            
            <img 
              :key="step" 
              :id="step +'image'" 
              class="fluid"
              :src="`/data/birdlife/illustrations/Birdlife_asset_${step}.png`"
            />
          </transition>        
        </div>        
      </v-flex>
    </v-layout>
  </v-container>  
</template>

<script>
import * as d3 from 'd3';

export default {
  props: {
    step: {
      type: String,
      required: true,
    },
    progress: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scope>
.image-container {
  // background-color: #eedd82;
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.fade-enter-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
</style>
