<template>
  <div class="post__container">       
    <div id="map" />  
  </div>
</template>

<script>
import * as d3 from 'd3';
import * as turf from '@turf/turf';

export default {
  props: {
    step: {
      type: String,
      required: true,
    },
    drive: {
      type: String,
      required: true,
    },    
    animateCount: {
      type: Number,
      required: true,
    },
    progress: {
      type: Number,
      required: true,
    },    
  },
  data() {
    return {
      animationCounter: 0,
      mapSettings: [
        {
          id: 1,
          camera: {
            center: [149.167149, 33.816210],
            zoom: 1.29,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 2,
          camera: {
            center: [142.924209, 49.995786],
            zoom: 3.45,
            bearing: 0,
            pitch: 48,
          },
        },
        {
          id: 3,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 5.85,
            bearing: -30.4,
            pitch: 48,
          },       
        },
        {
          id: 4,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 5.85,
            bearing: -30.4,
            pitch: 48,
          },
        },
        {
          id: 5,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 5.85,
            bearing: -30.4,
            pitch: 48,
          },
        },
        {
          id: 6,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 5.85,
            bearing: -30.4,
            pitch: 48,
          },
        }, 
        {
          id: 7,
          camera: {
            center: [105.815018, 19.414599],
            zoom: 4.81,
            bearing: 0,
            pitch: 48,
          },
        }, 
        {
          id: 8,
          camera: {
            center: [105.815018, 19.414599],
            zoom: 4.81,
            bearing: 0,
            pitch: 48,
          },
        },  
        {
          id: 9,
          camera: {
            center: [105.815018, 19.414599],
            zoom: 4.81,
            bearing: 0,
            pitch: 48,
          },
        },                                                 
      ],
      mapSettingsMobile: [
        {
          id: 1,
          camera: {
            center: [148.167149, 44.816210],
            zoom: 0.5,
            bearing: 0,
            pitch: 0,
          },
        },
        {
          id: 2,
          camera: {
            center: [142.924209, 49.995786],
            zoom: 3,
            bearing: 0,
            pitch: 48,
          },
        },
        {
          id: 3,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 4.3,
            bearing: -30.4,
            pitch: 48,
          },       
        },
        {
          id: 4,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 4.3,
            bearing: -30.4,
            pitch: 48,
          },
        },
        {
          id: 5,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 4.3,
            bearing: -30.4,
            pitch: 48,
          },
        },
        {
          id: 6,
          camera: {
            center: [123.587858, 35.655651],
            zoom: 4.3,
            bearing: -30.4,
            pitch: 48,
          },
        }, 
        {
          id: 7,
          camera: {
            center: [110.815018, 19.414599],
            zoom: 3.8,
            bearing: 0,
            pitch: 48,
          },
        }, 
        {
          id: 8,
          camera: {
            center: [110.815018, 19.414599],
            zoom: 3.8,
            bearing: 0,
            pitch: 48,
          },
        },  
        {
          id: 9,
          camera: {
            center: [100.815018, 20.414599],
            zoom: 3.8,
            bearing: 0,
            pitch: 48,
          },
        },                                                 
      ],   
      geojsonPoint: {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "LineString",
            "coordinates": []
          }
        }]
      },
    };
  },
  computed: {
    driveandprogress() {
      return `${this.drive}, ${this.progress}`;
    },
    mapInit() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          center: [148.167149, 44.816210],
          zoom: 0.5,
        };
      }
      return {
        center: [149.167149, 33.816210],
        zoom: 1.29,
      };
    },    
  },  
  watch: {
    // driveandprogress(newVal, oldVal) {
    //   const [newDrive, newProgress] = newVal.split(',');
    //   if (+newDrive !== -1) {
    //     this.handleStep(newDrive, newProgress);
    //   }
    // },    
    step(stepNumber) {
      // change camera view per step
      this.changeCameraSettings(stepNumber);

      switch (+stepNumber) {
        case 1:
          // Drive style
          // this.map.setLayoutProperty('animatedLine', 'visibility', 'none');
          // this.map.setLayoutProperty('animatedPoint', 'visibility', 'none'); 
          // EAAF
          this.map.setLayoutProperty('flyway_polygon', 'visibility', 'visible');
          this.map.setLayoutProperty('flyway_border', 'visibility', 'visible');           
          break;

        case 2:
          // EAAF        
          this.map.setLayoutProperty('flyway_polygon', 'visibility', 'none');
          this.map.setLayoutProperty('flyway_border', 'visibility', 'none');  
          break;

        // case 3:
        //   this.changeCenter(2512);
        //   this.resetAllBirds();
        //   break;   
          
        // case 7:
        //   this.changeCenter(2512);
        //   this.resetAllBirds();
        //   break;          
      }
    },
    // animateCount(newCount) {
    //   if (newCount === 1) {
    //     this.animateAllBirds();
    //   } else if (newCount > 1) {
    //     this.resetAllBirds();
    //     this.animateAllBirds();
    //   }
    // },
  },
  async mounted() {
    // import data
    this.allRoutes = await d3.json('/data/birdlife/geojson/Allbirds.geojson');
    this.drivingRoute = this.allRoutes.features.filter(bird => bird.properties.bird === "Spoon-billed Sandpiper");

    // stepup animation 
    // this.initBirdRoutes();

    this.$Mapbox.load().then(() => {
      // initialising map
      this.map = this.$Mapbox.constructMap({
        container: 'map',
        // style: 'mapbox://styles/kontinentalist/ck9v5n8qo0r741iql7gvan431',
        style: 'mapbox://styles/kontinentalist/ck8o3nh4307451imshfrnb48z',
        center: this.mapInit.center,
        zoom: this.mapInit.zoom,
        minZoom: 0.5,
        interactive: false,
      });

      const self = this;
      // For the pulsing dot
      this.pulsingDot = {
        width: 80,
        height: 80,
        data: new Uint8Array(80 * 80 * 4),
      
        // get rendering context for the map canvas when layer is added to the map
        onAdd: function() {
          let canvas = document.createElement('canvas');
          canvas.width = this.width;
          canvas.height = this.height;
          this.context = canvas.getContext('2d');
        },
      
        // called once before every frame where the icon will be used
        render: function() {
          let duration = 1000;
          let t = (performance.now() % duration) / duration;
          
          let radius = (80 / 2) * 0.3;
          let outerRadius = (80 / 2) * 0.5 * t + radius;
          let context = this.context;
          
          // draw outer circle
          context.clearRect(0, 0, this.width, this.height);
          context.beginPath();
          context.arc(
            this.width / 2,
            this.height / 2,
            outerRadius,
            0,
            Math.PI * 2
          );
          context.fillStyle = 'rgba(84, 64, 136,' + (1 - t) + ')';
          context.fill();
          
          // draw inner circle
          context.beginPath();
          context.arc(
            this.width / 2,
            this.height / 2,
            radius,
            0,
            Math.PI * 2
          );
          context.fillStyle = 'rgba(84, 64, 136, 1)';
          context.strokeStyle = 'white';
          context.lineWidth = 2 + 4 * (1 - t);
          context.fill();
          context.stroke();
          
          // update this image's data with data from the canvas
          this.data = context.getImageData(0, 0, this.width, this.height).data;
          
          // continuously repaint the map, resulting in the smooth animation of the dot
          self.map.triggerRepaint();
          
          // return `true` to let the map know that the image was updated
          return true;
        }
      };
        
      // loading layers
      this.map.on('load', () => {
        this.loadFlyway();
        // this.loadAllBirdsLayer();
        // this.loadDriveRoute();
        // this.createDriveRoute(this.drivingRoute, 3);        
      });      
    });   
  },
  methods: {
    initBirdRoutes() {
      const nBirds = 9
      this.arc = []
      this.animatedroute = {
        'type': 'FeatureCollection',
        'features': []
      };

      for (let i=0; i < nBirds; i++) {
        this.arc.push([]);
        this.animatedroute.features.push(
          {
            'type': 'Feature',
            'properties': {
              'bird': '',
              'color': '',
            },
            'geometry': {
              'type': 'LineString',
              'coordinates': []
            }
          }
        );
      }

      // calculating 
      for (let bird = 0; bird < 9; bird ++) {
        this.calculateBirdRoutes(bird);
      }      
    },
    calculateBirdRoutes(bird) {
      const line = turf.lineString(this.allRoutes.features[+bird].geometry.coordinates);
      const lineDistance = turf.lineDistance(line);
      // Draw the line with the segments
      for (let i = 0; i < lineDistance; i += lineDistance / 200) {
        let segment = turf.along(line, i, {units: 'kilometers'});
        this.arc[+bird].push(segment.geometry.coordinates);
      }
    },
    loadAllBirdsLayer() {
      // Adding layers to map
      this.map.addSource('animatedroute', {
        'type': 'geojson',
        'data': this.animatedroute
      });      
      this.map.addLayer({
        'id': 'animatedroute',
        'source': 'animatedroute',
        'type': 'line',
        'paint': {
          'line-width': 2,
          'line-color': ['get', 'color']
        }
      });
      this.map.addLayer({
        'id': 'animatedroutelabels',
        'type': 'symbol',
        'source': 'animatedroute',
        'layout': {
          'symbol-placement': 'line',
          'text-font': ['Open Sans Regular'],
          'text-field': '{bird}', // part 2 of this is how to do it
          'text-size': 14
        },
        'paint': {
          'text-color': ['get', 'color'],
          'text-halo-color': 'white', 
          'text-halo-width': 1.5
        }        
      });
    },
    animateAllBirds() {
      if (this.animationCounter < 200) {        
        for (let bird = 0; bird < 9; bird ++) {
          this.animatedroute.features[bird].geometry.coordinates.push(this.arc[bird][this.animationCounter]);
          this.animatedroute.features[bird].properties.bird = this.allRoutes.features[bird].properties.bird;
          this.animatedroute.features[bird].properties.color = this.allRoutes.features[bird].properties.color;
        }
        this.map.getSource('animatedroute').setData(this.animatedroute);
        this.requestID = requestAnimationFrame(this.animateAllBirds);
        this.animationCounter++;
      }
    },
    resetAllBirds () {
      window.cancelAnimationFrame(this.requestID);
      this.animationCounter = 0;
      for (let bird = 0; bird < 9; bird ++) {
        this.animatedroute.features[bird].geometry.coordinates = [];
      }
      this.map.getSource('animatedroute').setData(this.animatedroute);
    },   
    loadFlyway() {
      // add sources
      this.map.addSource('flyway', {
        type: 'geojson',
        data: '/data/birdlife/geojson/EAAF.geojson',
      });

      // add layers
      this.map.addLayer({
        id: 'flyway_border',
        type: 'line',
        source: 'flyway',
        layout: {
          'line-cap': 'round',
          'line-join': 'round',
        },
        paint: {
          'line-color': '#d1c398',
          'line-width': 2,
        },
        filter: ['==', '$type', 'LineString']        
      });

      this.map.addLayer({
        id: 'flyway_polygon',
        type: 'fill',
        source: 'flyway',        
        paint: {
          'fill-color': '#d1c398',
          'fill-opacity': 0.2,
        },
        filter: ['==', '$type', 'Polygon']        
      });
    },     
    loadDriveRoute() {
      this.map.addSource('lineSource', {
        type: 'geojson',
        data: this.geojsonPoint
      });

      this.map.addSource('pointSource', {
        type: 'geojson',
        data: this.geojsonPoint
      });

      this.map.addLayer({
        id: "animatedLine",
        type: "line",
        source: "lineSource",
        paint: {
          'line-opacity': 1,
          'line-color': '#5A4088',
          'line-width': 3.5
        },
        layout: {
          'visibility': 'none'
        }
      });

      this.map.addImage('pulsing-dot', this.pulsingDot, { pixelRatio: 2 });
      this.map.addLayer({
        id: "animatedPoint",
        type: "symbol",
        source: "pointSource",
        // paint: {
        //   'circle-radius': 8,
        //   'circle-opacity': 1,
        //   'circle-color': '#5A4088'
        // },
        layout: {
          'icon-image': 'pulsing-dot',
          'visibility': 'none'
        }
      });
    },
    createDriveRoute(data, slide) {
      const routeData = data;

      // get the coordinates of the line you want to highlight
      const extentArray = routeData[0].geometry.coordinates;

      // create a turf linestring based on the line coordinates
      const line = turf.lineString(extentArray);

      // calculate the total length of the line
      const lineDistance = turf.lineDistance(line);

      // how many points you want along the path (more = smoother animation) driveSlides * driveSmoothness
      const rects = slide * 1500; 

      // calculate the distance between each point on the path
      const segments = lineDistance / rects;

      // what units do you want to use?
      const units = 'kilometers';

      // based on the number of points...
      for (let i = 0; i <= rects; i++) {
        // calculate point location for each segment
        const pointonline = turf.along(line, (segments * i));

        // push new x,y
        let newX = pointonline.geometry.coordinates[0];
        let newY = pointonline.geometry.coordinates[1];

        this.geojsonPoint.features[0].geometry.coordinates.push([newX, newY]);

        // draw our initial point
        if (i === 0) {
          const initPoint = turf.point([newX, newY]);
          this.map.getSource('pointSource').setData(initPoint);
        }

        // once 'i' equals the number of points then we're done building our line 
        if (i == rects) {
          this.map.getSource('lineSource').setData(this.geojsonPoint);
        }
      }
      // console.log(this.geojsonPoint.features[0].geometry.coordinates)      
    },
    changeCenter(index) {
      const currentJson = this.geojsonPoint.features[0].geometry.coordinates.slice(0, index);
      const center = this.geojsonPoint.features[0].geometry.coordinates[index];
      const centerX = center[0];
      const centerY = center[1];
      const movingLine = {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "LineString",
            "coordinates": currentJson
          }
        }]
      };
      const movingPoint = turf.point([centerX, centerY]);
      this.map.getSource('lineSource').setData(movingLine);
      this.map.getSource('pointSource').setData(movingPoint);
    }, 
    handleStep(driveStep, progress) {
      const firstStop = 2512;
      const unitRoute = (4500 - firstStop) / 2;
      let stepProgress;
      switch (+driveStep) {
        case 0:
          this.map.setLayoutProperty('animatedLine', 'visibility', 'visible');
          this.map.setLayoutProperty('animatedPoint', 'visibility', 'visible');
          stepProgress = Math.round(progress * firstStop);
          break;

        case 1:
          stepProgress = Math.round(progress * unitRoute + firstStop);
          break;

        case 2:
          stepProgress = Math.round(progress * unitRoute + unitRoute + firstStop);
          break;          
      }
      this.changeCenter(stepProgress); 
    },
    changeCameraSettings(stepNumber) {
      if (this.$vuetify.breakpoint.smAndDown) {
        const cameraSetting = this.mapSettingsMobile.find(setting => +setting.id === +stepNumber);
        this.map.flyTo(cameraSetting.camera);      
      } else {
        const cameraSetting = this.mapSettings.find(setting => +setting.id === +stepNumber);
        this.map.flyTo(cameraSetting.camera);      
      }
    },  
  },
};
</script>

<style lang="stylus" scoped>
// CSS for all text in SVGs
@import '~vuetify/src/stylus/settings/_variables';
.post__container {
  position: relative;
  z-index: 1;
  
  #map {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -10;
    height: 100% !important;
  }
}
</style>
