.v-btn
  font-family: $fontSecondary !important;
  font-weight: 700 !important;
  height: 50px !important;

  &.v-btn--outline
    &:hover
      color: #fff !important;

      &:before
        background-color: $colorPrimary !important;
        opacity: 1 !important;