.v-expansion-panel
  &__header
    padding: 0 !important;
    align-items: flex-end;

  &.dark-theme
    .v-expansion-panel__container
      background-color: #262e43 !important;
      color: #dad4bb !important;

      .v-icon
        background-color: #262e43 !important;
        color: #dad4bb !important;
