.container
  &.inner
    for $size, $width in $container-max-widths
      @media only screen and (min-width: $width)
        max-width: round( ($width * 1.618) - $width + 48 )
  &.outer
    for $size, $width in $container-max-widths
      @media only screen and (min-width: $width)
        max-width: round( 0.9 * $width )

  &.grid-list-xl
    .layout
      .flex
        padding: 20px;

.aspect-ratio-container
  position relative
  overflow hidden

  @media $display-breakpoints.md-and-up {
    padding-bottom 56.25% !important; /* 16:9 */
    height 0 !important;
  }

  @media $display-breakpoints.sm-and-down {
    padding-bottom: 75%; /* 4:3 */
    height: 0;
  }

  iframe, embed, object
    position absolute
    top 0
    left 0
    width 100%
    height 100%