// scrolly side
.scrolly-side
  position: relative;

  .scrolly__text
    position: relative;

    .step
      height: calc(100vh - 64px);
      opacity: 0.25;
      // border: solid black 1px;

      @media $display-breakpoints.sm-and-down {
        height: auto;

        &:first-child {
          height: calc(55vh - 64px);
        }
      }

      &.active {
        opacity: 1;
      }

      &.step--shorten {
        height: calc(50vh - 64px);
      }

  .scrolly__sticky
    position: sticky;
    top: 64px;
    z-index: 1;
    height: calc(100vh - 64px);
    transform: translate3d(0, 0, 0);

    @media $display-breakpoints.sm-and-down {
      height: calc(45vh - 64px);
    }