<template>
  <div id="conclusion">
    <v-container inner pb-5>
      <v-flex xs12>
        <div class="content__chunk mt-5">
          <h2 class="display-2 mb-4 cnyfont">Whether you believe in them or think they’re superstitious hogwash, predictions are comforting.</h2>
          <p class="body-2">They map out big changes in our lives and guide us in the best ways to handle them. And when fortune or tragedy strike, they help us answer the age-old question, “Why me? Why not me?”</p>
          <p class="body-2">In an age of uncertainty, this is rare comfort indeed.</p>
        </div>
      </v-flex>
    </v-container>
  </div>
</template>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.cnyfont {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;  
}

h2 {
  font-weight: 600 !important;  
  color: #ca924f;
}

h3 {
  font-weight: 600 !important;
}

#conclusion {
  background-color: #f2e4de;
}
</style>
