<template>
  <div id="landing">
    <v-container inner pb-5>
      <v-layout
        wrap
        mb-5
        pb-5
      >
        <v-flex xs12 class="text-xs-center navbar-trigger">
          <div class="view-landing__heading mt-5 pt-2 mb-4">
            <img 
              src="/data/cny-rat/cny-banner.svg" 
              alt="landing image"
              class= "landing__image">
                          
            <span class="font-secondary" v-html="postTags"/>

            <h1 class="display-3 my-3 cnyfont">{{ post.title.raw }}</h1>                

            <time class="font-secondary mb-5">
              <strong class="mr-1">Published </strong> {{ post.date | moment("MMMM D, YYYY") }}
            </time>

            <p 
              class="cnyfont body-2 my-5"
              style="text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);">
              Forget your New Year’s resolution. <br>Hack or accept your fate with the predictive power of the zodiac.
            </p>             
          </div>        
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.cnyfont {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;  
}

h2 {
  font-weight: 600 !important;  
  color: #ca924f;
}

h3 {
  font-weight: 600 !important;
}

#landing {
  color: #f2e4de;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: url(/data/cny-rat/diamondpattern.svg) repeat;
  background-color: #a03e3c;

  .landing__image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 95%;
    display: block;
    margin: auto;
    @media $display-breakpoints.lg-and-down {
      height: auto;
      width: 95%;
     }   
  }

  h1 {
    color: #f2e4de;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
    @media $display-breakpoints.sm-and-down {
      font-size: 40px !important;
    }
  }
}

#landing::after {
  @media $display-breakpoints.sm-and-down {
    height: 150px;
    bottom: -20px;
    width: 100%;
  }  
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  height: 170px;
  background: url('/data/cny-rat/cloudborder.svg') repeat top;
  background-size: cover;
  width: 100%;
}
</style>
