<template>
  <div id="references">
    <v-container inner pb-5>
      <v-layout wrap>
        <v-flex xs12>
          <div class="content__chunk mx-2 mt-5">
            <p class="cnyfont">
              <strong>Story by</strong> Isabella Chua, Kenneth Wee and Ng Zu Xiang<strong><br> 
              Code by</strong > Siti Aishah <br>
              <strong>Design by</strong> Joceline Kuswanto and Griselda Gabriele
            </p>               
          </div>
        </v-flex>
        <!-- methodology -->
        <v-flex xs12>
          <div class="content__chunk mx-2 mt-3">
            <h5 class="body-2 mb-3 font-weight-bold">Methodology</h5>
            <p class="caption">We collected and transcribed predictions from local Feng Shui masters at three popular sites— Master U (龙子师傅; Fu Lu Shou Complex), Grand Master Hilary Phang (Raffles City), and Fengshui World (People’s Park Centre). Using R, we then ran them through the sentiment analysis package sentimentr. The package analyses the words of each sentence and gives sentences an overall negative or positive Sentiment Score. Positive sentiments, which we call ‘auspicious’, have a score of +0.05 and above, negative sentiments (‘inauspicious’) have a score of -0.05 and below, while neutral sentiments (‘neutral’) range between -0.05 and +0.05. Predictions from the first chart have been edited for brevity, but the Sentiment Score remains the same.</p>
            <p class="caption">Birth and marriage data for ethnic Chinese in Singapore were taken from Data.gov.sg and selected in 12-year periods for the full zodiac cycle.</p>
            <p class="caption">For families in the Forbes’ list, we tagged them to the zodiac sign of their predecessor. Siblings such as the Wong brothers are each tagged to a zodiac sign; for the purpose of calculation, we divided their net worth equally.</p>
          </div>
        </v-flex>
        <!-- references -->
        <v-flex xs12>
          <v-divider class="mt-3" />
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
              <div class="single-post__references mt-3">
                <ul class="list--none">
                  <li
                    v-for="(ref, i) in footerData.references"
                    :key="i"
                    class="mb-3"
                  >
                    <p class="mb-0">{{ ref.reference_citation }}</p>
                    <a
                      v-if="ref.reference_link"
                      :href="ref.reference_link"
                    >
                      {{ ref.reference_link }}
                    </a>
                  </li>
                </ul>            
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <!-- topics -->
        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li
                v-for="(topic, i) in footerData.topics"
                :key="topic.id"
                class="d-inline text-lowercase"
              >
                {{ topic.name }}{{ i === footerData.topics.length - 1 ? '' : ', ' }}
              </li>                
            </ul>
          </div>
          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" style="color: #fbf4e9; text-decoration: underline;">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// ui components
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
  },
  props: {
    footerData: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#references {
  background: url(/data/cny-rat/cny-pattern.svg) repeat;
  color: #fbf4e9;
  background-color: #a03e3c;

  .v-expansion-panel__container {
    background-color: #a03e3b !important;
  }

  .v-expansion-panel__container >>> .v-expansion-panel__header__icon .v-icon,
  .v-expansion-panel__header div,
  .v-expansion-panel__container li,
  .caption {
    color: #fbf4e9 !important;
  }

  .v-expansion-panel {
    box-shadow: none !important;
  }

  hr {
    border-color: #fbf4e9 !important;
  }

  .single-post__references >>> a {
    color: #fbf4e9;
    text-decoration: underline;
  }

  .single-post__topics ul li {
    color: #fbf4e9;
  }  
}
</style>
