<template>
  <div id="section1Prediction">
    <v-container inner>
      <VizPredBarChart/>
      <!-- Dot diagram viz -->          
      <v-flex xs12>
        <div class="content__chunk my-5">
          <h2 class="display-2 mb-4 cnyfont">Oxes are <em>huat</em> (lucky), Dragons are <em>suay</em> (unlucky)</h2>
          <p class="body-2">Predictions are usually a mixed bag, leaving you with a vague idea of how your year will go. But it’s 2020, and we’re aiming for clarity (get it?).</p>
          <p class="body-2">That’s why we’re deferring to the machines. Using sentiment analysis, we analysed predictions from three local Feng Shui masters to give you a definitive answer to the question, “Will I have an auspicious year?”</p>
          <p class="body-2">Explore your fortunes by category and how your zodiac compares with others.</p>
        </div>
        <VizDotDiagram/>
        <div class="content__chunk">
          <p class="body-2">Ox leads the rat race with the greatest number of auspicious predictions. Dragon ranks last, as one of only two zodiacs (the other being Snake) with more inauspicious predictions than auspicious ones. But no need to get rattled just yet; most negative predictions for the Dragon are only cautionary, with words like ‘avoid’ and ‘risks’ appearing consistently in predictions for love and career.</p>
          <p class="body-2">While offending the Tai Sui deity typically invites turbulence, the Rat, Goat, Rooster, and Rabbit all fare above average in overall fortune. Horse is the only outlier, ranking at ninth.</p>
        </div>
      </v-flex>
    </v-container>
  </div>
</template>

<script>
import VizPredBarChart from '@/components/posts/static/cny-rat/viz/VizPredBarChart';
import VizDotDiagram from '@/components/posts/static/cny-rat/viz/VizDotDiagram';

export default {
  components: {
    VizPredBarChart,
    VizDotDiagram,
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.cnyfont {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;  
}

h2 {
  font-weight: 600 !important;  
  color: #ca924f;
}

h3 {
  font-weight: 600 !important;
}

#section1Prediction {
  background-color: #f2e4de;
}
</style>
