<template>
  <div id="section2Trends">
    <v-container inner>
      <v-flex xs12>
        <div class="content__chunk my-5">
          <h2 class="display-2 mb-4 cnyfont">Are marriages and births planned around zodiac signs?</h2>
          <p class="body-2 mb-4">In <em>Feng Shui</em> (Chinese geomancy), zodiac signs not only affect your yearly fortunes but determine your overall life trajectory. With such high stakes at hand, we wondered if Singaporeans timed their marriages and pregnancies in order to land a favourable zodiac sign.</p>
        </div>
        <!-- Marriage graph -->
        <h3 class="cnyfont my-4">Marriages, sorted by zodiac year, of ethnic Singaporean Chinese (1995 to 2018)</h3>
        <p class="caption cnyfont">
          <span class="square thirdcycle" style="margin-left: 0px;"/>
          1995 - 2006
          <span class="square fourthcycle"/>
          2007 - 2018            
        </p>
        <VizMarriageChart/>
        <div class="content__chunk my-5">                    
          <p class="body-2">In matters of love, the Dragon’s powerful traits seem less important than plain old hard work and luck. There were more new marriages among ethnic Chinese in the Ox, Rabbit, Rat, and Horse years than in Dragon years. Coming in last for love, the Pig, Snake, and Monkey—popularly viewed as lazy, crafty, and mischievous—saw far fewer marriages in these years. At least these individuals have a robust defence when a nosy relative pries, “Why aren’t you married yet?” during the festive season.</p>
          <p class="body-2">We feel that the Pig gets more slime than it deserves, though. It’s the only animal with fewer than 100,000 births over 60 years, and has nearly half the marriages of every other Zodiac. From idioms such as ‘猪朋狗友’ (disreputable companions, like pigs and dogs) to the lecherous Zhu Bajie (猪八戒) in the iconic 16th century novel <a href="http://chinesehoroscop-e.com/astrology/zhu-bajie.php" target="_blank">Journey to the West</a>, the Pig has been synonymous with laziness, greed, and incompetence for a long time. Smear campaign, anyone?</p>
        </div>
        <!-- Birth graph -->          
        <h3 class="cnyfont my-4">Births, sorted by zodiac year, of ethnic Singaporean Chinese (1971 to 2018)</h3>
        <p class="caption cnyfont">
          <span class="square firstcycle"/>
          1971 - 1982
          <span class="square secondcycle"/>
          1983 - 1994 
          <span class="square thirdcycle"/>
          1995 - 2006
          <span class="square fourthcycle"/>
          2007 - 2018            
        </p>          
        <VizBirthChart/>
        <div class="content__chunk my-5">
          <p class="body-2">Call it a coincidence, but the numbers don’t lie. Dragon babies have outnumbered all other zodiac signs among ethnic Chinese in Singapore. Most notably, there was a 28 percent surge in Dragon babies in 1988 compared to Rabbit babies from the previous year.</p>
          <p class="body-2">Why this favouritism towards Dragons? Chinese cultures have long revered the Dragon, the only magical animal in the Zodiac, for its power, luck, and strength. The phrase ‘望子成龙’ (may one’s child become a dragon), for example, captures how parents hope to imbue their children with the Dragon’s auspicious traits by birthing them in a Dragon year. To seal their auspicious fate, they may even include the Chinese character for Dragon, ‘龙’, in their names. Martial arts star Jackie Chan’s Chinese name is ‘成龙’ (become dragon), while Singapore’s Prime Minister Lee Hsien Loong‘s Chinese name is ‘李显龙’ <a href=" https://mothership.sg/2015/03/lee-hsien-yang-reveals-the-story-behind-the-names-in-the-lee-family/" target="_blank">(illustrious dragon)</a>.</p> 
        </div>                            
      </v-flex>
    </v-container>
  </div>
</template>

<script>
import VizBirthChart from '@/components/posts/static/cny-rat/viz/VizBirthChart';
import VizMarriageChart from '@/components/posts/static/cny-rat/viz/VizMarriageChart';

export default {
  components: {
    VizBirthChart,
    VizMarriageChart,
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.cnyfont {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;  
}

h2 {
  font-weight: 600 !important;  
  color: #ca924f;
}

h3 {
  font-weight: 600 !important;
}

// second section
#section2Trends {
  background-color: #fbf6f4;

  .square {
    @media $display-breakpoints.sm-and-down {
      height: 15px;
      width: 15px;
      margin-left: 10px; 
    }    
    height: 12px;
    width: 25px;
    margin-left: 20px;
    margin-right: 8px;  
    display: inline-block;
  }

  .secondcycle, .thirdcycle, .fourthcycle {
    @media $display-breakpoints.sm-and-down {
      margin-left: 10px;
    }
    margin-left: 20px;
  }

  .firstcycle {
    background-color: #d8a76c;
    margin-left: 0px;  
  }

  .secondcycle {
    background-color: #a03e3b;
  }  

  .thirdcycle {
    background-color: #7fb9ae;
  }

  .fourthcycle {
    background-color: #f38063;
  }
}
</style>
