<template>
  <div id="section3Forbes">
    <v-container inner pb-5>
      <v-flex xs12>
        <div class="content__chunk">
          <h2 class="display-2 mb-4 cnyfont">Zodiac signs with the highest SES</h2>
          <p class="body-2">Do Dragons deserve our unyielding loyalty? You might reconsider after looking at the zodiac signs of the 50 wealthiest people in Asia.</p>
        </div>
        <!-- Top 10 Viz -->          
        <h3 class="cnyfont my-4">Forbes’ Top 10 Richest Singaporeans in 2019</h3>
        <VizTop10Faces/>
        <div class="content__chunk my-5">
          <p class="body-2">Dogs dominate the richest ten; they own over 40 percent of the wealth—about the same as the Snakes and Rabbits combined. The Dragon comes in fourth at 11 percent, although that’s still thrice the Rooster’s fortune at last place. Why are there so many Top Dogs among the super-rich? The data leaves this a mystery, but as the saying goes, never underestimate the underdogs.</p>
        </div>
        <!-- Bee Swarm Viz -->
        <h3 class="cnyfont my-4">The rest of Forbes’ 50 Richest Singaporeans in 2019</h3>
        <VizBeeSwarm/>
        <div class="content__chunk mt-5">
          <p class="body-2">The much-maligned Pig has the highest total net worth of the remaining 40 people on the list—talk about a comeback! Next are the Ox, Horse, and Sheep, seen as lucky and hardworking; together with the Pig, these animals contribute half of the wealth in this group. Most shocking, the Dragon winds up last place here, with a net worth almost half that of the next highest earner, the Rat. Maybe Dragons (and Dogs) only soar at the highest altitudes?</p>
        </div>                
      </v-flex>
    </v-container>
  </div>
</template>

<script>
import VizBeeSwarm from '@/components/posts/static/cny-rat/viz/VizBeeSwarm';
import VizTop10Faces from '@/components/posts/static/cny-rat/viz/VizTop10Faces';

export default {
  components: {
    VizBeeSwarm,
    VizTop10Faces,
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.cnyfont {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;  
}

h2 {
  font-weight: 600 !important;  
  color: #ca924f;
}

h3 {
  font-weight: 600 !important;
}

// third section
#section3Forbes {
  background-color: #fbf6f4;
}
</style>
