<template>
  <div id="references">
    <v-container inner pb-5>
      <v-layout wrap>
        <v-flex xs12>
          <div class="content__chunk mt-5">
            <p>
              <strong>Story by</strong> Loh Peiying<strong><br>
              Code by</strong > Siti Aishah <br>
              <strong>Design by</strong> Joceline Kuswanto
            </p>
          </div>
        </v-flex>
        <!-- methodology -->
        <v-flex xs12>
          <div class="content__chunk mt-3">
            <h5 class="body-2 mb-3 font-weight-bold">Methodology</h5>
            <p class="caption">Data has been collected from the <a href="https://www.moh.gov.sg/2019-ncov-wuhan" target="_blank">Ministry of Health</a> and <a href="https://www.straitstimes.com/singapore/health/novel-coronavirus-cases-in-singapore" target="_blank">The Straits Times</a>. The dotted lines in this visualisation represent circumstantial and situational connections between the confirmed cases. Cases of local transmission and community spread are also distinguished by whether the original <a href="https://www.channelnewsasia.com/news/singapore/wuhan-virus-coronavirus-singapore-community-spread-tourists-12389314" target="_blank">source of transmission</a> can be identified.</p>
          </div>
        </v-flex>

        <!-- topics -->
        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li
                v-for="(topic, i) in footerData.topics"
                :key="topic.id"
                class="d-inline text-lowercase"
              >
                {{ topic.name }}{{ i === footerData.topics.length - 1 ? '' : ', ' }}
              </li>
            </ul>
          </div>
          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" style="color: #fbf4e9; text-decoration: underline;">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
// ui components
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
  },
  props: {
    footerData: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#references {
  color: rgba(0, 0, 0, 0.9);
  background-color: #ffffff;

  .v-expansion-panel__container {
    background-color: #ffffff !important;
  }

  .v-expansion-panel__container >>> .v-expansion-panel__header__icon .v-icon,
  .v-expansion-panel__header div,
  .v-expansion-panel__container li,
  .caption {
    color: rgba(0, 0, 0, 0.9) !important;
  }

  .v-expansion-panel {
    box-shadow: none !important;
  }

  hr {
    border-color: lightgrey !important;
  }

  .single-post__references >>> a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
  }

  .single-post__topics ul li {
    color: rgba(0, 0, 0, 0.9);
  }

  a {
    color: #f2784b !important;
    text-decoration: underline;
  }
}
</style>
