<template>
  <div class="section1">
    <v-container inner>
      <v-layout wrap>
        <v-flex xs12>
          <div class="mt-5 mb-3">
            <p class="body-1 font-italic my-4">
              This story was first published on {{ publishDate | moment("MMMM D, YYYY") }}
            </p>

            <p class="body-2 my-4">It’s been several weeks since the virus COVID-19 showed up in Singapore. While there has been some evidence of community spread, the Ministry of Health has identified a few known clusters. This chart shows how the confirmed cases are related to each other. </p>

            <p class="body-2 my-4"><strong>Author’s update (22 February 2020):</strong> This visualisation will be updated on a regular basis as the situation unfolds in Singapore. It is also important to note that the Ministry of Health has clarified that <a href="https://www.youtube.com/watch?v=yfazavM7E-E&feature=youtu.be" target="_blank">#48 is not a super-spreader</a>. The data visualisation has also been updated and tweaked to avoid giving this impression.</p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  props: {
    publishDate: {
      type: String,
      default: () => {},
      required: true,
    },
  },
}
</script>

<style scoped>
.section1 {
  background-color: #faf7f5;
}
</style>
