<template>
  <div class="section1">
    <v-container inner>
      <v-layout wrap>
        <v-flex xs12>
          <div>
            <h3 class="mb-1">Who's been confirmed with COVID-19?</h3>
            <h4 class="mb-4">Relationship of all the confirmed cases</h4>
            <!-- Filter -->
            <div class="my-3 linkLegend">
              <p class="caption my-2"><strong>Links</strong></p>
              <p class="caption solid">Direct connection (close contact, family members, etc)</p>
              <p class="caption dashed">Circumstantial connection (same meeting, same flight, etc)</p>
           </div>
            <p class="caption my-3"><strong>Color circles by: </strong>
              <v-chip
                v-for="item in filterlist"
                :key="item.id"
                :id="item.id"
                class="ml-1 px-1"
                @click="changeCode(item.id)">
                {{ item.filter }}
              </v-chip>
            </p>
          </div>
          <!-- Conditional legend -->
          <div class="legendContainer pt-3 pb-0">
            <!-- cluster -->
            <p
              v-if="selectedChip === 'cluster'"
              class="caption">
              <span
                v-for="item in filterlist[0].legend"
                :key="item.label"
                class="mr-2">
                <span
                  :style="{'background-color': item.color}"
                  class="dot mr-1"/>
                {{ item.label }}
              </span>
            </p>
            <!-- gender -->
            <p
              v-else-if="selectedChip === 'gender'"
              class="caption">
              <span
                v-for="item in filterlist[1].legend"
                :key="item.label"
                class="mr-2">
                <span
                  :style="{'background-color': item.color}"
                  class="dot mr-1"/>
                {{ item.label }}
              </span>
            </p>
            <!-- resident -->
            <p
              v-else-if="selectedChip === 'resident'"
              class="caption">
              <span
                v-for="item in filterlist[2].legend"
                :key="item.label"
                class="mr-2">
                <span
                  :style="{'background-color': item.color}"
                  class="dot mr-1"/>
                {{ item.label }}
              </span>
            </p>
            <!-- status -->
            <p
              v-else-if="selectedChip === 'status'"
              class="caption">
              <span
                v-for="item in filterlist[3].legend"
                :key="item.label"
                class="mr-2">
                <span
                  :style="{'background-color': item.color}"
                  class="dot mr-1"/>
                {{ item.label }}
              </span>
            </p>
            <!-- transmission -->
            <p
              v-else-if="selectedChip === 'transmission'"
              class="caption">
              <span
                v-for="item in filterlist[4].legend"
                :key="item.label"
                class="mr-2">
                <span
                  :style="{'background-color': item.color}"
                  class="dot mr-1"/>
                {{ item.label }}
              </span>
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container outer py-0 my-0>
      <v-layout wrap>
        <v-flex xs12>    
          <!-- Viz -->
          <div id="forceContainer">
            <svg id="forceViz"/>
            <div id="forceInfo" class="caption">
              <p v-if="selectedmouseover === 'node'"
                class="caption">
                <strong>Case #{{ casenumber }} </strong><br>
                {{ gender }}, {{ age }}, {{ resident }} <br>
                {{ details }} <br>
                Hospital: {{ hospital }} <br>
                Status: {{ status }}
              </p>
              <p v-else-if="selectedmouseover === 'center'">
                <strong>{{ details }}</strong>
              </p>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container inner>
      <v-layout wrap class="mb-0 pb-0">
        <v-flex xs12>              
          <div class="mb-3">
            <p class="body-2 pt-0 mt-0 pb-3 mb-4">
              A: The Life Church and Missions Paya Lebar<br>
              B: Yong Thai Hang health products store in Cavan Road<br>
              C: Grand Hyatt business meeting<br>
              D: Work site in Seletar Aerospace Heights<br>
              E: The Grace Assembly of God church<br>
              F: Scoot 30 January flight from Wuhan<br>
              G: Scoot 9 February flight from Wuhan <br>
              H: CNY family gathering at Mei Hwan Drive 25 January 2020<br>
              I: Wizlearn Technologies Pte Ltd (Science Park)<br>
              J: Private dinner function at SAFRA Jurong<br>
              K: boulder+ Gym at 12 Kallang Avenue <br>
              L: Official duty in France <br>
              M: Mass religious gathering at a mosque in Malaysia<br>
              N: The Church of Singapore (Bukit Timah) <br>
              O: Masjid Al-Muttaqin (Ang Mo Kio Ave 6) <br>
              P: PCF Fengshan <br>
              Q: Dover Court International School <br>
              R: Singpost Centre <br>
              S: The Wedding Brocade <br>
              T: Wilby Residences<br>
              U: S11 Dormitory<br>
              V: Hero's (Circular Road)<br>
              W: Westlite Toh Guan dormitory<br>
              X: Dormitory at Sungei Kadut Loop<br>
              Y: Lee Ah Mooi Home<br>
              Z: Mustafa Centre<br>
              AB: Maxwell MRT Construction Site<br>
              AC: Keppel Shipyard<br>
            </p>            
            <p class="body-2 pt-0 mt-0 pb-3 mb-4">
              This story is the second part of a series on COVID-19 in Singapore. The first story was <nuxt-link :to="{name: 'stories-singapore-response-wuhan-coronavirus-timeline', params: {slug: 'singapore-response-wuhan-coronavirus-timeline'}}">“How has Singapore responded to COVID-19?”</nuxt-link>
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      innerWidth: 1000,
      filterlist: [
        {id: 'cluster', filter: 'Cluster', legend: [
          {label: 'Imported cases', color: '#DA5454'},
          {label: 'The Life Church and Missions Paya Lebar', color: '#693A6F'},
          {label: 'Yong Thai Hang health products store', color: '#549E72'},
          {label: 'Grand Hyatt business meeting', color: '#A3CCC4'},
          {label: 'Work site in Seletar Aerospace Heights', color: '#F49888'},
          {label: 'The Grace Assembly of God church', color: '#6160B4'},
          {label: 'Scoot flights from Wuhan', color: '#E3AD2B'},
          {label: 'CNY family gathering at Mei Hwan Drive 25 January 2020', color: '#CE91BD'},
          {label: 'Wizlearn Technologies Pte Ltd (Science Park)', color: '#444A70'},
          {label: 'Private dinner function at SAFRA Jurong', color: '#CFBE1F'},
          {label: 'boulder+ Gym at 12 Kallang Avenue', color: '#84A9FF'},          
          {label: 'The Church of Singapore (Bukit Timah)', color: '#E169B1'},
          {label: 'Masjid Al-Muttaqin (Ang Mo Kio Ave 6)', color: '#CE8456'},
          {label: 'PCF Fengshan', color: '#F0949C'},
          {label: 'Dover Court International School', color: '#34C18F'},      
          {label: 'Singpost Centre', color: '#6C80EB'},      
          {label: 'The Wedding Brocade', color: '#D2BCE3'},
          {label: 'Wilby Residences', color: '#A5BE7C'},
          {label: 'S11 Dormitory', color: '#FF9C72'},
          {label: "Hero's (Circular Road)", color: '#2A5F52'},
          {label: 'Westlite Toh Guan dormitory', color: '#466BB1'},
          {label: 'Dormitory at Sungei Kadut Loop', color: '#F45B94'},
          {label: 'Lee Ah Mooi Home', color: '#B1569C'},         
          {label: 'Mustafa Centre', color: '#EECC7C'},
          {label: 'Maxwell MRT Construction Site', color: '#63182D'},
          {label: 'Keppel Shipyard', color: '#8DA39B'},                        
          {label: 'Unknown', color: '#BDBDBD'},
        ]},
        {id: 'gender', filter: 'Gender', legend: [
          {label: 'Male', color: '#4C4B94'},
          {label: 'Female', color: '#F49888'},
        ]},
        {id: 'resident', filter: 'Residency', legend: [
          {label: 'Singapore Residents', color: '#DA5454'},
          {label: 'Non-residents', color: '#444A70'},
        ]},
        {id: 'status', filter: 'Status', legend: [
          {label: 'Warded', color: '#DA5454'},
          {label: 'Discharged', color: '#549E72'},
          {label: 'Deceased', color: '#454571'},
        ]},
        {id: 'transmission', filter: 'Transmission type', legend: [
          {label: 'Local', color: '#6160B4'},
          {label: 'Community', color: '#4B876E'},
          {label: 'Imported', color: '#FB7E4C'},
        ]},
      ],
      colorPalettes: {
        cluster: {
          'Imported cases': '#DA5454',
          'The Life Church and Missions Paya Lebar': '#693A6F',
          'Yong Thai Hang health products store': '#549E72',
          'Grand Hyatt business meeting': '#A3CCC4',
          'Work site in Seletar Aerospace Heights': '#F49888',
          'The Grace Assembly of God church': '#6160B4',
          'Scoot flights from Wuhan': '#E3AD2B',
          'CNY family gathering at Mei Hwan Drive 25 January 2020': '#CE91BD',
          'Wizlearn Technologies Pte Ltd (Science Park)': '#444A70',
          'Private dinner function at SAFRA Jurong': '#CFBE1F',
          'boulder+ Gym at 12 Kallang Avenue': '#84A9FF',
          'Official duty in France': '#DA5454',
          'The Church of Singapore (Bukit Timah)': '#E169B1',
          'Masjid Al-Muttaqin (Ang Mo Kio Ave 6)': '#CE8456',
          'PCF Fengshan': '#F0949C',
          'Dover Court International School': '#34C18F',
          'Singpost Centre': '#6C80EB',
          'The Wedding Brocade':'#D2BCE3',
          'Wilby Residences': '#A5BE7C',
          'S11 Dormitory': '#FF9C72',
          "Hero's (Circular Road)": '#2A5F52',
          'Westlite Toh Guan dormitory': '#466BB1',
          'Dormitory at Sungei Kadut Loop': '#F45B94',
          'Lee Ah Mooi Home': '#B1569C',
          'Mustafa Centre': '#EECC7C',
          'Maxwell MRT Construction Site': '#63182D',
          'Keppel Shipyard': '#8DA39B',             
          '': '#BDBDBD',
        },
        gender: {
          'Female': '#F49888',
          'Male': '#4C4B94',
          '': '#BABABA',
        },
        resident: {
          'Resident': '#DA5454',
          'Non-resident': '#444A70',
          '': '#BABABA',
        },
        status: {
          'Hospitalised': '#DA5454',
          'Discharged': '#549E72',
          'Deceased': '#454571',
          '': '#BABABA',
        },
        transmission: {
          'Local':'#6160B4',
          'Community':'#4B876E',
          'Imported': '#FB7E4C',
          '': '#BABABA',
        },
      },
      selectedChip: 'cluster',
      gender: '',
      age: '',
      resident: '',
      details: '',
      hospital: '',
      status: '',
      casenumber: '',
      selectedmouseover: '',
    };
  },
  computed: {
    radius() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 28
      }
      return 19;
    },
    innerHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 6800
      }
      return this.$el.clientWidth * 1.8;
    },
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 20, right: 20, bottom: 20, left: 20 };
      }
      return { top: 20, right: 20, bottom: 20, left: 20 };
    },
    chartSettings() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
          height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
        };
      }        
      return {
        width: this.$el.clientWidth - this.chartMargin.left - this.chartMargin.right,
        height: this.innerHeight - this.chartMargin.top - this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    this.data = await d3.csv('/data/ncov/force-cluster/data.csv');
    this.link = await d3.csv('/data/ncov/force-cluster/link.csv');
    this.drawBase();
    d3.select('#cluster').classed('active', true);
  },
  beforeDestroy() {
    this.graphLayout.on('tick', null);
  },
  methods: {
    changeCode(selectedChip) {
      // change chip color
      d3.selectAll('.v-chip').classed('active', false);
      d3.select(`#${selectedChip}`).classed('active', true);
      // redraw nodes
      this.selectedChip = selectedChip;
      d3.selectAll('g').remove();
      this.drawNodes(selectedChip);
    },
    drawBase() {
      this.forceViz = d3.select('#forceViz');
      // draw base
      this.forceViz
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        // .style('border', '1px solid black')
        .call(this.responsivefy);
      this.drawNodes(this.selectedChip);
    },
    drawNodes(category) {
      // links
      this.forceViz
        .append('g')
        .selectAll('line')
        .data(this.link)
        .enter()
        .append('line')
        .attr('stroke', 'grey')
        .attr('stroke-width', 1.5)
        .attr('stroke-dasharray', d => d.value === '1' ? 'none' : 4);
      //  circles
      this.circleNodes = this.forceViz
        .append('g')
        .selectAll('circle')
        .data(this.data)
        .enter()
        .append('circle')
        .attr('class', d => d.type)
        .attr('r', d => {
          if (d.type === 'center') {
            return this.radius * 0.6
          } else {
            return this.radius
          }
        });
      //change color
      this.circleNodes.attr('fill', d => this.colorPalettes[category][d[category]]);
      // append function
      this.circleHoverInteractivity();
      // case numbers
      this.forceViz
        .append('g')
        .selectAll('text.casenumber')
        .data(this.data)
        .enter()
        .append('text')
        .attr('class', 'casenumber')
        .text(d => d.case)
        .attr('fill', 'white')
        .attr('text-anchor', 'middle')
        .attr('pointer-events', 'none');

      // attach the forces
      if (this.$vuetify.breakpoint.smAndDown) {
        this.graphLayout = d3.forceSimulation()
          .force('x', d3.forceX().strength(0.05))
          .force('y', d3.forceY().strength(0.01))
          .force('charge', d3.forceManyBody().strength(-200))
          .force('collide', d3.forceCollide().radius(this.radius * 1.6))
          .force('center', d3.forceCenter().x(this.innerWidth / 2).y(this.innerHeight / 2))
          .nodes(this.data)
          .force('link', d3.forceLink(this.link).id(d => d.case).distance(d => d.value === '1' ? 30 : 50).strength(1))
          .on('tick', this.updateNetwork);
      } else {
      this.graphLayout = d3.forceSimulation()
        .force('x', d3.forceX().strength(0.05))
        .force('y', d3.forceY().strength(0.05))
        .force('charge', d3.forceManyBody().strength(-100))
        .force('collide', d3.forceCollide().radius(this.radius * 1.5))
        .force('center', d3.forceCenter().x(this.chartSettings.width / 2).y(this.innerHeight / 2))
        .nodes(this.data)
        .force('link', d3.forceLink(this.link).id(d => d.case).distance(d => d.value === '1' ? 30 : 50).strength(1))
        .on('tick', this.updateNetwork);
      }
    },
    circleHoverInteractivity() {
      if (this.$vuetify.breakpoint.mdAndUp) {
        this.circleNodes
          .call(
            d3.drag()
              .on('start', this.dragstarted)
              .on('drag', this.dragged)
              .on('end', this.dragended)
          );
      }
      this.circleNodes
        .on('mouseenter.size', function increaseSize() {
          d3.select(this)
            .transition()
            .duration(100)
            .attr('stroke', '#2f3542')
            .attr('stroke-width', '2');
        })
        .on('mouseleave', function revertSize() {
          d3.select(this)
            .transition()
            .duration(100)
            .attr('stroke', 'none');
        })
        .on('mouseenter.assign', d => {
          if (d.type === 'center') {
            this.selectedmouseover = 'center';
          }
          else if (d.type === 'node') {
            this.selectedmouseover = 'node';
          }
          this.casenumber = d.case;
          this.gender = d.gender;
          this.age = d.age;
          this.resident = d.resident;
          this.details = d.details;
          this.hospital = d.hospital;
          this.status = d.status;
        })
        .on('mouseenter.box', function showBox() {
          // move the tooltip to the correct position
          this.selectedCircle = d3
            .select(this)
            .node()
            .getBoundingClientRect();
          this.tooltipWidth = d3
            .select('#forceInfo')
            .node()
            .getBoundingClientRect().width;
          this.tooltipHeight = d3
            .select('#forceInfo')
            .node()
            .getBoundingClientRect().height;
          this.posLeft =
            this.selectedCircle.left > document.body.clientWidth / 2.25
              ? this.selectedCircle.right - this.tooltipWidth
              : this.selectedCircle.right - this.selectedCircle.height;
          this.posTop = this.selectedCircle.top + window.scrollY - 60 + this.selectedCircle.height;
          const tooltip = d3.select('#forceInfo');
          tooltip
            .style('top', `${this.posTop}px`)
            .style('left', `${this.posLeft}px`)
            .style('visibility', 'visible');
        })
        .on('mouseleave.design', function hideBox() {
          // remove highlight from the circle
          d3.select(this).attr('stroke', 'none');
          // remove tooltip
          d3.select('#forceInfo').style('visibility', 'hidden');
        });
    },
    updateNetwork() {
      d3.selectAll('circle')
        .attr("cx", d => d.x = Math.max(this.radius, Math.min(this.chartSettings.width - this.radius * 2, d.x)))
        .attr("cy", d => d.y = Math.max(this.radius, Math.min(this.chartSettings.height - this.radius * 2, d.y)));
      d3.selectAll('text')
        .attr('transform', d => {
          if (d.type === 'center') {
            return 'translate(0, 4)'
          } else {
            return 'translate(0, 0)'
          }
        })
        .attr("x", d => d.x = Math.max(this.radius, Math.min(this.chartSettings.width - this.radius, d.x)))
        .attr("y", d => d.y = Math.max(this.radius, Math.min(this.chartSettings.height - this.radius, d.y)));
      d3.selectAll('line')
        .attr('x1', d => d.source.x)
        .attr('y1', d => d.source.y)
        .attr('x2', d => d.target.x)
        .attr('y2', d => d.target.y);
    },
    dragstarted(d) {
      d3.event.sourceEvent.stopPropagation();
      if (!d3.event.active) {
        this.graphLayout.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }
    },
    dragged(d) {
      d.fx = d3.event.x;
      d.fy = d3.event.y;
    },
    dragended(d) {
      if (!d3.event.active) {
        this.graphLayout.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;
      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);
      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
}
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.dashed, .solid {
  position: relative;
  left: 70px;
}

.solid::before {
  content:'';
  position: absolute;
  background-color: grey;
  width: 70px;
  height: 1px;
  top: 40%;
  left: -70px;
}

.dashed::before {
  content:'';
  position: absolute;
  border-bottom: 1px dashed grey;
  width: 70px;
  height: 1px;
  top: 40%;
  left: -70px;
}

@media $display-breakpoints.sm-and-down {
  .dashed, .solid {
    width: 85%;
    position: relative;
    left: 50px;
  }

  .solid::before {
    content:'';
    position: absolute;
    background-color: grey;
    width: 50px;
    height: 1px;
    top: 20%;
    left: -50px;
  }

  .dashed::before {
    content:'';
    position: absolute;
    border-bottom: 1px dashed grey;
    width: 50px;
    height: 1px;
    top: 20%;
    left: -50px;
  }
}


.linkLegend {
  p {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.section1 {
  background-color: #faf7f5;

  .legendContainer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-style: dashed none none;
  }
  .v-chip {
    background-color: #faf7f5 !important;
    color: #f38063;
    border: 1px solid #f38063;
    padding: 0px
  }
  .active {
    background-color: #f38063 !important;
    color: white !important;
  }
  .v-chip:hover {
    background-color: #f38063 !important;
    color: white;
  }
  .v-chip:focus {
     box-shadow: none !important;
  }
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

a {
  color: #f2784b !important;
  text-decoration: underline;
}

#forceInfo {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  @media $display-breakpoints.sm-and-down {
    width: 50%;
  }
  width: 15%;
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  z-index: 2;
}
</style>

<style lang="stylus">
@import '~vuetify/src/stylus/settings/_variables';

.casenumber {
  pointer-events: none;
  font-size: 14px;
  @media $display-breakpoints.sm-and-down {
    font-size: 18px;
  }
}
</style>
