<template>
  <div v-show="showEl" class="selections-container pl-5">
    <div class="selection-box">
      <v-select
        :items="sortOptions"
        :value="selectedSort"
        label="Sort movies by"
        hide-details
        class="select-dropdown"
        @change="$emit('select-sort', $event)" />
    </div>

    <div class="selection-box">
      <v-select
        :items="sortGenres"
        :value="selectedGenre"
        label="Select genre"
        hide-details
        class="select-dropdown"
        @change="$emit('select-genre', $event)" />
    </div>

    <div class="selection-box">
      <v-select
        :items="sortDirectorRace"
        :value="selectedRace"
        label="Select director's ethnicity"
        hide-details
        class="select-dropdown"
        @change="$emit('select-director-race', $event)" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    step: {
      type: String,
      required: true,
    },
    genres: {
      type: Array,
      required: true,
    },
    selectedSort: {
      type: String,
      required: true,
    },
    selectedGenre: {
      type: String,
      required: true,
    },
    selectedRace: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      sortOptions: [
        { text: 'Gross', value: 'gross' },
        { text: '% of Cast Diversity', value: 'diversity' },
        { text: 'IMDb rating', value: 'rating' },
      ],
      sortDirectorRace: [
        { text: 'All ethnicities', value: 'all' },
        { text: 'White', value: 'White' },
        { text: 'Black', value: 'Black' },
        { text: 'Asian', value: 'Asian' },
        { text: 'Others', value: 'Others' },
      ],
    };
  },
  computed: {
    showEl() {
      return this.step === '1-19' || this.step === '1-20';
    },
    sortGenres() {
      return [{ text: 'All genres', value: 'all' }, ...this.genres];
    },
  },
};
</script>


<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.selections-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 75%;

  @media $display-breakpoints.sm-and-down {
    padding-left: 0 !important;
    width: 100%;
    max-width: unset;
  }

  .select-dropdown {
    font-size: 13px;

    >>> .v-label {
      font-size: 13px;
    }
  }
}
</style>
