<template>
  <div v-show="showLegend" class="legend-container">
    <h5 class="font-weight-bold mb-3">{{ legendTitle }}</h5>

    <div v-show="showLegendInner" class="legend-scale-container">
      <v-layout align-center class="legend-scale mb-2">
        <div class="legend-scale__inner" />
      </v-layout>

      <div class="legend-labels caption">
        <span class="font-weight-bold">100% White</span>
        <span class="font-weight-bold" style="float: right;">100% Minority*</span>
        <p class="mt-1">
          <i>*Non-white (Black, Asian, others)</i>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    step: {
      type: String,
      required: true,
    },
  },
  computed: {
    showLegend() {
      return (
        this.step === '1-2' ||
        this.step === '1-8' ||
        this.step === '1-9' ||
        this.step === '1-10' ||
        this.step === '1-11' ||
        this.step === '1-12' ||
        this.step === '1-13' ||
        this.step === '1-14' ||
        this.step === '1-18' ||
        this.step === '1-19' ||
        this.step === '1-20'
      );
    },
    legendTitle() {
      return this.step === '1-2' ||
        this.step === '1-8' ||
        this.step === '1-9' ||
        this.step === '1-18' ||
        this.step === '1-19' ||
        this.step === '1-20'
        ? 'PERCENTAGE OF CAST DIVERSITY'
        : 'SHOWING: MOVIES IN THE FANTASY GENRE';
    },
    showLegendInner() {
      return (
        this.step === '1-2' ||
        this.step === '1-8' ||
        this.step === '1-9' ||
        this.step === '1-18' ||
        this.step === '1-19' ||
        this.step === '1-20'
      );
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.legend-container {
  position: relative;
  display: inline-block;

  @media $display-breakpoints.sm-and-down {
    width: 100%;
  }

  h5 {
    color: #000;
  }

  .legend-scale {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 16px;

    .legend-scale__inner {
      background-image: linear-gradient(to right, #DADDE7, #552456);
      height: 50%;
      width: 100%;
    }
  }

  .legend-labels {
    p {
      font-size: 11px;
    }
  }
}
</style>
