<template>
  <v-app>
    <header>
      <TheDrawer v-model="drawer" />
      <TheHeader v-model="drawer" />
    </header>

    <v-content>
      <nuxt />
    </v-content>

    <v-footer height="auto">
      <!-- Main footer -->
      <TheFooter />
    </v-footer>
  </v-app>
</template>

<script>
import TheDrawer from '@/components/navigation/TheDrawer';
import TheHeader from '@/components/navigation/TheHeader';
import TheFooter from '@/components/navigation/TheFooter';

export default {
  components: {
    TheDrawer,
    TheHeader,
    TheFooter,
  },
  data() {
    return {
      drawer: false,
    };
  },
};
</script>
