<template>
  <section id="page-error"/>
</template>

<script>
import lottie from 'lottie-web';
import * as animation404 from '@/data/animations/404.json';

export default {
  data() {
    return {
      animation404,
    };
  },
  mounted() {
    lottie.loadAnimation({
      container: document.getElementById('page-error'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      animationData: this.animation404,
    });
  },

  head() {
    return {
      title: 'Page not found',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'The page you are looking for does not exist or is no longer available.',
        },
      ],
    };
  },
};
</script>

<style lang="stylus" scoped>
#page-error {
  background-image: url('~/assets/img/error/404.gif');
  background-size: cover;
  background-position: center;
  height: 100%;
}
</style>
