<template>
  <v-app>
    <header class="navbar hidden-sm-and-down">
      <transition name="navbar-switch" mode="in-out">
        <component :is="showPostNav ? 'TheHeaderSP' : 'TheHeader'" />
      </transition>
    </header>

    <header class="navbar hidden-md-and-up">
      <TheDrawer v-model="drawer" />
      <TheHeader v-model="drawer" />
    </header>

    <v-content>
      <nuxt />
    </v-content>

    <v-footer v-show="postTemplate === 'regular' || postTemplate === 'static'" height="auto">
      <!-- Main footer -->
      <TheFooter />
    </v-footer>
  </v-app>
</template>

<script>
import TheDrawer from '@/components/navigation/TheDrawer';
import TheHeader from '@/components/navigation/TheHeader';
import TheHeaderSP from '@/components/navigation/TheHeaderSP';
import TheFooter from '@/components/navigation/TheFooter';

export default {
  components: {
    TheDrawer,
    TheHeader,
    TheHeaderSP,
    TheFooter,
  },
  data() {
    return {
      drawer: false,
    };
  },
  computed: {
    showPostNav() {
      return this.$store.getters.postNavState;
    },
    postTemplate() {
      return this.$store.getters.postTemplate;
    },
  },
};
</script>

<style>
.navbar {
  z-index: 98;
}

.navbar-switch-enter-active,
.navbar-switch-leave-active {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-switch-enter,
.navbar-switch-leave-to {
  transform: translateY(-64px) !important;
}
.navbar-switch-enter-to,
.navbar-switch-leave {
  transform: translateY(0px) !important;
}
</style>
