<template>
  <div id="conclusion">
    <v-container inner>
      <v-flex xs12>
        <div class="my-5 py-3">
          <p class="body-2">In the next chapter of this series, we will be looking into education in colonial Singapore.</p>
        </div>
      </v-flex>
    </v-container>
  </div>
</template>

<style lang="stylus" scoped>
#conclusion {
  background-color: #2E2E2E;
  color: #F8F1D6;
  position: relative;
  background: url('/data/bicentennial/part1/img/background.png');
  background-size: cover;
}

#conclusion::before {
  content: "";
  position: absolute;
  top: -5%;
  left: 0;
  height: 15%;
  background: url('/data/bicentennial/part1/img/torn-paper-bottom.svg') repeat top;
  background-size: cover;
  width: 100%;
}

#conclusion::after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  height: 15%;
  background: url('/data/bicentennial/part1/img/torn-paper-top.svg') repeat top;
  background-size: cover;
  width: 100%;
}

</style>
