<template>
  <section class="scrolly-overlay">
    <!-- sticky container -->
    <div class="scrolly__sticky">
      <VizContainer
        :step="step"
        :direction="direction"/>
    </div>
    <v-container
      inner
      py-5
      pa-0
      class="scrolly__text"
    >
      <v-layout wrap>
        <!-- step container -->
        <v-flex
          sm12
          class="scrolly__text">
          <!-- per step - entry step -->       
          <div class="step pa-4" data-step="1">
            <div class="text-block">
              <p class="body-1 pa-2">The population of Singapore grew steadily over the 1920s, almost doubling the end of the decade.</p>
            </div>
          </div>
          <div class="step pa-4" data-step="2">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-2">Likely reasons given for the spike were the political conditions in South China, cheaper steamship fares, lower price of rice, and a steady exchange rate between the Straits dollar and Chinese currency, which meant that remittances back to China did not lose their original value.</p>              
              </div>
            </v-layout>
          </div>
          <div class="step pa-4" data-step="3">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-2">The local population also grew. Even so, these numbers do not take into account unregistered births.</p>
                <p class="body-1 pa-2">Concurrently, the number of deaths was fairly consistent throughout the decade despite the constant presence of deadly infectious diseases.</p>                               
              </div>
            </v-layout>
          </div>
          <div class="step pa-4" data-step="4">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-2">Reduced rainfall in 1926 and 1927 led to more incidents of malaria. Overcrowding in Chinatown (thanks to a rise in immigration) which saw more incidences of tuberculosis and pneumonia likely contributed to a higher death rate in 1927.</p>                  
              </div>
            </v-layout>
          </div>
          <div class="step pa-4" data-step="5">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-2">The difference in deaths between men and women reflects the uneven sex ratio at the time. Most Chinese immigrants to Singapore were male labourers. It was uncommon for men to bring their wives and family to the port city, and only at the end of the decade did the colonial government make more efforts to <a href="https://eresources.nlb.gov.sg/infopedia/articles/SIP_795_2005-01-18.html" target="_blank">improve female migration.</a></p>                  
              </div>
            </v-layout>
          </div>            
          <div class="step pa-4" data-step="6">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-2">Over the decade, the number of Chinese immigrants that came through Singapore each year more than doubled.</p>                   
                <p class="body-1 pa-2">The 1920s were a turbulent time in China. The newly established Republic of China was torn by local warfare as regional warlords fought for control. In order to escape unrest and poverty, many Chinese fled to Southeast Asia. </p>                
              </div>
            </v-layout>
          </div> 
          <div class="step pa-4" data-step="7">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-2">The population was unsurprisingly diverse for a commercial port city.</p>
              </div>
            </v-layout>
          </div>
          <div class="step pa-4" data-step="8">
            <v-layout fill-height align-center>
              <div class="text-block">
                <p class="body-1 pa-2">The colonial government divided it into different ethnic groups for ease of administration – Europeans, Eurasians, Chinese, Malays, Indians, and other nationalities. It is remarkable that this classification, and relative proportions of ethnic groups, has survived into the present day.</p>                  
              </div>
            </v-layout>
          </div>                    
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import * as d3 from 'd3';

import VizContainer from '@/components/posts/static/bicentennial/part1/viz/VizContainer';

export default {
  components: {
    VizContainer,
  },
  data() {
    return {
      step: '0',
      direction: 'down',
      data: '',
      ethnic: false,
    };
  },
  mounted() {
    this.initScrollama();
  },
  methods: {
    initScrollama() {
      // instantiate scrollama
      const scrollerD3Charts = this.$Scrollama.load();

      // setup scrollama
      scrollerD3Charts
        .setup({
          container: '.scrolly-overlay',
          graphic: '.scrolly-overlay .scrolly__sticky',
          step: '.scrolly-overlay .scrolly__text .step', // required
          offset: this.$vuetify.breakpoint.smAndDown ? 0.8 : 0.8,
          progress: true,
        })
        .onStepProgress(this.handleStepProgress)
        .onStepEnter(this.handleStepEnter)
        .onStepExit(this.handleStepExit)
        .onContainerEnter(this.handleContainerEnter)
        .onContainerExit(this.handleContainerExit);
    },
    handleStepEnter({ element, direction }) {
      // get data-step
      this.step = d3.select(element).attr('data-step');
      this.direction = direction;
    },
    handleStepProgress({ element, direction, progress }) {
      d3.select(element).style('opacity', `${progress + 0.55}`);
    },
    handleStepExit({ element }) {
      d3.select(element).classed('active', false);
    },
  },
}
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

// scrolly overlay
.scrolly-overlay {
  position: relative;
  background-color: #f5f0e8;

  .scrolly__sticky {
    position: sticky;
    top: 64px;
    height: calc(100vh - 64px);
    transform: translate3d(0, 0, 0);
    display: flex;
    align-items: top;
  }

  .scrolly__text {
    position: relative;
    z-index: 2;

    .step {
      height: calc(100vh - 64px);
      // border: solid black 1px;

      &.step--shorten {
        height: calc(50vh - 64px);
      }

      .text-block {
        background-color: #262343;
        color: #F5F0E8;
        text-align: left;

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}



</style>
