<template>
  <section id="post-static__landing">
    <div id="landing">
      <v-container inner pb-5>
        <v-layout wrap pb-5 mb-2>
          <v-flex xs12 text-xs-center>
            <div class="view-landing__heading my-4">
              <div class="view-landing__image mb-5">
                <img
                  src="/data/bicentennial/part1/img/landing.png"
                  alt="landing image"
                  class= "fluid">
              </div>
            <span class="font-secondary" style="color:#f2784b;" v-html="postTags"/>

              <h1 class="display-2 my-3">{{ post.title.raw }}</h1>

              <time class="font-secondary">
                <strong class="mr-1">Published</strong> {{ post.date | moment("MMMM D, YYYY") }}
              </time>
            </div>
          </v-flex>

          <v-flex xs12 class="navbar-trigger">
            <div class="view-landing__synopsis">
              <p class="body-2 font-weight-bold my-3">Last year, Singapore commemorated 200 years since Sir Stamford Raffles ‘founded’ this sunny island. It spurred us to think about our colonial past and wonder &mdash; what was life like back then? Was Singapore as diverse as it is today? What was education like? What type of diseases affected the population?</p>
            </div>
          </v-flex>

          <div class="mousey-scroller">
            <div class="mousey">
              <div class="mousey__wheel" />
            </div>
          </div>
        </v-layout>
      </v-container>
    </div>

    <div id="introduction">
      <v-container pt-5 inner>
        <v-flex xs12>
          <div class="my-5 py-3">
            <p class="body-2">Curious, we gathered answers from official colonial records. The British, in their administrative precision, kept tedious records of almost every aspect of their jurisdiction over the Straits Settlements, including public education, civic organisations, and public health. An investigation into these seemingly mundane colonial records yields an interesting picture about the daily lives of the communities living in Singapore 100 years ago.</p>
            <p class="body-2">In this series, we cover different segments of life and society in 1920s Singapore. The 1920s were among the most prosperous periods of the century. Singapore benefited greatly from the global recovery then as soldiers rejoined the economy after the First World War. The ‘Roaring Twenties’, as the period was known in the USA, reflected the economic dynamism and social exuberance of the time. Throughout these boom years, Singapore’s social services expanded, largely funded by the colonial government.</p>
            <p class="body-2">Let’s first look at Singapore’s population, immigration, births, and deaths.</p>
          </div>
        </v-flex>
      </v-container>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#post-static__landing {
  .layout {
    position: relative;
  }
  .mousey-scroller {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 34px;

    .mousey {
      box-sizing: content-box;
      opacity: 0.75;
      width: 3px;
      height: 23px;
      padding: 5px 8px;
      margin: auto;
      border: 2px solid #121A1C;
      border-radius: 25px;

      .mousey__wheel {
        width: 3px;
        height: 7px;
        border-radius: 25%;
        background-color: #121A1C;
        animation-name: mouseywheel;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
        animation-iteration-count: infinite;
      }
    }
  }
}

@keyframes mouseywheel {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

#landing {
  background-color: #F5F0E8;
  color: rgba(0, 0, 0, 0.8);

  .view-landing__image {
    width: 70%;
    margin: 0 auto;
  }

}

#introduction {
  background-color: #2E2E2E;
  color: #F8F1D6;
  position: relative;
  background: url('/data/bicentennial/part1/img/background.png');
  background-size: cover;
}

#introduction::before {
  content: "";
  position: absolute;
  top: -5%;
  left: 0;
  height: 15%;
  background: url('/data/bicentennial/part1/img/torn-paper-bottom.svg') repeat top;
  background-size: cover;
  width: 100%;
}

#introduction::after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  height: 15%;
  background: url('/data/bicentennial/part1/img/torn-paper-top.svg') repeat top;
  background-size: cover;
  width: 100%;
}
</style>
