<template>
  <div id="references">
    <v-container inner pb-5>
      <v-layout wrap>
        <v-flex xs12>
          <div class="content__chunk mx-2 mt-5">
            <p>
              <strong>Story by</strong> Loh Pei Ying and James Lui<br> 
              <em>James Lui is a passionate and experienced historical researcher who has more than a decade of experience in the publishing industry. An established editor, his greatest wish is to marry his passion for history with his experience in publishing, and he is currently researching the British founding of Singapore in 1819.</em> <br>
              <strong>Research by</strong> Gwyneth Cheng <br>
              <strong>Code by</strong > Siti Aishah <br>
              <strong>Design by</strong> Joceline Kuswanto and Griselda Gabriele 
            </p>               
          </div>
        </v-flex>
        <!-- methodology -->
        <v-flex xs12>
          <div class="content__chunk mx-2 mt-3">
            <h5 class="body-2 mb-3 font-weight-bold">Methodology</h5>
            <p class="caption">Data used in this article was taken and compiled from the Annual Departmental Reports, <a href="https://discovery.nationalarchives.gov.uk/details/r/C4466" target="_blank">Colonial Office: Straits Settlements Sessional Papers</a> (CO275/103-126), and the Blue Books, <a href="https://discovery.nationalarchives.gov.uk/details/r/C4468" target="_blank">Colonial Office: Straits Settlements Miscellanea</a> (CO277/72-82). It is important to note that data collection methods were not specified in the colonial records, and the numbers should be taken with a pinch of salt and room for error or bias in collection. </p>
          </div>
        </v-flex>
        <!-- references -->
        <v-flex xs12>
          <v-divider class="mt-3" />
          <v-expansion-panel>
            <v-expansion-panel-content>
              <div slot="header" class="body-1 font-weight-bold">References (click to expand)</div>
              <div class="single-post__references mt-3">
                <ul class="list--none">
                  <li
                    v-for="(ref, i) in footerData.references"
                    :key="i"
                    class="mb-3"
                  >
                    <p class="mb-0">{{ ref.reference_citation }}</p>
                    <a
                      v-if="ref.reference_link"
                      :href="ref.reference_link"
                    >
                      {{ ref.reference_link }}
                    </a>
                  </li>
                </ul>            
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <!-- topics -->
        <v-flex xs12>
          <v-divider class="mb-5 mt-3" />

          <div class="single-post__topics">
            <h4 class="body-1 font-weight-bold d-inline-block mr-2">Topics: </h4>
            <ul class="primary--text list--none d-inline-block">
              <li
                v-for="(topic, i) in footerData.topics"
                :key="topic.id"
                class="d-inline text-lowercase"
              >
                {{ topic.name }}{{ i === footerData.topics.length - 1 ? '' : ', ' }}
              </li>                
            </ul>
          </div>
          <v-divider class="my-4" />
        </v-flex>

        <!-- disclaimer -->
        <v-flex xs12 mb-4>
          <div>
            <p class="font-italic">
              Disclaimer: Our stories have been researched and fact-checked to the best of our abilities. Should you spot mistakes, inaccuracies, or have queries about our sources, please drop us an e-mail at
              <a href="mailto:hello@kontinentalist.com" style="color: rgba(0, 0, 0, 0.8); text-decoration: underline;">hello@kontinentalist.com</a>
            </p>
          </div>
        </v-flex>

        <!-- social sharing (mobile ONLY) -->
        <v-flex xs12 class="hidden-sm-and-up mb-4">
          <h4 class="body-1 font-weight-bold d-inline-block vertical-align-middle">Share: </h4>

          <AppButtonSocialFacebook />

          <AppButtonSocialTwitter
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialWhatsapp
            :post-title="encodeURIComponent(footerData.post.title)"
            :share-url="encodeURIComponent(`${$nuxt.$store.getters.meta.origin}${$nuxt.$route.routePath}`)" />

          <AppButtonSocialCopy />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
//ui components
import AppButtonSocialFacebook from '@/components/ui/AppButtonSocialFacebook';
import AppButtonSocialTwitter from '@/components/ui/AppButtonSocialTwitter';
import AppButtonSocialWhatsapp from '@/components/ui/AppButtonSocialWhatsapp';
import AppButtonSocialCopy from '@/components/ui/AppButtonSocialCopy';

export default {
  components: {
    AppButtonSocialFacebook,
    AppButtonSocialTwitter,
    AppButtonSocialWhatsapp,
    AppButtonSocialCopy,
  },
  props: {
    footerData: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
#references {
  color: rgba(0, 0, 0, 0.8);
  background-color: #f5f0e8;

  .v-expansion-panel__container {
    background-color: #f5f0e8 !important;
  }

  .v-expansion-panel__container >>> .v-expansion-panel__header__icon .v-icon,
  .v-expansion-panel__header div,
  .v-expansion-panel__container li,
  .caption {
    color: rgba(0, 0, 0, 0.8) !important;
  }

  .v-expansion-panel {
    box-shadow: none !important;
  }

  hr {
    border-color: rgba(0, 0, 0, 0.8) !important;
  }

  .single-post__references >>> a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
  }

  .single-post__topics ul li {
    color: rgba(0, 0, 0, 0.8);
  }  
}
</style>
