<template>
  <div
    v-scroll="onScroll"
    v-if="about.id"
    id="page-about"
    class="mt-5"
  >
    <!-- tagline -->
    <section class="text-xs-center">
      <v-container inner>
        <v-layout column align-center>
          <h1 class="display-3 mb-5 animated">{{ about.tagline }}</h1>
          <p class="body-2 animated">{{ about.content_raw }}</p>
        </v-layout>
      </v-container>
    </section>

    <!-- branding -->
    <section class="page-about__branding mt-3">
      <v-container grid-list-xl>
        <!-- our mission -->
        <v-layout wrap align-center>
          <v-flex xs12 md6>
            <h2 class="display-1 mb-4 animated delay-half-s">Our Mission</h2>
            <p class="body-2 animated delay-half-s">{{ about.acf.our_mission }}</p>
          </v-flex>

          <v-flex xs12 md6>
            <img
              src="~assets/img/about/our-mission.gif"
              alt="our-mission"
              class="fluid">
          </v-flex>
        </v-layout>

        <!-- why asia -->
        <v-layout wrap align-center>
          <v-flex xs12 md6>
            <img
              src="~assets/img/about/why-asia.gif"
              alt="why-asia"
              class="fluid">
          </v-flex>

          <v-flex xs12 md6>
            <h2 class="display-1 mb-4 animated delay-1s">Why Asia?</h2>
            <p class="body-2 animated delay-1s">{{ about.acf.why_asia }}</p>
          </v-flex>
        </v-layout>

      </v-container>
    </section>

    <!-- logo -->
    <section class="page-about__logo bgTopo mt-5 py-5">
      <v-container>
        <v-layout wrap align-center>
          <v-flex xs12 md6>
            <h2 class="display-1 mb-4 animated">Our Logo</h2>
            <p class="body-2 animated">{{ about.acf.our_logo }}</p>
          </v-flex>

          <v-flex
            xs12
            md3
            offset-md1>
            <img
              src="~/assets/img/about/logo.gif"
              alt="our-logo"
              class="fluid">
          </v-flex>

        </v-layout>
      </v-container>
    </section>

    <!-- team -->
    <section class="page-about__team my-5">
      <v-container>
        <v-layout wrap text-xs-center>
          <!-- header -->
          <v-flex xs12 mb-3>
            <h2 class="display-1 mb-4 animated">Our Team</h2>
            <p class="body-2 animated">{{ about.acf.team_preface }}</p>
          </v-flex>

          <v-flex
            v-for="theTeam in theTeams"
            :key="theTeam.name"
            xs12>
            <h3 class="headline mt-5 mb-3 animated">{{ theTeam.name }}</h3>

            <v-layout wrap>
              <v-flex
                v-for="member in theTeam.members"
                :key="member.member_name"
                xs6
                md4>

                <v-card flat class="team__card mb-5">
                  <img
                    :src="require(`~/assets/img/about/team/${slugify(member.member_name)}.svg`)"
                    :alt="member.member_image" >

                  <v-card-title class="justify-center">
                    <div>
                      <h4 class="title mb-2">{{ member.member_name }}</h4>
                      <h5 class="font-secondary primary--text">{{ member.member_title }}</h5>
                    </div>
                  </v-card-title>

                  <v-card-text class="pt-0">
                    <i>{{ member.member_quote }}</i> <br>
                    <small v-if="member.member_quote_author" class="font-weight-bold d-inline-block mt-1">
                      {{ member.member_quote_author }}
                    </small>
                  </v-card-text>
                </v-card>

              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

  </div>
</template>

<script>
import animateMixin from '@/mixins/animate';

export default {
  mixins: [animateMixin],
  computed: {
    theTeams() {
      return [
        {
          name: 'Content & Editorial Team',
          members: this.about.acf.the_team.filter(d => d.member_team === 'Content & Editorial'),
        },
        {
          name: 'Business Development & Marketing Team',
          members: this.about.acf.the_team.filter(d => d.member_team === 'Business Development & Marketing'),
        },
        {
          name: 'Product Design & Development Team',
          members: this.about.acf.the_team.filter(d => d.member_team === 'Product Design & Development'),
        },
      ];
    },
  },
  methods: {
    onScroll() {
      this.isInViewport();
    },
    slugify(string) {
      return this.$_.kebabCase(string);
    },
  },
  async asyncData({ app }) {
    const [about] = await app.$axios.$get('pages?slug=about');
    return { about };
  },
  head() {
    return {
      title: 'About Us',
      meta: [
        { hid: 'description', name: 'description', content: this.about.tagline },
        // open graph tags
        { hid: 'og:description', name: 'twitter:description', property: 'og:description', content: this.about.tagline },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: 'About Us' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/bri-booklet.jpg')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.team__card {
  img {
    width: 100%;
    max-height: 240px;
  }
}

@media $display-breakpoints.xs-only {
  #page-about {
    text-align: center;

    .page-about__branding {
      .flex {
        margin-bottom: 16px;
      }

      h2 {
        font-size: 20px !important;
      }

      img {
        margin-bottom: 8px;
      }
    }

    .page-about__logo {
      h2 {
        font-size: 20px !important;
      }

      img {
        width: 55%;
      }
    }

    .page-about__team {
      h2 {
        font-size: 20px !important;
      }

      p {
        margin-bottom: 32px;
      }

      img {
        max-height: 150px;
      }

      h3 {
        font-size: 16px !important;
        margin-top: 0 !important;
        margin-bottom: 32px;
      }

      h4 {
        font-size: 16px !important;
      }

      h5 {
        font-size: 14px !important;
      }

      .v-card__text > * {
        font-size: 12px !important;
      }
    }
  }
}
</style>
