<template>
  <div v-scroll="onScroll" id="page-home">
    <!-- BRI banner -->
    <BRIBanner/>

    <!-- about -->
    <section v-if="about.id" class="page-home__about my-5">
      <v-container py-0>
        <div class="pa-5 py-xs-3 elevation--4">
          <v-layout wrap>
            <v-flex xs12 md6>
              <div>
                <h2 class="display-3 font-secondary animated mb-3">{{ about.tagline }}</h2>

                <ul class="list--none animated">
                  <li class="body-2 font-secondary font-weight-bold d-inline-block mr-3">
                    <fa-icon icon="atlas" fixed-width/> Stories
                  </li>

                  <li class="body-2 font-secondary font-weight-bold d-inline-block mr-3">
                    <fa-icon icon="globe-asia" fixed-width/> Map
                  </li>

                  <li class="body-2 font-secondary font-weight-bold d-inline-block mr-3">
                    <fa-icon icon="chart-pie" fixed-width/> Data visualisation
                  </li>
                </ul>
              </div>
            </v-flex>

            <v-flex xs12 md6>
              <div class="mt-xs-4">
                <p class="headline animated">{{ about.acf.home_about_text }}</p>

                <nuxt-link to="/about" class="animated link--underline font-weight-bold">
                  Learn more about us
                </nuxt-link>
              </div>
            </v-flex>
          </v-layout>
        </div>
      </v-container>
    </section>

    <!-- stories -->
    <section class="page-home__stories pt-3">
      <v-container py-0 mb-5>
        <v-layout
          row
          wrap
          text-md-left
          text-xs-center>
          <v-flex md6>
            <h2 class="display-1 mb-3 animated">Stories from Asia</h2>
          </v-flex>

          <v-flex md6 pl-3>
            <p class="subheading font-weight-regular animated">
              We break down key issues, such as climate change, politics, and food security.
            </p>

            <nuxt-link to="/stories" class="primary--text font-weight-bold">See all stories
              <fa-icon :icon="['far', 'long-arrow-right']" fixed-width/>
            </nuxt-link>
          </v-flex>
        </v-layout>
      </v-container>

      <!-- featured posts -->
      <PostFeatured/>

      <!-- latest posts -->
      <PostListLatest/>
    </section>

    <!-- our services -->
    <section class="page-home__services mb-5 py-5">
      <v-container>
        <v-layout wrap align-center>
          <v-flex
            xs12
            md4
            order-xs2
            order-md1
          >
            <div class="text-md-left text-xs-center mt-5">
              <h2 class="display-1 mb-4 animated">Let us help you visualise your data</h2>

              <p class="subheading font-weight-regular mb-3 animated">Transform your data or cause into an engaging story.</p>

              <nuxt-link to="/services" class="link--underline font-weight-bold animated">
                Learn more about our services
              </nuxt-link>
            </div>
          </v-flex>

          <v-flex
            xs12
            md8
            order-xs1
            order-md2
          >
            <div>
              <img
                src="~/assets/img/home/services.svg"
                alt="services"
                class="fluid">
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </section>

    <!-- typeform -->
    <section class="page-home__contact">
      <div class="typeform-widget" style="height: 450px;" />
    </section>
  </div>
</template>

<script>
import BRIBanner from '@/components/home/BRIBanner';

import PostFeatured from '@/components/home/PostFeatured';
import PostListLatest from '@/components/home/PostListLatest';
import animateMixin from '@/mixins/animate';

export default {
  components: {
    BRIBanner,
    PostFeatured,
    PostListLatest,
  },
  mixins: [animateMixin],
  data() {
    return {
      fadeBanner: false,
      isCssLoaded: false,
    };
  },
  mounted() {
    const embedElement = document.querySelector('.typeform-widget'); // the target DOM element from your website or web app

    this.$typeformEmbed.makeWidget(
      embedElement,
      'https://kontinentalist432214.typeform.com/to/OddHR8', // NOTE: Replace with your typeform URL
      {
        hideHeaders: true,
        hideFooter: true,
      }
    );
  },
  methods: {
    onScroll() {
      this.isInViewport();
    },
  },
  async asyncData({ app }) {
    const [about] = await app.$axios.$get('pages?slug=about');

    return { about };
  },
  head() {
    return {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.about.acf.home_about_text,
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.about.acf.home_about_text,
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: this.$nuxt.$store.getters.meta.origin,
        },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: 'Kontinentalist' },
        /* eslint-disable global-require */
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}${require('~/assets/img/home/bri-booklet.jpg')}`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.origin }],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.page-home__booklet {
  background-color: #F9F6F2;
}

.bri-booklet {
  position: relative;
  background-image: url('~/assets/img/home/bri-booklet.jpg');
  background-size: cover;
  background-position: center;
  height: 640px;

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 0.3s linear;
  }

  // transitions
  &.transition--fade {
    &:before {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  @media $display-breakpoints.xs-only {
    height: calc(80vh - 56px);
  }

  .bri-booklet__inner {
    z-index: 1;

    @media $display-breakpoints.xs-only {
      max-width: calc(0.85 * 90vw);

      h1 {
        font-size: 34px !important;
      }

      p {
        font-size: 16px !important;
      }
    }
  }
}

.page-home__about {

  ul {
    color: #CB9976;
  }
}

.page-home__konti {
  background-image: url('~/assets/img/home/map.png');
  background-size: cover;
  background-position: center;

  .v-card {
    background-color: #262E43;

    h2, i, p {
      color: #DAD4BB;
    }
  }

  #mc_embed_signup_scroll {
    position: relative;

    .input-wrapper {
      position: relative;

      .mc__input-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(0,0,0,0.55);
      }

      .mc__input {
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: 14px;
        height: 40px;
        line-height: 1;
        outline: none;
        padding: 0 40px;
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 100%;
      }
    }

    .v-btn {
      width: 100%;
      height: 40px;
    }
  }
}

.page-home__contact {
  background-color: #F1ECE2;
}

.link--underline {
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid #F38063;

  &:hover {
    color: #f2784b;
  }
}

@media $display-breakpoints.md-and-up {
  .page-home__stories {
    .padding-desktop {
      padding: 0 16px;
    }
  }

  .page-home__konti {
    background-attachment: fixed;
  }
}

@media $display-breakpoints.xs-only {
  .page-home__booklet {
    padding: 16px 0 !important;
  }

  .page-home__about {
    text-align: center;

    h2 {
      font-size: 36px !important;
    }

    li {
      font-size: 15px !important;
    }

    p {
      font-size: 18px !important;
    }
  }

  .page-home__stories {
    p {
      font-size: 18px !important;
    }
  }

  .py-xs-3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .mt-xs-4 {
    margin-top: 24px !important;
  }
}
</style>
