<template>
  <div v-scroll="onScroll" class="main-post">
    <div class="static-post">
      <SectionLanding />

      <SectionCharts />

      <SectionEnd :author="author" />

      <SectionContact />
    </div>

    <PostListAside :post="{id: 801, categoryId: 11}" />

    <!-- Mailing list popup -->
    <SheetBottomMailingList />
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

// components
import SectionLanding from '@/components/posts/static/asian-representation-in-movies/views/SectionLanding';
import SectionCharts from '@/components/posts/static/asian-representation-in-movies/views/SectionCharts';
import SectionEnd from '@/components/posts/static/asian-representation-in-movies/views/SectionEnd';
import SectionContact from '@/components/posts/static/asian-representation-in-movies/views/SectionContact';

import PostListAside from '@/components/posts/regular/PostListAside';
import SheetBottomMailingList from '@/components/ui/SheetBottomMailingList';

export default {
  layout: 'singlePost',
  components: {
    SectionLanding,
    SectionCharts,
    SectionEnd,
    SectionContact,
    PostListAside,
    SheetBottomMailingList,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      lastPos: 0,
    };
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'static');
  },
  mounted() {
    this.$FB.init();
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  async asyncData({ app, error }) {
    // get author data
    const author = await app.$axios.$get(`users/5`);

    if (!author) {
      return error({ statusCode: 404, message: 'Author not found' });
    }

    return { author };
  },
  head() {
    return {
      title: 'Asian representation in movies: have things changed since 1997?',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'Like its name, Crazy Rich Asians has spawned a series of superlatives: it was heralded as a movement in terms of Asian representation in Hollywood; a cultural milestone; and dubbed as an Asian Black Panther for telling Asian centric stories with an all Asian cast—the first in 25 years since the Joy Luck Club. The numbers reflect the hype. It topped the US box office for three weeks and was the sixth top-grossing romantic comedy in Hollywood.',
        },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content:
            'Like its name, Crazy Rich Asians has spawned a series of superlatives: it was heralded as a movement in terms of Asian representation in Hollywood; a cultural milestone; and dubbed as an Asian Black Panther for telling Asian centric stories with an all Asian cast—the first in 25 years since the Joy Luck Club. The numbers reflect the hype. It topped the US box office for three weeks and was the sixth top-grossing romantic comedy in Hollywood.',
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        {
          hid: 'og:title',
          name: 'twitter:title',
          property: 'og:title',
          content: 'Asian representation in movies: have things changed since 1997?',
        },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.origin}/data/asian-representation-in-movies/img/seothumbnail.png`,
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
};
</script>
