<template>
  <div id="landing">
    <v-container inner class="pb-0">
      <v-layout wrap pb-5>
        <v-flex xs12 text-xs-center>
          <div class="view-landing__heading static-post my-4 pt-3">
            <p class="font-secondary" v-html="postTags"/>
            <h1 class="display-3 my-3 navbar-trigger">{{ post.title.raw }}</h1>
            <time class="font-secondary mb-5">
              <strong class="mr-1">Updated </strong>{{ post.modified | moment("MMMM D, YYYY") }}
            </time>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      default: () => {},
      required: true,
    },
    postTags: {
      type: String,
      default: '',
      required: true,
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
#landing {
  background-color: #2a5153;
  color: #f38063
  h1 {
    color: #ffffff;
    @media $display-breakpoints.sm-and-down {
    font-size: 32px !important;
    }
  }
}
</style>
