<template>
  <div class="section1Virus">
    <v-container inner>
      <v-layout justify-center row wrap>
        <!-- Blurb -->
        <v-flex xs12>
          <div class="px-2">
            <p class="body-1 font-italic my-4">
              This story was first published on {{ publishDate | moment("MMMM D, YYYY") }}
            </p>

            <p class="body-2">
              As the coronavirus threat sweeps through Asia, countries have scrambled to respond. Within and outside its shores, there’s been discussion over how Singapore—a densely packed city-state and major aviation hub—has handled the crisis compared to its peers.
            </p>

            <p class="body-2">
              The Singapore government has received <a href="https://www.msn.com/en-us/news/world/as-asia-panics-one-country-wins-praise-for-approach-to-virus/ar-BBZQlUa" target="_blank">considerable praise</a> in global media for its response, especially for mobilising various ministries against the virus. Still, some find its response as a country lacking; too slow to contain the virus, too quick to raise the DORSCON level to orange.
            </p>

            <p class="body-2">
              We compiled a timeline of responses and events around the virus outbreak to get some understanding on how the country—its government and people alike—has responded during this trying time.
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Timeline from '@/components/posts/static/ncov/timeline/Timeline';

export default {
  props: {
    publishDate: {
      type: String,
      default: () => {},
      required: true,
    },
  },
  components: {
    Timeline,
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

a {
  color: #f2784b !important;
  text-decoration: underline;
}

.section1Virus {
  background-color: #faf7f5;
}
</style>
