<template>
  <div class="section1Virus">
    <v-container inner>
      <v-layout justify-center row wrap>           
        <!-- Viz -->
        <v-flex>         
          <div class="timeline__count px-2">  
            <p>Each circle represents a response.</p>
            <div class="speech-bubble-bottom"><p class="caption">Click the legend to show more events</p></div>
            <span
              v-for="item in buttonLegends"
              :key="item.class"
              @click="filterAnnotations(item.class)"
              align="center">
              <v-btn
                :id="item.class"
                xs3 
                flat 
                small>
                <span :class="item.class" class="dotlegend"/>{{ item.legend }}
              </v-btn>
            </span>                            
          </div>
          <div id="virusContainer" class="mb-xs-2">
            <div class="speech-bubble-left"><p class="caption">Click the circle for details</p></div>
            <svg id="virusViz"/>           
          </div>  
          <div id="virusDesc">
            <p class="caption"><strong>{{ descdate }}</strong></p>
            <p class="caption">{{ description }}</p>
          </div>                
        </v-flex>    
        <!-- Link to next Story -->
        <v-flex xs12>
          <div class="px-2 mb-5">
            <p class="body-2 my-4">
              This story is the first part of a series on COVID-19 in Singapore. The second story is <nuxt-link :to="{name: 'stories-singapore-coronavirus-cases-spread-connections', params: {slug: 'singapore-coronavirus-cases-spread-connections'}}">“How are Singapore’s COVID-19 cases related?”</nuxt-link>
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      descdate: '',
      description: '',
      source: '',
      innerWidth: 700,
      buttonLegends: [
        { class: 'government', legend: 'Government response'},
        { class: 'community', legend: 'Community response' },
        { class: 'international', legend: 'International news' }
      ],
      defaultAnnotations: [
        { annotation: 'First case in Singapore', date: '23 JAN'},
        { annotation: 'First local transmission', date: '4 FEB' },
        { annotation: 'DORSCON level: Yellow to Orange', date: '7 FEB' }        
      ],
    };
  },
  computed: {
    paddingInner() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 2;
      }
      return 0.7;
    },
    innerHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 4300 / 36 * this.numberOfDates;
      }
      return 1800 / 36 * this.numberOfDates ;
    },
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 30, right: 20, bottom: 80, left: 0 };
      }
      return { top: 30, right: 20, bottom: 30, left: 0 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    this.data = await d3.csv('/data/ncov/timeline/data.csv');
    this.cases = await d3.csv('/data/ncov/timeline/cases.csv');
    this.formatData();
    this.drawBase();
    this.drawDefaultAnnotations(this.defaultAnnotations);
  },
  methods: {
    formatData() {
      this.byDate = d3
        .nest()
        .key(d => d.date)
        .entries(this.data);
      this.dates = d3
        .map(this.data, d => d.date)
        .keys();
      this.numberOfDates = this.dates.length;
      this.caseCount = this.cases.filter(d => {
        return +d.new !== 0;
      });
    },
    drawBase() {
      this.virusViz = d3.select('#virusViz');
      this.virusViz
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        // .style('border', '1px solid black')
        .call(this.responsivefy);
      // define the axis
      this.YAxis = d3
        .scaleBand()
        .domain(this.dates)
        .range([this.chartMargin.top, this.innerHeight])
        .paddingInner(this.paddingInner);
      // draw the axis
      this.virusViz
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(${this.innerWidth / 2 - 40}, 0)`)
        .call(
          d3
            .axisLeft(this.YAxis)
            .ticks(30)
            .tickSize(10)
            .tickSizeOuter(0)
        )
        .call(g => g.selectAll('line').style('opacity', 0));
      // aesthetics edit
      this.virusViz
        .selectAll('.YAxis > .tick text')
        .attr('text-anchor', 'middle')
        .attr('transform', `translate(15, 0)`);
      this.virusViz
        .selectAll('.tick')
        .each(function appendBackground(d, i) {
          const tick = d3.select(this);
          // tick.append('rect');
          const text = d3.select(this).select('text');
          const bBox = text.node().getBBox();

          tick.insert('rect', ':first-child')
            .attr('x', bBox.x - 3)
            .attr('y', bBox.y + 2)
            .attr('height', bBox.height + 3)
            .attr('width', bBox.width + 6)
            .attr('transform', `translate(15, 0)`)
            .style('fill', '#faf7f5')
            // .style('fill', 'black')
            .lower();
        });
      this.drawDots();
      this.drawCasesAll();      
    },
    drawDots() {
      const colors = {
        'government': '#a3ccc4',
        'international': '#f38063',
        'community': '#2a5153',
        '': '#faf7f5',
      };
      const dateGroup = this.virusViz
        .selectAll('.dates')
        .data(this.byDate)
        .enter()
        .append('g')
        .attr('class', 'dates');
      dateGroup.attr('transform', `translate(${this.innerWidth / 2}, 8)`);
      const drawdots = dateGroup
        .selectAll('.dots')
        .data(d => d.values)
        .enter()
        .append('circle')
        .attr('class', 'dots')
        .attr('fill', d => colors[d.category]);
      // break dots into a few lines              
      if (this.$vuetify.breakpoint.smAndDown) {
        dateGroup.attr('transform', `translate(${this.innerWidth / 2}, 0)`);
        drawdots
          .attr('cx', (d, i) => 30 + i % 8 * 45)
          .attr('cy', (d, i) => this.YAxis(d.date) - 4 +  Math.floor(i / 8) * 38 )
          .attr('r', 17);
      } else {
        drawdots
          .attr('cx', (d, i) => 5 + i % 16 * 23)
          .attr('cy', (d, i) => this.YAxis(d.date) +  Math.floor(i / 16) * 21)
          .attr('r', 9);
      } 
      this.handleDotEnter();
    },
    drawCasesAll() {
      const drawCases = this.virusViz
        .append('g')
        .selectAll('text.cases')
        .data(this.caseCount)
        .enter()
        .append('g')
        .attr('class', 'casesText')        
        .append('text')
        .attr('class', 'cases')
        .text(d => `${d.total} cases`)
        .attr('text-anchor', 'middle')
        .attr('x', 0)
        .attr('y', d => this.YAxis(d.date));
      this.virusViz
        .selectAll('.casesText')
        .each(function appendBackground(d, i) {
          const tick = d3.select(this);
          const text = d3.select(this).select('text');
          const bBox = text.node().getBBox();

          tick.insert('rect', ':first-child')
            .attr('x', bBox.x)
            .attr('y', bBox.y + 4)
            .attr('class', 'backgroundCase')
            .attr('height', bBox.height + 6)
            .attr('width', bBox.width + 6)
            .attr('transform', `translate(305, 20)`)
            .style('fill', '#faf7f5')
            // .style('fill', 'black')
            .lower();
        });
      drawCases.attr('transform', `translate(${this.innerWidth / 2 - 40}, 27)`)

      if (this.$vuetify.breakpoint.smAndDown) {
        drawCases.attr('transform', `translate(${this.innerWidth / 2 - 40}, 35)`)
        d3.selectAll('.backgroundCase').attr('transform', `translate(310, 28)`);
      }
    },
    filterAnnotations(selectedButton) {
      // button active class
      d3.selectAll('.v-btn').classed('active', false);
      d3.select(`#${selectedButton}`).classed('active', true);      
      // remove all annotations before starting 
      d3.selectAll('g.annotations, .default-annotations').remove();
      // draw the annotations
      const filteredAnnotations = this.data.filter(d => {
        return d.category === selectedButton && d.annotation !== '';
      });
      filteredAnnotations.forEach(d => {
        if (this.$vuetify.breakpoint.smAndDown) {
          d.phrasedAnnotate = d.annotationMobile.split(" / ");
        } else {
          d.phrasedAnnotate = d.annotation.split(" / ");
        }
      });
      const colors = {
        'government': '#a3ccc4',
        'international': '#f38063',
        'community': '#2a5153',
      };
      const drawAnnotations = this.virusViz
        .append('g')
        .attr('class', 'annotations')
      const lineAnnotateGroup = drawAnnotations
        .selectAll('line.annotate')
        .data(filteredAnnotations)
        .enter()
        .append('line')
        .attr('class', 'annotate')
        .attr('stroke', d => colors[d.category])
        .attr('stroke-width', 1)
        .attr('x1', 0)
        .attr('x2', `${this.innerWidth / 2.5}`)
        .attr('y1', d => this.YAxis(d.date))
        .attr('y2', d => this.YAxis(d.date));
      lineAnnotateGroup.attr('transform', `translate(${this.chartMargin.right - 20}, 8)`)
      const textAnnotations = drawAnnotations
        .selectAll('text.annotate')
        .data(filteredAnnotations)
        .enter()
        .append('text')
        .attr('class', 'annotate')
        .attr('x', `${this.chartMargin.right}`)
        .attr('y', d => this.YAxis(d.date))     
        .selectAll('tspan')
        .data(d => d.phrasedAnnotate)
        .enter()
        .append('tspan')
        .attr('x', 0)
        .attr('dy', (d, i) => (i === 0 ? '1.7em' : '1.5em'))
        .text(d => d);        
      // for mobile
      if (this.$vuetify.breakpoint.smAndDown) {
        lineAnnotateGroup.attr('transform', `translate(-5, 0)`);
        textAnnotations
          .attr('x', 0)
          .attr('dy', (d, i) => (i === 0 ? '1em' : '1.2em'))
          .text(d => d);
      }
      // remove certain annotations (custom filter)
      if (selectedButton === 'government') {
        const govtFilter = this.defaultAnnotations.filter(d => {
          return d.date === '23 JAN';
        });
        this.drawDefaultAnnotations(govtFilter);
      } else if (selectedButton === 'community' || 'international') {
        const commintFilter = this.defaultAnnotations.filter(d => {
          return d.date !== '7 FEB';
        });
        this.drawDefaultAnnotations(commintFilter);
      }
    },
    drawDefaultAnnotations(data) {
      const drawAnnotations = this.virusViz
        .append('g')
        .attr('class', 'default-annotations')
      const lineAnnotateGroup = drawAnnotations
        .selectAll('line.annotate')
        .data(data)
        .enter()
        .append('line')
        .attr('class', 'annotate')
        .attr('stroke',  'grey')
        .attr('stroke-width', 1)
        .attr('x1', 0)
        .attr('x2', `${this.innerWidth / 2.5}`)
        .attr('y1', d => this.YAxis(d.date))
        .attr('y2', d => this.YAxis(d.date));
      lineAnnotateGroup.attr('transform', `translate(${this.chartMargin.right - 20}, 8)`);
      const textAnnotationGroup = drawAnnotations
        .selectAll('text.annotate')
        .data(data)
        .enter()
        .append('text')
        .attr('transform', `translate(${this.chartMargin.right * 1.5}, 0)`)
        .attr('class', 'annotate')
        .attr('transform', `translate(0, 20)`)
        .attr('x', 0)
        .attr('y', d => this.YAxis(d.date) + 5)
        .attr('text-anchor', 'start')
        .text(d => d.annotation);   
      if (this.$vuetify.breakpoint.smAndDown) {
        lineAnnotateGroup.attr('transform', `translate(${this.chartMargin.right - 30}, 0)`);
        textAnnotationGroup.attr('transform', `translate(0, 20)`);
      }           
    },
    handleDotEnter() {
      const dots = d3.selectAll('circle');
      dots.on('mouseenter', d => {
        this.descdate = d.date;
        this.description = d.description;
      });
      // positioning the tooltip and changing the opacity of the hearts
      dots
        .on('mouseenter.opacity', function showBox() {
          d3.select(this).attr('stroke', 'grey').attr('stroke-width', 2);
          // calculate tooltip position
          const selectedDot = d3
            .select(this)
            .node()
            .getBoundingClientRect();
          const tooltipWidth = d3
            .select('#virusDesc')
            .node()
            .getBoundingClientRect().width;
          const tooltipHeight = d3
            .select('#virusDesc')
            .node()
            .getBoundingClientRect().height;
          const posLeft =
            selectedDot.left > document.body.clientWidth / 2.25
              ? selectedDot.right - tooltipWidth
              : selectedDot.right - selectedDot.height;
          const vizHeight = d3
            .select('#virusContainer')
            .node()
            .getBoundingClientRect();
          const posTop = selectedDot.top + window.scrollY - 60 + selectedDot.height;
          // move tooltip
          const tooltip = d3.select('#virusDesc');
          tooltip
            .style('top', `${posTop}px`)
            .style('left', `${posLeft}px`)
            .style('visibility', 'visible');
        })
        .on('mouseleave.opacity', function hideBox() {
          d3.select(this).attr('stroke', 'none');
          d3.select('#virusDesc').style('visibility', 'hidden');
        });
    },
    responsivefy(svg) {
      const container = d3.select(svg.node().parentNode);
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on(`resize.${container}.attr('id')`, this.resize(svg, aspect));
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },    
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
.section1Virus {
  background-color: #faf7f5;

  a {
    color: #f2784b !important;
    text-decoration: underline;
  }
}

.v-btn {
  margin-left: -6px;
  @media $display-breakpoints.sm-and-down {  
    height: 30px !important;
  }
}

#virusContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-style: dashed none none;  
  position: relative;  
}

#virusDesc {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  @media $display-breakpoints.sm-and-down {
    width: 48%;
  }
  width: 20%;
  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

// Legend CSS
.dotlegend {
  height: 18px;
  width: 18px;
  margin-right: 8px;
  border-radius: 50%;
  display: inline-block;
}
.government {
  background-color: #a3ccc4;
  margin-left: 0px;  
}
.community {
  background-color: #2a5153;
}
.international {
  background-color: #f38063;
}

.active {
  background-color: lightgrey !important;
}

// speech bubbles
.speech-bubble-bottom {
  position: relative;
  background: #2ea16e;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% / 4);
  @media $display-breakpoints.sm-and-down {
    width: calc(100% / 2);
  }  
  top: 0px;
  left: 0px;
  text-align: center;
    p {
      color: #fbf4e9;
      margin-bottom: 0;
      padding-bottom: 0;
    }
}
.speech-bubble-bottom:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 47%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #2ea16e;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
.speech-bubble-left {
  position: absolute;
  background: #2ea16e;
  border-radius: 10px;
  padding: 10px;
  width: calc(100% / 5);
  @media $display-breakpoints.sm-and-down {
    width: calc(100% / 3);
    right: 20px;
    top: 40px;
  }
  top: 20px;
  right: calc(100% / 2 - 100% / 4);
  text-align: center;
    p {
      color: #fbf4e9;
      margin-bottom: 0;
      padding-bottom: 0;
    }
}
.speech-bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 35%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #2ea16e;
  border-left: 0;
  margin-left: -8px;
  margin-bottom: -8px;
}

@media $display-breakpoints.sm-and-down {
  .mb-xs-2 {
    padding-top: 20px !important;
  }
}
</style>

<style lang="stylus">
@import '~vuetify/src/stylus/settings/_variables';

.YAxis > .tick text {
  font-family: 'Averta', sans-serif !important;
  font-weight: 600;
  color: #663546;
  font-size: 14px;
  stroke: #663546;
  stroke-width: 0.2;
}

.YAxis path{
  stroke: grey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}

text.cases {
  font-size: 9px;
  fill: #ff5252;
  stroke: #ff5252;
  stroke-width: 0.2;  
}

text.annotate {
  font-size: 13px;
}

@media $display-breakpoints.sm-and-down {
  text.cases {
    font-size: 18px;
  }

  text.annotate {
    font-size: 23px;
  }

  .YAxis > .tick text {
    font-size: 25px;
    stroke-width: 0.4;
  }

  .YAxis path{
    stroke-width: 2px;
  }
}
</style>