<template>
  <div id="forbesContainer" class="mb-3"> 
    <svg id="forbesSVG"/>
    <p class="caption mt-0 py-0">Source: <a href="https://www.forbes.com/singapore-billionaires/list/#tab:overall)" target="_blank">Forbes</a></p>    
    <p class="caption mt-0 pt-0">Note: Gordon Tang (#28) is excluded from the chart, as we could not find his birth year.</p>    
    <div id="forbesbubble">
      <p class="ma-0 pa-0"><strong>{{ name }}</strong> (#{{ rank }})</p>
      <p class="caption ma-0 pa-0"><strong>Net worth:</strong> USD${{ worth }} bil</p>
      <p class="caption ma-0 pa-0"><strong>Year of Birth:</strong> {{ year }} ({{ zodiac }})</p>
      <p class="caption ma-0 pa-0"><strong>Organisation:</strong> {{ organisation }}, {{ industry }}</p>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      innerWidth: 650,
      innerHeight: 250,
      name: '',
      worth: '',
      rank: '',
      year: '',
      zodiac: '',
      organisation: '',
      industry: '',
    };
  },
  computed: {
    chartMargin() {
      return { top: 0, right: 10, bottom: 30, left: 10 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    const forbesdata = await d3.csv('/data/cny-rat/csv/forbes.csv');
    this.formatData(forbesdata);
    this.drawBase();
  },
  methods: {
    formatData(data) {
      this.therest = data.filter(d => d.worth < 2.94);
      this.keys = [...new Set(this.therest.map(d => d.zodiac))];
    },
    drawBase() {
      this.forbesSVG = d3.select('#forbesSVG');
      // draw base
      this.forbesSVG
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      // define X Axis
      this.XAxis = d3
        .scaleLinear()
        .domain([0.4, 3])
        .range([0, this.innerWidth]);
      // append axes
      this.forbesSVG
        .append('g')
        .attr('class', 'XAxis')
        .attr(
          'transform',
          `translate(${this.chartMargin.left}, ${this.chartSettings.height - this.chartMargin.bottom})`
        )
        .call(
          d3
            .axisBottom(this.XAxis)
            .ticks(4)
            .tickSize(-this.chartSettings.height - 10)
        )
        .call(g => g.select('.domain', '').remove());
      this.forbesSVG
        .selectAll('line')
        .attr('class', 'dashedLineAxis')
        .attr('stroke-dasharray', '1, 2');
      // appending label
      this.forbesSVG
        .append('text')
        .attr('class', 'label')
        .attr('x', `${this.chartSettings.width / 2}`)
        .attr('y', `${this.chartSettings.height}`)
        .text('Net Worth (billion)')
        .attr('font-size', '14px')
        .attr('text-anchor', 'middle');
      // draw bubble
      this.drawBubbles();
    },
    drawBubbles() {
      // creating defs patterns
      this.forbesSVG
        .append('g')
        .attr('class', 'patterns')
        .selectAll('defs')
        .data(this.keys)
        .enter()
        .append('defs')
        .append('pattern')
        .attr('id', d => d)
        .attr('width', '100%')
        .attr('height', '100%')
        .attr('viewBox', '0 0 20 20')
        .append('image')
        .attr('href', d => `/data/cny-rat/heads/${d}-icon.svg`)
        .attr('width', '20')
        .attr('height', '20')
        .attr('x', 0)
        .attr('y', 0);
      // append circles
      const circlesBee = this.forbesSVG
        .selectAll(`circle.zodiac`)
        .data(this.therest)
        .enter()
        .append('circle')
        .attr('class', d => `zodiac ${d.name} ${d.worth} `)
        .style('fill', d => `url(#${d.zodiac})`)
        .attr('r', 20);
      // interactivity
      circlesBee.on('mouseenter.beesentence', d => {
        this.worth = d.worth;
        this.name = d.name;
        this.rank = d.rank;
        this.year = d.year;
        this.zodiac = d.zodiac;
        this.organisation = d.organisation;
        this.industry = d.industry;
      });
      circlesBee.on('mouseenter.beedesign', function showBox() {
        // highlight the circle
        d3.select(this)
          .attr('stroke', '#a03e3c')
          .attr('stroke-width', '2px');
        // move the tooltip to the correct position
        this.selectedCircle = d3
          .select(this)
          .node()
          .getBoundingClientRect();
        this.tooltipWidth = d3
          .select('#forbesbubble')
          .node()
          .getBoundingClientRect().width;
        this.tooltipHeight = d3
          .select('#forbesbubble')
          .node()
          .getBoundingClientRect().height;
        this.posLeft =
          this.selectedCircle.left > document.body.clientWidth / 2.25
            ? this.selectedCircle.right - this.tooltipWidth
            : this.selectedCircle.right - this.selectedCircle.height;
        this.posTop = this.selectedCircle.top + window.scrollY - 60 + this.selectedCircle.height;
        const tooltip = d3.select('#forbesbubble');
        tooltip
          .style('top', `${this.posTop}px`)
          .style('left', `${this.posLeft}px`)
          .style('visibility', 'visible');
      });
      circlesBee.on('mouseleave.beedesign', function hideBox() {
        // remove highlight from the circle
        d3.select(this).attr('stroke', 'none');
        // remove tooltip
        d3.select('#forbesbubble').style('visibility', 'hidden');
      });
      // attach the forces
      d3.forceSimulation()
        .force('x', d3.forceX(d => this.XAxis(d.worth)).strength(1.2))
        .force('y', d3.forceY((d, i) => this.chartSettings.height / 2.5 + 2 * (i % 2) * 10).strength(0.1))
        .force('collision', d3.forceCollide().radius(20))
        .nodes(this.therest)
        .on('tick', this.updateNetwork);
    },
    updateNetwork() {
      d3.selectAll('circle.zodiac')
        .attr('cx', d => d.x) // Try commenting out either this or the next line and see what happens
        .attr('cy', d => d.y);
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

#forbesbubble {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 1;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  @media $display-breakpoints.sm-and-down {
    width: 50%; 
  }  
  width: 20%;
}
</style>
