<template>
  <div id="birthsContainer" class="mb-5">
    <svg id="birthsSVG"/>
    <p class="caption mt-0 pt-0">Source: <a href="https://data.gov.sg/dataset/live-birth-by-ethnic-group-of-parent?view_id=f6889bb1-924c-4f89-95c5-ef1431a50fa3&resource_id=aacf7acc-3210-4cde-9be7-10f6a2c801eb" target="_blank">Data.gov.sg</a></p>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      innerWidth: 600,
    };
  },
  computed: {
    barHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 25;
      }
      return 20;
    },
    innerHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 540;
      }
      return 400;
    },
    chartMargin() {
      return { top: 20, right: 10, bottom: 35, left: 70 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    const birth = await d3.csv('/data/cny-rat/csv/birth.csv');
    this.formatData(birth);
    this.drawBase();
  },
  methods: {
    formatData(data) {
      this.birthByZodiac = d3
        .nest()
        .key(d => d.zodiac)
        .entries(data);
      this.birthByZodiac.forEach(zodiac => {
        let startX = 0;
        zodiac.values.forEach(d => {
          d.startX = startX;
          d.endX = +d.births + d.startX;
          startX = d.endX;
        });
      });
    },
    drawBase() {
      this.birthSVG = d3.select('#birthsSVG');
      // draw base
      this.birthSVG
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      // define axes
      this.YAxis = d3
        .scaleBand()
        .domain(this.birthByZodiac.map(d => d.key))
        .range([0, this.innerHeight])
        .paddingInner(0.3);
      this.XAxis = d3
        .scaleLinear()
        .domain([0, 130600])
        .range([0, this.innerWidth]);
      // append axes
      this.birthSVG
        .append('g')
        .attr('class', 'XAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.innerHeight + this.chartMargin.bottom / 2})`)
        .call(
          d3
            .axisBottom(this.XAxis)
            .ticks(5)
            .tickSize(4)
            .tickSizeOuter(0)
        );
      d3.selectAll('.XAxis > .tick line').attr('transform', 'translate(0, -3)');
      this.birthSVG
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(0, ${this.chartMargin.top / 5})`)
        .call(d3.axisRight(this.YAxis).tickSize(0))
        .call(g => g.select('.domain', '').remove());
      // appending label
      this.birthSVG
        .append('text')
        .attr('class', 'label')
        .attr('x', `${this.chartSettings.width / 2}`)
        .attr('y', `${this.chartSettings.height}`)
        .text('Number of Chinese babies born')
        .attr('font-size', '12px')
        .attr('text-anchor', 'middle');
      this.drawBars();
    },
    drawBars() {
      // define color scheme
      const colors = {
        1: '#d8a76c',
        2: '#a03e3b',
        3: '#7fb9ae',
        4: '#f38063',
      };
      // create a group for each zodiac
      const group = this.birthSVG
        .selectAll(`g.${this.birthByZodiac.key}`)
        .data(this.birthByZodiac)
        .enter()
        .append('g')
        .attr('class', d => d.key);
      // for each zodiac group, append the stacked bars
      group
        .selectAll('rect')
        .data(d => d.values)
        .enter()
        .append('rect')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.barHeight / 3})`)
        .attr('x', d => this.XAxis(d.startX))
        .attr('y', d => this.YAxis(d.zodiac))
        .attr('width', d => this.XAxis(+d.births))
        .attr('height', this.barHeight)
        .attr('fill', d => colors[+d.cycle]);
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus">
// CSS for all text in SVGs
@import '~vuetify/src/stylus/settings/_variables';

.YAxis > .tick text {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  @media $display-breakpoints.sm-and-down {
    font-size: 15px;
  }
  font-size: 12px;
}

.diamond text{
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  @media $display-breakpoints.sm-and-down {
    font-size: 13px;
    font-weight: 400;  
  }
  font-size: 12px;
}

text.top10names {
  font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  @media $display-breakpoints.sm-and-down {
    font-size: 12px;
    font-weight: 400;  
  }  
}

.XAxis text {
  font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
  color: rgba(0, 0, 0, .4);
  font-size: 12px;
  @media $display-breakpoints.sm-and-down {
    font-size: 15px;
  }  
}

text.label {
  fill: rgba(0, 0, 0, .7);
  @media $display-breakpoints.sm-and-down {
    font-size: 15px;
  }  
}

.XAxis path, .XAxis > .tick line {
  stroke: grey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

 .XAxis > .tick line.dashedlineAxis {
  stroke: #a03e3c;
  stroke-opacity: 0.55;
  shape-rendering: crispEdges;
}

a {
  color: #f2784b;
  text-decoration: underline;
}
</style>
