<template>
  <div>
    <h3 class="cnyfont">Breakdown of all predictions by sentence</h3>
    <!-- Filter -->
    <p class="cnyfont caption my-3">Show fortune for
      <v-chip 
        v-for="filter in filterlist" 
        :key="filter"
        :id="filter"
        class="ml-1 px-1 cnyfont"
        @click="filterDots(filter)">
        {{ filter }}
      </v-chip>
    </p>
    <!-- Legend -->
    <p class="caption cnyfont">
      <span class="dot auspicious"/>Auspicious
      <span class="dot inauspicious"/>Inauspicious
      <span class="dot neutral"/>Neutral
    </p>
    <!-- Viz goes here -->
    <div class="clusterContainer">
      <svg id="clusterViz"/>
      <div id="clusterSentence" class="caption">
        {{ sentence }}
      </div>
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      sentence: '',
      filterlist: ['All', 'Love', 'Career', 'Family', 'Health'],
      selectedButton: '',
    };
  },
  computed: {
    innerHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 550;
      }
      return 400;
    },
    innerWidth() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 420;
      }
      return 500;
    },
    chartMargin() {
      return { top: 10, right: 10, bottom: 10, left: 10 };
    },
    chartSettings() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return {
          numofRow: 3,
          YSpacing: 140,
          XSpacing: 150,
          width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
          height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
        };
      }
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
        numofRow: 4,
        YSpacing: 130,
        XSpacing: 120,
      };
    },
  },
  async mounted() {
    const sentences = await d3.csv('/data/cny-rat/csv/sentence_pred.csv');
    this.formatData(sentences);
    this.triggeringDot();
    d3.selectAll('#All').classed('active', true);
  },
  methods: {
    formatData(data) {
      data.forEach(d => {
        d.r = 5;
        d.s = 0.03;
        d.collisionRadius = 7;
      });
      this.sentencesByZodiac = d3
        .nest()
        .key(d => d.zodiac)
        .entries(data);
      this.sentencesByZodiac.forEach(d =>
        d.values.push({
          r: 20,
          s: 1,
          collisionRadius: 27,
          sentimenttype: 'center',
        })
      );
    },
    drawBase() {
      this.clusterViz = d3.select('#clusterViz');
      // draw base
      this.clusterViz
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      const colors = {
        Positive: '#f38063',
        Negative: '#262e43',
        Neutral: '#c2b6b2',
        center: '#a03e3b',
      };
      this.sentencesByZodiac.forEach((zodiac, n) => {
        // setting the constants
        const diamondSize = 46;
        const spacingX = this.chartSettings.XSpacing;
        const spacingY = this.chartSettings.YSpacing;
        const centerX = 70 + (n % this.chartSettings.numofRow) * spacingX;
        const centerY = 70 + Math.floor(n / this.chartSettings.numofRow) * spacingY;
        // create a group
        const zodiacGroup = this.clusterViz
          .selectAll(`.group-${zodiac.key}`)
          .data([1])
          .enter()
          .append('g')
          .attr('class', `diamond group-${zodiac.key}`);
        // add the circles
        zodiacGroup
          .selectAll(`circle.${zodiac.key}`)
          .data(zodiac.values)
          .enter()
          .append('circle')
          .attr('class', d => `dotdiagram ${zodiac.key} ${d.category}`)
          .style('fill', d => colors[d.sentimenttype]) // Color the circles based on their index
          .attr('opacity', d => (d.sentimenttype === 'center' ? 0 : 1))
          .attr('r', d => d.r);
        // interactivity
        this.circleTooltip();
        // diamond and zodiac
        zodiacGroup
          .selectAll('rect')
          .data([1])
          .enter()
          .append('rect')
          .attr('x', centerX - diamondSize)
          .attr('y', centerY - diamondSize)
          .attr('rx', diamondSize * 0.2)
          .attr('ry', diamondSize * 0.2)
          .attr('height', diamondSize)
          .attr('width', diamondSize)
          .attr('fill', '#93423F')
          .attr('transform', `rotate(45, ${centerX - diamondSize * 0.85}, ${centerY + diamondSize * 0.35})`);
        zodiacGroup
          .append('image')
          .attr('xlink:href', () => `/data/cny-rat/character/character-${zodiac.key}.svg`)
          .attr('width', diamondSize * 0.7)
          .attr('height', diamondSize * 0.7)
          .attr('x', centerX - diamondSize * 0.35)
          .attr('y', centerY - diamondSize * 0.35);
        zodiacGroup
          .append('text')
          .text(`${zodiac.key}`)
          .attr('font-size', '11px')
          .attr('text-anchor', 'middle')
          .attr('fill', 'white')
          .attr('x', centerX)
          .attr('y', centerY + 2);
        d3.forceSimulation()
          .force(
            'center',
            d3
              .forceCenter()
              .x(centerX)
              .y(centerY)
          )
          .force('collision', d3.forceCollide(d => d.collisionRadius))
          .force('x', d3.forceX(centerX).strength(d => d.s))
          .force('y', d3.forceY(centerY).strength(d => d.s))
          .nodes(zodiac.values)
          .on('tick', this.updateNetwork);
      });
    },
    circleTooltip() {
      const circles = d3.selectAll(`circle.dotdiagram`);
      circles
        .on('mouseenter.sentence', d => {
          this.sentence = d.sentence;
        })
        .on('mouseenter.design', function showBox() {
          // highlight the circle
          d3.select(this).attr('stroke', '#2c3e50');
          // move the tooltip to the correct position
          this.selectedCircle = d3
            .select(this)
            .node()
            .getBoundingClientRect();
          this.tooltipWidth = d3
            .select('#clusterSentence')
            .node()
            .getBoundingClientRect().width;
          this.tooltipHeight = d3
            .select('#clusterSentence')
            .node()
            .getBoundingClientRect().height;
          this.posLeft =
            this.selectedCircle.left > document.body.clientWidth / 2.25
              ? this.selectedCircle.right - this.tooltipWidth
              : this.selectedCircle.right - this.selectedCircle.height;
          this.posTop = this.selectedCircle.top + window.scrollY - 60 + this.selectedCircle.height;
          const tooltip = d3.select('#clusterSentence');
          tooltip
            .style('top', `${this.posTop}px`)
            .style('left', `${this.posLeft}px`)
            .style('visibility', 'visible');
        })
        .on('mouseleave.design', function hideBox() {
          // remove highlight from the circle
          d3.select(this).attr('stroke', 'none');
          // remove tooltip
          d3.select('#clusterSentence').style('visibility', 'hidden');
        });
    },
    filterDots(selectedButton) {
      d3.selectAll('.v-chip').classed('active', false);
      d3.select(`#${selectedButton}`).classed('active', true);
      if (selectedButton === 'All') {
        d3.selectAll('.diamond circle').attr('display', 'outside');
      } else {
        const selectedCategory = selectedButton.toLowerCase();
        d3.selectAll('.diamond circle').attr('display', d => (d.category !== selectedCategory ? 'none' : 'outside'));
      }
    },
    triggeringDot() {
      // triggering
      const self = this;
      self.triggered = false;
      window.onscroll = () => {
        const containerTop = d3
          .select('.clusterContainer')
          .node()
          .getBoundingClientRect().height;
        const scrollTop = window.scrollY;
        if (scrollTop > containerTop && self.triggered === false) {
          this.drawBase();
          self.triggered = true;
        }
      };
    },
    updateNetwork() {
      d3.selectAll('circle')
        .attr('cx', d => d.x)
        .attr('cy', d => d.y);
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.cnyfont {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600; 
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  margin-left: 20px;  
  border-radius: 50%;
  display: inline-block;
}

.auspicious {
  background-color: #f38063;
  margin-left: 0px;  
}

.inauspicious {
  background-color: #262e43;
}

.neutral {
  background-color: #c2b6b2;
}

.v-chip {
  background-color: #f2e4de !important;
  color: #ca924f;
  border: 1px solid #ca924f;
  padding: 0px
}

.v-chip:hover {
  background-color: #ca924f !important;
  color: white;
}

.active {
  background-color: #ca924f !important;
  color: white;
}

.clusterContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-style: dashed none none;

  #clusterSentence {
    padding: 10px;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    text-align: left;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    @media $display-breakpoints.sm-and-down {
      width: 50%; 
    }
    width: 20%;
  }   
}
</style>
