<template>
  <div id="marriageContainer" class="mb-5">
    <svg id="marriageSVG"/>
    <p class="caption mt-0 pt-0 mb-3">Source: <a href="https://data.gov.sg/dataset/resident-marriages-under-the-women-s-charter-by-ethnic-group-of-couple-annual?view_id=cb2fbd15-a092-4de8-a922-1780618d001f&resource_id=b120f328-9315-44dc-91b4-f87b8aa2ef22" target="_blank">Data.gov.sg</a></p>   
  </div> 
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      innerWidth: 600,
    };
  },
  computed: {
    barHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 25;
      }
      return 20;
    },
    innerHeight() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 540;
      }
      return 400;
    },
    chartMargin() {
      return { top: 20, right: 10, bottom: 40, left: 70 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    const marriage = await d3.csv('/data/cny-rat/csv/marriage.csv');
    this.formatData(marriage);
    this.drawBase();
  },
  methods: {
    formatData(data) {
      this.byZodiac = d3
        .nest()
        .key(d => d.zodiac)
        .entries(data);
      this.byZodiac.forEach(zodiac => {
        let startX = 0;
        zodiac.values.forEach(d => {
          d.startX = startX;
          d.endX = +d.marriages + d.startX;
          startX = d.endX;
        });
      });
    },
    drawBase() {
      this.marriageSVG = d3.select('#marriageSVG');
      // draw base
      this.marriageSVG
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      // define axes
      this.YAxis = d3
        .scaleBand()
        .domain(this.byZodiac.map(d => d.key))
        .range([0, this.innerHeight])
        .paddingInner(0.3);
      this.XAxis = d3
        .scaleLinear()
        .domain([0, 38000])
        .range([0, this.innerWidth]);
      // append axes
      this.marriageSVG
        .append('g')
        .attr('class', 'XAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.innerHeight + 18})`)
        .call(
          d3
            .axisBottom(this.XAxis)
            .ticks(6)
            .tickSize(4)
            .tickSizeOuter(0)
        );
      d3.selectAll('.XAxis > .tick line').attr('transform', 'translate(0, -3)');
      this.marriageSVG
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(0, ${this.chartMargin.top / 4})`)
        .call(d3.axisRight(this.YAxis).tickSize(0))
        .call(g => g.select('.domain', '').remove());
      // appending label
      this.marriageSVG
        .append('text')
        .attr('class', 'label')
        .attr('x', `${this.chartSettings.width / 2}`)
        .attr('y', `${this.chartSettings.height - 5}`)
        .text('Number of Marriages')
        .attr('font-size', '12px')
        .attr('text-anchor', 'middle');
      // draw bars
      this.drawBars();
    },
    drawBars() {
      // color scheme
      const colors = {
        1: '#7fb9ae',
        2: '#f38063',
      };
      // create a group for each zodiac
      const group = this.marriageSVG
        .selectAll(`g.${this.byZodiac.key}`)
        .data(this.byZodiac)
        .enter()
        .append('g')
        .attr('class', d => d.key);
      // for each zodiac group, append the stacked bars
      group
        .selectAll('rect')
        .data(d => d.values)
        .enter()
        .append('rect')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.barHeight / 3})`)
        .attr('x', d => this.XAxis(d.startX))
        .attr('y', d => this.YAxis(d.zodiac))
        .attr('width', d => this.XAxis(+d.marriages))
        .attr('height', this.barHeight)
        .attr('fill', d => colors[+d.cycle]);
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>
