<template>
  <v-flex xs12>
    <div class="popupbox pa-3">
      <div class="popup__header">
        <h2 class="display-2 my-3 cnyfont">2020 Year of the Rat horoscope</h2>
        <p class="caption my-3">Select your Chinese zodiac to see this year’s horoscope.</p>
        <v-select
          v-model="selectedOption"
          :items="zList"
          label="Select your Chinese zodiac"
          solo
          offset-y
          @input="updateData(selectedZodiac)"
        />
      </div>
      <div
        v-if="selectedZodiac"
        class="popup__content">
        <v-layout
          :class="{'ma-0': $vuetify.breakpoint.smAndDown, 'pa-4': $vuetify.breakpoint.mdAndUp}"
          wrap
        >
          <v-flex
            xs12
            sm5
            class="popup__image">
            <h2 class="cnyfont">{{ selectedZodiac }}</h2>
            <img
              :src="'/data/cny-rat/zodiac/zodiac-' + selectedZodiacImg + '.svg'"
              width="100%">
            <p class="px-4 cnyfont">{{ selectedYearRange }}</p>
          </v-flex>
          <v-flex
            xs12
            sm7
            class="popup__chart">
            <div id="predBarContainer">
              <svg id="predBar"/>
            </div>
          </v-flex>
          <v-flex
            xs12
            sm12
            class="popup__paragraph">
            <div class="mt-3 px-3 predictionpara">
              <p
                v-show="predictionCategoryIcon"
                class="my-0 py-0 body-2">
                <img
                  :src="'/data/cny-rat/icon/icon-' + predictionCategoryIcon + '.svg'"
                  class="pr-2"
                  width="30px">
                <strong>{{ predictionCategory }}</strong>
              </p>
              <p class="my-0 py-0">{{ predictionPara }}</p>
            </div>
            <div class="mt-3 my-0">
              <span class="left"><strong>Source: {{ source }} </strong></span>
              <span
                class="right"
                style="text-decoration: underline; cursor: pointer; color: #f2784b"
                @click="changeSource()">
                <strong>&#8635;</strong> Other predictions
              </span>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
  </v-flex>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      selectedOption: '',
      zList: [
        'Rat (鼠) - 1936, 1948, 1960, 1972, 1984, 1996, 2008, 2020',
        'Ox (牛) - 1937, 1949, 1961, 1973, 1985, 1997, 2009',
        'Tiger (虎) - 1938, 1950, 1962, 1974, 1986, 1998, 2010',
        'Rabbit (兔) - 1939, 1951, 1963, 1975, 1987, 1999, 2011',
        'Dragon (龍) - 1940, 1952, 1964, 1976, 1988, 2000, 2012',
        'Snake (蛇) - 1941, 1953, 1965, 1977, 1989, 2001, 2013',
        'Horse (馬) - 1942, 1954, 1966, 1978, 1990, 2002, 2014',
        'Goat (羊) - 1943, 1955, 1967, 1979, 1991, 2003, 2015',
        'Monkey (猴) - 1944, 1956, 1968, 1980, 1992, 2004, 2016',
        'Rooster (鸡) - 1945, 1957, 1969, 1981, 1993, 2005, 2017',
        'Dog (狗) - 1946, 1958, 1970, 1982, 1994, 2006, 2018',
        'Pig (猪) - 1947, 1959, 1971, 1983, 1995, 2007, 2019',
      ],
      source: '',
      innerWidth: 360,
      predictionCategory: '',
      predictionCategoryIcon: '',
      predictionPara: 'Click on the bars to check out the fortunes',
    };
  },
  computed: {
    selectedZodiac() {
      return this.selectedOption.split(' - ')[0];
    },
    selectedYearRange() {
      return this.selectedOption.split(' - ')[1];
    },
    selectedZodiacImg() {
      return this.selectedOption.split(' (')[0];
    },
    chartMargin() {
      return { top: 45, right: 10, bottom: 20, left: 10 };
    },
  },
  methods: {
    async updateData() {
      // load data
      this.data = await d3.csv('/data/cny-rat/csv/para_pred.csv');
      // select the zodiac for data
      this.selectedZodiacData = this.data.filter(prediction => prediction.zodiac === this.selectedZodiacImg);
      this.changeSource();
    },
    calculateDimensions() {
      this.categoryLen = this.selectedSourceData.map(d => d.category).length;
      this.innerHeight = (230 / 4) * this.categoryLen;
      this.width = this.innerWidth + this.chartMargin.left + this.chartMargin.right;
      this.height = this.innerHeight + this.chartMargin.top + this.chartMargin.bottom;
    },
    changeSource() {
      // randomly select the source
      const location2 = [1, 2, 3];
      const selectedSource = location2[Math.floor(Math.random() * location2.length)];
      this.selectedSourceData = this.selectedZodiacData.filter(prediction => +prediction.location2 === selectedSource);
      // set the dimensions
      this.calculateDimensions();
      // update the content
      this.source = `${this.selectedSourceData[0].source}, ${this.selectedSourceData[0].location}`;
      // draw graph
      this.drawBaseGraph();
    },
    drawBaseGraph() {
      // reset
      d3.select('#predBar')
        .selectAll('*')
        .remove();
      this.prediction_bar = d3.select('#predBar');
      // drawing the SVG
      this.prediction_bar
        .attr('width', this.width)
        .attr('height', this.height)
        .call(this.responsivefy);
      // define the X and Y Axis
      this.YAxis = d3
        .scaleBand()
        .domain(this.selectedSourceData.map(d => d.category))
        .range([0, this.innerHeight]);
      this.XAxis = d3
        .scaleLinear()
        .domain([-1, 1.1])
        .range([0, this.innerWidth]);
      // draw bars - because bars go behind the axes icons and line
      this.drawBars();
      // appending middle line
      this.prediction_bar
        .append('line')
        .attr('stroke-width', 1)
        .attr('x1', this.XAxis(0))
        .attr('y1', this.chartMargin.top)
        .attr('x2', this.XAxis(0))
        .attr('y2', this.innerHeight + this.chartMargin.bottom)
        .attr('stroke-dasharray', '1, 2')
        .attr('stroke', '#a03e3c')
        .attr('transform', `translate(${this.chartMargin.left}, 0)`);
      // appending axes
      this.prediction_bar
        .append('g')
        .attr('class', 'XAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.height - this.chartMargin.top})`)
        .call(
          d3
            .axisBottom(this.XAxis)
            .tickSize(4)
            .tickSizeOuter(0)
        );
      d3.selectAll('.XAxis > .tick line').attr('transform', 'translate(0, -3)');
      this.prediction_bar
        .append('g')
        .attr('class', 'YAxisPredictionBar')
        .attr('transform', `translate(${this.XAxis(0) + this.chartMargin.left}, 0)`)
        .call(d3.axisLeft(this.YAxis).tickSize(0))
        .call(g => g.select('.domain', '').remove());
      // appending images
      d3.selectAll('.YAxisPredictionBar > .tick > text').remove();
      d3.selectAll('.YAxisPredictionBar > .tick')
        .data(this.selectedSourceData)
        .append('image')
        .attr('xlink:href', d => `/data/cny-rat/icon/icon-${d.category}.svg`)
        .attr('width', 30)
        .attr('height', 30)
        .attr('transform', 'translate(-15, -10)'); // make it center to the 0 line
      // labels for X Axis
      this.prediction_bar
        .append('image')
        .attr('x', this.XAxis(0.5))
        .attr('y', `${this.height - 12}`)
        .attr('width', 65)
        .attr('height', 8)
        .attr('xlink:href', `/data/cny-rat/arrowhead.svg`)
        .attr('opacity', 1)
        .attr('transform', `translate(${this.chartMargin.left}, 0)`);
      this.prediction_bar
        .append('image')
        .attr('x', this.XAxis(-0.9))
        .attr('y', `${this.height - 12}`)
        .attr('width', 65)
        .attr('height', 8)
        .attr('xlink:href', `/data/cny-rat/arrowhead2.svg`)
        .attr('opacity', 1)
        .attr('transform', `translate(${this.chartMargin.left}, 0)`);
      this.prediction_bar
        .append('text')
        .attr('class', 'label')
        .attr('x', this.XAxis(0.15))
        .attr('y', `${this.height - 5}`)
        .text('Auspicious')
        .attr('font-size', '12px')
        .attr('text-anchor', 'start');
      this.prediction_bar
        .append('text')
        .attr('class', 'label')
        .attr('x', this.XAxis(0))
        .attr('y', `${this.height - 5}`)
        .text('Inauspicious')
        .attr('font-size', '12px')
        .attr('text-anchor', 'end');
    },
    drawBars() {
      const bars = this.prediction_bar
        .selectAll('rect')
        .data(this.selectedSourceData)
        .enter()
        .append('rect')
        .attr('transform', `translate(${this.chartMargin.left}, 12)`)
        .attr('x', d => this.XAxis(Math.min(0, d.ave_sentiment)))
        .attr('y', d => this.YAxis(d.category))
        .attr('height', 45)
        .attr('width', d => Math.abs(this.XAxis(+d.ave_sentiment) - this.XAxis(0)))
        .attr('fill', d => (d.ave_sentiment > 0 ? '#f38063' : '#262e43'));
      // add mouseover on the bars
      bars.on('mouseenter', d => {
        this.predictionCategory = `${d.category.charAt(0).toUpperCase() + d.category.substring(1)}`;
        this.predictionPara = d.prediction;
        this.predictionCategoryIcon = d.category;
      });
      bars.on('mouseenter.mouse', function changePointer() {
        d3.select(this).style('cursor', 'pointer');
      });
      bars.on('mouseleave', () => {
        this.predictionCategory = '';
        this.predictionCategoryIcon = '';
        this.predictionPara = 'Click on the bars to check out the fortunes';
      });
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.cnyfont {
  font-family: 'aglet-sans', sans-serif !important;
  font-weight: 600;
  color: #ca924f;
}

.popupbox {
  background-color: #fbf6f4;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  position: relative;
  top: -10vh;
  margin-bottom: -9vh;
  z-index: 2;

  .popup__paragraph{
    width: 90%;
    margin: 0 auto;
  }

  .predictionpara {
    background-color: #ffba76;
    color: #262e43;;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
  }

  .popup__header, .popup__image, .popup__button, .source {
    text-align: center;

      >>> .v-input__slot {
        border-radius: 8px;
        margin-bottom: 0;
        @media $display-breakpoints.sm-and-down {
          width: 100%;
        }
        width: 70%;
        margin: 0 auto;
      }
    }

      >>> .v-label {
        font-size: 15px !important;
      }
  }

  .popup__chart {
    position: relative;

      @media only screen and (min-width: 600px) {
        #predBarContainer {
          position: absolute;
          top: 50%
          left: 2%
          transform: translate(2%, -50%);
        }
      }
  }

.left {
  display: block;
  float:left;
  width: 60%;
}

.right {
  display: block;
  float: right;
  width: 40%;
  text-align: right;
}
</style>
