<template>
  <div id="top10Container" class="mb-5"> 
    <svg id="top10SVG"/>
    <p class="caption mt-0 pt-0">Source: <a href="https://www.forbes.com/singapore-billionaires/list/#tab:overall)" target="_blank">Forbes</a></p>
    <div id="top10hover">
      <p class="caption ma-0 pa-0"><strong>Net worth:</strong> USD${{ worth }} bil</p>
      <p class="caption ma-0 pa-0"><strong>Year of Birth:</strong> {{ year }} ({{ zodiac }})</p>
      <p class="caption ma-0 pa-0"><strong>Organisation:</strong> {{ organisation }}, {{ industry }}</p>      
    </div>    
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  data() {
    return {
      innerWidth: 600,
      innerHeight: 400,
      worth: '',
      rank: '',
      year: '',
      zodiac: '',
      organisation: '',
      industry: '',
    };
  },
  computed: {
    chartMargin() {
      return { top: 20, right: 10, bottom: 60, left: 65 };
    },
    chartSettings() {
      return {
        width: this.innerWidth + this.chartMargin.left + this.chartMargin.right,
        height: this.innerHeight + this.chartMargin.top + this.chartMargin.bottom,
      };
    },
  },
  async mounted() {
    const forbesdata = await d3.csv('/data/cny-rat/csv/forbes.csv');
    this.formatData(forbesdata);
    this.drawBaseTop10();
  },
  methods: {
    slugify(string) {
      return this.$_.kebabCase(string);
    },
    formatData(data) {
      this.top10 = data.filter(d => d.worth > 2.94);
      this.top10Zodiac = [...new Set(this.top10.map(d => d.zodiac))];
    },
    drawBaseTop10() {
      // draw base
      this.top10SVG = d3.select('#top10SVG');
      this.top10SVG
        .attr('width', this.chartSettings.width)
        .attr('height', this.chartSettings.height)
        .call(this.responsivefy);
      // define and append axes
      this.YAxis = d3
        .scaleBand()
        .domain(this.top10Zodiac)
        .range([this.chartMargin.bottom, this.innerHeight])
        .paddingInner(2);
      this.XAxis = d3
        .scaleLinear()
        .domain([2, 15])
        .range([0, this.innerWidth]);
      this.top10SVG
        .append('g')
        .attr('class', 'XAxis')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.innerHeight + this.chartMargin.top + 20})`)
        .call(
          d3
            .axisBottom(this.XAxis)
            .ticks(6)
            .tickSize(4)
            .tickSizeOuter(0)
        );
      d3.selectAll('.XAxis > .tick line').attr('transform', 'translate(0, -3)');
      this.top10SVG
        .append('g')
        .attr('class', 'YAxis')
        .attr('transform', `translate(0, -${this.chartMargin.bottom / 2})`)
        .call(d3.axisRight(this.YAxis).tickSize(0))
        .call(g => g.select('.domain', '').remove());
      // creating a line
      this.top10SVG
        .append('g')
        .attr('class', 'theline')
        .selectAll('line')
        .data(this.top10)
        .enter()
        .append('line')
        .attr('id', d => `${this.slugify(d.name)}-line`)
        .attr('stroke-width', 1)
        .attr('x1', d => this.XAxis(d.worth))
        .attr('y1', d => this.YAxis(d.zodiac) + 5)
        .attr('x2', d => this.XAxis(d.worth))
        .attr('y2', d => this.YAxis(d.zodiac) + 5)
        .attr('stroke-dasharray', '1, 2')
        .attr('stroke', '#a03e3c')
        .attr('transform', `translate(${this.chartMargin.left}, 0)`);

      // appending label
      this.top10SVG
        .append('text')
        .attr('class', 'label')
        .attr('x', `${this.chartSettings.width / 2}`)
        .attr('y', `${this.chartSettings.height - 3}`)
        .text('Net Worth (billion)')
        .attr('font-size', '12px')
        .attr('text-anchor', 'middle');
      // appending elements
      this.appendFaces();
      this.appendNames();
    },
    appendFaces() {
      // create group for rect
      const faces = this.top10SVG
        .append('g')
        .attr('class', 'therect')
        .selectAll('image')
        .data(this.top10)
        .enter()
        .append('image')
        .attr('id', d => `${this.slugify(d.name)}-face`)
        .attr('width', 60)
        .attr('height', 60)
        .attr('x', d => this.XAxis(d.worth))
        .attr('y', d => this.YAxis(d.zodiac))
        .attr('xlink:href', d => `/data/cny-rat/faces/${this.slugify(d.name)}.svg`)
        .attr('transform', `translate(${this.chartMargin.left - 60 / 2}, -60)`);
      // custom arrangement-face
      d3.select('#khoo-teck-puat-face').attr('transform', `translate(${this.chartMargin.left - 45}, -60)`);
      d3.select('#wee-cho-yaw-face').attr('transform', `translate(${this.chartMargin.left - 15}, -60)`);
      // interactivity line
      faces
        .on('mouseenter.line', d => {
          d3.select(`#${this.slugify(d.name)}-line`)
            .transition('dropdown')
            .duration(500)
            .attr('y1', this.innerHeight + this.chartMargin.bottom - 18);
        })
        .on('mouseleave.line', d => {
          d3.select(`#${this.slugify(d.name)}-line`)
            .transition('removeup')
            .duration(500)
            .attr('y1', this.YAxis(d.zodiac) + 5);
        })
        .on('mouseenter.sentence', d => {
          this.worth = d.worth;
          this.name = d.name;
          this.rank = d.rank;
          this.year = d.year;
          this.zodiac = d.zodiac;
          this.organisation = d.organisation;
          this.industry = d.industry;
        })
        .on('mouseenter.design', function showBox() {
          // move the tooltip to the correct position
          this.selectedCircle = d3
            .select(this)
            .node()
            .getBoundingClientRect();
          this.tooltipWidth = d3
            .select('#top10hover')
            .node()
            .getBoundingClientRect().width;
          this.tooltipHeight = d3
            .select('#top10hover')
            .node()
            .getBoundingClientRect().height;
          this.posLeft =
            this.selectedCircle.left > document.body.clientWidth / 2.25
              ? this.selectedCircle.right - this.tooltipWidth
              : this.selectedCircle.right - this.selectedCircle.height;
          this.posTop = this.selectedCircle.top + window.scrollY - 60 + this.selectedCircle.height;
          const tooltip = d3.select('#top10hover');
          tooltip
            .style('top', `${this.posTop}px`)
            .style('left', `${this.posLeft}px`)
            .style('visibility', 'visible');
        })
        .on('mouseleave.design', () => {
          d3.select('#top10hover').style('visibility', 'hidden');
        });
    },
    appendNames() {
      // text for the names
      this.top10SVG
        .append('g')
        .attr('class', 'thetext')
        .selectAll('text')
        .data(this.top10)
        .enter()
        .append('text')
        .attr('id', d => this.slugify(d.name))
        .attr('class', 'top10names')
        .text(d => d.name)
        .attr('x', d => this.XAxis(d.worth))
        .attr('y', d => this.YAxis(d.zodiac))
        .attr('transform', `translate(65, 15)`)
        .attr('font-size', '10px')
        .attr('text-anchor', 'middle');
      // custom text placement
      d3.select('#wee-cho-yaw')
        .attr('text-anchor', 'start')
        .attr('transform', `translate(52, 15)`);
      d3.select('#khoo-teck-puat')
        .attr('text-anchor', 'end')
        .attr('transform', `translate(48, 15)`);
      d3.select('#eduardo-saverin')
        .attr('text-anchor', 'middle')
        .attr('transform', `translate(53 15)`);
      d3.select('#kwek-leng-beng')
        .attr('text-anchor', 'middle')
        .attr('transform', `translate(75, 15)`);
    },
    responsivefy(svg) {
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style scoped lang="stylus">
@import '~vuetify/src/stylus/settings/_variables';

#top10hover {
  padding: 10px;
  position: absolute;
  visibility: hidden;
  opacity: 1;
  text-align: left;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07), 0px 8px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  @media $display-breakpoints.sm-and-down {
    width: 55%; 
  }  
  width: 15%;
}
</style>
