<template>
  <section class="ghosts-list mt-3">
    <v-container inner>
      <div class="mb-3">
        <i>Delve deeper by clicking on each supernatural entity. Let your imagination run wild and see if they give you the creeps.</i>
      </div>

      <v-container grid-list-xl>
        <v-layout class="wrap align-end text-xs-center">
          <v-flex
            v-for="ghost in ghosts"
            :key="ghost.type"
            xs6
            md4
            class="mb-5"
          >
            <div class="ghost-list__img" @click="showGhost(ghost.type)">
              <img
                :src="`/data/paranormal-sg/img/ghosts/${$_.kebabCase(ghost.type)}.png`"
                :alt="ghost.type"
                class="fluid">
            </div>

            <div>
              <h3 class="body-2 font-paranormal my-3">{{ ghost.type }}</h3>

              <v-btn
                depressed
                color="dark-primary"
                class="btn-ghost ma-0"
                @click="showGhost(ghost.type)"
              >
                <fa-icon :icon="['far', 'plus']" fixed-width /> More info
              </v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-container>

    <GhostPopup
      :show-dialog.sync="showDialog"
      :selected-ghost-type="selectedGhostType"
      :ghosts="ghosts" />
  </section>
</template>

<script>
import * as d3 from 'd3';

import GhostPopup from '@/components/posts/static/paranormal-sg/controllers/GhostPopup';

export default {
  components: {
    GhostPopup,
  },
  data() {
    return {
      showDialog: false,
      selectedGhostType: '',
      ghosts: [],
    };
  },
  async mounted() {
    // fetch ghosts data
    this.ghosts = await d3.csv('/data/paranormal-sg/csv/ghosts.csv');
  },
  methods: {
    showGhost(ghostType) {
      this.showDialog = true;
      this.selectedGhostType = ghostType;

      // this.selectedGhostType = this.ghosts.find(ghost => ghost.type === ghostType);
    },
  },
};
</script>

<style lang="stylus" scoped>
.ghost-list__img {
  cursor: pointer;
}

.btn-ghost {
  height: 40px !important;
  padding: 0 24px;
}
</style>
