<template>
  <section class="ghosts-header mb-5">
    <v-container inner>
      <v-layout wrap>
        <v-flex xs12>
          <div class="text-xs-center my-5">
            <h4 class="body-2 font-paranormal">Chapter two</h4>

            <h1 class="display-2 font-paranormal dark-primary--text text-uppercase">Types of Ghosts</h1>
          </div>
        </v-flex>

        <v-flex xs12>
          <div class="mb-5">
            <p class="body-2">
              Here are the six scariest entities in Asia according to Eugene. Folklore and legends of these beings vary across cultures, and this is simply his version of the story, based on interviews with experts and confessors.
            </p>
          </div>
        </v-flex>

        <v-flex xs12 class="navbar-trigger">
          <AudioPlayer :audio-url="'/data/paranormal-sg/audio/chapter-ghosts.mp3'" />
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
import AudioPlayer from '@/components/posts/static/paranormal-sg/ui/AudioPlayer';

export default {
  components: {
    AudioPlayer,
  },
};
</script>
