/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * www.kontinentalist.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2018
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 * You can use either the complete or subsetted fonts:
 * If you don’t require the entire range of characters, you can use the smaller, subsetted webfonts instead.
 * See "Glyphs & Languages" for an overview of the characters in the corresponding html file in the root directory of this package.
 *
 */


/* Complete */

@font-face {
  font-family: "LL Akkurat Pro";
  src: url("~/assets/fonts/lineto-akkurat-pro-bold.eot");
  src: url("~/assets/fonts/lineto-akkurat-pro-bold.eot?#iefix") format("embedded-opentype"),
       url("~/assets/fonts/lineto-akkurat-pro-bold.woff2") format("woff2"),
       url("~/assets/fonts/lineto-akkurat-pro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LL Akkurat Pro";
  src: url("~/assets/fonts/lineto-akkurat-pro-bolditalic.eot");
  src: url("~/assets/fonts/lineto-akkurat-pro-bolditalic.eot?#iefix") format("embedded-opentype"),
       url("~/assets/fonts/lineto-akkurat-pro-bolditalic.woff2") format("woff2"),
       url("~/assets/fonts/lineto-akkurat-pro-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "LL Akkurat Pro";
  src: url("~/assets/fonts/lineto-akkurat-pro-italic.eot");
  src: url("~/assets/fonts/lineto-akkurat-pro-italic.eot?#iefix") format("embedded-opentype"),
       url("~/assets/fonts/lineto-akkurat-pro-italic.woff2") format("woff2"),
       url("~/assets/fonts/lineto-akkurat-pro-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "LL Akkurat Pro";
  src: url("~/assets/fonts/lineto-akkurat-pro-light.eot");
  src: url("~/assets/fonts/lineto-akkurat-pro-light.eot?#iefix") format("embedded-opentype"),
       url("~/assets/fonts/lineto-akkurat-pro-light.woff2") format("woff2"),
       url("~/assets/fonts/lineto-akkurat-pro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "LL Akkurat Pro";
  src: url("~/assets/fonts/lineto-akkurat-pro-lightitalic.eot");
  src: url("~/assets/fonts/lineto-akkurat-pro-lightitalic.eot?#iefix") format("embedded-opentype"),
       url("~/assets/fonts/lineto-akkurat-pro-lightitalic.woff2") format("woff2"),
       url("~/assets/fonts/lineto-akkurat-pro-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "LL Akkurat Pro";
  src: url("~/assets/fonts/lineto-akkurat-pro-regular.eot");
  src: url("~/assets/fonts/lineto-akkurat-pro-regular.eot?#iefix") format("embedded-opentype"),
       url("~/assets/fonts/lineto-akkurat-pro-regular.woff2") format("woff2"),
       url("~/assets/fonts/lineto-akkurat-pro-regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Averta */
@font-face {
  font-family: 'Averta';
  src: url('~/assets/fonts/averta-regular-webfont.eot');
  src: url('~/assets/fonts/averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/averta-regular-webfont.woff2') format('woff2'),
  url('~/assets/fonts/averta-regular-webfont.woff') format('woff'),
  url('~/assets/fonts/averta-regular-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('~/assets/fonts/averta-semibold-webfont.eot');
  src: url('~/assets/fonts/averta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/averta-semibold-webfont.woff2') format('woff2'),
  url('~/assets/fonts/averta-semibold-webfont.woff') format('woff'),
  url('~/assets/fonts/averta-semibold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url('~/assets/fonts/averta-regularitalic-webfont.eot');
  src: url('~/assets/fonts/averta-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/averta-regularitalic-webfont.woff2') format('woff2'),
  url('~/assets/fonts/averta-regularitalic-webfont.woff') format('woff'),
  url('~/assets/fonts/averta-regularitalic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url('~/assets/fonts/averta-semibolditalic-webfont.eot');
  src: url('~/assets/fonts/averta-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/averta-semibolditalic-webfont.woff2') format('woff2'),
  url('~/assets/fonts/averta-semibolditalic-webfont.woff') format('woff'),
  url('~/assets/fonts/averta-semibolditalic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* BuenosAires */
@font-face {
  font-family: 'Buenos Aires';
  src: url('~/assets/fonts/BuenosAiresTrialWeb-Bold.eot');
  src: url('~/assets/fonts/BuenosAiresTrialWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('~/assets/fonts/BuenosAiresTrialWeb-Bold.woff2') format('woff2'),
       url('~/assets/fonts/BuenosAiresTrialWeb-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
