<template>
  <div v-scroll="onScroll" class ="post-static">
    <div class="static-post">
      <Landing :post="post" :post-tags="postTags" />
      <LeadingSentence :post="post" />
      <Section1Consumption/>
      <Section2Brand/>
      <Section3TypeFlavourPortion/>
      <Section4Affordability/>
      <Section5Top10/>
      <Conclusion/>
      <References :footer-data="footerData" />
    </div>

    <PostListAside :post="{id: footerData.post.id, categoryId: footerData.post.categoryId}" />
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

// components
import Landing from '@/components/posts/static/instant-noodles/views/Landing';
import LeadingSentence from '@/components/posts/static/instant-noodles/views/LeadingSentence';
import Section1Consumption from '@/components/posts/static/instant-noodles/views/Section1Consumption';
import Section2Brand from '@/components/posts/static/instant-noodles/views/Section2Brand';
import Section3TypeFlavourPortion from '@/components/posts/static/instant-noodles/views/Section3TypeFlavourPortion';
import Section4Affordability from '@/components/posts/static/instant-noodles/views/Section4Affordability';
import Section5Top10 from '@/components/posts/static/instant-noodles/views/Section5Top10';
import Conclusion from '@/components/posts/static/instant-noodles/views/Conclusion';
import References from '@/components/posts/static/instant-noodles/views/References';

import PostListAside from '@/components/posts/regular/PostListAside';

export default {
  layout: 'singlePost',
  components: {
    Landing,
    LeadingSentence,
    Section1Consumption,
    Section2Brand,
    Section3TypeFlavourPortion,
    Section4Affordability,
    Section5Top10,
    Conclusion,
    References,
    PostListAside,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      lastPos: 0,
    };
  },
  computed: {
    featuredImageUrls() {
      return (
        (this.post &&
          this.post._embedded &&
          this.post._embedded['wp:featuredmedia'] &&
          this.post._embedded['wp:featuredmedia'][0] &&
          this.post._embedded['wp:featuredmedia'][0].source_urls) || { src: '', webp: '', jpeg: '' }
      );
    },
    postTags() {
      return `${this.post._embedded['wp:term'][0][0].name} / ${this.post._embedded['wp:term'][2][0].name}`;
    },
    footerData() {
      return {
        post: {
          id: this.post.id,
          categoryId: this.post.categories[0],
          title: this.post.title.raw,
        },
        references: this.post.acf.story_references,
        topics: this.post._embedded['wp:term'][1],
      };
    },
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'static');
  },
  mounted() {
    this.$FB.init();
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  methods: {},
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(
      `posts?slug=we-are-just-that-into-mie-asia-s-obsession-with-instant-noodles&_embed`
    );

    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    return { post };
  },
  head() {
    return {
      title: this.post.title.raw,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.post.title.raw },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: `${this.$nuxt.$store.getters.meta.canonicalURL}/data/instant-noodles/seothumbnail.png`,
        },
      ],
      link: [
        { rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL },
        { rel: 'stylesheet', href: 'https://use.typekit.net/yfo1qzm.css' },
      ],
    };
  },
};
</script>

<style>
.tick line {
  stroke: lightgrey;
  stroke-opacity: 0.8;
  shape-rendering: crispEdges;
}

.tick path {
  stroke-width: 0;
}

text {
  font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
}
</style>
