<template>
  <div class="sticky-container">
    <!-- tooltip -->
    <v-card :style="chartTooltip.width" class="tooltip-card">
      <v-card-text style="font-size: 12px;">
        <h3 class="font-weight-bold mb-2">{{ currentFilm.title }}</h3>

        <ul class="film-ethnicities-list list--none">
          <li class="mb-2">{{ chartTooltip.data.directors }}</li>
          <li class="mb-2">Gross: {{ currentFilm.gross }} million</li>
          <li class="mb-2">IMDb rating: {{ currentFilm['IMDb rating'] }}/10</li>
          <li>
            Starring cast:
            <v-layout column>
              <v-flex class="mt-2">
                <v-layout align-center>
                  <v-flex md4><span class="font-weight-bold">{{ parseFloat(currentFilm.white) }}% White</span></v-flex>
                  <v-flex md8><div :style="{width: currentFilm.white }" class="ethnic-cast ethnic--white" /></v-flex>
                </v-layout>
              </v-flex>

              <v-flex class="mt-2">
                <v-layout align-center>
                  <v-flex md4><span class="font-weight-bold">{{ parseFloat(currentFilm.black) }}% Black</span></v-flex>
                  <v-flex md8><div :style="{width: currentFilm.black }" class="ethnic-cast ethnic--black" /></v-flex>
                </v-layout>
              </v-flex>

              <v-flex class="mt-2">
                <v-layout align-center>
                  <v-flex md4><span class="font-weight-bold">{{ parseFloat(currentFilm.asian) }}% Asian</span></v-flex>
                  <v-flex md8><div :style="{width: currentFilm.asian }" class="ethnic-cast ethnic--asian" /></v-flex>
                </v-layout>
              </v-flex>

              <v-flex class="mt-2">
                <v-layout align-center>
                  <v-flex md4><span class="font-weight-bold">{{ parseFloat(currentFilm.others) }}% Others</span></v-flex>
                  <v-flex md8><div :style="{width: currentFilm.others }" class="ethnic-cast ethnic--others" /></v-flex>
                </v-layout>
              </v-flex>

            </v-layout>
          </li>
        </ul>
      </v-card-text>
    </v-card>

    <!-- additional UIs -->
    <div v-show="!($vuetify.breakpoint.smAndDown && (step === '1-18' || step === '1-19' || step === '1-20'))" class="ui-container">
      <!-- cast legend -->
      <LegendCast :step="step" />

      <FilterMovies
        :step="step"
        :genres="genres"
        :selected-sort="selectionDropdown.sortBy"
        :selected-genre="selectionDropdown.genre"
        :selected-race="selectionDropdown.directorRace"
        @select-sort="handleSelectionDropdown('sort', $event)"
        @select-genre="handleSelectionDropdown('filter-genre', $event)"
        @select-director-race="handleSelectionDropdown('filter-d-race', $event)" />
    </div>
  </div>
</template>

<script>
import * as d3 from 'd3';

// components
import LegendCast from '@/components/posts/static/asian-representation-in-movies/ui/LegendCast';
import FilterMovies from '@/components/posts/static/asian-representation-in-movies/ui/FilterMovies';

export default {
  components: {
    LegendCast,
    FilterMovies,
  },
  props: {
    step: {
      type: String,
      required: true,
    },
    direction: {
      type: String,
      required: true,
    },
    activeActor: {
      type: String,
      required: true,
    },
    selectedSort: {
      type: String,
      required: true,
    },
    selectedGenre: {
      type: String,
      required: true,
    },
    selectedRace: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      sortedData: null,
      genres: [],
      gChart: null,
      // chartMargin: { top: 16, right: 72, bottom: 16, left: 16 },
      chartScale: { x: null, y: null },
      currentFilm: {
        directors: '',
      },
      transitionSettings: {
        year: 1997,
      },
      annotations: {
        '1-1': ['Each rectangle', 'represents a', 'blockbuster movie'],
        '1-1-2': ['The thicker the', 'rectangle, the higher', 'the profit'],
        '1-2': ['We color each movie by the', 'percentage of white and non-white', 'starring cast in the movie'],
        '1-7': [
          {
            title: 'The Last Airbender',
            note: ['Noah Ringer and Nicola Peltz play', 'Aang and Katara respectively.'],
          },
          { title: 'The Lone Ranger', note: false },
          { title: 'Exodus: Gods and Kings', note: false },
          { title: 'Gods of Egypt', note: false },
          {
            title: 'Doctor Strange',
            note: ['Tilda Swinton as the Ancient One,', 'originally a Tibetan male mystic in', 'the comic series.'],
          },
          {
            title: 'Ghost in the Shell',
            note: [
              'Scarlett Johansson received much flak for her',
              'portrayal of cyborg Motoko Kusanagi in “Ghost',
              'in the Shell”, where she was digitally altered',
              'to look more Asian.',
            ],
          },
          {
            title: 'Power Rangers',
            note: [
              'Elizabeth Banks plays the villain Rita Repulsa,',
              'originally an Asian character in Mighty Morphin',
              'Power Rangers.',
            ],
          },
        ],
      },
      fantasyHighlights: {
        asianMyth: [
          'Baahubali 2: The Conclusion',
          'Journey to the West: The Demons Strike Back',
          'The Monkey King 2',
          'Princess Mononoke',
          'The Monkey King 3',
        ],
        wuxia: ['The Forbidden Kingdom', 'Crouching Tiger, Hidden Dragon'],
        setInAsia: ['The Mummy: Tomb of the Dragon Emperor', "Pirates of the Caribbean: At World's End"],
      },
      selectionDropdown: {
        sortBy: 'gross',
        genre: 'all',
        directorRace: 'all',
      },
    };
  },
  computed: {
    chartMargin() {
      if (this.$vuetify.breakpoint.smAndDown) {
        return { top: 16, right: 16, bottom: 16, left: 0 };
      }

      return { top: 16, right: 72, bottom: 16, left: 16 };
    },
    chartSettings() {
      return {
        width: this.$el.clientWidth - this.chartMargin.left - this.chartMargin.right,
        height: this.$el.clientHeight - this.chartMargin.top - this.chartMargin.bottom,
      };
    },
    chartTooltip() {
      return {
        width: { width: this.chartScale.x ? `${this.chartScale.x.bandwidth() * 8}px` : 'auto' },
        data: {
          directors: `${this.currentFilm.directors.split(',').length > 1 ? 'Directors' : 'Director'}: ${
            this.currentFilm.directors
          }`,
        },
      };
    },
  },
  watch: {
    step(currentStep) {
      if (this.$vuetify.breakpoint.smAndDown) {
        this.handleViewMobile(currentStep);
      } else {
        this.handleView(currentStep);
      }
    },
    activeActor(actor) {
      this.handleActorFilter(actor);
    },
    selectedSort(val) {
      this.handleSelectionDropdown('sort', val);
    },
    selectedGenre(val) {
      this.handleSelectionDropdown('filter-genre', val);
    },
    selectedRace(val) {
      this.handleSelectionDropdown('filter-d-race', val);
    },
  },
  async mounted() {
    // fetch csv data
    const rawData = await d3.csv('/data/asian-representation-in-movies/films.csv');

    // extract out genres
    const genres = [];
    rawData.forEach(d => {
      genres.push(...d.genre.split(', '));
    });
    this.genres = [...new Set(genres.map(g => g.trim()))].sort();

    this.$emit('genres', this.genres);

    // format raw data and sort by default settings
    const formattedRawData = this.formatRawData(rawData);
    this.sortedData = this.sortData(formattedRawData);

    // draw base chart
    this.gChart = this.drawSVG();

    // create and raw scales and axes
    // draw axes and label
    this.drawAxes();
  },
  methods: {
    formatRawData(data) {
      // reverse the data - order by 1997<
      data.reverse();

      // format data
      data.forEach(d => {
        // create new directors field
        const directors = [d['Director 1'], d['Director 2'], d['Director 3']].filter(director => director !== '');
        d.directors = directors.join(', ');

        // format directors' race
        const race1 = d['Race of D1'] === '' ? 'White' : d['Race of D1'];
        const dRace = [race1];

        if (d['Director 2'] !== '') {
          const race2 = d['Race of D2'] === '' ? 'White' : d['Race of D2'];
          dRace.push(race2);

          if (d['Director 3'] !== '') {
            const race3 = d['Race of D3'] === '' ? 'White' : d['Race of D3'];
            dRace.push(race3);
          }
        }
        d['Directors Race'] = dRace.join(', ');

        // arrange all casts into an object
        d.casts = {
          asian: d['asian cast'].split(', '),
          black: d['black cast'].split(', '),
          white: d['white cast'].split(', '),
          others: d['others cast'].split(', '),
        };

        // format data types
        d.year = +d.year;
        d.gross = +d.gross;
        d['IMDb rating'] = +d['IMDb rating'];
      });

      return data;
    },
    sortData(data) {
      // default sort - group by year -> descending gross
      const sortedData = this.$_.groupBy(data, 'year');

      d3.values(sortedData).forEach(films => {
        films.sort((a, b) => b.gross - a.gross);
      });

      return sortedData;
    },
    createAxes() {
      // create x-axis scale
      this.chartScale.x = d3
        .scaleBand()
        .domain(d3.keys(this.sortedData))
        .range([0, this.chartSettings.width])
        .paddingInner(0.2)
        .paddingOuter(0.2);

      // create y-axis scale
      this.chartScale.y = d3
        .scaleLinear()
        .domain([0, 30000])
        .range([this.chartSettings.height, 0]);

      // create axis
      const xAxis = d3
        .axisBottom()
        .tickSize(0)
        .tickPadding(5)
        .scale(this.chartScale.x);

      const yAxis = d3
        .axisRight()
        .ticks(5)
        .scale(this.chartScale.y);

      if (this.$vuetify.breakpoint.smAndDown) {
        // mobile
        xAxis.tickValues([1997, 2018]);
        yAxis.tickValues([0, 30000]);
      }

      return { xAxis, yAxis };
    },
    drawSVG() {
      // draw svg
      const gChart = d3
        .select(this.$el)
        .append('svg')
        .attr('width', this.$el.clientWidth)
        .attr('height', this.$el.clientHeight)
        .call(this.responsivefy) // takes care of responsive d3
        .append('g')
        .attr('class', 'chart-container')
        .attr('transform', `translate(${this.chartMargin.left}, ${this.chartMargin.top})`);

      return gChart;
    },
    drawAxes() {
      // create axes
      const { xAxis, yAxis } = this.createAxes();

      // draw axes
      this.gChart
        .append('g')
        .attr('class', 'axis x-axis')
        .attr('transform', `translate(0, ${this.chartSettings.height})`)
        .call(xAxis)
        .append('line')
        .attr('x1', 0)
        .attr('x2', this.chartSettings.width)
        .attr('y1', 0)
        .attr('y2', 0);

      this.gChart
        .append('g')
        .attr('class', 'axis y-axis')
        .attr('transform', `translate(${this.chartSettings.width}, 0)`)
        .call(yAxis);

      if (this.$vuetify.breakpoint.smAndDown) {
        // rotate y-axis tick label
        d3.select('.axis.y-axis')
          .selectAll('text')
          .attr('x', 0)
          .attr('y', -9)
          .attr('transform', 'rotate(90)');
      }

      // draw y-axis text label
      const gYAxisLabel = this.gChart.append('g').attr('class', 'axis axis-label font-weight-bold');

      gYAxisLabel
        .append('text')
        .attr('x', 0)
        .attr('y', -9)
        .attr('dy', '0.35em')
        .attr('transform', 'rotate(90)')
        .style('text-anchor', 'middle')
        .text('Gross (Million USD)');

      // transform text label based on text height
      const textLabelWidth = gYAxisLabel
        .select('text')
        .node()
        .getComputedTextLength();

      // text label position
      const gYAxisLabelPosX = this.$vuetify.breakpoint.smAndDown
        ? this.chartSettings.width
        : this.chartSettings.width + this.chartMargin.right * 0.75;

      const gYAxisLabelPosY = this.$vuetify.breakpoint.smAndDown
        ? (this.chartSettings.height - this.chartMargin.top) / 2
        : (this.chartSettings.height + this.chartMargin.top) / 2 - textLabelWidth * 0.75;

      gYAxisLabel.attr('transform', `translate(${gYAxisLabelPosX}, ${gYAxisLabelPosY})`);
    },
    drawBars(transition = false) {
      let transitionCount = 0;

      // bar container group
      const gBarChart = this.gChart.append('g').attr('class', 'bars-container');

      // bar year group
      const gBars = gBarChart
        .selectAll('.bars')
        .data(d3.entries(this.sortedData))
        .enter()
        .append('g')
        .attr('class', d => `bars bars-${d.key}`)
        .attr('transform', d => `translate(${this.chartScale.x(d.key)}, 0)`);

      // loop through each year
      gBars.each(({ key: year, value: films }) => {
        // calculate the stacked bars height
        let totalGross = 0;

        // each film (rect)
        const allBars = d3
          .select(`.bars-${year}`)
          .selectAll('rect')
          .data(films)
          .enter()
          .append('rect')
          .attr('y', (film, i) => {
            totalGross = i === 0 ? 0 : totalGross + film.gross;

            return this.chartScale.y(totalGross);
          })
          .attr('width', this.chartScale.x.bandwidth())
          .on('mouseenter', this.handleTooltipShow)
          .on('mouseleave', this.handleTooltipHide);

        if (this.$vuetify.breakpoint.smAndDown) {
          allBars.on('mouseenter', null).on('mouseleave', null);
        }

        if (transition) {
          let transitionTotalGross = 0;

          allBars
            .attr('height', 0)
            .transition()
            .duration(1000)
            .attr('height', film => this.chartSettings.height - this.chartScale.y(film.gross))
            .attr('y', film => {
              transitionTotalGross += film.gross;

              return this.chartScale.y(transitionTotalGross);
            })
            .on('end', () => {
              if (!this.$vuetify.breakpoint.smAndDown) {
                transitionCount++;
                if (transitionCount >= 1251) {
                  this.drawAnnotations();
                }
              }
            });
        } else {
          allBars.attr('height', film => this.chartSettings.height - this.chartScale.y(film.gross));
        }
      });
    },
    drawAnnotations(step = '1-1') {
      // remove group first
      d3.selectAll('g.annotations').remove();

      if (step !== '1-7') {
        // draw master group annotation
        const gAnnotations = this.gChart.append('g').attr('class', 'annotations');

        // draw group annotation connector and note
        const annoConnector = gAnnotations.append('g').attr('class', 'annotations-connector');
        const annotations = gAnnotations.append('g').attr('class', 'annotations-note');

        // create arrowhead shape
        const symbolGenerator = d3
          .symbol()
          .type(d3.symbolTriangle)
          .size(12);

        // select last rect of bar-2012
        const bars2012 = this.gChart
          .select('.bars-container')
          .select('.bars-2012')
          .selectAll('rect');

        const bars2012Highest = bars2012.filter((d, i) => i === bars2012.size() - 1);
        const posY = +bars2012Highest.attr('y') + parseFloat(bars2012Highest.attr('height') / 2);

        // position annotation group
        gAnnotations.attr('transform', `translate(${this.chartScale.x(2012)}, ${posY})`);

        // draw connector line and arrowhead
        annoConnector
          .append('line')
          .attr('stroke', '#000')
          .attr('x1', -this.chartScale.x.bandwidth() * 1.5)
          .attr('x2', 0)
          .attr('y1', 0)
          .attr('y2', 0);

        annoConnector
          .append('path')
          .attr('class', 'arrowhead')
          .attr('d', symbolGenerator())
          .attr('transform', `translate(${-this.chartScale.x.bandwidth() * 1.5}, 0) rotate(-90)`);

        // annotate note
        const annotTexts = annotations
          .attr('transform', `translate(${-this.chartScale.x.bandwidth() * 1.5 - 10}, 0)`)
          .append('text')
          .attr('class', 'font-weight-bold')
          .style('text-anchor', 'end');

        // get the array of texts
        const noteTexts = this.annotations[step];

        annotTexts
          .selectAll('tspan')
          .data(noteTexts)
          .enter()
          .append('tspan')
          .attr('x', 0)
          .attr('dy', (d, i) => (i === 0 ? '0.5em' : '1.5em'))
          .text(d => d);

        if (step === '1-1') {
          // draw second annotation
          const gAnnotations2 = this.gChart.append('g').attr('class', 'annotations');
          const annoConnector2 = gAnnotations2.append('g').attr('class', 'annotations-connector');
          const annotations2 = gAnnotations2.append('g').attr('class', 'annotations-note');

          // select first rect of bar-2012
          const firstBar2012 = this.gChart
            .select('.bars-container')
            .select('.bars-2012')
            .selectAll('rect')
            .filter((d, i) => i === 0);

          // position annotation group
          gAnnotations2.attr('transform', `translate(${this.chartScale.x(2012)}, ${firstBar2012.attr('y')})`);

          // draw connector line and arrowhead
          const connectorLine = annoConnector2
            .attr('transform', `translate(-4.25, 0)`)
            .append('line')
            .attr('stroke', '#000');

          const arrow2Up = annoConnector2
            .append('path')
            .attr('class', 'arrowhead')
            .attr('d', symbolGenerator());

          const arrow2Down = annoConnector2
            .append('path')
            .attr('class', 'arrowhead')
            .attr('d', symbolGenerator());

          // get triangle symbol size
          const arrowSize = arrow2Up.node().getBBox();

          // position connector
          connectorLine
            .attr('x1', 0)
            .attr('x2', 0)
            .attr('y1', arrowSize.height)
            .attr('y2', +firstBar2012.attr('height') - arrowSize.height);

          arrow2Up.attr('transform', `translate(0, ${arrowSize.height})`);
          arrow2Down.attr('transform', `translate(0, ${+firstBar2012.attr('height') - arrowSize.height}) rotate(180)`);

          // annotate note
          const annot2Texts = annotations2
            .append('text')
            .attr('class', 'font-weight-bold')
            .style('text-anchor', 'end');

          annot2Texts
            .selectAll('tspan')
            .data(this.annotations['1-1-2'])
            .enter()
            .append('tspan')
            .attr('x', 0)
            .attr('dy', (d, i) => (i === 0 ? '0.5em' : '1.5em'))
            .text(d => d);

          // get textbox size
          const annot2TextHeight = annot2Texts.node().getBBox().height;

          annotations2.attr('transform', `translate(-14.25, ${+firstBar2012.attr('height') - annot2TextHeight})`);
        }
      } else {
        // filter selected films
        const selectedFilms = d3
          .selectAll('.bars')
          .selectAll('rect')
          .filter(d => this.annotations['1-7'].some(sfilm => sfilm.title === d.title && sfilm.note));

        let filmsCount = 2;

        selectedFilms.each(sFilm => {
          filmsCount++;

          // draw annotation, connector, background, text groups
          const gAnnotations = this.gChart.append('g').attr('class', 'annotations');
          const gConnectors = gAnnotations.append('g').attr('class', 'annotations-connector');
          const gAnnotText = gAnnotations.append('g').attr('class', 'annotations-note');
          const gAnnotBG = gAnnotText.append('g').attr('class', 'annotations-background');

          const currentFilm = selectedFilms.filter(d => d.title === sFilm.title);
          const posY = +currentFilm.attr('y') + parseFloat(currentFilm.attr('height') / 2);

          // position annotation group
          gAnnotations.attr('transform', `translate(${this.chartScale.x(sFilm.year)}, ${posY})`);

          // calculate y1 coordinates
          const radius =
            filmsCount % 3 === 0 ? -this.chartScale.x.bandwidth() * 1.5 : -this.chartScale.x.bandwidth() * 3;
          const angle = filmsCount % 3 === 0 ? -15 : 67.5;
          const coordY = -Math.sin(angle * (Math.PI / 180)) * radius;
          const coordX = Math.cos(angle * (Math.PI / 180)) * radius;

          // draw dotted line
          gConnectors
            .append('line')
            .attr('stroke', '#000')
            .attr('stroke-dasharray', '2')
            .attr('x1', coordX)
            .attr('x2', 0)
            .attr('y1', coordY)
            .attr('y2', 0);

          // draw notes
          const txtNode = gAnnotText.append('text').attr('fill', '#fff');

          txtNode
            .append('tspan')
            .attr('x', 16)
            .attr('y', 16)
            .attr('dy', '0.5em')
            .attr('class', 'font-weight-bold')
            .text(`${sFilm.title} (${sFilm.year})`);

          // get text
          const text = this.annotations['1-7'].find(film => film.title === sFilm.title);

          txtNode
            .selectAll('tspan.note')
            .data(text.note)
            .enter()
            .append('tspan')
            .attr('x', 16)
            .attr('dy', '1.5em')
            .text(d => d);

          // draw rect
          const textBoxSize = txtNode.node().getBBox();

          const textPosY = (textBoxSize.height + 32) / 2 - coordY;

          gAnnotBG
            .append('rect')
            .attr('x', 0)
            .attr('y', 0)
            .attr('width', textBoxSize.width + 32)
            .attr('height', textBoxSize.height + 16)
            .attr('fill', '#4C4C4C');

          // pos note group correctly
          gAnnotText.attr('transform', `translate(${coordX - textBoxSize.width - 32}, ${-textPosY})`);
        });
      }
    },
    drawAreaOverlays() {
      const areaData = [];

      const gBars = d3.selectAll('.bars');

      gBars.each(({ key: year, value: films }) => {
        // filter films that are 100% white
        const whiteFilms = films.filter(d => parseFloat(d.white) === 100);

        // the stacked height of 100% white films
        const totalGrossWhite = d3.sum(whiteFilms, d => d.gross);

        // add to area data
        areaData.push({ year, totalGrossWhite });
      });

      // create area generators
      const areaWhite = d3
        .area()
        .x((d, i) => {
          let x = this.chartScale.x(d.year) + this.chartScale.x.bandwidth() / 2;

          if (i === 0) {
            x = this.chartScale.x(d.year);
          } else if (i === 21) {
            x = this.chartScale.x(d.year) + this.chartScale.x.bandwidth();
          }
          return x;
        })
        .y0(this.chartScale.y(0))
        .y1(d => this.chartScale.y(d.totalGrossWhite))
        .curve(d3.curveCatmullRom.alpha(0.5));

      const areaNonWhite = d3
        .area()
        .x((d, i) => {
          let x = this.chartScale.x(d.year) + this.chartScale.x.bandwidth() / 2;

          if (i === 0) {
            x = this.chartScale.x(d.year);
          } else if (i === 21) {
            x = this.chartScale.x(d.year) + this.chartScale.x.bandwidth();
          }
          return x;
        })
        .y0(d => this.chartScale.y(d.totalGrossWhite))
        .y1(d => {
          // select current bar highest height
          const posY = d3
            .select(`.bars-${d.year}`)
            .selectAll('rect')
            .filter((film, i, arr) => i === arr.length - 1)
            .attr('y');

          return posY;
        })
        .curve(d3.curveCatmullRom.alpha(0.5));

      // draw area path
      const gArea = this.gChart.append('g').attr('class', 'area-container');

      // white area chart
      const gAreaWhite = gArea.append('g').attr('class', 'area-white');

      // non-white area chart
      const gAreaNonWhite = gArea.append('g').attr('class', 'area-nonwhite');

      // draw the charts
      gAreaWhite
        .append('path')
        .datum(areaData)
        .attr('fill', 'rgba(218, 221, 231, 0.4)')
        .attr('d', areaWhite);

      gAreaNonWhite
        .append('path')
        .datum(areaData)
        .attr('fill', 'rgba(85, 36, 86, 0.4)')
        .attr('d', areaNonWhite);

      // add text onto charts
      gAreaWhite
        .append('g')
        .attr('class', 'text-container font-weight-bold')
        .append('text')
        .attr('fill', '#000')
        .text('Movies with all-white cast');

      gAreaNonWhite
        .append('g')
        .attr('class', 'text-container font-weight-bold')
        .append('text')
        .attr('fill', '#fff')
        .text('Movies with minority cast');

      // text alignment
      if (this.$vuetify.breakpoint.smAndDown) {
        // adjust text font-size
        d3.select('.area-container')
          .selectAll('text')
          .style('font-size', '10px');

        // position text
        gAreaWhite
          .select('g.text-container')
          .attr(
            'transform',
            `translate(${this.chartScale.x(2005) + this.chartScale.x.bandwidth() / 2}, ${this.chartScale.y(2500)})`
          );

        gAreaNonWhite
          .select('g.text-container')
          .attr(
            'transform',
            `translate(${this.chartScale.x(2006) + this.chartScale.x.bandwidth() / 2}, ${this.chartScale.y(12500)})`
          );
      } else {
        // position text
        gAreaWhite
          .select('g.text-container')
          .attr(
            'transform',
            `translate(${this.chartScale.x(2005) + this.chartScale.x.bandwidth() / 2}, ${this.chartScale.y(2500)})`
          );

        gAreaNonWhite
          .select('g.text-container')
          .attr(
            'transform',
            `translate(${this.chartScale.x(2005) + this.chartScale.x.bandwidth() / 2}, ${this.chartScale.y(10000)})`
          );
      }
    },
    handleTooltipShow(film) {
      const tooltip = d3.select('.tooltip-card');
      const tooltipHeight = parseFloat(tooltip.style('height'));

      // calculate tooltip position
      const posX =
        film.year > 2006
          ? this.chartScale.x(film.year) - this.chartScale.x.bandwidth() * 8
          : this.chartScale.x(film.year) + this.chartScale.x.bandwidth() * 1.5;

      const posY =
        +d3.event.target.attributes.y.value + tooltipHeight > this.chartSettings.height
          ? this.chartSettings.height - tooltipHeight
          : +d3.event.target.attributes.y.value;

      // move tooltip
      tooltip.style('top', `${posY}px`).style('left', `${posX}px`);

      // create transition
      const tooltipTransit = d3
        .transition()
        .duration(250)
        .ease(d3.easeLinear);

      // fade tooltip in
      tooltip.transition(tooltipTransit).style('opacity', 1);

      // highlight current bar
      d3.select(d3.event.target).classed('active', true);

      // update current film data
      this.currentFilm = film;
    },
    handleTooltipHide() {
      // hide tooltip
      const tooltip = d3.select('.tooltip-card');

      // create transition
      const tooltipTransit = d3
        .transition()
        .duration(500)
        .ease(d3.easeLinear);

      // fade tooltip out
      tooltip
        .transition(tooltipTransit)
        .style('opacity', 0)
        .style('top', 0)
        .style('left', 0);

      // unhighlight current bar
      d3.select(d3.event.target).classed('active', false);
    },
    handleTransition() {
      const transitionBars = d3.select(`.bars-${this.transitionSettings.year}`).selectAll('rect');
      let transitionDone = 0;
      let totalGross = 0;

      if (this.transitionSettings.year > 2018) {
        switch (this.step) {
          case '1-1':
            this.drawAnnotations();
            break;

          case '1-8':
            this.handleColorLayer('1-8');
            break;

          default:
            break;
        }
      } else {
        // animate the bars
        transitionBars
          .transition()
          .duration(250)
          .delay((d, i) => i * 4)
          .attr('y', film => {
            totalGross += film.gross;

            return this.chartScale.y(totalGross);
          })
          .attr('height', film => this.chartSettings.height - this.chartScale.y(film.gross))
          .on('end', () => {
            transitionDone += 1;

            if (transitionDone === Math.floor(transitionBars.size() * 0.03)) {
              // next year
              this.transitionSettings.year += 1;
              this.handleTransition();
            }
          });
      }
    },
    handleActorFilter(actor) {
      const allBars = d3.selectAll('.bars').selectAll('rect');

      const actorsColor = {
        'Jackie Chan': '#C10707',
        'Michelle Yeoh': '#FFAA8F',
        'Jet Li': '#FF3C77',
        'Chow Yun-fat': '#FF3D00',
        'Maggie Q': '#FFABA6',
        'Samuel L. Jackson': '#2E2938',
        'Morgan Freeman': '#282DA7',
        'Dwayne Johnson': '#7D62D8',
        'Jamie Foxx': '#8594DB',
        'Laurence Fishburne': '#3C6392',
        'Will Smith': '#663C69',
        'Eddie Murphy': '#9E1CCC',
      };

      if (actor) {
        if (this.step === '1-3') {
          // asian casts
          allBars
            .filter(d => d.casts.asian.includes(actor))
            .transition()
            .duration(250)
            .style('fill', actorsColor[actor]);

          allBars
            .filter(d => !d.casts.asian.includes(actor))
            .transition()
            .duration(250)
            .style('fill', 'rgba(0, 0, 0, 0.1)');
        } else if (this.step === '1-5') {
          // black casts
          allBars
            .filter(d => d.casts.black.includes(actor))
            .transition()
            .duration(250)
            .style('fill', actorsColor[actor]);

          allBars
            .filter(d => !d.casts.black.includes(actor))
            .transition()
            .duration(250)
            .style('fill', 'rgba(0, 0, 0, 0.1)');
        }
      } else {
        this.handleColorLayer(this.step);
      }
    },
    handleSortMovies(sortBy = 'gross', transition = true) {
      // selections
      const gBars = d3.selectAll('.bars');

      gBars.each(({ key: year }) => {
        // calculate the stacked bars height
        let totalGross = 0;

        // sort films by white %
        const sortedFilms = d3
          .select(`.bars-${year}`)
          .selectAll('rect')
          .sort((a, b) => {
            let sorted = null;
            // check sort option
            switch (sortBy) {
              case 'diversity':
                sorted = d3.descending(parseFloat(a.white), parseFloat(b.white));
                break;

              case 'rating':
                sorted = d3.descending(a['IMDb rating'], b['IMDb rating']);
                break;

              default:
                sorted = d3.descending(a.gross, b.gross);
                break;
            }
            // const sorted =
            //   sortBy === 'gross'
            //     ? d3.descending(a.gross, b.gross)
            //     : d3.descending(parseFloat(a.white), parseFloat(b.white));
            return sorted;
          });

        // add transition or not
        if (transition) {
          sortedFilms
            .transition('sortFilms')
            .duration(500)
            .delay(250)
            .attr('y', film => {
              totalGross += film.gross;

              return this.chartScale.y(totalGross);
            });
        } else {
          sortedFilms.attr('y', film => {
            totalGross += film.gross;

            return this.chartScale.y(totalGross);
          });
        }
      });
    },
    handleFilterGenre(genre, transition = true) {
      // select bars and filter
      const residue = d3
        .selectAll('.bars')
        .selectAll('rect')
        .filter(d => !d.genre.includes(genre));

      // fade out and remove
      if (transition) {
        residue
          .transition()
          .duration(500)
          .style('opacity', 0)
          .remove();
      } else {
        residue.remove();
      }

      const allBars = d3.selectAll('.bars');

      // update the films y pos
      allBars.each(({ key: year }) => {
        // calculate the stacked bars height
        let totalGross = 0;

        const filtered = d3
          .select(`.bars-${year}`)
          .selectAll('rect')
          .filter(d => d.genre.includes(genre));

        if (transition) {
          filtered
            .transition('filterFilms')
            .delay(500)
            .duration(500)
            .attr('y', film => {
              totalGross += film.gross;

              return this.chartScale.y(totalGross);
            })
            .style('fill', 'rgba(0, 0, 0, 0.1)');
        } else {
          filtered.attr('y', film => {
            totalGross += film.gross;

            return this.chartScale.y(totalGross);
          });
        }
      });
    },
    handleFilterDRace(race) {
      // filter bars and remove
      d3.selectAll('.bars')
        .selectAll('rect')
        .filter(d => !d['Directors Race'].includes(race))
        .remove();

      const allBars = d3.selectAll('.bars');
      // update the films y pos
      allBars.each(({ key: year }) => {
        // calculate the stacked bars height
        let totalGross = 0;

        d3.select(`.bars-${year}`)
          .selectAll('rect')
          .filter(d => d['Directors Race'].includes(race))
          .attr('y', film => {
            totalGross += film.gross;

            return this.chartScale.y(totalGross);
          });
      });
    },
    handleFilterRedraw() {
      const allBars = d3.selectAll('.bars').data(d3.entries(this.sortedData));

      // update the films y pos
      allBars.each(({ key: year, value: films }) => {
        // calculate the stacked bars height
        let totalGross = 0;
        let transitionTotalGross = 0;

        const allFilms = d3
          .select(`.bars-${year}`)
          .selectAll('rect')
          .style('fill', 'rgba(0, 0, 0, 0.1)')
          .data(films, d => d.title);

        const mergedFilms = allFilms
          .enter()
          .append('rect')
          .attr('width', this.chartScale.x.bandwidth())
          .attr('y', (film, i) => {
            totalGross = i === 0 ? 0 : totalGross + film.gross;

            return this.chartScale.y(totalGross);
          })
          .merge(allFilms)
          .on('mouseenter', this.handleTooltipShow)
          .on('mouseleave', this.handleTooltipHide);

        if (this.$vuetify.breakpoint.smAndDown) {
          mergedFilms.on('mouseenter', null).on('mouseleave', null);
        }

        mergedFilms
          .transition('redrawFilms')
          .duration(500)
          .attr('height', film => this.chartSettings.height - this.chartScale.y(film.gross))
          .attr('y', film => {
            transitionTotalGross += film.gross;

            return this.chartScale.y(transitionTotalGross);
          })
          .on('end', this.handleColorLayer('1-15'));
      });
    },
    handleSelectionDropdown(name, value) {
      if (name === 'sort') {
        // update dropdown settings
        this.selectionDropdown.sortBy = value;

        this.handleSortMovies(value);
      } else if (name === 'filter-genre') {
        // update dropdown settings
        this.selectionDropdown.genre = value;

        // remove and redraw bars
        d3.selectAll('g.bars-container').remove();
        this.drawBars();
        this.handleColorLayer('1-18');

        // sort movies
        this.handleSortMovies(this.selectionDropdown.sortBy, false);

        if (this.selectionDropdown.directorRace !== 'all') {
          // filter directors race if valid
          this.handleFilterDRace(this.selectionDropdown.directorRace);
        }

        if (value !== 'all') {
          // filter by genre
          this.handleFilterGenre(value, false);
        }
      } else {
        // update dropdown settings
        this.selectionDropdown.directorRace = value;

        // remove and redraw bars
        d3.selectAll('g.bars-container').remove();
        this.drawBars();
        this.handleColorLayer('1-18');

        // sort movies
        this.handleSortMovies(this.selectionDropdown.sortBy, false);

        if (this.selectionDropdown.genre !== 'all') {
          // filter directors race if valid
          this.handleFilterGenre(this.selectionDropdown.genre, false);
        }

        if (value !== 'all') {
          // filter by directors' race
          this.handleFilterDRace(value);
        }
      }
    },
    handleColorLayer(step, refill = true) {
      // select all films
      const allBars = d3.selectAll('.bars').selectAll('rect');

      // create color scale - white to non white
      const colorScale = d3
        .scaleLinear()
        .domain([100, 0])
        .range(['#DADDE7', '#552456']);

      // default color
      if (refill) {
        allBars.style('fill', 'rgba(0, 0, 0, 0.1)').style('opacity', 1);
      }

      switch (step) {
        case '1-2':
          allBars
            .transition()
            .duration(250)
            .style('fill', d => colorScale(parseFloat(d.white)));
          break;

        case '1-3':
          allBars
            .filter(d => d.casts.asian.includes('Jackie Chan'))
            .transition()
            .duration(250)
            .style('fill', '#C10707');

          allBars
            .filter(d => d.casts.asian.includes('Jet Li'))
            .transition()
            .duration(250)
            .style('fill', '#FF3C77');

          allBars
            .filter(d => d.casts.asian.includes('Chow Yun-fat'))
            .transition()
            .duration(250)
            .style('fill', '#FF3D00');

          allBars
            .filter(d => d.casts.asian.includes('Maggie Q'))
            .transition()
            .duration(250)
            .style('fill', '#FFABA6');

          allBars
            .filter(d => d.casts.asian.includes('Michelle Yeoh'))
            .transition()
            .duration(250)
            .style('fill', '#FFAA8F');
          break;

        case '1-4':
          allBars
            .transition()
            .duration(250)
            .filter(d => parseFloat(d.asian) === 100)
            .style('fill', '#FE6060');
          break;

        case '1-5':
          allBars
            .filter(d => d.casts.black.includes('Samuel L. Jackson'))
            .transition()
            .duration(250)
            .style('fill', '#2E2938');

          allBars
            .filter(d => d.casts.black.includes('Morgan Freeman'))
            .transition()
            .duration(250)
            .style('fill', '#282DA7');

          allBars
            .filter(d => d.casts.black.includes('Dwayne Johnson'))
            .transition()
            .duration(250)
            .style('fill', '#7D62D8');

          allBars
            .filter(d => d.casts.black.includes('Jamie Foxx'))
            .transition()
            .duration(250)
            .style('fill', '#8594DB');

          allBars
            .filter(d => d.casts.black.includes('Laurence Fishburne'))
            .transition()
            .duration(250)
            .style('fill', '#3C6392');

          allBars
            .filter(d => d.casts.black.includes('Will Smith'))
            .transition()
            .duration(250)
            .style('fill', '#663C69');

          allBars
            .filter(d => d.casts.black.includes('Eddie Murphy'))
            .transition()
            .duration(250)
            .style('fill', '#9E1CCC');
          break;

        case '1-7':
          allBars
            .filter(d => this.annotations['1-7'].some(selectedFilm => selectedFilm.title === d.title))
            .transition()
            .duration(250)
            .style('fill', '#F4AF69');
          break;

        case '1-8':
          allBars
            .transition()
            .duration(250)
            .style('fill', d => colorScale(parseFloat(d.white)));
          break;

        case '1-11':
          allBars
            .filter(d => this.fantasyHighlights.asianMyth.some(mythFilm => mythFilm === d.title))
            .transition()
            .duration(250)
            .style('fill', '#C10707');

          allBars
            .filter(d => this.fantasyHighlights.wuxia.some(wuxiaFilm => wuxiaFilm === d.title))
            .transition()
            .duration(250)
            .style('fill', '#FF3C77')
            .style('opacity', 1);

          allBars
            .filter(d => this.fantasyHighlights.setInAsia.some(asiaFilm => asiaFilm === d.title))
            .transition()
            .duration(250)
            .style('fill', '#FFABA6')
            .style('opacity', 1);
          break;

        case '1-12':
          allBars
            .filter(d => this.fantasyHighlights.asianMyth.some(mythFilm => mythFilm === d.title))
            .transition()
            .duration(250)
            .style('opacity', 1);

          allBars
            .filter(d => this.fantasyHighlights.wuxia.some(wuxiaFilm => wuxiaFilm === d.title))
            .transition()
            .duration(250)
            .style('opacity', 0.2);

          allBars
            .filter(d => this.fantasyHighlights.setInAsia.some(asiaFilm => asiaFilm === d.title))
            .transition()
            .duration(250)
            .style('opacity', 0.2);
          break;

        case '1-13':
          allBars
            .filter(d => this.fantasyHighlights.asianMyth.some(mythFilm => mythFilm === d.title))
            .transition()
            .duration(250)
            .style('fill', '#C10707')
            .style('opacity', 0.2);

          allBars
            .filter(d => this.fantasyHighlights.wuxia.some(wuxiaFilm => wuxiaFilm === d.title))
            .transition()
            .duration(250)
            .style('fill', '#FF3C77')
            .style('opacity', 1);

          allBars
            .filter(d => this.fantasyHighlights.setInAsia.some(asiaFilm => asiaFilm === d.title))
            .transition()
            .duration(250)
            .style('fill', '#FFABA6')
            .style('opacity', 1);
          break;

        case '1-14':
          allBars
            .filter(d => parseFloat(d.asian) > 0)
            .transition()
            .duration(250)
            .style('fill', '#FE6060');

          allBars
            .filter(d => parseFloat(d.black) > 0)
            .transition()
            .duration(250)
            .style('fill', '#000');

          allBars
            .filter(d => parseFloat(d.asian) > 0 && parseFloat(d.black) > 0)
            .transition()
            .duration(250)
            .style('fill', '#A694AE');
          break;

        case '1-15':
          allBars
            .filter(d => d['Directors Race'].includes('Asian'))
            .transition()
            .duration(250)
            .delay(500)
            .style('fill', '#FE6060');

          allBars
            .filter(d => d['Directors Race'].includes('Black'))
            .transition()
            .duration(250)
            .delay(500)
            .style('fill', '#000');

          allBars
            .filter(d => d['Directors Race'].includes('Others'))
            .transition()
            .duration(250)
            .delay(500)
            .style('fill', '#629BA4');
          break;

        case '1-15-1':
          allBars
            .filter(d => d['Directors Race'].includes('Black'))
            .transition()
            .duration(250)
            .style('opacity', 1);

          allBars
            .filter(d => d['Directors Race'].includes('Others'))
            .transition()
            .duration(250)
            .style('opacity', 1);
          break;

        case '1-16':
          allBars
            .filter(d => d['Directors Race'].includes('Asian'))
            .transition()
            .duration(250)
            .style('opacity', 1);

          allBars
            .filter(d => d['Directors Race'].includes('Black'))
            .transition()
            .duration(250)
            .style('opacity', 0.2);

          allBars
            .filter(d => d['Directors Race'].includes('Others'))
            .transition()
            .duration(250)
            .style('opacity', 0.2);
          break;

        case '1-17':
          allBars
            .filter(d => d['Directors Race'].includes('Asian'))
            .transition()
            .duration(250)
            .style('fill', '#FE6060')
            .style('opacity', 0.2);

          allBars
            .filter(d => d['Directors Race'].includes('Black'))
            .transition()
            .duration(250)
            .style('fill', '#000')
            .style('opacity', 1);

          allBars
            .filter(d => d['Directors Race'].includes('Others'))
            .transition()
            .duration(250)
            .style('fill', '#629BA4')
            .style('opacity', 0.2);
          break;

        case '1-18':
          allBars
            .transition()
            .duration(250)
            .style('fill', d => colorScale(parseFloat(d.white)));
          break;

        default:
          break;
      }
    },
    handleView(currentStep) {
      switch (currentStep) {
        case '1-1':
          if (this.direction === 'up') {
            this.drawAnnotations();
          }
          this.handleColorLayer('1-1');
          // draw bars
          this.drawBars(true);
          break;

        case '1-2':
          this.handleColorLayer('1-2');
          this.drawAnnotations('1-2');
          break;

        case '1-3':
          d3.selectAll('g.annotations').remove();
          this.handleColorLayer('1-3');
          break;

        case '1-4':
          this.handleColorLayer('1-4');
          break;

        case '1-5':
          this.handleColorLayer('1-5');
          break;

        case '1-6':
          d3.selectAll('g.annotations').remove();
          this.handleColorLayer('1-6');
          break;

        case '1-7':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();

            // sort by gross
            this.handleSortMovies(undefined, false);
          }
          this.handleColorLayer('1-7');
          this.drawAnnotations('1-7');
          break;

        case '1-8':
          d3.selectAll('g.annotations').remove();
          d3.selectAll('g.area-container').remove();
          this.handleColorLayer('1-8');
          this.handleSortMovies('diversity');
          break;

        case '1-9':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();
            this.handleColorLayer('1-8');
            this.handleSortMovies('diversity', false);
          }
          this.drawAreaOverlays();
          break;

        case '1-10':
          if (this.direction === 'up') {
            this.handleColorLayer('1-10');
          }
          d3.selectAll('g.area-container').remove();
          this.handleSortMovies(undefined, false);
          this.handleFilterGenre('Fantasy');
          break;

        case '1-11':
          this.handleColorLayer('1-11');
          break;

        case '1-12':
          this.handleColorLayer('1-12', false);
          break;

        case '1-13':
          if (this.direction === 'up') {
            this.handleColorLayer('1-13');
          } else {
            this.handleColorLayer('1-13', false);
          }
          break;

        case '1-14':
          if (this.direction === 'up') {
            this.handleFilterGenre('Fantasy', false);
          }
          this.handleColorLayer('1-14');
          break;

        case '1-15':
          if (this.direction === 'up') {
            this.handleColorLayer('1-15-1', false);
          } else {
            this.handleFilterRedraw();
          }
          break;

        case '1-16':
          this.handleColorLayer('1-16', false);
          break;

        case '1-17':
          if (this.direction === 'up') {
            this.handleColorLayer('1-17');
          } else {
            this.handleColorLayer('1-17', false);
          }
          break;

        case '1-18':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();
            this.handleSortMovies(undefined, false);

            // reset selection dropdown
            this.selectionDropdown.sortBy = 'gross';
            this.selectionDropdown.genre = 'all';
            this.selectionDropdown.directorRace = 'all';
          }
          this.handleColorLayer('1-18');
          break;

        default:
          break;
      }
    },
    handleViewMobile(currentStep) {
      switch (currentStep) {
        case '1-1':
          this.handleColorLayer('1-1');
          // draw bars
          this.drawBars(true);
          break;

        case '1-2':
          this.handleColorLayer('1-2');
          break;

        case '1-3':
          this.handleColorLayer('1-3');
          break;

        case '1-4':
          this.handleColorLayer('1-4');
          break;

        case '1-5':
          this.handleColorLayer('1-5');
          break;

        case '1-6':
          this.handleColorLayer('1-6');
          break;

        case '1-7':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();

            // sort by gross
            this.handleSortMovies(undefined, false);
          }
          this.handleColorLayer('1-7');
          break;

        case '1-8':
          d3.selectAll('g.area-container').remove();
          this.handleColorLayer('1-8');
          this.handleSortMovies('diversity');
          break;

        case '1-9':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();
            this.handleColorLayer('1-8');
            this.handleSortMovies('diversity', false);
          }
          this.drawAreaOverlays();
          break;

        case '1-10':
          if (this.direction === 'up') {
            this.handleColorLayer('1-10');
          }
          d3.selectAll('g.area-container').remove();
          this.handleSortMovies(undefined, false);
          this.handleFilterGenre('Fantasy');
          break;

        case '1-11':
          this.handleColorLayer('1-11');
          break;

        case '1-12':
          this.handleColorLayer('1-12', false);
          break;

        case '1-13':
          if (this.direction === 'up') {
            this.handleColorLayer('1-13');
          } else {
            this.handleColorLayer('1-13', false);
          }
          break;

        case '1-14':
          if (this.direction === 'up') {
            this.handleFilterGenre('Fantasy', false);
          }
          this.handleColorLayer('1-14');
          break;

        case '1-15':
          if (this.direction === 'up') {
            this.handleColorLayer('1-15-1', false);
          } else {
            this.handleFilterRedraw();
          }
          break;

        case '1-16':
          this.handleColorLayer('1-16', false);
          break;

        case '1-17':
          if (this.direction === 'up') {
            this.handleColorLayer('1-17');
          } else {
            this.handleColorLayer('1-17', false);
          }
          break;

        case '1-18':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();
            this.handleSortMovies(undefined, false);

            // reset selection dropdown
            this.selectionDropdown.sortBy = 'gross';
            this.selectionDropdown.genre = 'all';
            this.selectionDropdown.directorRace = 'all';
          }
          this.handleColorLayer('1-18');
          break;

        default:
          break;
      }
    },
    handleViewMobile2(currentStep) {
      switch (currentStep) {
        case '1-2':
          this.handleColorLayer('1-1');
          // draw bars
          this.drawBars(true);
          break;

        case '1-3':
          this.handleColorLayer('1-2');
          break;

        case '1-4':
          this.handleColorLayer('1-3');
          break;

        case '1-5':
          this.handleColorLayer('1-4');
          break;

        case '1-6':
          this.handleColorLayer('1-5');
          break;

        case '1-7':
          this.handleColorLayer('1-6');
          break;

        case '1-8':
          if (this.direction === 'up') {
            // sort by gross
            this.handleSortMovies(undefined, false);
          }
          this.handleColorLayer('1-7');
          break;

        case '1-9':
          d3.selectAll('g.area-container').remove();
          this.handleColorLayer('1-8');
          this.handleSortMovies('diversity');
          break;

        case '1-10':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();
            this.handleColorLayer('1-8');
            this.handleSortMovies('diversity', false);
          }
          this.drawAreaOverlays();
          break;

        case '1-11':
          if (this.direction === 'up') {
            this.handleColorLayer('1-10');
          }
          d3.selectAll('g.area-container').remove();
          this.handleSortMovies(undefined, false);
          this.handleFilterGenre('Fantasy');
          break;

        case '1-12':
          this.handleColorLayer('1-11');
          break;

        case '1-13':
          this.handleColorLayer('1-12', false);
          break;

        case '1-14':
          if (this.direction === 'up') {
            this.handleColorLayer('1-13');
          } else {
            this.handleColorLayer('1-13', false);
          }
          break;

        case '1-15':
          if (this.direction === 'up') {
            this.handleFilterGenre('Fantasy', false);
          }
          this.handleColorLayer('1-14');
          break;

        case '1-16':
          if (this.direction === 'up') {
            this.handleColorLayer('1-15-1');
          } else {
            this.handleFilterRedraw();
          }
          break;

        case '1-17':
          this.handleColorLayer('1-16', false);
          break;

        case '1-18':
          if (this.direction === 'up') {
            this.handleColorLayer('1-17');
          } else {
            this.handleColorLayer('1-17', false);
          }
          break;

        case '1-19':
          if (this.direction === 'up') {
            // redraw bars
            d3.selectAll('g.bars-container').remove();
            this.drawBars();
            this.handleSortMovies(undefined, false);

            // reset selection dropdown
            this.selectionDropdown.sortBy = 'gross';
            this.selectionDropdown.genre = 'all';
            this.selectionDropdown.directorRace = 'all';
          }
          this.handleColorLayer('1-18');
          break;

        default:
          break;
      }
    },
    responsivefy(svg) {
      // container will be the DOM element that the svg is appended to
      // we then measure the container and find its aspect ratio
      const width = parseInt(svg.style('width'), 10);
      const height = parseInt(svg.style('height'), 10);
      const aspect = width / height;

      // set viewBox attribute to the initial size
      // control scaling with preserveAspectRatio
      // resize svg on inital page load
      svg
        .attr('viewBox', `0 0 ${width} ${height}`)
        .attr('preserveAspectRatio', 'xMinYMid')
        .call(this.resize, aspect);

      // add a listener so the chart will be resized
      // when the window resizes
      // multiple listeners for the same event type
      // requires a namespace, i.e., 'click.foo'
      // api docs: https://goo.gl/F3ZCFr
      d3.select(window).on('resize.test', () => {
        this.resize(svg, aspect);
      });
    },
    resize(svg, aspect) {
      // this is the code that resizes the chart
      // it will be called on load
      // and in response to window resizes gets the width of the container
      // and resizes the svg to fill it while maintaining a consistent aspect ratio
      const container = d3.select(svg.node().parentNode);
      const w = parseInt(container.style('width'), 10);

      svg.attr('width', w);
      svg.attr('height', Math.round(w / aspect));
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.sticky-container {
  height: 100%;
  background-color: #fff;

  >>> .chart-container {
    .axis {
      line, path {
        fill: none;
        stroke: rgba(0, 0, 0, 0.2);
      }
      text {
        fill: #000;
        font-family: 'LL Akkurat Pro', Helvetica, sans-serif;
      }
    }
    .axis-label {
      font-size: 11px;
    }
    .x-axis {
      path.domain {
        display: none;
      }
    }
    .bars {
      rect {
        fill: rgba(0, 0, 0, 0.1);
        stroke: #fff;

        &.active {
          fill: rgba(0, 0, 0, 0.15);
        }
      }
    }
  }

  .tooltip-card {
    position absolute;
    opacity: 0;

    .film-ethnicities-list {
      .ethnic-cast {
        height: 8px;
      }
      .ethnic--white {
        width: 100%;
        background-color: #D9DBE6;
      }
      .ethnic--black {
        width: 100%;
        background-color: #2E2938;
      }
      .ethnic--asian {
        width: 100%;
        background-color: #FE6060;
      }
      .ethnic--others {
        width: 100%;
        background-color: #629BA4;
      }
    }
  }

  .ui-container {
    position: absolute;
    top: 16px;
    left: 16px;

    @media $display-breakpoints.sm-and-down {
      background-color: #fff;
      width: 100%;
      top: calc(45vh - 64px);
      left: 0;
      padding-top: 16px;
    }
  }
}
</style>
