a {
  text-decoration: none;
  color: rgba(#000, 0.5);

  &:hover {
    color: $colorPrimary;
  }
}

p {
  line-height: 1.6
}

address
  font-style: normal

img
  &.fluid
    width: 100%

// global classes

// bg cover image
.bgTopo {
  background-image: url('~assets/img/bg-topo.svg');
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  background-size: cover;
}

// list
.list--none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// v-html content wrapper
.dirt-box {
  p, ul {
    color: rgba(#000, 0.5);
  }

  a {
    color: $colorPrimary;
  }
}