.display-4
  color: $typeScale.h1.color

.display-3
  color: $typeScale.h2.color

.display-2
  color: $typeScale.h3.color

.display-1
  color: $typeScale.h4.color

.headline
  color: $typeScale.h5.color

.title
  color: $typeScale.h6.color

.highlight
  font-size: $typeScale.highlight.size
  font-weight: $typeScale.highlight.weight
  line-height: $typeScale.highlight.line-height
  letter-spacing: $typeScale.highlight.letter-spacing
  font-family: $typeScale.highlight.font-family
  color: $typeScale.highlight.color

.heading-2
  color: $typeScale.h2.color

.subheading
  color: $typeScale.subheading.color

.body-2
  font-family: $typeScale.body-2.font-family
  line-height: $typeScale.body-2.line-height

.caption
  color: $typeScale.caption.color