<template>
  <div class="main-post">
    <RegularPost
      v-if="$store.getters.postTemplate === 'regular'"
      :post="post"
      :author="author"
      :featured-image-urls="featuredImageUrls"
      :post-tags="postTags"
    />
    <NaomiPost
      v-if="$store.getters.postTemplate === 'naomi'"
      :post="post"
      :author="author"
      :featured-image-urls="featuredImageUrls"
      :post-tags="postTags"
    />
    <ExpPost
      v-if="$store.getters.postTemplate === 'exp'"
      :post="post"
      :author="author"
      :featured-image-urls="featuredImageUrls"
      :post-tags="postTags"
    />

    <!-- Mailing list popup -->
    <SheetBottomMailingList />
  </div>
</template>

<script>
import SheetBottomMailingList from '@/components/ui/SheetBottomMailingList';
import RegularPost from '@/components/posts/regular/RegularPost';
import NaomiPost from '@/components/posts/naomi/NaomiPost';
import ExpPost from '@/components/posts/exp/ExpPost';

export default {
  layout: 'singlePost',
  components: {
    SheetBottomMailingList,
    RegularPost,
    NaomiPost,
    ExpPost,
  },
  data() {
    return {
      lastPos: 0,
      isMobile: false,
    };
  },
  computed: {
    featuredImageUrls() {
      return (
        (this.post &&
          this.post._embedded &&
          this.post._embedded['wp:featuredmedia'] &&
          this.post._embedded['wp:featuredmedia'][0] &&
          this.post._embedded['wp:featuredmedia'][0].source_urls) || { src: '', webp: '', jpeg: '' }
      );
    },
    postTags() {
      return `${this.post._embedded['wp:term'][0][0].name} / ${this.post._embedded['wp:term'][2][0].name}`;
    },
  },
  async asyncData({ app, params, error }) {
    const [post] = await app.$axios.$get(`posts?slug=${params.slug}&_embed`);

    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }

    return { post, author: post._embedded.author[0] };
  },
  head() {
    return {
      title: this.post.title.raw,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.post.title.raw },
        { hid: 'og:image', name: 'twitter:image', property: 'og:image', content: this.featuredImageUrls.src },
      ],
      script: [
        { src: 'https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js' },
        {
          src: 'https://public.flourish.studio/resources/embed.js',
        },
      ],
      link: [{ rel: 'canonical', href: this.$nuxt.$store.getters.meta.canonicalURL }],
    };
  },
  created() {
    this.$store.dispatch('setPostTemplate', !this.post.acf.post_template ? 'regular' : this.post.acf.post_template);
  },
  mounted() {
    this.$FB.init();

    if (this.$store.getters.postTemplate === 'exp' || this.$store.getters.postTemplate === 'naomi') {
      this.$store.dispatch('setPostSheetBottomShow', false);
    } else {
      this.$store.dispatch('setPostSheetBottomShow', true);
    }
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');

    // reload flourish script
    window.FlourishLoaded = false;

    const s = document.querySelector('script[src="https://public.flourish.studio/resources/embed.js"]');
    s.parentNode.removeChild(s);
  },
};
</script>
