<template>
  <div class="post-aside__list-poplat">
    <v-container grid-list-xl>
      <!-- first posts of popular and latest stories -->
      <v-layout wrap>
        <v-flex md6 class="py-0 mb-5">
          <div v-if="popularPosts.length > 0" class="post-list__popular">
            <div class="post-list__first">
              <h4 class="display-1 mb-4">Popular Stories</h4>

              <v-card
                :to="{ name: $store.getters.staticPostSlugs.includes(popularPosts[0].slug) ? `stories-${popularPosts[0].slug}` : 'stories-slug', params: {slug: popularPosts[0].slug} }"
                nuxt
                flat
              >
                <AppImage
                  :img-object="popularPosts[0].featured_img"
                />

                <v-card-title class="pa-0">
                  <div>
                    <!-- post title -->
                    <h3 class="title mt-2 mb-1">{{ popularPosts[0].title }}</h3>

                    <!-- category / region -->
                    <span class="title font-weight-regular category--text">{{ popularPosts[0].categories[0].name }} / {{ popularPosts[0].region.name }}</span>

                    <!-- author -->
                    <address class="body-1 font-secondary mt-4">by {{ popularPosts[0].author_name }}</address>
                  </div>
                </v-card-title>
              </v-card>
            </div>

            <!-- remaining posts in popular stories -->
            <div class="post-list__rest mt-5">
              <v-card
                v-for="post in popularPosts.slice(1)"
                :key="post.id"
                :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
                nuxt
                flat
              >
                <v-layout wrap class="mt-0 mb-3 mb-xs-5">
                  <v-flex
                    xs12
                    md5
                    class="py-0 pr-0"
                  >
                    <AppImage
                      :img-object="post.featured_img"
                    />
                  </v-flex>

                  <v-flex
                    xs12
                    md7
                    class="py-0"
                  >
                    <div>
                      <!-- category / region -->
                      <span class="font-secondary primary--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

                      <!-- post title -->
                      <h3 class="body-2 font-weight-bold mt-2 mb-3">{{ post.title }}</h3>

                      <!-- author -->
                      <address class="body-1 font-secondary">by {{ post.author_name }}</address>
                    </div>
                  </v-flex>
                </v-layout>
              </v-card>
            </div>
          </div>
        </v-flex>

        <v-flex md6 class="py-0 mb-5">
          <div v-if="latestPosts.length > 0" class="post-list__latest">
            <div class="post-list__first">
              <h4 class="display-1 mb-4">Latest Stories</h4>

              <v-card
                :to="{ name: $store.getters.staticPostSlugs.includes(latestPosts[0].slug) ? `stories-${latestPosts[0].slug}` : 'stories-slug', params: {slug: latestPosts[0].slug} }"
                nuxt
                flat
              >
                <AppImage
                  :img-object="latestPosts[0].featured_img"
                />

                <v-card-title class="pa-0">
                  <div>
                    <!-- post title -->
                    <h3 class="title mt-2 mb-1">{{ latestPosts[0].title }}</h3>

                    <!-- category / region -->
                    <span class="title font-weight-regular category--text">{{ latestPosts[0].categories[0].name }} / {{ latestPosts[0].region.name }}</span>

                    <!-- author -->
                    <address class="body-1 font-secondary mt-4">by {{ latestPosts[0].author_name }}</address>
                  </div>
                </v-card-title>
              </v-card>
            </div>

            <!-- remaining posts in latest stories -->
            <div class="post-list__rest mt-5">
              <v-card
                v-for="post in latestPosts.slice(1)"
                :key="post.id"
                :to="{ name: $store.getters.staticPostSlugs.includes(post.slug) ? `stories-${post.slug}` : 'stories-slug', params: {slug: post.slug} }"
                nuxt
                flat
              >
                <v-layout wrap class="mt-0 mb-3 mb-xs-5">
                  <v-flex md5 class="py-0 pr-0">
                    <AppImage
                      :img-object="post.featured_img"
                    />
                  </v-flex>

                  <v-flex md7 class="py-0">
                    <div>
                      <!-- category / region -->
                      <span class="font-secondary primary--text">{{ post.categories[0].name }} / {{ post.region.name }}</span>

                      <!-- post title -->
                      <h3 class="body-2 font-weight-bold mt-2 mb-3">{{ post.title }}</h3>

                      <!-- author -->
                      <address class="body-1 font-secondary">by {{ post.author_name }}</address>
                    </div>
                  </v-flex>
                </v-layout>
              </v-card>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  data() {
    return {
      popularPosts: null,
      latestPosts: null,
    };
  },
  created() {
    // Moved popularPosts and latestPosts from computed to created because the vars run everytime they are called somewhere which slows down the performance.
    // Also because the popularPosts obj doesn't perform any update once it's initialized which seems to be fine to call it in created lifecyclehook
    this.popularPosts = this.getPopularPosts();
    this.latestPosts = this.getLatestPosts();
  },
  methods: {
    getPopularPosts() {
      return this.$store.getters.popularPosts;
    },
    getLatestPosts() {
      return this.$_.take(this.$store.getters.previewPosts, 4);
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';
.v-card {
  h3 {
    transition: color 0.2s linear;
  }

  &:hover {
    h3 {
      color: #F38063 !important;
    }
  }
}

@media $display-breakpoints.md-and-up {
  .post-list__first {
    position: relative;
    height: 580px;

    .v-card {
      position: unset;

      address {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

@media $display-breakpoints.xs-only {
  .mb-xs-5 {
    margin-bottom: 48px !important;
  }
}
</style>
