<template>
  <div class="post-aside__list-mailing pt-5 pb-3">
    <v-container inner>
      <div class="list-mailing__inner elevation--4 text-xs-center pa-5 px-xs-3">
        <h5 class="display-1">Don't miss out on our stories.</h5>

        <p class="body-2 my-3">
          In-depth stories about Asia and more delivered <br> straight to your inbox every month.
        </p>

        <!-- MailChimp form -->
        <div id="mc_embed_signup">
          <form
            id="mc-embedded-subscribe-form"
            action="https://kontinentalist.us12.list-manage.com/subscribe/post?u=2280632ef90de9d24551a7997&amp;id=57892f324d"
            method="post"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
            novalidate
          >
            <div id="mc_embed_signup_scroll">
              <fa-icon
                :icon="['far', 'envelope']"
                fixed-width
                class="mc__input-icon ml-3" />
              <input
                id="mce-EMAIL"
                class="mc__input"
                type="email"
                name="EMAIL"
                placeholder="Email address"
                value
                required
              >

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input
                  type="text"
                  name="b_2280632ef90de9d24551a7997_b18ab232a1"
                  tabindex="-1"
                  value
                >
              </div>
              <input
                id="mc-embedded-subscribe"
                class="v-btn v-btn--depressed primary"
                type="submit"
                value="Subscribe"
                name="subscribe"
                @click="$FB.pixelTrack('Subscribe')"
              >
            </div>
          </form>
        </div>
        <!--end mailchimp-->
      </div>

    </v-container>
  </div>
</template>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.post-aside__list-mailing {
  background-color: #F1ECE2;
  color: rgba(0,0,0,.7);

  .list-mailing__inner {
    background-color: #fff;
    border-radius: 10px;
  }

  #mc_embed_signup_scroll {
    position: relative;

    .mc__input-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: rgba(0,0,0,0.55);

      @media $display-breakpoints.xs-only {
        top: 25px;
      }
    }

    .mc__input {
      background-color: #fff;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: 14px;
      height: 50px;
      line-height: 1;
      outline: none;
      padding: 0 40px;
      transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      width: 50%;

      @media $display-breakpoints.xs-only {
        width: 100%;
      }
    }

    .v-btn {
      height: 50px;

      @media $display-breakpoints.xs-only {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

@media $display-breakpoints.xs-only {
  .px-xs-3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
</style>
