<template>
  <div
    v-if="relatedPostList.length > 0"
    id="relatedPostsList"
    class="my-5">

    <h4 class="display-1 text-xs-center mb-4">More like this</h4>

    <v-container grid-list-xl>
      <v-layout wrap>
        <v-flex
          v-for="relatedPost in relatedPosts"
          :key="relatedPost.id"
          md4
          class="divider--card pt-0 pb-5 mb-5"
        >
          <v-card
            :to="{ name: $store.getters.staticPostSlugs.includes(relatedPost.slug) ? `stories-${relatedPost.slug}` : 'stories-slug', params: {slug: relatedPost.slug} }"
            nuxt
            flat
          >
            <AppImage
              :img-object="relatedPost.featured_img"
            />

            <v-card-title class="px-0">
              <div>
                <!-- post title -->
                <h3 class="title mt-2 mb-1">{{ relatedPost.title }}</h3>

                <!-- category / region -->
                <span class="title font-weight-regular category--text">{{ relatedPost.categories[0].name }} / {{ relatedPost.region.name }}</span>


                <!-- author -->
                <address class="body-1 font-secondary mt-4">by {{ relatedPost.author_name }}</address>
              </div>
            </v-card-title>
          </v-card>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>

<script>
import AppImage from '@/components/ui/AppImage';

export default {
  components: {
    AppImage,
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      relatedPosts: [],
    };
  },
  computed: {
    relatedPostList() {
      const relatedPosts = this.$store.getters
        .relatedPosts(this.post.categoryId)
        .filter(post => post.id !== this.post.id);

      // Randomize and get 3 posts
      return relatedPosts;
    },
  },
  mounted() {
    this.relatedPosts = this.$_.sampleSize(this.relatedPostList, 3);
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.divider--card {
  position: relative;

  &:nth-child(2) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1px;
      background: rgba(0, 0, 0, 0.1);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .v-card {
    position unset;

    address {
      position: absolute;
      bottom 0;
    }

    h3 {
      transition: color 0.2s linear;
    }

    &:hover {
      h3 {
        color: #F38063 !important;
      }
    }
  }
}
</style>
