<template>
  <div
    v-scroll="onScroll"
    v-if="post.id"
    id="page-single-post">

    <ThePost
      :post="post"
      :author="author"
      :featured-image-urls="featuredImageUrls"
      :post-tags="postTags"
      :post-template="'regular'" />

    <PostListAside v-show="$vuetify.breakpoint.mdAndUp" :post="{id: post.id, categoryId: post.categories[0]}"/>
    <PostListAsideMobile v-show="$vuetify.breakpoint.xsOnly" :post="{id: post.id, categoryId: post.categories[0]}"/>
  </div>
</template>

<script>
import ThePost from '@/components/posts/ThePost';
import PostListAside from '@/components/posts/regular/PostListAside';
import PostListAsideMobile from '@/components/posts/naomi/PostListAside';
import scrollanimateMixin from '@/mixins/scrollanimate';

export default {
  components: {
    ThePost,
    PostListAside,
    PostListAsideMobile,
  },
  mixins: [scrollanimateMixin],
  props: {
    post: {
      type: Object,
      required: true,
    },
    author: {
      type: Object,
      required: true,
    },
    featuredImageUrls: {
      type: Object,
      required: true,
    },
    postTags: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      isMobile: false,
    };
  },
  mounted() {
    this.updateIsMobile();
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.updateIsMobile();
      });
    });
  },
  beforeDestroy() {
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  methods: {
    updateIsMobile() {
      this.isMobile = window.innerWidth < 960;
      this.$store.dispatch('setIsMobile', this.isMobile);
    },
  },
};
</script>
