<template>
  <div v-scroll="onScroll" class="main-post">
    <div class="static-post">
      <Landing :post="post" :post-tags="postTags"/>
      <ContentScrollyDesktop v-if="!isMobile"/>
      <ContentScrollyMobile v-else/>
      <Conclusion/>
      <References :footer-data="footerData"/>
    </div>

    <PostListAside :post="{id: footerData.post.id, categoryId: footerData.post.categoryId}" />
  </div>
</template>

<script>
import scrollanimateMixin from '@/mixins/scrollanimate';

import Landing from '@/components/posts/static/bicentennial/part1/views/Landing';
import ContentScrollyDesktop from '@/components/posts/static/bicentennial/part1/views/ContentScrollyDesktop';
import ContentScrollyMobile from '@/components/posts/static/bicentennial/part1/views/ContentScrollyMobile';
import Conclusion from '@/components/posts/static/bicentennial/part1/views/Conclusion';
import References from '@/components/posts/static/bicentennial/part1/views/References';

import PostListAside from '@/components/posts/regular/PostListAside';

export default {
  layout: 'singlePost',
  components: {
    Landing,
    ContentScrollyDesktop,
    ContentScrollyMobile,
    Conclusion,
    References,
    PostListAside,
  },
  mixins: [scrollanimateMixin],
  data() {
    return {
      isMobile: false,
      lastPos: 0,
    };
  },
  computed: {
    featuredImageUrls() {
      return (
        (this.post &&
          this.post._embedded &&
          this.post._embedded['wp:featuredmedia'] &&
          this.post._embedded['wp:featuredmedia'][0] &&
          this.post._embedded['wp:featuredmedia'][0].source_urls) || { src: '', webp: '', jpeg: '' }
      );
    },
    footerData() {
      return {
        post: {
          id: this.post.id,
          categoryId: this.post.categories[0],
          title: this.post.title.raw,
        },
        author: this.post._embedded.author[0],
        references: this.post.acf.story_references,
        topics: this.post._embedded['wp:term'][1],
      };
    },
    postTags() {
      return `${this.post._embedded['wp:term'][0][0].name} / ${this.post._embedded['wp:term'][2][0].name}`;
    },
  },
  created() {
    this.$store.dispatch('setPostTemplate', 'static');
  },
  mounted() {
    this.$FB.init();
  },
  beforeDestroy() {
    this.$store.dispatch('setPostTemplate', '');
    this.$store.dispatch('setLastPos', 0);
    this.$store.dispatch('setPostNavState', false);
  },
  async asyncData({ app, error }) {
    const [post] = await app.$axios.$get(
      `posts?slug=singapore-bicentennial-colonial-history-19th-century-data&_embed`
    );
    if (!post) {
      return error({ statusCode: 404, message: 'Post not found' });
    }
    return { post, author: post._embedded.author[0] };
  },
  head() {
    return {
      title: this.post.title.raw,
      meta: [
        { hid: 'description', name: 'description', content: this.post.content.raw },
        // open graph tags
        {
          hid: 'og:description',
          name: 'twitter:description',
          property: 'og:description',
          content: this.post.content.raw,
        },
        { hid: 'og:type', property: 'og:type', content: 'article' },
        { hid: 'og:url', property: 'og:url', content: this.$nuxt.$store.getters.meta.canonicalURL },
        { hid: 'og:title', name: 'twitter:title', property: 'og:title', content: this.post.title.raw },
        {
          hid: 'og:image',
          name: 'twitter:image',
          property: 'og:image',
          content: this.featuredImageUrls.src,
        },
      ],
    };
  },
  mounted() {
    this.updateisMobile();
    this.$nextTick(() => {
      window.addEventListener('resize', () => {
        this.updateisMobile();
      });
    });
  },
  methods: {
    updateisMobile() {
      this.isMobile =
        (window.innerWidth <= 1024 && window.innerHeight > window.innerWidth) ||
        (window.innerHeight <= 425 && window.innerHeight < window.innerWidth);
      this.$store.dispatch('setIsMobile', this.isMobile);
    },
  },
}
</script>

<style lang="stylus" scoped>
</style>
