<template>
  <div class="audio-player align-center">
    <div class="audio-player__profile">
      <v-avatar size="60">
        <img src="/data/paranormal-sg/img/ui/audio-avatar.png" alt="Eugene Tay">
      </v-avatar>

      <div class="audio-profile__microphone">
        <fa-icon icon="microphone" size="lg" />
      </div>
    </div>

    <div class="audio-player__slider ml-3">
      <span class="caption dark-primary--text">Eugene's commentary</span>

      <v-slider
        v-show="showVolume"
        v-model="volume"
        hide-details
        thumb-color="#000"
        class="audio-slider__volume"
        @change="updateVolume" />

      <v-slider
        v-model="progress"
        hide-details
        class="audio-slider__player"
        @change="updateAudio"
      >
        <div slot="prepend" class="audio-slider__controls">
          <fa-icon :icon="isPlaying ? 'pause' : 'play'" @click="toggleAudio" />
        </div>

        <div slot="append" class="audio-slider__controls">
          <fa-icon
            icon="volume"
            @click="showVolume = !showVolume" />
        </div>
      </v-slider>

      <div v-if="progress > 0" class="audio-slider__timer caption dark-primary--text">
        <span class="timer-current">{{ currentTime }}</span>
        <span class="timer-duration">{{ duration }}</span>
      </div>

      <!-- <audio
        id="audio-element"
        src="/data/paranormal-sg/audio/test.mp3"
        preload="auto" /> -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    audioUrl: {
      type: String,
      default: '',
      required: true,
    },
  },
  data() {
    return {
      audio: null,
      isPlaying: false,
      showVolume: false,
      volume: 50,
      progress: 0,
      currentTime: '0:00',
      duration: '0:00',
    };
  },
  mounted() {
    this.init();
  },
  beforeDestroy() {
    this.audio.pause();

    this.audio.removeEventListener('loadeddata', this.handleAudioLoaded);
    this.audio.removeEventListener('ended', this.handleAudioEnded);
    this.audio.removeEventListener('timeupdate', this.handleAudioPlaying);

    this.audio = null;
  },
  methods: {
    init() {
      this.audio = new Audio(this.audioUrl);

      this.audio.addEventListener('loadeddata', this.handleAudioLoaded);
      this.audio.addEventListener('ended', this.handleAudioEnded);
      this.audio.addEventListener('timeupdate', this.handleAudioPlaying);
    },
    handleAudioLoaded() {
      this.duration = this.formatTime(this.audio.duration);
      this.audio.volume = this.volume / 100; // audio.volume val - 0.0 to 1
    },
    handleAudioEnded() {
      this.isPlaying = false;
      this.progress = 0;
      this.audio.currentTime = 0;
    },
    handleAudioPlaying() {
      this.currentTime = this.formatTime(this.audio.currentTime);
      this.progress = (this.audio.currentTime / this.audio.duration) * 100;
    },
    toggleAudio() {
      if (this.isPlaying) {
        this.audio.pause();
      } else {
        this.audio.play();
      }

      // set play status
      this.isPlaying = !this.isPlaying;
    },
    updateAudio(progress) {
      this.audio.currentTime = (progress / 100) * this.audio.duration;
      this.currentTime = this.formatTime(this.audio.currentTime);
    },
    updateVolume(volume) {
      this.audio.volume = volume / 100;
    },
    formatTime(audioTime) {
      const seconds = Math.floor(audioTime % 60);
      const minutes = Math.floor(audioTime / 60);

      return `${minutes}:${seconds >= 10 ? seconds : `0${seconds}`}`;
    },
  },
};
</script>

<style lang="stylus" scoped>
.audio-player {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;

  .audio-player__profile {
    position: relative;

    .audio-profile__microphone {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .audio-player__slider {
    flex: 1;

    .audio-slider__volume {
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;

      >>> .v-slider__track {
        background-color: #C4C4C4;
      }
    }

    .audio-slider__player {
      align-items: center;

      &:not(.v-input--is-dirty) {
        >>> .v-slider__thumb {
          border: unset;
        }
      }

      >>> .v-slider__track {
        background-color: #C4C4C4;
      }

      >>> .v-slider__thumb-container {
        &:before {
          width: 16px;
          height: 16px;
          top: -8px;
          left: -8px;
        }

        .v-slider__thumb {
          width: 12px;
          height: 12px;
          left: -6px;
        }
      }
    }

    .audio-slider__controls {
      cursor: pointer;
    }

    .audio-slider__timer {
      position: relative;

      .timer-current {
        margin-left: 24px;
      }

      .timer-duration {
        position: absolute;
        right: 24px;
      }
    }
  }
}
</style>
