<template>
  <div class="map-confessions__menu-card mr-3 elevation--4">
    <div class="menu-card__content pa-4">
      <MenuRegion
        v-if="selectedMenu === 'region'"
        @selected-region="$emit('update:selectedRegion', $event)"
        @selected-menu="$emit('update:selectedMenu', $event)" />

      <MenuHaunting
        v-else-if="selectedMenu === 'haunting'"
        :selected-hauntings="selectedHauntings"
        @selected-hauntings="$emit('update:selectedHauntings', $event)"
        @selected-menu="$emit('update:selectedMenu', $event)" />

      <div v-else-if="selectedMenu === 'navigation'" class="text-xs-center">
        <h4 class="body-2 font-paranormal dark-primary--text mb-3">Go to chapter</h4>

        <v-btn
          :to="{ name: 'stories-singapore-where-got-ghost' }"
          nuxt
          depressed
          block
          color="dark-primary"
          class="ma-0 mb-2"
        >
          Introduction
        </v-btn>

        <v-btn
          v-if="currentPage === 'confessions'"
          :to="{ name: 'stories-singapore-where-got-ghost-types-of-ghosts' }"
          nuxt
          depressed
          block
          color="dark-primary"
          class="ma-0 mb-3"
        >
          Chapter 2: Ghosts
        </v-btn>

        <v-btn
          v-if="currentPage === 'ghosts'"
          :to="{ name: 'stories-singapore-where-got-ghost-map-of-confessions' }"
          nuxt
          depressed
          block
          color="dark-primary"
          class="ma-0 mb-3"
        >
          Chapter 1: Map of Confessions
        </v-btn>

        <v-btn
          outline
          block
          color="primary"
          class="ma-0 hidden-md-and-up"
          @click="$emit('update:selectedMenu', '')"
        >
          Close menu
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import MenuRegion from '@/components/posts/static/paranormal-sg/controllers/MenuRegion';
import MenuHaunting from '@/components/posts/static/paranormal-sg/controllers/MenuHaunting';

export default {
  components: {
    MenuRegion,
    MenuHaunting,
  },
  props: {
    currentPage: {
      type: String,
      default: 'confessions',
      required: true,
    },
    selectedMenu: {
      type: String,
      default: '',
      required: true,
    },
    selectedHauntings: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      hauntings: ['Magic'],
    };
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.map-confessions__menu-card {
  position: fixed;
  top: 50%;
  right: 64px;
  transform: translate(0, -50%);
  background-color: rgba(53, 52, 64, 0.8);
  border-radius: 12px;

  @media $display-breakpoints.sm-and-down {
    width: 90%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>
