<template>
  <div class="map-confessions__intro">
    <div class="intro-card elevation--4">
      <div class="intro-card__content pa-5 pa-xs-4">
        <h4 class="body-2 font-paranormal dark-primary--text text-xs-center">
          Chapter one
        </h4>

        <h1 class="display-2 font-paranormal dark-primary--text text-xs-center text-uppercase mb-3">
          Map of Confessions
        </h1>

        <p>
          Explore the map of personal confessions. Are these true stories or simply our minds playing tricks on us? We will let you be the judge of that.
        </p>

        <v-layout class="card-content__list wrap align-center">
          <v-flex xs2 md1>
            <div class="mb-3">
              <v-avatar size="35">
                <fa-icon icon="ghost" />
              </v-avatar>
            </div>
          </v-flex>

          <v-flex xs10 md11>
            <div class="pl-2 mb-3">
              <p class="mb-0">
                Click the icons scattered around the map to read supernatural confessions.
              </p>
            </div>
          </v-flex>

          <v-flex xs2 md1>
            <div class="mb-3">
              <v-avatar size="35" color="dark-primary">
                <fa-icon icon="map-marked-alt" style="color: #000" />
              </v-avatar>
            </div>
          </v-flex>

          <v-flex xs10 md11>
            <div class="pl-2 mb-3">
              <p class="mb-0">
                Select a district to see supernatural happenings around the area.
              </p>
            </div>
          </v-flex>

          <v-flex xs2 md1>
            <div class="mb-3">
              <v-avatar size="35" color="dark-primary">
                <fa-icon icon="filter" style="color: #000" />
              </v-avatar>
            </div>
          </v-flex>

          <v-flex xs10 md11>
            <div class="pl-2 mb-3">
              <p class="mb-0">Filter by haunting types.</p>
            </div>
          </v-flex>

          <v-flex xs2 md1>
            <div class="mb-4">
              <v-avatar size="35" color="dark-primary">
                <fa-icon icon="list" style="color: #000" />
              </v-avatar>
            </div>
          </v-flex>

          <v-flex xs10 md11>
            <div class="pl-2 mb-4">
              <p class="mb-0">Jump to other chapters by clicking on the menu.</p>
            </div>
          </v-flex>
        </v-layout>

        <v-btn
          depressed
          block
          color="primary"
          class="ma-0"
          @click="$emit('load-confessions')"
        >
          Continue
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>


<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.map-confessions__intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;

  .intro-card {
    border-radius: 12px;
    background-color: rgba(53, 52, 64, 0.8);
  }

  @media $display-breakpoints.sm-and-down {
    width: 90%;
    max-width: 90%;
    max-height: 80%;
    overflow: auto;
    border-radius: 12px;

    .intro-card {
      .pa-xs-4 {
        padding: 24px !important;
      }

      .card-content__list {
        align-items: flex-start;
      }
    }
  }
}
</style>
