<template>
  <div class="map-confessions__menu-list">
    <ul class="list--none">
      <li v-if="currentPage === 'confessions'">
        <v-btn
          fab
          color="dark-primary"
          class="mx-0"
          @click="$emit('show-menu-card', 'region')"
        >
          <fa-icon icon="map-marked-alt" fixed-width/>
        </v-btn>
      </li>

      <li v-if="currentPage === 'confessions'">
        <v-btn
          fab
          color="dark-primary"
          class="mx-0"
          @click="$emit('show-menu-card', 'haunting')"
        >
          <fa-icon icon="filter" fixed-width/>
        </v-btn>
      </li>

      <li>
        <v-btn
          fab
          color="dark-primary"
          class="mx-0"
          @click="$emit('show-menu-card', 'navigation')"
        >
          <fa-icon icon="list" fixed-width/>
        </v-btn>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    currentPage: {
      type: String,
      default: 'confessions',
      required: false,
    },
  },
};
</script>

<style lang="stylus" scoped>
@import '~vuetify/src/stylus/settings/_variables';

.map-confessions__menu-list {
  position: fixed;
  top: 50%;
  right: 24px;
  transform: translate(0, -50%);

  .v-btn {
    width: 40px;
    height: 40px !important;
  }

  @media $display-breakpoints.sm-and-down {
    top: unset;
    bottom: 20px;
    transform: none;
  }
}
</style>
